Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

Fixed slave-side keyboard half unresponsiveness (#9360)
  quantum/split_common/split_util.c
Labels: core

[Keyboard] Add VIA support for Eon40 (#9330)
  keyboards/maartenwut/eon40/keymaps/via/keymap.c
  keyboards/maartenwut/eon40/keymaps/via/rules.mk
Labels: none

[Keyboard] Add Via config for Clueboard 66 (#9010)
  keyboards/clueboard/66/keymaps/via/keymap.c
  keyboards/clueboard/66/keymaps/via/rules.mk
Labels: none

[Docs] Update udev rules to use TAG+="uaccess". (#8750)
  docs/faq_build.md
Labels: documentation

[Keyboard] add prophet support (#9275)
  keyboards/westfoxtrot/prophet/chconf.h
  keyboards/westfoxtrot/prophet/config.h
  keyboards/westfoxtrot/prophet/halconf.h
  keyboards/westfoxtrot/prophet/keymaps/default/keymap.c
  keyboards/westfoxtrot/prophet/keymaps/default/readme.md
  keyboards/westfoxtrot/prophet/keymaps/via/keymap.c
  keyboards/westfoxtrot/prophet/keymaps/via/rules.mk
  keyboards/westfoxtrot/prophet/mcuconf.h
  keyboards/westfoxtrot/prophet/prophet.c
  keyboards/westfoxtrot/prophet/prophet.h
  keyboards/westfoxtrot/prophet/readme.md
  keyboards/westfoxtrot/prophet/rules.mk
Labels: none

Add documentation for selecting an Arm MCU (#9046)
  docs/_summary.md
  docs/platformdev_selecting_arm_mcu.md
Labels: documentation

[Keymap] WPM-responsive OLED animation in personal keymap (#9264)
  keyboards/kyria/keymaps/j-inc/config.h
  keyboards/kyria/keymaps/j-inc/keymap.c
  keyboards/kyria/keymaps/j-inc/rules.mk
Labels: none

Add new iris keymap 'fluffactually' (#9325)
  keyboards/keebio/iris/keymaps/fluffactually/config.h
  keyboards/keebio/iris/keymaps/fluffactually/keymap.c
  keyboards/keebio/iris/keymaps/fluffactually/readme.md
Labels: none

Add VIA support to KC60 (#9351)
  keyboards/kc60/keymaps/via/keymap.c
  keyboards/kc60/keymaps/via/readme.md
  keyboards/kc60/keymaps/via/rules.mk
  keyboards/kc60/rules.mk
Labels: none

The TAGs of the original document has been updated to facilitate future verification. (#9285)
  docs/ja/newbs_git_best_practices.md
  docs/ja/newbs_git_resolving_merge_conflicts.md
  docs/ja/newbs_git_resynchronize_a_branch.md
  docs/ja/newbs_git_using_your_master_branch.md
Labels: documentation

[Docs] Japanese translation of docs/feature_wpm.md (#9254)
  docs/ja/feature_wpm.md
Labels: documentation

[Docs] Japanese translation of docs/feature_terminal.md (#9033)
  docs/ja/feature_terminal.md
Labels: documentation

Add Sinc keyboard (#8986)
  keyboards/keebio/sinc/config.h
  keyboards/keebio/sinc/info.json
  keyboards/keebio/sinc/keymaps/default/keymap.c
  keyboards/keebio/sinc/keymaps/iso/keymap.c
  keyboards/keebio/sinc/keymaps/via/keymap.c
  keyboards/keebio/sinc/keymaps/via/rules.mk
  keyboards/keebio/sinc/readme.md
  keyboards/keebio/sinc/rev1/config.h
  keyboards/keebio/sinc/rev1/rev1.c
  keyboards/keebio/sinc/rev1/rev1.h
  keyboards/keebio/sinc/rev1/rules.mk
  keyboards/keebio/sinc/rules.mk
  keyboards/keebio/sinc/sinc.c
  keyboards/keebio/sinc/sinc.h
Labels: none

[Update] Japanese translation of docs/newbs_testing_debugging.md. (#9286)
  docs/ja/newbs_testing_debugging.md
Labels: documentation

[Keyboard] Fix error_log complaint about handwired/onekey layout macro (#9263)
  keyboards/handwired/onekey/keymaps/adc/keymap.c
  keyboards/handwired/onekey/keymaps/backlight/keymap.c
  keyboards/handwired/onekey/keymaps/default/keymap.c
  keyboards/handwired/onekey/keymaps/default_json/keymap.json
  keyboards/handwired/onekey/keymaps/eep_rst/keymap.c
  keyboards/handwired/onekey/keymaps/i2c_scanner/keymap.c
  keyboards/handwired/onekey/keymaps/reset/keymap.c
  keyboards/handwired/onekey/keymaps/rgb/keymap.c
  keyboards/handwired/onekey/onekey.h
  layouts/community/ortho_1x1/test/keymap.c
Labels: keymap

adds support for the atmega328 (#9043)
  docs/adc_driver.md
  docs/compatible_microcontrollers.md
  docs/feature_backlight.md
  docs/spi_driver.md
  drivers/avr/analog.c
  drivers/avr/spi_master.c
  drivers/avr/spi_master.h
  quantum/backlight/backlight_avr.c
  quantum/config_common.h
  quantum/mcu_selection.mk
  tmk_core/common/avr/bootloader.c
  tmk_core/common/uart.c
Labels: core, documentation

[Keymap] Add dual layer keymap for xd002 macropad (#9222)
  keyboards/xd002/keymaps/multilayer_rgb/config.h
  keyboards/xd002/keymaps/multilayer_rgb/keymap.c
  keyboards/xd002/keymaps/multilayer_rgb/rgblite.h
  keyboards/xd002/keymaps/multilayer_rgb/rules.mk
Labels: none

[Update] Japanese translation of newbs_learn_more_resources.md (#9288)
  docs/ja/newbs_learn_more_resources.md
Labels: documentation

Gami Studio Lex60: Configurator Layout support (#7726)
  keyboards/gami_studio/lex60/info.json
Labels: none

Include `pointing_device_send` in docs (#9185)
  docs/feature_pointing_device.md
Labels: documentation

[Docs] Fixed the hyperlink to `/users/_example/`. (#9326)
  docs/feature_userspace.md
Labels: documentation

Sidekick/qmk firmware (#9229)
  keyboards/clawsome/sidekick/config.h
  keyboards/clawsome/sidekick/info.json
  keyboards/clawsome/sidekick/keymaps/default/keymap.c
  keyboards/clawsome/sidekick/readme.md
  keyboards/clawsome/sidekick/rules.mk
  keyboards/clawsome/sidekick/sidekick.c
  keyboards/clawsome/sidekick/sidekick.h
Labels: none

Fix Ubuntu/Debian setup when $PATH contains spaces (#9307)
  docs/newbs_getting_started.md
Labels: documentation

[Keyboard] add Juliet (#9240)
  keyboards/handwired/juliet/config.h
  keyboards/handwired/juliet/info.json
  keyboards/handwired/juliet/juliet.c
  keyboards/handwired/juliet/juliet.h
  keyboards/handwired/juliet/keymaps/default/keymap.c
  keyboards/handwired/juliet/readme.md
  keyboards/handwired/juliet/rules.mk
Labels: none

Add OS compatibility matrix for basic keycodes (#8557)
  docs/keycodes.md
Labels: documentation

[Keyboard] Wazowski 23-19 PCB Support (#9198)
  keyboards/keebzdotnet/wazowski/config.h
  keyboards/keebzdotnet/wazowski/info.json
  keyboards/keebzdotnet/wazowski/keymaps/default/keymap.c
  keyboards/keebzdotnet/wazowski/keymaps/default/readme.md
  keyboards/keebzdotnet/wazowski/readme.md
  keyboards/keebzdotnet/wazowski/rules.mk
  keyboards/keebzdotnet/wazowski/wazowski.c
  keyboards/keebzdotnet/wazowski/wazowski.h
Labels: none

Add BDN9 rev2 (#9017)
  keyboards/keebio/bdn9/bdn9.c
  keyboards/keebio/bdn9/bdn9.h
  keyboards/keebio/bdn9/config.h
  keyboards/keebio/bdn9/info.json
  keyboards/keebio/bdn9/keymaps/bcat/keymap.c
  keyboards/keebio/bdn9/keymaps/codecoffeecode/rules.mk
  keyboards/keebio/bdn9/keymaps/default/config.h
  keyboards/keebio/bdn9/keymaps/default/keymap.c
  keyboards/keebio/bdn9/keymaps/mousepad/rules.mk
  keyboards/keebio/bdn9/keymaps/test/config.h
  keyboards/keebio/bdn9/keymaps/test/keymap.c
  keyboards/keebio/bdn9/keymaps/via/rules.mk
  keyboards/keebio/bdn9/readme.md
  keyboards/keebio/bdn9/rev1/config.h
  keyboards/keebio/bdn9/rev1/rev1.c
  keyboards/keebio/bdn9/rev1/rev1.h
  keyboards/keebio/bdn9/rev1/rules.mk
  keyboards/keebio/bdn9/rev2/chconf.h
  keyboards/keebio/bdn9/rev2/config.h
  keyboards/keebio/bdn9/rev2/halconf.h
  keyboards/keebio/bdn9/rev2/mcuconf.h
  keyboards/keebio/bdn9/rev2/rev2.c
  keyboards/keebio/bdn9/rev2/rev2.h
  keyboards/keebio/bdn9/rev2/rules.mk
  keyboards/keebio/bdn9/rules.mk
Labels: none

[Keyboard] Add nt660 PCB (#9042)
  keyboards/maartenwut/nt660/config.h
  keyboards/maartenwut/nt660/info.json
  keyboards/maartenwut/nt660/keymaps/default/keymap.c
  keyboards/maartenwut/nt660/keymaps/maartenwut/config.h
  keyboards/maartenwut/nt660/keymaps/maartenwut/keymap.c
  keyboards/maartenwut/nt660/keymaps/via/keymap.c
  keyboards/maartenwut/nt660/keymaps/via/rules.mk
  keyboards/maartenwut/nt660/nt660.c
  keyboards/maartenwut/nt660/nt660.h
  keyboards/maartenwut/nt660/readme.md
  keyboards/maartenwut/nt660/rules.mk
Labels: none

kbdfans/kbd67/rev2: Fix ISO layout macro (#9329)
  keyboards/kbdfans/kbd67/rev2/rev2.h
Labels: none

Fix one shot swaphands compiler error when NO_ACTION_ONESHOT is defined (#9296)
  tmk_core/common/action.c
Labels: core

Murcielago: improve default keymap (#9363)
  keyboards/murcielago/rev1/keymaps/default/keymap.c
  keyboards/murcielago/rev1/keymaps/via/keymap.c
Labels: none

[keymap] upstreaming a minor keymap update (#9366)
  keyboards/planck/keymaps/callum/keymap.c
  keyboards/planck/keymaps/callum/readme.md
Labels: none

[Keymap] Add Kyria keymap (#9224)
  keyboards/kyria/keymaps/gotham/README.md
  keyboards/kyria/keymaps/gotham/config.h
  keyboards/kyria/keymaps/gotham/encoder_utils.c
  keyboards/kyria/keymaps/gotham/encoder_utils.h
  keyboards/kyria/keymaps/gotham/keycodes.h
  keyboards/kyria/keymaps/gotham/keymap.c
  keyboards/kyria/keymaps/gotham/oled_utils.c
  keyboards/kyria/keymaps/gotham/oled_utils.h
  keyboards/kyria/keymaps/gotham/rules.mk
  keyboards/kyria/keymaps/gotham/thumbstick.c
  keyboards/kyria/keymaps/gotham/thumbstick.h
Labels: none

Really fix Ubuntu/Debian setup when $PATH contains spaces (#9370)
  docs/newbs_getting_started.md
Labels: documentation

Add ANSI and ISO layout for KBD67mkII soldered PCB (#9340)
  keyboards/kbdfans/kbd67/mkii_soldered/info.json
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/ansi/keymap.c
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/ansi/readme.md
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/ansi_split_bs/keymap.c
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/ansi_split_bs/readme.md
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/iso/keymap.c
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/iso/readme.md
  keyboards/kbdfans/kbd67/mkii_soldered/mkii_soldered.h
Labels: none

VIA Support: Noxary 260 (#9349)
  keyboards/noxary/260/keymaps/via/keymap.c
  keyboards/noxary/260/keymaps/via/rules.mk
  keyboards/noxary/260/readme.md
Labels: none

Fix Configurator layout data for clueboard/2x1800/2019 (#9373)
  keyboards/clueboard/2x1800/2019/info.json
Labels: none

Fix project alice indicators (#9342)
  keyboards/projectkb/alice/alice.c
Labels: none

[Keyboard] Add Batpad 2x4 PCB (#9295)
  keyboards/yncognito/batpad/batpad.c
  keyboards/yncognito/batpad/batpad.h
  keyboards/yncognito/batpad/config.h
  keyboards/yncognito/batpad/info.json
  keyboards/yncognito/batpad/keymaps/default/keymap.c
  keyboards/yncognito/batpad/keymaps/default/readme.md
  keyboards/yncognito/batpad/keymaps/via/keymap.c
  keyboards/yncognito/batpad/keymaps/via/rules.mk
  keyboards/yncognito/batpad/readme.md
  keyboards/yncognito/batpad/rules.mk
Labels: none

Fix my personal keymap // Custom keymap for Kbdfans/kbd67/rev2 with improvements on Accessibility (#9207)
  keyboards/dztech/dz65rgb/keymaps/catrielmuller/keymap.c
  keyboards/kbdfans/kbd67/rev2/keymaps/catrielmuller_camilad/config.h
  keyboards/kbdfans/kbd67/rev2/keymaps/catrielmuller_camilad/keymap.c
  keyboards/kbdfans/kbd67/rev2/keymaps/catrielmuller_camilad/readme.md
  keyboards/kbdfans/kbd67/rev2/keymaps/catrielmuller_camilad/rules.mk
Labels: none
