Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

[Keyboard] Wheatfield Blocked65% (#8339)
  keyboards/wheatfield/blocked65/blocked65.c
  keyboards/wheatfield/blocked65/blocked65.h
  keyboards/wheatfield/blocked65/config.h
  keyboards/wheatfield/blocked65/info.json
  keyboards/wheatfield/blocked65/keymaps/default/keymap.c
  keyboards/wheatfield/blocked65/readme.md
  keyboards/wheatfield/blocked65/rules.mk
Labels: none

[Docs] Japanese translation of docs/custom_matrix.md (#8463)
  docs/ja/_summary.md
  docs/ja/custom_matrix.md
Labels: documentation

format code according to conventions [skip ci]
  keyboards/uranuma/info.json
Labels: none

Update JIS keymap and sendstring LUT (#8457)
  quantum/keymap_extras/keymap_jp.h
  quantum/keymap_extras/sendstring_jis.h
Labels: core

Fix missing deprecated keycodes for keymap_swedish (#8483)
  quantum/keymap_extras/keymap_swedish.h
Labels: core

M0lly: refactor OLED support and qmk-dfu bootloader (#8475)
  keyboards/m0lly/config.h
  keyboards/m0lly/i2c.c
  keyboards/m0lly/i2c.h
  keyboards/m0lly/keymaps/default/config.h
  keyboards/m0lly/keymaps/default/keymap.c
  keyboards/m0lly/rules.mk
Labels: none

Allow RGBLIGHT_ANIMATIONS to work on keebio/iris configurator builds
  keyboards/keebio/iris/keymaps/default/config.h
  keyboards/keebio/iris/rev1/config.h
  keyboards/keebio/iris/rev1_led/config.h
  keyboards/keebio/iris/rev2/config.h
  keyboards/keebio/iris/rev3/config.h
  keyboards/keebio/iris/rev4/config.h
Labels: none

Also align rules.mk
  keyboards/keebio/iris/keymaps/default/config.h
  keyboards/keebio/iris/keymaps/default/rules.mk
  keyboards/keebio/iris/rev1/rules.mk
  keyboards/keebio/iris/rev1_led/rules.mk
Labels: none

Add VIA support to Leaf 60 (#8490)
  keyboards/foxlab/leaf60/hotswap/config.h
  keyboards/foxlab/leaf60/hotswap/keymaps/via/keymap.c
  keyboards/foxlab/leaf60/hotswap/keymaps/via/rules.mk
  keyboards/foxlab/leaf60/universal/config.h
  keyboards/foxlab/leaf60/universal/keymaps/via/keymap.c
  keyboards/foxlab/leaf60/universal/keymaps/via/rules.mk
Labels: none

VIA Support: PDXKBC Macropad (#8431)
  keyboards/pdxkbc/config.h
  keyboards/pdxkbc/keymaps/via/keymap.c
  keyboards/pdxkbc/keymaps/via/rules.mk
Labels: none

Jotix (#8480)
  layouts/community/ortho_4x12/jotix/keymap.c
Labels: keymap

VIA support for projectkb/alice (#8474)
  keyboards/projectkb/alice/config.h
  keyboards/projectkb/alice/keymaps/via/keymap.c
  keyboards/projectkb/alice/keymaps/via/rules.mk
Labels: none

[Keyboard] FLX Lodestone (#8451)
  keyboards/flx/lodestone/config.h
  keyboards/flx/lodestone/info.json
  keyboards/flx/lodestone/keymaps/default/keymap.c
  keyboards/flx/lodestone/keymaps/default/readme.md
  keyboards/flx/lodestone/keymaps/via/keymap.c
  keyboards/flx/lodestone/keymaps/via/readme.md
  keyboards/flx/lodestone/keymaps/via/rules.mk
  keyboards/flx/lodestone/lodestone.c
  keyboards/flx/lodestone/lodestone.h
  keyboards/flx/lodestone/readme.md
  keyboards/flx/lodestone/rules.mk
Labels: none

Add tw1t611 ergodash keymap. (#8377)
  keyboards/ergodash/rev1/keymaps/tw1t611/config.h
  keyboards/ergodash/rev1/keymaps/tw1t611/keymap.c
  keyboards/ergodash/rev1/keymaps/tw1t611/readme.md
  keyboards/ergodash/rev1/keymaps/tw1t611/rules.mk
Labels: none

VIA Support for GH60 (#8442)
  keyboards/gh60/revc/config.h
  keyboards/gh60/revc/info.json
  keyboards/gh60/revc/keymaps/via/keymap.c
  keyboards/gh60/revc/keymaps/via/rules.mk
  keyboards/gh60/satan/config.h
  keyboards/gh60/satan/info.json
  keyboards/gh60/satan/keymaps/via/keymap.c
  keyboards/gh60/satan/keymaps/via/rules.mk
Labels: none

Set MCU for some F103 boards (#8459)
  keyboards/ergodox_stm32/rules.mk
  keyboards/handwired/bluepill/bluepill70/rules.mk
  keyboards/jm60/rules.mk
Labels: none

Highlight .inc files as .c files (#8496)
  .vscode/settings.json
Labels: none

Add support for Bootmagic lite when using SPLIT_HAND_PIN (#8347)
  docs/feature_bootmagic.md
  quantum/quantum.c
  quantum/via.c
  tmk_core/common.mk
  tmk_core/common/bootmagic_lite.c
Labels: core, documentation

[Keyboard] Palette1202 fix encoder rotate direction (#8489)
  keyboards/palette1202/config.h
  keyboards/palette1202/keymaps/default/keymap.c
  keyboards/palette1202/readme.md
Labels: none

[Docs] Fixes for feature_rgblight.md (#8514)
  docs/feature_rgblight.md
Labels: documentation

Remove ACT_COMMAND (#8487)
  tmk_core/common/action.c
  tmk_core/common/action_code.h
Labels: core

FLX Lodestone: add ANSI and ISO layout data and keymaps (#8481)
  keyboards/flx/lodestone/info.json
  keyboards/flx/lodestone/keymaps/default_ansi/keymap.c
  keyboards/flx/lodestone/keymaps/default_ansi/readme.md
  keyboards/flx/lodestone/keymaps/default_iso/keymap.c
  keyboards/flx/lodestone/keymaps/default_iso/readme.md
  keyboards/flx/lodestone/lodestone.h
  keyboards/flx/lodestone/rules.mk
Labels: none

Fix formatting for report.h (#8512)
  tmk_core/common/report.h
Labels: core

format code according to conventions [skip ci]
  tmk_core/common/report.h
Labels: core

Add Post Processing to process_record (#4892)
  docs/feature_macros.md
  docs/understanding_qmk.md
  quantum/quantum.c
  quantum/quantum.h
  tmk_core/common/action.c
  tmk_core/common/action.h
Labels: core, documentation

Fix build of Equinox (#8505)
  keyboards/ai03/equinox/rev0/rules.mk
  keyboards/ai03/equinox/rev1/rules.mk
  keyboards/ai03/equinox/rules.mk
Labels: none

Update newbs installation procedure for MSYS2 (#8423)
  docs/newbs_getting_started.md
Labels: documentation

Remove BOOTLOADER_SIZE stuff from template (#8516)
  quantum/template/avr/rules.mk
Labels: core

Initial arm->chibios pass - simplify some platform logic (#8450)
  build_keyboard.mk
  build_test.mk
  common_features.mk
  drivers/chibios/analog.c
  drivers/chibios/analog.h
  drivers/chibios/i2c_master.c
  drivers/chibios/i2c_master.h
  drivers/chibios/ws2812.c
  drivers/chibios/ws2812.h
  drivers/chibios/ws2812_pwm.c
  drivers/chibios/ws2812_spi.c
  keyboards/hs60/v2/ansi/rules.mk
  keyboards/hs60/v2/hhkb/rules.mk
  keyboards/hs60/v2/iso/rules.mk
  keyboards/nk65/rules.mk
  keyboards/wilba_tech/wt_rgb_backlight.c
  quantum/audio/audio_avr.c
  quantum/audio/audio_chibios.c
  quantum/backlight/backlight_chibios.c
  tmk_core/chibios.mk
  tmk_core/common.mk
Labels: core

Tidy up report.h (#8486)
  tmk_core/common/report.h
Labels: core

fixing matrix layout (#8504)
  keyboards/wsk/houndstooth/houndstooth.h
Labels: none

format code according to conventions [skip ci]
  tmk_core/common/bootmagic_lite.c
Labels: core

Reorder logic within common_features.mk (#8517)
  common_features.mk
Labels: none

[Docs] Update layer documentation (#8371)
  docs/_summary.md
  docs/feature_advanced_keycodes.md
  docs/feature_layers.md
  docs/feature_leader_key.md
  docs/keycodes.md
Labels: documentation

Add Word Per Minute calculation feature (#8054)
  common_features.mk
  docs/_summary.md
  docs/feature_wpm.md
  quantum/quantum.c
  quantum/quantum.h
  quantum/split_common/transport.c
  quantum/wpm.c
  quantum/wpm.h
Labels: core, documentation

Variable combo (#8120)
  quantum/process_keycode/process_combo.c
Labels: core

Add Finnish keymap and sendstring LUT (#8495)
  quantum/keymap_extras/keymap_finnish.h
  quantum/keymap_extras/sendstring_finnish.h
Labels: core

Align some ChibiOS build logic (#8461)
  build_keyboard.mk
  quantum/mcu_selection.mk
  tmk_core/chibios.mk
  tmk_core/common.mk
Labels: core

Add Icelandic keymap and sendstring LUT (#8494)
  quantum/keymap_extras/keymap_icelandic.h
  quantum/keymap_extras/sendstring_icelandic.h
Labels: core

Add US International keymap (#8493)
  quantum/keymap_extras/keymap_portuguese.h
  quantum/keymap_extras/keymap_uk.h
  quantum/keymap_extras/keymap_us_international.h
  quantum/keymap_extras/sendstring_bepo.h
  quantum/keymap_extras/sendstring_danish.h
  quantum/keymap_extras/sendstring_portuguese.h
  quantum/keymap_extras/sendstring_turkish_f.h
  quantum/keymap_extras/sendstring_turkish_q.h
Labels: core
