Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

Update my keymaps (#8840)
  keyboards/ergodox_ez/keymaps/toshi0383/keymap.c
  keyboards/reviung39/keymaps/toshi0383/keymap.c
  keyboards/zinc/keymaps/toshi0383/keymap.c
Labels: none

[Keymap] Rework my Tsangan layout; turn off mousekeys (#8836)
  layouts/community/60_tsangan_hhkb/bcat/keymap.c
  layouts/community/60_tsangan_hhkb/bcat/readme.md
  users/bcat/rules.mk
Labels: keymap

Add a syllabus to guide people who are learning QMK (#8816)
  docs/_summary.md
  docs/syllabus.md
Labels: documentation

[Keyboard] Adding Novem keyboard (macropad) and demo layout (#8781)
  keyboards/handwired/novem/config.h
  keyboards/handwired/novem/info.json
  keyboards/handwired/novem/keymaps/default/keymap.c
  keyboards/handwired/novem/keymaps/default/readme.md
  keyboards/handwired/novem/novem.c
  keyboards/handwired/novem/novem.h
  keyboards/handwired/novem/readme.md
  keyboards/handwired/novem/rules.mk
Labels: none

[Docs] Fixed minor typos (#8860)
  docs/syllabus.md
  docs/tap_hold.md
  tmk_core/common/action.c
Labels: core, documentation

Remove Atmel FLIP from install scripts and documentation (#8822)
  docs/faq_debug.md
  docs/flashing.md
  docs/fr-fr/faq_debug.md
  docs/fr-fr/flashing.md
  docs/getting_started_vagrant.md
  docs/ja/faq_debug.md
  docs/ja/flashing.md
  docs/ja/getting_started_vagrant.md
  docs/reference_glossary.md
  docs/zh-cn/faq_debug.md
  docs/zh-cn/reference_glossary.md
  tmk_core/avr.mk
  tmk_core/rules.mk
  util/activate_msys2.sh
  util/activate_wsl.sh
  util/msys2_install.sh
  util/win_shared_install.sh
  util/wsl_install.sh
Labels: core, documentation

Add info.json for bat43 (#8824)
  keyboards/bat43/info.json
Labels: none

Update stanrc85 rules for alice/rev1 (#8821)
  users/stanrc85/rules.mk
Labels: keymap

Slight rename of double angle quote keycodes
  quantum/keymap_extras/keymap_bepo.h
  quantum/keymap_extras/sendstring_bepo.h
Labels: core

VIA Support: All QMK Winkeyless.kr boards (#8846)
  keyboards/winkeyless/bface/config.h
  keyboards/winkeyless/bface/keymaps/via/config.h
  keyboards/winkeyless/bface/keymaps/via/keymap.c
  keyboards/winkeyless/bface/keymaps/via/rules.mk
  keyboards/winkeyless/bmini/bmini.h
  keyboards/winkeyless/bmini/config.h
  keyboards/winkeyless/bmini/keymaps/via/config.h
  keyboards/winkeyless/bmini/keymaps/via/keymap.c
  keyboards/winkeyless/bmini/keymaps/via/rules.mk
  keyboards/winkeyless/bminiex/bminiex.h
  keyboards/winkeyless/bminiex/config.h
  keyboards/winkeyless/bminiex/keymaps/via/config.h
  keyboards/winkeyless/bminiex/keymaps/via/keymap.c
  keyboards/winkeyless/bminiex/keymaps/via/rules.mk
  keyboards/winkeyless/readme.md
Labels: none

Fix quick7 build command (#8812)
  keyboards/yushakobo/quick7/readme.md
Labels: none

Add VIA support for Minivan (#8849)
  keyboards/thevankeyboards/minivan/config.h
  keyboards/thevankeyboards/minivan/keymaps/via/keymap.json
  keyboards/thevankeyboards/minivan/keymaps/via/rules.mk
  keyboards/thevankeyboards/minivan/minivan.h
Labels: none

Update Italian macOS keymaps and add sendstring LUTs
  quantum/keymap_extras/keymap_italian_osx_ansi.h
  quantum/keymap_extras/keymap_italian_osx_iso.h
  quantum/keymap_extras/sendstring_italian_osx_ansi.h
  quantum/keymap_extras/sendstring_italian_osx_iso.h
Labels: core

[Keymap] Updates to personal keymaps (#8818)
  keyboards/atreus/keymaps/khitsule/keymap.c
  keyboards/keebio/iris/keymaps/khitsule/config.h
  keyboards/keebio/iris/keymaps/khitsule/keymap.c
  keyboards/keebio/iris/keymaps/khitsule/readme.md
  keyboards/keebio/iris/keymaps/khitsule/rules.mk
Labels: none

[Keyboard] Add DGG-56 Handwired (#8740)
  keyboards/handwired/ddg_56/config.h
  keyboards/handwired/ddg_56/ddg_56.c
  keyboards/handwired/ddg_56/ddg_56.h
  keyboards/handwired/ddg_56/info.json
  keyboards/handwired/ddg_56/keymaps/default/keymap.c
  keyboards/handwired/ddg_56/readme.md
  keyboards/handwired/ddg_56/rules.mk
Labels: none

add kbd67 rev2 via support, kbd67mkiirgb small change (#8810)
  keyboards/kbdfans/kbd67/mkiirgb/v2/config.h
  keyboards/kbdfans/kbd67/rev2/config.h
  keyboards/kbdfans/kbd67/rev2/keymaps/via/config.h
  keyboards/kbdfans/kbd67/rev2/keymaps/via/keymap.c
  keyboards/kbdfans/kbd67/rev2/keymaps/via/rules.mk
Labels: none

Update French and German macOS keymaps and add sendstring LUTs (#8700)
  quantum/keymap_extras/keymap_french_osx.h
  quantum/keymap_extras/keymap_german_osx.h
  quantum/keymap_extras/sendstring_french_osx.h
  quantum/keymap_extras/sendstring_german_osx.h
Labels: core

[Keyboard] add dual-direction diode capability for hbcp (#8795)
  keyboards/hineybush/hbcp/config.h
  keyboards/hineybush/hbcp/matrix.c
  keyboards/hineybush/hbcp/rules.mk
Labels: none

[Docs] Japanese translation of docs/feature_combo.md (#8671)
  docs/ja/feature_combo.md
Labels: documentation

Load keymap-level rules.mk when compiling keymap.json (#8841)
  build_json.mk
Labels: none

Small corrections to Belgian, Serbian and Slovenian keymaps
  quantum/keymap_extras/keymap_belgian.h
  quantum/keymap_extras/keymap_serbian.h
  quantum/keymap_extras/keymap_serbian_latin.h
  quantum/keymap_extras/keymap_slovenian.h
Labels: core

Document the Proton C pins for manual Pro Micro conversion (#7043)
  docs/proton_c_conversion.md
Labels: documentation

Move everything to Python 3.6 (#8835)
  bin/qmk
  docs/cli.md
  docs/cli_development.md
  docs/coding_conventions_python.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/cformat.py
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/cli/json2c.py
  lib/python/qmk/cli/kle2json.py
  lib/python/qmk/cli/new/keymap.py
  lib/python/qmk/keymap.py
Labels: cli, python, documentation

Wrong letter
  quantum/keymap_extras/keymap_italian_osx_iso.h
Labels: core

[Keyboard] VIA Support: Singa x TGR Unikorn 60 (#8838)
  keyboards/unikorn/config.h
  keyboards/unikorn/keymaps/via/keymap.c
  keyboards/unikorn/keymaps/via/rules.mk
Labels: none

Update BÉPO keymap and sendstring LUT
  quantum/keymap_extras/keymap_bepo.h
  quantum/keymap_extras/sendstring_bepo.h
Labels: core

Updated personal preonic keymap (#8851)
  keyboards/preonic/keymaps/elisiano/keymap.c
Labels: none

Remove old setup scripts (#8811)
  .gitignore
  util/1-setup-path-win.bat
  util/2-setup-environment-win.bat
  util/ELEVATE_LICENSE.md
  util/Win_Check.bat
  util/add-paths.bat
  util/elevate.exe
Labels: core

[Keyboard] ProjectKB Alice rev2 (#8718)
  keyboards/projectkb/alice/alice.c
  keyboards/projectkb/alice/readme.md
  keyboards/projectkb/alice/rev1/config.h
  keyboards/projectkb/alice/rev1/rules.mk
  keyboards/projectkb/alice/rev2/config.h
  keyboards/projectkb/alice/rev2/rules.mk
  keyboards/projectkb/alice/rules.mk
Labels: none

MILC: Fix setting config values for store_true and store_false (#8813)
  lib/python/milc.py
Labels: cli, python

Fix ta-65 tsangan layouts (#8855)
  keyboards/maartenwut/ta65/ta65.h
Labels: none

[Keyboard] Add Absinthe keyboard (#8769)
  keyboards/absinthe/absinthe.c
  keyboards/absinthe/absinthe.h
  keyboards/absinthe/config.h
  keyboards/absinthe/info.json
  keyboards/absinthe/keymaps/ansi/config.h
  keyboards/absinthe/keymaps/ansi/keymap.c
  keyboards/absinthe/keymaps/ansi/readme.md
  keyboards/absinthe/keymaps/default/config.h
  keyboards/absinthe/keymaps/default/keymap.c
  keyboards/absinthe/keymaps/default/readme.md
  keyboards/absinthe/readme.md
  keyboards/absinthe/rules.mk
Labels: none

[Keyboard] Botanical Keyboards FM2U (#8819)
  keyboards/botanicalkeyboards/fm2u/config.h
  keyboards/botanicalkeyboards/fm2u/fm2u.c
  keyboards/botanicalkeyboards/fm2u/fm2u.h
  keyboards/botanicalkeyboards/fm2u/info.json
  keyboards/botanicalkeyboards/fm2u/keymaps/default/keymap.c
  keyboards/botanicalkeyboards/fm2u/keymaps/via/keymap.c
  keyboards/botanicalkeyboards/fm2u/keymaps/via/rules.mk
  keyboards/botanicalkeyboards/fm2u/readme.md
  keyboards/botanicalkeyboards/fm2u/rules.mk
Labels: none

GR_DTON → GR_DIAT
  quantum/keymap_extras/keymap_greek.h
Labels: core

[Keyboard] VIA Support: KBD67mkii SOLDERED (#8837)
  keyboards/kbdfans/kbd67/mkii_soldered/config.h
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/via/keymap.c
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/via/rules.mk
Labels: none

Fix Plain60 layout (#8854)
  keyboards/maartenwut/plain60/plain60.h
Labels: none

Add dvorak's spanish variant to quantum/keymap_extras (#8732)
  quantum/keymap_extras/keymap_spanish_dvorak.h
  quantum/keymap_extras/sendstring_spanish_dvorak.h
Labels: core

KC60 Refactor (#8782)
  keyboards/kc60/config.h
  keyboards/kc60/info.json
  keyboards/kc60/kc60.h
  keyboards/kc60/keymaps/default/keymap.c
  keyboards/kc60/keymaps/default/readme.md
  keyboards/kc60/keymaps/ws2812/config.h
  keyboards/kc60/keymaps/ws2812/keymap.c
  keyboards/kc60/keymaps/ws2812/readme.md
  keyboards/kc60/keymaps/ws2812/rules.mk
  keyboards/kc60/mod_rgb_underglow.md
  keyboards/kc60/readme.md
  keyboards/kc60/rules.mk
Labels: none

Add back deprecated SE_AE keycode
  quantum/keymap_extras/keymap_swedish.h
Labels: core

Update cli CI checkout to v2 (#8823)
  .github/workflows/cli.yml
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
