Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

Breaking Changes documentation fixes
  docs/breaking_changes.md
  readme.md
Labels: documentation

[Docs] translated 'feature_tap_dance.md' to japanese. (#8137)
  docs/ja/feature_tap_dance.md
Labels: documentation

Update Breaking Changes timeline
  docs/breaking_changes.md
Labels: documentation

Fix the Breaking Changes doc again
  docs/breaking_changes.md
Labels: documentation

Rewrite the Bathroom Epiphanies Frosty Flake matrix and LED handling (#8243)
  keyboards/bpiphany/frosty_flake/config.h
  keyboards/bpiphany/frosty_flake/frosty_flake.c
  keyboards/bpiphany/frosty_flake/frosty_flake.h
  keyboards/bpiphany/frosty_flake/matrix.c
  keyboards/bpiphany/frosty_flake/rules.mk
Labels: none

Get the direction right on the S75 encoder (#8287)
  keyboards/cannonkeys/satisfaction75/config.h
Labels: none

Prune out pure software pwm && custom driver && remove wrapping BACKLIGHT_PIN (#8041)
  quantum/backlight/backlight_avr.c
Labels: core

Add support for delays in send_string. (#8244)
  docs/feature_macros.md
  quantum/quantum.c
  quantum/send_string_keycodes.h
Labels: core, documentation

Unconditionally enable ChibiOS syscalls (#8268)
  tmk_core/chibios.mk
  tmk_core/common.mk
Labels: core

Add onekey keymap for testing reset to bootloader. (#8288)
  keyboards/handwired/onekey/keymaps/reset/keymap.c
Labels: none

Update encoder functions for Iris VIA keymap (#8295)
  keyboards/keebio/iris/keymaps/via/keymap.c
  keyboards/keebio/iris/rev4/rev4.h
Labels: none

Remove duplicate BRTG case (#8277)
  quantum/quantum.c
Labels: core

Clean up includes for glcdfont headers (#7745)
  drivers/avr/glcdfont.c
  drivers/oled/glcdfont.c
  drivers/oled/oled_driver.c
  keyboards/claw44/lib/glcdfont.c
  keyboards/comet46/lib/glcdfont.c
  keyboards/comet46/lib/keylogger.c
  keyboards/crkbd/keymaps/drashna/glcdfont.c
  keyboards/crkbd/keymaps/kidbrazil/glcdfont.c
  keyboards/crkbd/keymaps/rpbaptist/glcdfont.c
  keyboards/crkbd/keymaps/soundmonster/glcdfont.c
  keyboards/crkbd/lib/glcdfont.c
  keyboards/gergo/keymaps/oled/glcdfont.c
  keyboards/handwired/owlet60/keymaps/oled_testing/customfont.c
  keyboards/helix/common/glcdfont.c
  keyboards/helix/rev2/keymaps/froggy/helixfont.h
  keyboards/lily58/lib/glcdfont.c
  keyboards/orthodox/common/glcdfont.c
  keyboards/rgbkb/sol/common/glcdfont.c
  keyboards/rgbkb/zen/common/glcdfont.c
  keyboards/rgbkb/zygomorph/common/glcdfont.c
  keyboards/treadstone48/common/glcdfont.c
  keyboards/uzu42/keymaps/default/glcdfont_uzu42.c
  keyboards/yosino58/lib/glcdfont.c
  keyboards/yosino58/lib/glcdfont_.c
  tmk_core/common/progmem.h
  users/drashna/font_gmk_bad.h
  users/drashna/hue_manitee_font.h
  users/tominabox1/doug.c
Labels: core, keymap

format code according to conventions [skip ci]
  tmk_core/common/chibios/printf.c
Labels: core

Fix MCU rule for Wete (#8254)
  keyboards/wete/rules.mk
Labels: none

Track master branches for lib/chibios, lib/chibios-contrib, lib/ugfx. (#8273)
  .gitmodules
Labels: none

format code according to conventions [skip ci]
  quantum/quantum.c
Labels: core

Make a fix to savage65 and tmov2 for via (#8286)
  keyboards/cannonkeys/savage65/keymaps/via/rules.mk
  keyboards/cannonkeys/tmov2/keymaps/via/rules.mk
Labels: none

Add VIA support to Prime_M. Clean up all files (#8247)
  keyboards/primekb/prime_m/config.h
  keyboards/primekb/prime_m/keymaps/default/config.h
  keyboards/primekb/prime_m/keymaps/default/readme.md
  keyboards/primekb/prime_m/keymaps/numpad/config.h
  keyboards/primekb/prime_m/keymaps/numpad/readme.md
  keyboards/primekb/prime_m/keymaps/via/keymap.c
  keyboards/primekb/prime_m/keymaps/via/readme.md
  keyboards/primekb/prime_m/keymaps/via/rules.mk
  keyboards/primekb/prime_m/prime_m.c
  keyboards/primekb/prime_m/readme.md
  keyboards/primekb/prime_m/rules.mk
Labels: none

Short term fix for conflicting types for 'tfp_printf' (#8157)
  tmk_core/common/chibios/printf.c
  tmk_core/common/chibios/printf.h
Labels: core

[Keymap] Wilba/Singav3 nk65 keymap updates (#8267)
  keyboards/nk65/keymaps/madhatter/keymap.c
  keyboards/wilba_tech/wt75_b/keymaps/madhatter/keymap.c
  keyboards/wilba_tech/wt75_b/keymaps/madhatter/rules.mk
Labels: none

break feature_advanced_keycodes.md up into multiple files
  docs/_summary.md
  docs/custom_keycode_names.md
  docs/feature_advanced_keycodes.md
  docs/mod_tap.md
  docs/one_shot_keys.md
  docs/tap_hold.md
Labels: documentation

Update config.h - Fixed number of RGB LEDs (#8316)
  keyboards/donutcables/budget96/config.h
Labels: none

[Keymap] new userspace for ibnuda (#8221)
  keyboards/atreus/keymaps/ibnuda/config.h
  keyboards/atreus/keymaps/ibnuda/rules.mk
  keyboards/handwired/dactyl_manuform/4x5/keymaps/ibnuda/config.h
  keyboards/handwired/dactyl_manuform/4x5/keymaps/ibnuda/keymap.c
  users/ibnuda/combo.c
  users/ibnuda/combo.h
  users/ibnuda/config.h
  users/ibnuda/ibnuda.c
  users/ibnuda/ibnuda.h
  users/ibnuda/readme.md
  users/ibnuda/rules.mk
  users/ibnuda/tapdance.c
  users/ibnuda/tapdance.h
  users/ibnuda/wrapper.h
Labels: keymap

[Keymap] Keymap Update (#8309)
  keyboards/7skb/keymaps/default/keymap.c
  keyboards/naked64/keymaps/salicylic/keymap.c
  keyboards/naked64/keymaps/salicylic_with_setta21/keymap.c
Labels: none

overhaul the newbs guide
  docs/_summary.md
  docs/configurator_problems.md
  docs/configurator_step_by_step.md
  docs/configurator_troubleshooting.md
  docs/es/newbs_building_firmware_configurator.md
  docs/fr-fr/newbs_building_firmware_configurator.md
  docs/ja/newbs_building_firmware_configurator.md
  docs/newbs.md
  docs/newbs_building_firmware.md
  docs/newbs_building_firmware_configurator.md
  docs/newbs_flashing.md
  docs/newbs_getting_started.md
  docs/newbs_learn_more_resources.md
  docs/newbs_testing_debugging.md
Labels: documentation

Adjust the H2 and H2 margins
  docs/sidebar.css
Labels: documentation

Add RGB lighting through one of the free pins (#8294)
  keyboards/wete/config.h
  keyboards/wete/rules.mk
Labels: none

[Keyboard] Forget to ifdef Super16 led config (#8314)
  keyboards/1upkeyboards/super16/super16.c
Labels: none

_summary.md: move Auto Shift page to Software Features category
  docs/_summary.md
Labels: documentation

[Keyboard] LFK78 refactor (#7835)
  keyboards/lfkeyboards/lfk78/config.h
  keyboards/lfkeyboards/lfk78/info.json
  keyboards/lfkeyboards/lfk78/keymaps/default/keymap.c
  keyboards/lfkeyboards/lfk78/keymaps/default/rules.mk
  keyboards/lfkeyboards/lfk78/keymaps/iso/keymap.c
  keyboards/lfkeyboards/lfk78/keymaps/iso/readme.md
  keyboards/lfkeyboards/lfk78/keymaps/iso/rules.mk
  keyboards/lfkeyboards/lfk78/keymaps/split_bs_osx/keymap.c
  keyboards/lfkeyboards/lfk78/keymaps/split_bs_osx/rules.mk
  keyboards/lfkeyboards/lfk78/lfk78.c
  keyboards/lfkeyboards/lfk78/lfk78.h
  keyboards/lfkeyboards/lfk78/readme.md
  keyboards/lfkeyboards/lfk78/revb/config.h
  keyboards/lfkeyboards/lfk78/revb/info.json
  keyboards/lfkeyboards/lfk78/revb/revb.h
  keyboards/lfkeyboards/lfk78/revb/rules.mk
  keyboards/lfkeyboards/lfk78/revc/config.h
  keyboards/lfkeyboards/lfk78/revc/info.json
  keyboards/lfkeyboards/lfk78/revc/revc.h
  keyboards/lfkeyboards/lfk78/revc/rules.mk
  keyboards/lfkeyboards/lfk78/revj/config.h
  keyboards/lfkeyboards/lfk78/revj/info.json
  keyboards/lfkeyboards/lfk78/revj/revj.h
  keyboards/lfkeyboards/lfk78/revj/rules.mk
  keyboards/lfkeyboards/lfk78/rules.mk
Labels: none

[Keymap] Feature/alfrdmalr/keymap update (#8174)
  layouts/community/ortho_4x12/alfrdmalr/config.h
  layouts/community/ortho_4x12/alfrdmalr/keymap.c
  layouts/community/ortho_4x12/alfrdmalr/rules.mk
  users/alfrdmalr/alfrdmalr.c
  users/alfrdmalr/alfrdmalr.h
  users/alfrdmalr/readme.md
Labels: keymap

remove unused docs
  docs/becoming_a_qmk_collaborator.md
  docs/es/becoming_a_qmk_collaborator.md
  docs/he-il/becoming_a_qmk_collaborator.md
  docs/porting_your_keyboard_to_qmk_(arm_and_other_chibios_cpus).md
  docs/ru-ru/becoming_a_qmk_collaborator.md
Labels: documentation

Fix bootloader definition for namecard2x4 (#8301)
  keyboards/namecard2x4/rules.mk
Labels: none

clean up links to keycode references in newbs_building_firmware_configurator.md
  docs/newbs_building_firmware_configurator.md
Labels: documentation

[Keymap] Add @cjuniet's keymap/layout/userspace (#8258)
  keyboards/kyria/keymaps/cjuniet/config.h
  keyboards/kyria/keymaps/cjuniet/default.json
  keyboards/kyria/keymaps/cjuniet/keymap.c
  keyboards/kyria/keymaps/cjuniet/rules.mk
  users/cjuniet/cjuniet.c
  users/cjuniet/cjuniet.h
  users/cjuniet/glcdfont.c
  users/cjuniet/readme.md
  users/cjuniet/rules.mk
Labels: keymap

Add API documentation
  docs/_summary.md
  docs/api_development_environment.md
  docs/api_development_overview.md
  docs/api_docs.md
  docs/api_overview.md
Labels: documentation

[Keymap] Adding the 4sStylZ xd75 (#8285)
  keyboards/xd75/keymaps/4sstylz/config.h
  keyboards/xd75/keymaps/4sstylz/keycodes.h
  keyboards/xd75/keymaps/4sstylz/keymap.c
  keyboards/xd75/keymaps/4sstylz/leds.h
  keyboards/xd75/keymaps/4sstylz/readme.md
  keyboards/xd75/keymaps/4sstylz/rules.mk
Labels: none

Rework the newbs guide around the qmk cli
  docs/README.md
  docs/_summary.md
  docs/de/_summary.md
  docs/es/_summary.md
  docs/faq_general.md
  docs/fr-fr/_summary.md
  docs/getting_started_getting_help.md
  docs/he-il/_summary.md
  docs/ja/_summary.md
  docs/newbs.md
  docs/newbs_building_firmware.md
  docs/newbs_flashing.md
  docs/newbs_getting_started.md
  docs/newbs_testing_debugging.md
  docs/pt-br/_summary.md
  docs/ru-ru/_summary.md
  docs/zh-cn/_summary.md
Labels: documentation

reduce the line-height of the sidebar
  docs/sidebar.css
Labels: documentation
