Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

Adjust info.json to work with QMK Config tool
  keyboards/handwired/p1800fl/info.json
Labels: none

[Keymap] Clean up my ergo keymaps and userspace (#8857)
  keyboards/crkbd/keymaps/bcat/readme.md
  keyboards/lily58/keymaps/bcat/config.h
  keyboards/lily58/keymaps/bcat/readme.md
  users/bcat/bcat.c
  users/bcat/config.h
  users/bcat/readme.md
  users/bcat/rules.mk
Labels: keymap

Change keymap encoder code
  keyboards/maartenwut/ta65/keymaps/default/keymap.c
Labels: none

[Keyboard] Add wasdat code controller (#8858)
  keyboards/maartenwut/wasdat_code/config.h
  keyboards/maartenwut/wasdat_code/info.json
  keyboards/maartenwut/wasdat_code/keymaps/default/keymap.c
  keyboards/maartenwut/wasdat_code/keymaps/default/readme.md
  keyboards/maartenwut/wasdat_code/keymaps/default_iso/keymap.c
  keyboards/maartenwut/wasdat_code/keymaps/default_iso/readme.md
  keyboards/maartenwut/wasdat_code/matrix.c
  keyboards/maartenwut/wasdat_code/readme.md
  keyboards/maartenwut/wasdat_code/rules.mk
  keyboards/maartenwut/wasdat_code/wasdat_code.c
  keyboards/maartenwut/wasdat_code/wasdat_code.h
Labels: none

[Keyboard] Add VIA support for Wasdat Code (#8892)
  keyboards/maartenwut/wasdat_code/config.h
  keyboards/maartenwut/wasdat_code/keymaps/via/keymap.c
  keyboards/maartenwut/wasdat_code/keymaps/via/rules.mk
  keyboards/maartenwut/wasdat_code/wasdat_code.h
Labels: none

[Docs] Japanese translation of docs/feature_command.md (#8672)
  docs/ja/feature_command.md
Labels: documentation

idb 60 Bugfixes / Preparations for Open Source Hardware (#8866)
  keyboards/idb/idb_60/idb_60.c
  keyboards/idb/idb_60/idb_60.h
  keyboards/idb/idb_60/keymaps/all_keys/keymap.c
  keyboards/idb/idb_60/keymaps/default/keymap.c
  keyboards/idb/idb_60/keymaps/pngu/keymap.c
  keyboards/idb/idb_60/keymaps/via/keymap.c
  keyboards/idb/idb_60/readme.md
  keyboards/idb/idb_60/rules.mk
Labels: none

Update Plain60 VIA keymap (#8882)
  keyboards/maartenwut/plain60/keymaps/via/keymap.c
Labels: none

Added YD60MQ ISO layout (#8815)
  keyboards/yd60mq/info.json
  keyboards/yd60mq/keymaps/iso/keymap.c
  keyboards/yd60mq/rules.mk
  keyboards/yd60mq/yd60mq.h
Labels: none

Add Keebio lighting defaults (#8884)
  keyboards/keebio/bdn9/bdn9.c
  keyboards/keebio/chocopad/chocopad.c
  keyboards/keebio/dilly/dilly.c
  keyboards/keebio/ergodicity/ergodicity.c
  keyboards/keebio/iris/rev2/rev2.c
  keyboards/keebio/iris/rev3/rev3.c
  keyboards/keebio/iris/rev4/rev4.c
  keyboards/keebio/levinson/rev2/rev2.c
  keyboards/keebio/levinson/rev3/rev3.c
  keyboards/keebio/nyquist/rev2/rev2.c
  keyboards/keebio/nyquist/rev3/rev3.c
  keyboards/keebio/quefrency/rev1/rev1.c
  keyboards/keebio/viterbi/rev2/rev2.c
Labels: none

Update vitamins included default keymap, enable NKRO, rev2 rgbsplit (#8871)
  keyboards/vitamins_included/keymaps/default/keymap.c
  keyboards/vitamins_included/rev2/config.h
  keyboards/vitamins_included/rules.mk
Labels: none

Apply suggestions from code review
  keyboards/cannonkeys/obliterated75/info.json
  keyboards/cannonkeys/obliterated75/keymaps/default/keymap.c
  keyboards/cannonkeys/obliterated75/keymaps/via/keymap.c
  keyboards/cannonkeys/obliterated75/obliterated75.h
  keyboards/cannonkeys/obliterated75/rules.mk
Labels: none

CFTKB Mysterium & Discipad VIA support (#8794)
  keyboards/coseyfannitutti/discipad/config.h
  keyboards/coseyfannitutti/discipad/keymaps/via/keymap.c
  keyboards/coseyfannitutti/discipad/keymaps/via/rules.mk
  keyboards/coseyfannitutti/mysterium/config.h
  keyboards/coseyfannitutti/mysterium/keymaps/via/keymap.c
  keyboards/coseyfannitutti/mysterium/keymaps/via/rules.mk
Labels: none

Update to xealousbrown. (#8215)
  keyboards/handwired/xealousbrown/README.md
  keyboards/handwired/xealousbrown/config.h
  keyboards/handwired/xealousbrown/keymaps/default/keymap.c
  keyboards/handwired/xealousbrown/matrix.c
  keyboards/handwired/xealousbrown/rules.mk
  keyboards/handwired/xealousbrown/xealousbrown.c
Labels: none

New 65 ANSI Blocker layouts: Split BS, Tsangan (#8793)
  layouts/default/65_ansi_blocker_split_bs/default_65_ansi_blocker_split_bs/keymap.c
  layouts/default/65_ansi_blocker_split_bs/info.json
  layouts/default/65_ansi_blocker_split_bs/layout.json
  layouts/default/65_ansi_blocker_split_bs/readme.md
  layouts/default/65_ansi_blocker_tsangan/default_65_ansi_blocker_tsangan/keymap.c
  layouts/default/65_ansi_blocker_tsangan/info.json
  layouts/default/65_ansi_blocker_tsangan/layout.json
  layouts/default/65_ansi_blocker_tsangan/readme.md
Labels: keymap

split rev2.h for ansi and iso
  keyboards/sirius/uni660/rev2/ansi/ansi.h
  keyboards/sirius/uni660/rev2/iso/iso.h
  keyboards/sirius/uni660/uni660.h
Labels: none

Add VIA support for ta-65
  keyboards/maartenwut/ta65/keymaps/via/keymap.c
  keyboards/maartenwut/ta65/keymaps/via/rules.mk
Labels: none

Add VIA support to ID80 (#8791)
  keyboards/id80/keymaps/via/keymap.c
  keyboards/id80/keymaps/via/rules.mk
Labels: none

split config.h
  keyboards/sirius/uni660/rev2/ansi/config.h
  keyboards/sirius/uni660/rev2/iso/config.h
Labels: none

Rebound: add rev2 and thus rev1 as well (#8630)
  keyboards/montsinger/rebound/keymaps/rossman360/keymap.c
  keyboards/montsinger/rebound/readme.md
  keyboards/montsinger/rebound/rebound.h
  keyboards/montsinger/rebound/rev1/config.h
  keyboards/montsinger/rebound/rev1/info.json
  keyboards/montsinger/rebound/rev1/keymaps/curry/keymap.c
  keyboards/montsinger/rebound/rev1/keymaps/curry/rules.mk
  keyboards/montsinger/rebound/rev1/keymaps/default/keymap.c
  keyboards/montsinger/rebound/rev1/rev1.h
  keyboards/montsinger/rebound/rev1/rules.mk
  keyboards/montsinger/rebound/rev2/config.h
  keyboards/montsinger/rebound/rev2/info.json
  keyboards/montsinger/rebound/rev2/keymaps/default/keymap.c
  keyboards/montsinger/rebound/rev2/keymaps/rossman360/keymap.c
  keyboards/montsinger/rebound/rev2/rev2.h
  keyboards/montsinger/rebound/rev2/rules.mk
  keyboards/montsinger/rebound/rules.mk
Labels: none

Add naked60 layout, clean up my userspace files and rules.mk. (#8848)
  keyboards/ergodash/rev1/keymaps/333fred/config.h
  keyboards/ergodash/rev1/keymaps/333fred/rules.mk
  keyboards/handwired/dactyl_manuform/5x6/keymaps/333fred/config.h
  keyboards/handwired/dactyl_manuform/5x6/keymaps/333fred/keymap.c
  keyboards/handwired/dactyl_manuform/5x6/keymaps/333fred/rules.mk
  keyboards/keebio/iris/keymaps/333fred/config.h
  keyboards/keebio/iris/keymaps/333fred/rules.mk
  keyboards/naked60/keymaps/333fred/config.h
  keyboards/naked60/keymaps/333fred/keymap.c
  keyboards/rgbkb/zen/rev1/keymaps/333fred/rules.mk
  layouts/community/ergodox/333fred/config.h
  layouts/community/ergodox/333fred/rules.mk
  layouts/community/ortho_5x12/333fred/config.h
  layouts/community/ortho_5x12/333fred/rules.mk
  users/333fred/config.h
  users/333fred/rules.mk
Labels: keymap

Apply suggestions from code review
  keyboards/cannonkeys/obliterated75/keymaps/default/keymap.c
  keyboards/cannonkeys/obliterated75/keymaps/via/keymap.c
  keyboards/cannonkeys/obliterated75/obliterated75.h
  keyboards/cannonkeys/obliterated75/rules.mk
Labels: none

Update keyboards/cannonkeys/obliterated75/keymaps/default/keymap.c
  keyboards/cannonkeys/obliterated75/keymaps/default/keymap.c
Labels: none

fix sample code indent in feature_encoders.md (#8883)
  docs/feature_encoders.md
  docs/ja/feature_encoders.md
Labels: documentation

Update keymap.c
  keyboards/maartenwut/ta65/keymaps/default/keymap.c
Labels: none

Clean up ATSAM ifdefs (#8808)
  tmk_core/protocol/arm_atsam/usb/conf_usb.h
  tmk_core/protocol/arm_atsam/usb/main_usb.c
  tmk_core/protocol/arm_atsam/usb/udi_cdc.c
  tmk_core/protocol/arm_atsam/usb/udi_cdc.h
  tmk_core/protocol/arm_atsam/usb/udi_device_conf.h
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.c
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.h
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd_desc.c
  tmk_core/protocol/arm_atsam/usb/usb_main.h
  tmk_core/protocol/arm_atsam/usb/usb_protocol_cdc.h
Labels: core

[Keymap] Dvorak for Keeb.io Iris (#8863)
  keyboards/keebio/iris/keymaps/dvorak/config.h
  keyboards/keebio/iris/keymaps/dvorak/keebio_iris_rev2_layout_dvorak.json
  keyboards/keebio/iris/keymaps/dvorak/keymap.c
  keyboards/keebio/iris/keymaps/dvorak/readme.md
  keyboards/keebio/iris/keymaps/dvorak/rules.mk
Labels: none

Add encoder to ta-65 default keymap
  keyboards/maartenwut/ta65/keymaps/default/keymap.c
Labels: none

Whitespace changes
  keyboards/cannonkeys/obliterated75/keymaps/via/rules.mk
  keyboards/cannonkeys/obliterated75/readme.md
  keyboards/cannonkeys/obliterated75/rules.mk
Labels: none

Changed default RGBLIGHT_SLEEP for cospad
  keyboards/cospad/config.h
Labels: none

[Keyboard] Add p1800fl (#8879)
  keyboards/handwired/p1800fl/config.h
  keyboards/handwired/p1800fl/info.json
  keyboards/handwired/p1800fl/keymaps/default/keymap.c
  keyboards/handwired/p1800fl/keymaps/default/readme.md
  keyboards/handwired/p1800fl/p1800fl.c
  keyboards/handwired/p1800fl/p1800fl.h
  keyboards/handwired/p1800fl/readme.md
  keyboards/handwired/p1800fl/rules.mk
Labels: none

Wheatfield Blocked65: Update RGBLED num (#8725)
  keyboards/wheatfield/blocked65/config.h
Labels: none

VIA keymap for JJ4x4 and general cleanup (#8888)
  keyboards/jj4x4/config.h
  keyboards/jj4x4/info.json
  keyboards/jj4x4/jj4x4.h
  keyboards/jj4x4/keymaps/default/keymap.c
  keyboards/jj4x4/keymaps/via/keymap.c
  keyboards/jj4x4/keymaps/via/rules.mk
  keyboards/jj4x4/readme.md
  keyboards/jj4x4/rules.mk
Labels: none

Fixing DecadePad Numlock LED Bug (#8831)
  keyboards/reversestudio/decadepad/decadepad.c
Labels: none

[Keyboard] Add VIA support for Wete, fix layout error (#8802)
  keyboards/wete/keymaps/via/config.h
  keyboards/wete/keymaps/via/keymap.c
  keyboards/wete/keymaps/via/rules.mk
  keyboards/wete/wete.h
Labels: none

Fix ISO Enter order in Wasdat info.json
  keyboards/maartenwut/wasdat/info.json
Labels: none

[Docs] Japanese translation of docs/feature_encoders.md (#8843)
  docs/ja/feature_encoders.md
Labels: documentation

[Keyboard] DMQ Design SPIN (#8820)
  keyboards/dmqdesign/spin/config.h
  keyboards/dmqdesign/spin/info.json
  keyboards/dmqdesign/spin/keymaps/default/config.h
  keyboards/dmqdesign/spin/keymaps/default/keymap.c
  keyboards/dmqdesign/spin/keymaps/default/readme.md
  keyboards/dmqdesign/spin/keymaps/encoderlayers/config.h
  keyboards/dmqdesign/spin/keymaps/encoderlayers/keymap.c
  keyboards/dmqdesign/spin/keymaps/encoderlayers/readme.md
  keyboards/dmqdesign/spin/readme.md
  keyboards/dmqdesign/spin/rules.mk
  keyboards/dmqdesign/spin/spin.c
  keyboards/dmqdesign/spin/spin.h
Labels: none

Add support for YMD75 rev 2 (#8853)
  keyboards/ymd75/README.md
  keyboards/ymd75/keymaps/default/keymap.c
  keyboards/ymd75/rev1/config.h
  keyboards/ymd75/rev1/rev1.c
  keyboards/ymd75/rev1/rev1.h
  keyboards/ymd75/rev1/rules.mk
  keyboards/ymd75/rev2/config.h
  keyboards/ymd75/rev2/rev2.c
  keyboards/ymd75/rev2/rev2.h
  keyboards/ymd75/rev2/rules.mk
  keyboards/ymd75/rules.mk
  keyboards/ymd75/ymd75.c
  keyboards/ymd75/ymd75.h
Labels: none

Add missing packages to Linux install scripts (#8895)
  util/linux_install.sh
Labels: core
