Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

Fix Lily58 build with link-time optimization (#7181)
  keyboards/lily58/config.h
Labels: none

Update URL for `60-keyboard.hwdb` (#7185)
  docs/how_keyboards_work.md
Labels: documentation

[Keyboard] Add keyboard Naked64 (#7144)
  keyboards/naked64/config.h
  keyboards/naked64/info.json
  keyboards/naked64/keymaps/default/config.h
  keyboards/naked64/keymaps/default/keymap.c
  keyboards/naked64/keymaps/default/readme.md
  keyboards/naked64/keymaps/default/rules.mk
  keyboards/naked64/keymaps/default_with_setta21/config.h
  keyboards/naked64/keymaps/default_with_setta21/keymap.c
  keyboards/naked64/keymaps/default_with_setta21/readme.md
  keyboards/naked64/keymaps/default_with_setta21/rules.mk
  keyboards/naked64/keymaps/salicylic/config.h
  keyboards/naked64/keymaps/salicylic/keymap.c
  keyboards/naked64/keymaps/salicylic/readme.md
  keyboards/naked64/keymaps/salicylic/rules.mk
  keyboards/naked64/keymaps/salicylic_with_setta21/config.h
  keyboards/naked64/keymaps/salicylic_with_setta21/keymap.c
  keyboards/naked64/keymaps/salicylic_with_setta21/readme.md
  keyboards/naked64/keymaps/salicylic_with_setta21/rules.mk
  keyboards/naked64/naked64.c
  keyboards/naked64/naked64.h
  keyboards/naked64/readme.md
  keyboards/naked64/rev1/config.h
  keyboards/naked64/rev1/rev1.c
  keyboards/naked64/rev1/rev1.h
  keyboards/naked64/rev1/rules.mk
  keyboards/naked64/rules.mk
Labels: none

[Keyboard] Fix info.json for Aranck handwired (#7206)
  keyboards/handwired/aranck/info.json
Labels: none

Backslash-escape pipe character in keycode lists (#7157)
  docs/keycodes.md
  docs/keycodes_basic.md
  docs/keycodes_us_ansi_shifted.md
Labels: documentation

Remove obsolete note about media keys in MacOS (#6631)
  docs/faq_keymap.md
  docs/keycodes.md
  docs/keycodes_basic.md
Labels: documentation

Fix formatting for sendstring LUTs (#7176)
  quantum/keymap_extras/sendstring_belgian.h
  quantum/keymap_extras/sendstring_bepo.h
  quantum/keymap_extras/sendstring_colemak.h
  quantum/keymap_extras/sendstring_dvorak.h
  quantum/keymap_extras/sendstring_french.h
  quantum/keymap_extras/sendstring_german.h
  quantum/keymap_extras/sendstring_jis.h
  quantum/keymap_extras/sendstring_norman.h
  quantum/keymap_extras/sendstring_spanish.h
  quantum/keymap_extras/sendstring_uk.h
  quantum/keymap_extras/sendstring_workman.h
Labels: core

[Keyboard] Add NEISO Macro Pad (#7163)
  keyboards/sck/neiso/config.h
  keyboards/sck/neiso/info.json
  keyboards/sck/neiso/keymaps/default/config.h
  keyboards/sck/neiso/keymaps/default/keymap.c
  keyboards/sck/neiso/keymaps/default/readme.md
  keyboards/sck/neiso/neiso.c
  keyboards/sck/neiso/neiso.h
  keyboards/sck/neiso/readme.md
  keyboards/sck/neiso/rules.mk
Labels: none

[Keymap] Added new custom keymap for the DZ60 (#6948)
  keyboards/dz60/config.h
  keyboards/dz60/keymaps/chrisae9/build_flash.sh
  keyboards/dz60/keymaps/chrisae9/config.h
  keyboards/dz60/keymaps/chrisae9/keymap.c
  keyboards/dz60/keymaps/chrisae9/readme.md
Labels: none

[Docs] Translated "CLI" documentation to German (#7178)
  docs/de/cli.md
Labels: documentation

[Keyboard] Complete info.json for Sticc14 handwired (#7208)
  keyboards/handwired/sticc14/info.json
Labels: none

[Keymap] Updating keymaps (#7170)
  keyboards/atreus/keymaps/xyverz/keymap.c
  keyboards/atreus/keymaps/xyverz/readme.md
  keyboards/atreus62/keymaps/xyverz/keymap.c
  keyboards/atreus62/keymaps/xyverz/readme.md
  keyboards/clueboard/66/keymaps/xyverz/config.h
  keyboards/clueboard/66/keymaps/xyverz/rules.mk
  keyboards/eco/keymaps/xyverz/keymap.c
  keyboards/keebio/fourier/keymaps/xyverz/keymap.c
  keyboards/keebio/iris/keymaps/xyverz/keymap.c
  keyboards/kinesis/keymaps/xyverz/keymap.c
  keyboards/kinesis/keymaps/xyverz/readme.md
  keyboards/minidox/keymaps/xyverz/keymap.c
  keyboards/orthodox/keymaps/xyverz/config.h
  keyboards/orthodox/keymaps/xyverz/keymap.c
  keyboards/rgbkb/sol/keymaps/xyverz/config.h
  keyboards/rgbkb/sol/keymaps/xyverz/keymap.c
  keyboards/rgbkb/sol/keymaps/xyverz/readme.md
  keyboards/rgbkb/sol/keymaps/xyverz/rules.mk
  keyboards/thevankeyboards/minivan/keymaps/xyverz/keymap.c
  layouts/community/60_ansi/xyverz/keymap.c
  layouts/community/66_ansi/xyverz/config.h
  layouts/community/66_ansi/xyverz/keymap.c
  layouts/community/66_ansi/xyverz/rules.mk
  layouts/community/ortho_4x12/xyverz/keymap.c
  layouts/community/ortho_4x12/xyverz/readme.md
  layouts/community/ortho_5x12/xyverz/keymap.c
  layouts/community/tkl_ansi/xyverz/keymap.c
  layouts/community/tkl_ansi/xyverz/readme.md
Labels: keymap

[Keyboard] KBDfans/KBD75: Set "RGBLIGHT_SLEEP" as default (#7205)
  keyboards/kbdfans/kbd75/config.h
Labels: none

rgblight_task logic fixes (#7214)
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/vusb/main.c
Labels: core

[Docs] Update getting_started_vagrant.md (#7203)
  docs/getting_started_vagrant.md
Labels: documentation

Reduce duplication for ARM/AVR ws2812 RGB Matrix driver (#7180)
  drivers/avr/ws2812.c
  drivers/avr/ws2812.h
  quantum/rgb_matrix_drivers.c
Labels: core

[Docs] Update flashing information to include :flash target (#6999)
  docs/feature_userspace.md
  docs/flashing.md
  docs/fr-FR/flashing.md
  docs/fr-FR/newbs_flashing.md
  docs/getting_started_build_tools.md
  docs/getting_started_make_guide.md
  docs/newbs_flashing.md
Labels: documentation

Fix travis build failures for namecard2x4 (#7189)
  keyboards/namecard2x4/rules.mk
Labels: none

Clean macos install script (#7186)
  util/macos_install.sh
Labels: core

[Keyboard] Fix matrix for Tsangan (#7159)
  keyboards/cannonkeys/an_c/an_c.h
Labels: none

[Keymap] Update to Userspace kuchosauronad0 (#6899)
  users/kuchosauronad0/config.h
  users/kuchosauronad0/kuchosauronad0.c
  users/kuchosauronad0/kuchosauronad0.h
  users/kuchosauronad0/leader.c
  users/kuchosauronad0/process_records.c
  users/kuchosauronad0/process_records.h
  users/kuchosauronad0/rgblight_user.c
  users/kuchosauronad0/rgblight_user.h
  users/kuchosauronad0/rules.mk
  users/kuchosauronad0/wrappers.h
Labels: keymap

Update split i2c docs for example of when pull-ups are required (#7143)
  docs/feature_split_keyboard.md
Labels: documentation

[Keyboard] Change Corne RGB Matrix split handling (#7117)
  keyboards/crkbd/readme.md
  keyboards/crkbd/rev1/rev1.c
Labels: none

[Keymap] Layout update for my ergodox (#7187)
  keyboards/ergodox_ez/keymaps/skug/keymap.c
Labels: none

[Keyboard] Think 6.5 (#7199)
  keyboards/gray_studio/think65/hotswap/config.h
  keyboards/gray_studio/think65/hotswap/hotswap.c
  keyboards/gray_studio/think65/hotswap/hotswap.h
  keyboards/gray_studio/think65/hotswap/info.json
  keyboards/gray_studio/think65/hotswap/keymaps/default/config.h
  keyboards/gray_studio/think65/hotswap/keymaps/default/keymap.c
  keyboards/gray_studio/think65/hotswap/keymaps/default/readme.md
  keyboards/gray_studio/think65/hotswap/readme.md
  keyboards/gray_studio/think65/hotswap/rules.mk
  keyboards/gray_studio/think65/solder/config.h
  keyboards/gray_studio/think65/solder/info.json
  keyboards/gray_studio/think65/solder/keymaps/default/config.h
  keyboards/gray_studio/think65/solder/keymaps/default/keymap.c
  keyboards/gray_studio/think65/solder/keymaps/default/readme.md
  keyboards/gray_studio/think65/solder/readme.md
  keyboards/gray_studio/think65/solder/rules.mk
  keyboards/gray_studio/think65/solder/solder.c
  keyboards/gray_studio/think65/solder/solder.h
Labels: none

[Keymap] Update layout for my nyquist (#7188)
  keyboards/keebio/nyquist/keymaps/skug/keymap.c
Labels: none

[Keyboard] Add M0116b keyboard (#7162)
  keyboards/sck/m0116b/config.h
  keyboards/sck/m0116b/info.json
  keyboards/sck/m0116b/keymaps/default/config.h
  keyboards/sck/m0116b/keymaps/default/keymap.c
  keyboards/sck/m0116b/keymaps/default/readme.md
  keyboards/sck/m0116b/keymaps/m0116/config.h
  keyboards/sck/m0116b/keymaps/m0116/keymap.c
  keyboards/sck/m0116b/keymaps/m0116/readme.md
  keyboards/sck/m0116b/keymaps/m0118/config.h
  keyboards/sck/m0116b/keymaps/m0118/keymap.c
  keyboards/sck/m0116b/keymaps/m0118/readme.md
  keyboards/sck/m0116b/m0116b.c
  keyboards/sck/m0116b/m0116b.h
  keyboards/sck/m0116b/readme.md
  keyboards/sck/m0116b/rules.mk
Labels: none

[Keyboard] Fix Print Screen key for XT to USB converter (#7039)
  keyboards/converter/xt_usb/info.json
  keyboards/converter/xt_usb/keymaps/default/keymap.c
  keyboards/converter/xt_usb/led.c
  keyboards/converter/xt_usb/rules.mk
  keyboards/converter/xt_usb/xt_usb.h
Labels: none

[Keyboard] Add KBD67 MKII Solderable PCB Variant (#7202)
  keyboards/kbdfans/kbd67/mkii_soldered/config.h
  keyboards/kbdfans/kbd67/mkii_soldered/info.json
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/ai03/keymap.c
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/ai03/readme.md
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/default/keymap.c
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/default/readme.md
  keyboards/kbdfans/kbd67/mkii_soldered/mkii_soldered.c
  keyboards/kbdfans/kbd67/mkii_soldered/mkii_soldered.h
  keyboards/kbdfans/kbd67/mkii_soldered/readme.md
  keyboards/kbdfans/kbd67/mkii_soldered/rules.mk
Labels: none

[Docs] Fix some misspells in French documentation (#7171)
  docs/fr-FR/ChangeLog/20190830.md
  docs/fr-FR/README.md
  docs/fr-FR/breaking_changes.md
  docs/fr-FR/cli.md
  docs/fr-FR/cli_configuration.md
  docs/fr-FR/contributing.md
  docs/fr-FR/flashing.md
  docs/fr-FR/getting_started_getting_help.md
  docs/fr-FR/getting_started_github.md
  docs/fr-FR/getting_started_introduction.md
  docs/fr-FR/newbs_best_practices.md
  docs/fr-FR/newbs_building_firmware_configurator.md
  docs/fr-FR/newbs_flashing.md
  docs/fr-FR/newbs_getting_started.md
  docs/fr-FR/newbs_testing_debugging.md
Labels: documentation

[keyboard] yanfali fruity60 prototype (#7021)
  keyboards/handwired/fruity60/config.h
  keyboards/handwired/fruity60/fruity60.c
  keyboards/handwired/fruity60/fruity60.h
  keyboards/handwired/fruity60/info.json
  keyboards/handwired/fruity60/keymaps/default/config.h
  keyboards/handwired/fruity60/keymaps/default/keymap.c
  keyboards/handwired/fruity60/keymaps/default/readme.md
  keyboards/handwired/fruity60/readme.md
  keyboards/handwired/fruity60/rules.mk
  users/yanfali/rules.mk
Labels: keymap

Fix the CLI docs (#6979)
  docs/cli.md
  lib/python/qmk/cli/json/keymap.py
Labels: cli, python, documentation

[Keymap] Add keymaps for myself (#7141)
  keyboards/reviung39/keymaps/toshi0383/config.h
  keyboards/reviung39/keymaps/toshi0383/keymap.c
  keyboards/reviung39/keymaps/toshi0383/readme.md
  keyboards/reviung39/keymaps/toshi0383/rules.mk
  keyboards/zinc/keymaps/toshi0383/config.h
  keyboards/zinc/keymaps/toshi0383/keymap.c
  keyboards/zinc/keymaps/toshi0383/rules.mk
Labels: none

[Keymap] Update keymap for kuchosauronad0 (#6902)
  keyboards/c39/keymaps/kuchosauronad0/config.h
  keyboards/c39/keymaps/kuchosauronad0/keymap.c
  keyboards/c39/keymaps/kuchosauronad0/readme.md
  keyboards/c39/keymaps/kuchosauronad0/rules.mk
Labels: none

[Keyboard] Add 42 keyboard (#7071)
  keyboards/handwired/42/42.h
  keyboards/handwired/42/README.md
  keyboards/handwired/42/config.h
  keyboards/handwired/42/keymaps/default/keymap.c
  keyboards/handwired/42/rules.mk
Labels: none

[Keyboard] Move Nyquist/Iris rules.mk files, update READMEs (#7196)
  keyboards/keebio/iris/readme.md
  keyboards/keebio/iris/rev1/rules.mk
  keyboards/keebio/iris/rev1_led/rules.mk
  keyboards/keebio/iris/rev2/rules.mk
  keyboards/keebio/iris/rev3/rules.mk
  keyboards/keebio/iris/rev4/rules.mk
  keyboards/keebio/iris/rules.mk
  keyboards/keebio/nyquist/readme.md
  keyboards/keebio/nyquist/rev1/rules.mk
  keyboards/keebio/nyquist/rev2/rules.mk
  keyboards/keebio/nyquist/rev3/rules.mk
  keyboards/keebio/nyquist/rules.mk
Labels: none

[Docs] Fix dunder names being accidentally bolded (#7217)
  docs/coding_conventions_python.md
Labels: documentation

aranck handwired keyboard added (#7151)
  keyboards/handwired/aranck/aranck.c
  keyboards/handwired/aranck/aranck.h
  keyboards/handwired/aranck/config.h
  keyboards/handwired/aranck/info.json
  keyboards/handwired/aranck/keymaps/default/config.h
  keyboards/handwired/aranck/keymaps/default/keymap.c
  keyboards/handwired/aranck/keymaps/default/readme.md
  keyboards/handwired/aranck/keymaps/turkishish/config.h
  keyboards/handwired/aranck/keymaps/turkishish/keymap.c
  keyboards/handwired/aranck/keymaps/turkishish/readme.md
  keyboards/handwired/aranck/readme.md
  keyboards/handwired/aranck/rules.mk
Labels: none

[Keyboard] Legonut Sol R2 Release (#7213)
  keyboards/rgbkb/sol/keymaps/default/keymap.c
  keyboards/rgbkb/sol/readme.md
Labels: none

[Keyboard] Complete info.json for Chiron handwired (#7207)
  keyboards/handwired/chiron/info.json
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
