Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

Update feature support for Proton C (#7596)
  docs/proton_c_conversion.md
Labels: documentation

[Keyboard][angel64] fix info.json (#7615)
  keyboards/angel64/rev1/info.json
Labels: none

[Keyboard] update m12og keymap to readable version (#7581)
  keyboards/matrix/m12og/keymaps/default/keymap.c
  keyboards/matrix/m12og/keymaps/iso/keymap.c
  keyboards/matrix/m12og/m12og.h
Labels: none

Use `clock_prescale_set()` from avr-libc (#7540)
  docs/faq_build.md
  docs/fr-fr/faq_build.md
  docs/zh-cn/faq_build.md
  tmk_core/protocol/lufa/lufa.c
Labels: core, documentation

[Keyboard] Added Lex60 keyboard (#7600)
  keyboards/gami_studio/lex60/config.h
  keyboards/gami_studio/lex60/keymaps/default/keymap.c
  keyboards/gami_studio/lex60/lex60.c
  keyboards/gami_studio/lex60/lex60.h
  keyboards/gami_studio/lex60/readme.md
  keyboards/gami_studio/lex60/rules.mk
Labels: none

fix instructions for oneshot layer handling on key release (#7554)
  docs/feature_advanced_keycodes.md
Labels: documentation

[Keyboard] instant60: Enable bootmagic lite to make eeprom reset easier (#7566)
  keyboards/cannonkeys/instant60/rules.mk
Labels: none

[Keymap] My DZ60 Layout and files (#7537)
  keyboards/dz60/keymaps/_bonfire/README.md
  keyboards/dz60/keymaps/_bonfire/dz60-v6-1-0.json
  keyboards/dz60/keymaps/_bonfire/keymap-parts/defs.c
  keyboards/dz60/keymaps/_bonfire/keymap-parts/functions.c
  keyboards/dz60/keymaps/_bonfire/keymap-parts/layers.c
  keyboards/dz60/keymaps/_bonfire/keymap.c
  keyboards/dz60/keymaps/_bonfire/not-in-use/super-alt-tab.c
  keyboards/dz60/keymaps/_bonfire/rules.mk
  keyboards/dz60/keymaps/_bonfire/scratchpad.txt
Labels: none

Add JSON keymap to prereq list of C keymap
  build_json.mk
Labels: none

[Keyboard] add Matrix 8XV1.2 og ISO/ANSI keyboard (#7567)
  keyboards/matrix/m12og/config.h
  keyboards/matrix/m12og/info.json
  keyboards/matrix/m12og/keymaps/default/keymap.c
  keyboards/matrix/m12og/keymaps/iso/keymap.c
  keyboards/matrix/m12og/m12og.c
  keyboards/matrix/m12og/m12og.h
  keyboards/matrix/m12og/readme.md
  keyboards/matrix/m12og/rules.mk
Labels: none

[Keyboard] Added workaround for serial.c/LTO issue for helix/rev2 and helix/pico. (#7558)
  keyboards/helix/pico/rules.mk
  keyboards/helix/rev2/rules.mk
Labels: none

[Keymap] ergotravel updates (#7588)
  keyboards/ergotravel/keymaps/yanfali/config.h
  keyboards/ergotravel/keymaps/yanfali/rules.mk
Labels: none

Port SPLIT_USB_DETECT to helix/rev2 (#7385)
  keyboards/helix/rev2/matrix.c
  keyboards/helix/rev2/split_util.c
Labels: none

Set proper ASCII character for KC_NUHS in iWRAP code (#7434)
  tmk_core/protocol/iwrap/main.c
Labels: core

[Keymap] Display logo for caps lock indication on crkbd using old OLED driver (#7535)
  keyboards/crkbd/keymaps/manna-harbour_miryoku/config.h
  keyboards/crkbd/keymaps/manna-harbour_miryoku/keymap.c
  keyboards/crkbd/keymaps/manna-harbour_miryoku/rules.mk
  layouts/community/ergodox/manna-harbour_miryoku/keymap.c
  layouts/community/ortho_4x12/manna-harbour_miryoku/keymap.c
  users/manna-harbour_miryoku/config.h
  users/manna-harbour_miryoku/manna-harbour_miryoku.c
  users/manna-harbour_miryoku/miryoku.org
  users/manna-harbour_miryoku/rules.mk
Labels: keymap

[Keyboard] Add cKeys Washington keyboard (#7570)
  keyboards/ckeys/readme.md
  keyboards/ckeys/washington/config.h
  keyboards/ckeys/washington/info.json
  keyboards/ckeys/washington/keymaps/default/keymap.c
  keyboards/ckeys/washington/keymaps/default/readme.md
  keyboards/ckeys/washington/readme.md
  keyboards/ckeys/washington/rules.mk
  keyboards/ckeys/washington/washington.c
  keyboards/ckeys/washington/washington.h
Labels: none

[Keyboard] update angel64 (#7545)
  keyboards/angel64/alpha/alpha.c
  keyboards/angel64/alpha/alpha.h
  keyboards/angel64/alpha/config.h
  keyboards/angel64/alpha/info.json
  keyboards/angel64/alpha/keymaps/default/config.h
  keyboards/angel64/alpha/keymaps/default/keymap.c
  keyboards/angel64/alpha/keymaps/default/readme.md
  keyboards/angel64/alpha/matrix.c
  keyboards/angel64/alpha/readme.md
  keyboards/angel64/alpha/rules.mk
  keyboards/angel64/keymaps/default/keymap.c
  keyboards/angel64/rev1/config.h
  keyboards/angel64/rev1/info.json
  keyboards/angel64/rev1/keymaps/default/config.h
  keyboards/angel64/rev1/keymaps/default/keymap.c
  keyboards/angel64/rev1/keymaps/default/readme.md
  keyboards/angel64/rev1/keymaps/kakunpc/config.h
  keyboards/angel64/rev1/keymaps/kakunpc/keymap.c
  keyboards/angel64/rev1/keymaps/kakunpc/readme.md
  keyboards/angel64/rev1/matrix.c
  keyboards/angel64/rev1/readme.md
  keyboards/angel64/rev1/rev1.c
  keyboards/angel64/rev1/rev1.h
  keyboards/angel64/rev1/rules.mk
  keyboards/angel64/rules.mk
Labels: none

Updated slave encoder sync to reduce dropped pulses - v2 (#7505)
  quantum/encoder.c
Labels: core

[Keyboard] add kbd67mkiirgb v2 keyboard (#7618)
  keyboards/kbdfans/kbd67/mkiirgb/v1/config.h
  keyboards/kbdfans/kbd67/mkiirgb/v1/rules.mk
  keyboards/kbdfans/kbd67/mkiirgb/v2/config.h
  keyboards/kbdfans/kbd67/mkiirgb/v2/rules.mk
Labels: none

Fix compiling json files
  lib/python/qmk/cli/compile.py
  lib/python/qmk/commands.py
Labels: cli, python

[Keyboard][Phoebe] Send backslash on AltGr + ? (#7616)
  keyboards/maxr1998/phoebe/keymaps/default/keymap.c
Labels: none

Remove mbed files (#7605)
  docs/faq_build.md
  docs/fr-fr/faq_build.md
  docs/zh-cn/faq_build.md
  doxygen-todo
  tmk_core/common/mbed/bootloader.c
  tmk_core/common/mbed/suspend.c
  tmk_core/common/mbed/timer.c
  tmk_core/common/mbed/xprintf.cpp
  tmk_core/common/mbed/xprintf.h
  tmk_core/common/print.h
  tmk_core/common/wait.h
  tmk_core/protocol/mbed/HIDKeyboard.cpp
  tmk_core/protocol/mbed/HIDKeyboard.h
  tmk_core/protocol/mbed/mbed_driver.cpp
  tmk_core/protocol/mbed/mbed_driver.h
  tmk_core/protocol/ps2_io_mbed.c
Labels: core, documentation

[Keyboard] Adjust ColorLice to work with QMK configurator (#7572)
  keyboards/handwired/colorlice/colorlice.h
  keyboards/handwired/colorlice/config.h
  keyboards/handwired/colorlice/keymaps/default/config.h
  keyboards/handwired/colorlice/keymaps/default_rgb_underglow/config.h
  keyboards/handwired/colorlice/keymaps/default_rgb_underglow/keymap.c
  keyboards/handwired/colorlice/keymaps/default_rgb_underglow/rules.mk
  keyboards/handwired/colorlice/rules.mk
Labels: none

[Keyboard] Adding Navi10 macropad (#7556)
  keyboards/navi10/info.json
  keyboards/navi10/keymaps/default/keymap.c
  keyboards/navi10/keymaps/default/readme.md
  keyboards/navi10/keymaps/default/rules.mk
  keyboards/navi10/keymaps/emdarcher/keymap.c
  keyboards/navi10/keymaps/emdarcher/readme.md
  keyboards/navi10/keymaps/emdarcher/rules.mk
  keyboards/navi10/readme.md
  keyboards/navi10/rev0/config.h
  keyboards/navi10/rev0/rev0.c
  keyboards/navi10/rev0/rev0.h
  keyboards/navi10/rev0/rules.mk
  keyboards/navi10/rev2/config.h
  keyboards/navi10/rev2/rev2.c
  keyboards/navi10/rev2/rev2.h
  keyboards/navi10/rev2/rules.mk
  keyboards/navi10/rev3/config.h
  keyboards/navi10/rev3/rev3.c
  keyboards/navi10/rev3/rev3.h
  keyboards/navi10/rev3/rules.mk
  keyboards/navi10/rules.mk
Labels: none

[Docs] Create RU ver of becoming_a_qmk_collaborator (#7226)
  docs/ru-ru/becoming_a_qmk_collaborator.md
Labels: documentation

[Keyboard] Add uzu42 info.json (#7617)
  keyboards/uzu42/info.json
Labels: none

[Keyboard] Add new keyboard ColorLice (#7536)
  keyboards/handwired/colorlice/colorlice.c
  keyboards/handwired/colorlice/colorlice.h
  keyboards/handwired/colorlice/config.h
  keyboards/handwired/colorlice/info.json
  keyboards/handwired/colorlice/keymaps/default/config.h
  keyboards/handwired/colorlice/keymaps/default/keymap.c
  keyboards/handwired/colorlice/keymaps/default_rgb_underglow/config.h
  keyboards/handwired/colorlice/keymaps/default_rgb_underglow/keymap.c
  keyboards/handwired/colorlice/keymaps/default_rgb_underglow/rules.mk
  keyboards/handwired/colorlice/readme.md
  keyboards/handwired/colorlice/rules.mk
Labels: none

[Docs] Fix docs fallback for pt-br (#7602)
  docs/index.html
Labels: documentation

[Keyboard] Fluorite: add Configurator layout data (#7612)
  keyboards/fluorite/info.json
Labels: none

[Docs] Creating RU version of getting_started_introduction (#7224)
  docs/ru-ru/getting_started_introduction.md
Labels: documentation

[Keyboard] Remove `PREVENT_STUCK_MODIFIERS` from config.h files (#7592)
  keyboards/30wer/config.h
  keyboards/ergodox_ez/keymaps/rgb_layer/config.h
  keyboards/handwired/hexon38/config.h
  keyboards/handwired/pteron/config.h
  keyboards/treadstone48/keymaps/default/config.h
  keyboards/treadstone48/rev1/config.h
  keyboards/zinc/rev1/config.h
  keyboards/zinc/reva/config.h
Labels: none

[Keyboard] Fix 2U backspace key in ansi_blocker layout for GrayStudio Space65 keyboard (#7593)
  keyboards/gray_studio/space65/keymaps/default/keymap.c
  keyboards/gray_studio/space65/space65.h
Labels: none

Add keyboard - MYSTERIUM (#7547)
  keyboards/coseyfannitutti/mysterium/config.h
  keyboards/coseyfannitutti/mysterium/info.json
  keyboards/coseyfannitutti/mysterium/keymaps/default/keymap.c
  keyboards/coseyfannitutti/mysterium/keymaps/tsangan/keymap.c
  keyboards/coseyfannitutti/mysterium/mysterium.c
  keyboards/coseyfannitutti/mysterium/mysterium.h
  keyboards/coseyfannitutti/mysterium/readme.md
  keyboards/coseyfannitutti/mysterium/rules.mk
  keyboards/coseyfannitutti/mysterium/usbconfig.h
Labels: none

Minor grammar and filename fixes in docs (#7559)
  docs/coding_conventions_c.md
  docs/coding_conventions_python.md
  docs/feature_haptic_feedback.md
  docs/feature_rgb_matrix.md
Labels: documentation

[Docs] add README translation in portuguese (#7016)
  docs/_langs.md
  docs/index.html
  docs/pt-br/README.md
  docs/pt-br/_summary.md
Labels: documentation

Also fix flash
  lib/python/qmk/cli/flash.py
Labels: cli, python

[Keyboard] Add Exclusive E7-V1 SE keyboard and keymaps (#7598)
  keyboards/exclusive/e7v1se/config.h
  keyboards/exclusive/e7v1se/e7v1se.c
  keyboards/exclusive/e7v1se/e7v1se.h
  keyboards/exclusive/e7v1se/info.json
  keyboards/exclusive/e7v1se/keymaps/default/keymap.c
  keyboards/exclusive/e7v1se/keymaps/default/readme.md
  keyboards/exclusive/e7v1se/keymaps/mac/keymap.c
  keyboards/exclusive/e7v1se/keymaps/mac/readme.md
  keyboards/exclusive/e7v1se/readme.md
  keyboards/exclusive/e7v1se/rules.mk
Labels: none

update dp60 configuration (#7561)
  keyboards/dp60/config.h
  keyboards/dp60/dp60.c
  keyboards/dp60/keymaps/allleds/keymap.c
  keyboards/dp60/keymaps/allleds/rules.mk
  keyboards/dp60/keymaps/via/readme.md
  keyboards/dp60/keymaps/via/rules.mk
Labels: none

fixed I2C driver support for stm32f4 (#7526)
  drivers/arm/i2c_master.c
  drivers/arm/i2c_master.h
Labels: core

[Docs] update git command and directory name of documents (#7619)
  docs/getting_started_github.md
  docs/getting_started_introduction.md
Labels: documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
