Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

Add ADC support for STM32F3 and STM32F0 devices (#7681)
  docs/adc_driver.md
  drivers/arm/analog.c
  drivers/arm/analog.h
Labels: core, documentation

[Keymap] Update personal keymap (#8354)
  keyboards/crkbd/keymaps/rpbaptist/config.h
  keyboards/crkbd/keymaps/rpbaptist/glcdfont_godspeed.c
  keyboards/crkbd/keymaps/rpbaptist/glcdfont_laser.c
  keyboards/crkbd/keymaps/rpbaptist/glcdfont_pulse.c
  keyboards/crkbd/keymaps/rpbaptist/keymap.c
  keyboards/crkbd/keymaps/rpbaptist/readme.md
  keyboards/crkbd/keymaps/rpbaptist/rules.mk
Labels: none

Restore getting_started_github.md doc
  docs/getting_started_github.md
Labels: documentation

Add new keymap with split shift and split backspace for bananas… (#8395)
  keyboards/thevankeyboards/bananasplit/keymaps/cijanzen/keymap.c
  keyboards/thevankeyboards/bananasplit/keymaps/cijanzen/readme.md
Labels: none

fix keyboards/mxss/rgblight.h (#8388)
  keyboards/mxss/rgblight.h
Labels: none

Danielo515/redox (#8232)
  keyboards/ergodox_ez/keymaps/danielo515/config.h
  keyboards/ergodox_ez/keymaps/danielo515/keymap.c
  keyboards/redox_w/keymaps/danielo515/config.h
  keyboards/redox_w/keymaps/danielo515/keymap.c
  keyboards/redox_w/keymaps/danielo515/readme.md
  keyboards/redox_w/keymaps/danielo515/rules.mk
  users/danielo515/alt_tab.c
  users/danielo515/alt_tab.h
  users/danielo515/combo.c
  users/danielo515/config.h
  users/danielo515/danielo515.c
  users/danielo515/danielo515.h
  users/danielo515/process_records.c
  users/danielo515/process_records.h
  users/danielo515/rules.mk
  users/danielo515/tap_dance.h
Labels: keymap

Remove NO_UART defines from config.h for V-USB boards (#8351)
  keyboards/ares/config.h
  keyboards/bfake/config.h
  keyboards/coseyfannitutti/discipad/config.h
  keyboards/coseyfannitutti/discipline/config.h
  keyboards/coseyfannitutti/mysterium/config.h
  keyboards/db/db63/config.h
  keyboards/exent/config.h
  keyboards/ft/mars80/config.h
  keyboards/gingham/config.h
  keyboards/j80/config.h
  keyboards/jc65/v32a/config.h
  keyboards/jj40/config.h
  keyboards/jj4x4/config.h
  keyboards/jj50/config.h
  keyboards/keycapsss/plaid_pad/config.h
  keyboards/mechmini/v1/config.h
  keyboards/mt40/config.h
  keyboards/pearl/config.h
  keyboards/percent/canoe/config.h
  keyboards/percent/skog/config.h
  keyboards/plaid/config.h
  keyboards/tartan/config.h
  keyboards/tgr/alice/config.h
  keyboards/winkeyless/bface/config.h
  keyboards/winkeyless/bmini/config.h
  keyboards/winkeyless/bminiex/config.h
  keyboards/ymd75/config.h
  keyboards/ymd96/config.h
  keyboards/ymdk/bface/config.h
  keyboards/ymdk_np21/config.h
  quantum/template/ps2avrgb/config.h
Labels: core

[Keyboard] Palette1202 (#7736)
  keyboards/palette1202/config.h
  keyboards/palette1202/info.json
  keyboards/palette1202/keymaps/default/config.h
  keyboards/palette1202/keymaps/default/keymap.c
  keyboards/palette1202/keymaps/default/readme.md
  keyboards/palette1202/keymaps/key-check/keymap.c
  keyboards/palette1202/keymaps/key-check/readme.md
  keyboards/palette1202/lib/glcdfont.c
  keyboards/palette1202/lib/oled_helper.c
  keyboards/palette1202/lib/oled_helper.h
  keyboards/palette1202/palette1202.c
  keyboards/palette1202/palette1202.h
  keyboards/palette1202/readme.md
  keyboards/palette1202/rules.mk
Labels: none

Update Spanish keymap and sendstring LUT (#8364)
  quantum/keymap_extras/keymap_spanish.h
  quantum/keymap_extras/sendstring_spanish.h
Labels: core

Rename qmk json-keymap to qmk json2c (#8372)
  build_json.mk
  docs/cli.md
  docs/ja/cli.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/json/keymap.py
  lib/python/qmk/cli/json2c.py
Labels: cli, python, documentation

Add support for STM32L0/L1 onboard EEPROM. (#8002)
  common_features.mk
  docs/eeprom_driver.md
  drivers/eeprom/eeprom_stm32_L0_L1.c
  drivers/eeprom/eeprom_stm32_L0_L1.h
Labels: core, documentation

[Keyboard] Add Wallaby (#8398)
  keyboards/wallaby/config.h
  keyboards/wallaby/info.json
  keyboards/wallaby/keymaps/default/keymap.c
  keyboards/wallaby/keymaps/default/readme.md
  keyboards/wallaby/readme.md
  keyboards/wallaby/rules.mk
  keyboards/wallaby/wallaby.c
  keyboards/wallaby/wallaby.h
Labels: none

[Keyboard] Oddball keyboard (#8352)
  keyboards/oddball/adns.c
  keyboards/oddball/adns9800_srom_A4.h
  keyboards/oddball/config.h
  keyboards/oddball/info.json
  keyboards/oddball/keymaps/default/keymap.c
  keyboards/oddball/oddball.c
  keyboards/oddball/oddball.h
  keyboards/oddball/readme.md
  keyboards/oddball/rules.mk
Labels: none

Fix layer debug calls (#8370)
  tmk_core/common/action_layer.c
Labels: core

Add Portuguese keymap and sendstring lookup tables (#8390)
  quantum/keymap_extras/keymap_portuguese.h
  quantum/keymap_extras/sendstring_portuguese.h
Labels: core

format code according to conventions [skip ci]
  tmk_core/common/mousekey.c
Labels: core

Enable custom backlight driver for kmac (#8397)
  keyboards/kmac/rules.mk
Labels: none

added olkb_style layout for XD75 (#8409)
  keyboards/xd75/keymaps/neothefox/keymap.c
  keyboards/xd75/keymaps/neothefox/readme.md
Labels: none

Refactor rgblight_reconfig.h (#7773)
  quantum/rgblight.c
  quantum/rgblight.h
  quantum/rgblight_reconfig.h
  tmk_core/common/avr/suspend.c
  tmk_core/common/avr/suspend_avr.h
  tmk_core/common/chibios/suspend.c
  tmk_core/common/keyboard.c
  tmk_core/protocol/chibios/main.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/vusb/main.c
Labels: core

Fix darkmode (#8393)
  docs/index.html
  docs/qmk_custom_dark.css
  docs/qmk_custom_light.css
Labels: documentation

[Keymap] Added HHKB Keymap and user config (#8119)
  keyboards/hhkb/keymaps/brett/config.h
  keyboards/hhkb/keymaps/brett/keymap.c
  keyboards/hhkb/keymaps/brett/readme.md
  keyboards/hhkb/keymaps/brett/rules.mk
  users/brett/brett.c
  users/brett/brett.h
  users/brett/rules.mk
Labels: keymap

Feature: RGBLight layers (#7768)
  docs/config_options.md
  docs/feature_rgblight.md
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core, documentation

use qmk.path.normpath to locate the output file.
  lib/python/qmk/cli/json2c.py
Labels: cli, python

Replace tab indentation with spaces in is0 default keymap. (#8368)
  keyboards/illuminati/is0/keymaps/default/keymap.c
Labels: none

format code according to conventions [skip ci]
  tests/basic/keymap.c
  tests/basic/test_keypress.cpp
  tmk_core/common/action.c
  tmk_core/common/report.c
  tmk_core/common/report.h
Labels: core

fix two links on docs/other_eclipse.md (#8417)
  docs/other_eclipse.md
Labels: documentation

format code according to conventions [skip ci]
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core

Update Swedish keymap and add sendstring LUT (#8365)
  quantum/keymap_extras/keymap_swedish.h
  quantum/keymap_extras/sendstring_swedish.h
Labels: core

Add VIA support to Tokyo60. (#8362)
  keyboards/tokyo60/config.h
  keyboards/tokyo60/info.json
  keyboards/tokyo60/keymaps/via/keymap.c
  keyboards/tokyo60/keymaps/via/rules.mk
  keyboards/tokyo60/readme.md
  keyboards/tokyo60/rules.mk
  keyboards/tokyo60/tokyo60.h
Labels: none

format code according to conventions [skip ci]
  drivers/arm/analog.c
  drivers/arm/analog.h
Labels: core

Add decorators for determining keyboard and keymap based on current directory (#8191)
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/flash.py
  lib/python/qmk/cli/list/keymaps.py
  lib/python/qmk/cli/new/keymap.py
  lib/python/qmk/commands.py
  lib/python/qmk/decorators.py
  lib/python/qmk/path.py
Labels: cli, python

Fix pressing two keys with the same keycode but different modifiers (#2710)
  tests/basic/keymap.c
  tests/basic/test_keypress.cpp
  tests/test_common/test_fixture.cpp
  tmk_core/common/action.c
  tmk_core/common/report.c
  tmk_core/common/report.h
Labels: core

Enable bootmagic lite for CU80 (#8363)
  keyboards/cu80/rules.mk
Labels: none

[Keymap] ninjonas keymap updates (#8373)
  keyboards/crkbd/keymaps/ninjonas/config.h
  keyboards/kyria/keymaps/ninjonas/config.h
  keyboards/kyria/keymaps/ninjonas/encoder.c
  keyboards/kyria/keymaps/ninjonas/keymap.c
  keyboards/kyria/keymaps/ninjonas/oled.c
  keyboards/kyria/keymaps/ninjonas/rules.mk
  keyboards/lily58/keymaps/ninjonas/keymap.c
  keyboards/lily58/keymaps/ninjonas/rules.mk
  keyboards/pinky/3/keymaps/ninjonas/config.h
  keyboards/pinky/3/keymaps/ninjonas/keymap.c
  users/ninjonas/README.md
  users/ninjonas/combos.c
  users/ninjonas/config.h
  users/ninjonas/encoder.c
  users/ninjonas/ninjonas.h
  users/ninjonas/process_records.c
  users/ninjonas/process_records.h
  users/ninjonas/rules.mk
  users/ninjonas/tap_dances.c
  users/ninjonas/tap_dances.h
Labels: keymap

[Keyboard] Helix add split common option (#7718)
  keyboards/helix/local_drivers/i2c.c
  keyboards/helix/pico/config.h
  keyboards/helix/pico/keymaps/default/readme.md
  keyboards/helix/pico/local_features.mk
  keyboards/helix/pico/matrix.c
  keyboards/helix/pico/pico.c
  keyboards/helix/pico/pico.h
  keyboards/helix/pico/post_config.h
  keyboards/helix/pico/rules.mk
  keyboards/helix/pico/sc/back/rules.mk
  keyboards/helix/pico/sc/rules.mk
  keyboards/helix/pico/sc/under/rules.mk
  keyboards/helix/pico/split_util.c
  keyboards/helix/pico/split_util.h
  keyboards/helix/readme.md
  keyboards/helix/rev2/config.h
  keyboards/helix/rev2/keymaps/default/readme.md
  keyboards/helix/rev2/keymaps/xulkal/rules.mk
  keyboards/helix/rev2/local_features.mk
  keyboards/helix/rev2/matrix.c
  keyboards/helix/rev2/post_config.h
  keyboards/helix/rev2/rev2.c
  keyboards/helix/rev2/rev2.h
  keyboards/helix/rev2/rules.mk
  keyboards/helix/rev2/sc/back/rules.mk
  keyboards/helix/rev2/sc/oled/rules.mk
  keyboards/helix/rev2/sc/oledback/rules.mk
  keyboards/helix/rev2/sc/oledunder/rules.mk
  keyboards/helix/rev2/sc/rules.mk
  keyboards/helix/rev2/sc/under/rules.mk
  keyboards/helix/rev2/split_util.c
  keyboards/helix/rev2/split_util.h
  users/xulkal/custom_oled.c
Labels: keymap

Decouple mouse cursor and mouse wheel in accelerated mode (#6685)
  docs/feature_mouse_keys.md
  tmk_core/common/mousekey.c
  tmk_core/common/mousekey.h
Labels: core, documentation

[Keyboard] Add the Romeo keyboard (#8434)
  keyboards/coseyfannitutti/romeo/config.h
  keyboards/coseyfannitutti/romeo/info.json
  keyboards/coseyfannitutti/romeo/keymaps/default/keymap.c
  keyboards/coseyfannitutti/romeo/readme.md
  keyboards/coseyfannitutti/romeo/romeo.c
  keyboards/coseyfannitutti/romeo/romeo.h
  keyboards/coseyfannitutti/romeo/rules.mk
  keyboards/coseyfannitutti/romeo/usbconfig.h
Labels: none

format code according to conventions [skip ci]
  quantum/dynamic_keymap.c
Labels: core

Update German keymap and sendstring LUT (#8437)
  quantum/keymap_extras/keymap_german.h
  quantum/keymap_extras/sendstring_german.h
Labels: core

Remove pro_micro.h (#8374)
  drivers/avr/pro_micro.h
  keyboards/claw44/rev1/matrix.c
  keyboards/crkbd/rev1/matrix.c
  keyboards/ergoinu/matrix.c
  keyboards/handwired/not_so_minidox/matrix.c
  keyboards/helix/pico/matrix.c
  keyboards/helix/rev1/matrix.c
  keyboards/helix/rev2/matrix.c
  keyboards/lily58/rev1/matrix.c
  keyboards/yosino58/rev1/matrix.c
  keyboards/zinc/rev1/matrix.c
  keyboards/zinc/reva/matrix.c
Labels: core

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
