Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

Move Grave Escape, Lock and Leader keycodes into their own sect… (#8093)
  docs/keycodes.md
  docs/quantum_keycodes.md
Labels: documentation

[Keyboard] manta60 (#8068)
  keyboards/manta60/config.h
  keyboards/manta60/info.json
  keyboards/manta60/keymaps/default/config.h
  keyboards/manta60/keymaps/default/keymap.c
  keyboards/manta60/keymaps/default/readme.md
  keyboards/manta60/manta60.c
  keyboards/manta60/manta60.h
  keyboards/manta60/readme.md
  keyboards/manta60/rules.mk
Labels: none

Improve the functionality of qmk.questions (#8020)
  lib/python/qmk/questions.py
Labels: cli, python

[Docs] future branch housekeeping
  docs/breaking_changes.md
Labels: documentation

Add thread safety around i2c_master for ChibiOS/ARM.
  drivers/arm/i2c_master.c
Labels: core

Update dirty submodule make message (#8065)
  message.mk
Labels: none

[Keymap] Add User Keymap for FC660C (#8062)
  keyboards/fc660c/keymaps/mikefightsbears/keymap.c
  keyboards/fc660c/keymaps/mikefightsbears/rules.mk
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/mikefightsbears/keymap.c
Labels: none

Reduce SPLIT_USB_TIMEOUT by 500ms (#7637)
  docs/config_options.md
  docs/feature_split_keyboard.md
  keyboards/crkbd/rev1/split_util.c
  keyboards/helix/rev2/split_util.c
  quantum/split_common/split_util.c
Labels: core, documentation

Add Midi Endpoint task to ChibiOS main (#8071)
  tmk_core/protocol/chibios/main.c
  tmk_core/protocol/chibios/usb_main.c
Labels: core

Relocate grave keycode processing (#8082)
  common_features.mk
  quantum/process_keycode/process_grave_esc.c
  quantum/process_keycode/process_grave_esc.h
  quantum/quantum.c
  quantum/quantum.h
Labels: core

Encoder brush size (#8087)
  keyboards/ncc1701kb/info.json
  keyboards/ncc1701kb/keymaps/brushsize/keymap.c
Labels: none

Skog Lite: disable Console; update info.json (#8058)
  keyboards/percent/skog_lite/info.json
  keyboards/percent/skog_lite/rules.mk
Labels: none

Refactor mint60 to use split_common (#8084)
  keyboards/mint60/config.h
  keyboards/mint60/i2c.c
  keyboards/mint60/i2c.h
  keyboards/mint60/keymaps/default/keymap.c
  keyboards/mint60/matrix.c
  keyboards/mint60/mint60.c
  keyboards/mint60/mint60.h
  keyboards/mint60/rules.mk
  keyboards/mint60/serial.c
  keyboards/mint60/serial.h
  keyboards/mint60/serial_config.h
  keyboards/mint60/split_util.c
  keyboards/mint60/split_util.h
Labels: none

[Keyboard] Refactor deltasplit75 to use split_common (#8083)
  keyboards/deltasplit75/config.h
  keyboards/deltasplit75/deltasplit75.h
  keyboards/deltasplit75/eeprom-lefthand.eep
  keyboards/deltasplit75/eeprom-righthand.eep
  keyboards/deltasplit75/i2c.c
  keyboards/deltasplit75/i2c.h
  keyboards/deltasplit75/matrix.c
  keyboards/deltasplit75/readme.md
  keyboards/deltasplit75/rules.mk
  keyboards/deltasplit75/serial.c
  keyboards/deltasplit75/serial.h
  keyboards/deltasplit75/split_util.c
  keyboards/deltasplit75/split_util.h
  keyboards/deltasplit75/v2/config.h
  keyboards/deltasplit75/v2/v2.c
  keyboards/deltasplit75/v2/v2.h
Labels: none

Remove zvecr dz60 keymap (#8140)
  keyboards/dz60/keymaps/zvecr/keymap.c
Labels: none

Add Prime_L V2 and Prime_EXL Plus (#8111)
  keyboards/handwired/prime_exl/keymaps/via/keymap.c
  keyboards/primekb/prime_l_v2/config.h
  keyboards/primekb/prime_l_v2/info.json
  keyboards/primekb/prime_l_v2/keymaps/default/keymap.c
  keyboards/primekb/prime_l_v2/keymaps/default/readme.md
  keyboards/primekb/prime_l_v2/prime_l_v2.c
  keyboards/primekb/prime_l_v2/prime_l_v2.h
  keyboards/primekb/prime_l_v2/readme.md
  keyboards/primekb/prime_l_v2/rules.mk
Labels: none

Add QMK Compile Context Sensitivity (#6884)
  docs/cli.md
  lib/python/qmk/cli/compile.py
Labels: cli, python, documentation

Remove tzarc's Luddite keymap. (#8139)
  keyboards/40percentclub/luddite/keymaps/tzarc/config.h
  keyboards/40percentclub/luddite/keymaps/tzarc/keymap.c
  keyboards/40percentclub/luddite/keymaps/tzarc/rules.mk
Labels: none

Update the flash cli command to use the user config (#8125)
  lib/python/qmk/cli/flash.py
Labels: cli, python

CI: Add workflow for CLI testing (#7357)
  .github/workflows/cli.yml
  lib/python/qmk/tests/test_cli_commands.py
  util/travis_test.sh
Labels: core, cli, python

[Keymap] Add users/alfrdmalr and switch to layouts (#8030)
  keyboards/preonic/keymaps/alfrdmalr/config.h
  keyboards/preonic/keymaps/alfrdmalr/keymap.c
  keyboards/preonic/keymaps/alfrdmalr/readme.md
  keyboards/preonic/keymaps/alfrdmalr/rules.mk
  layouts/community/ortho_5x12/alfrdmalr/config.h
  layouts/community/ortho_5x12/alfrdmalr/keymap.c
  layouts/community/ortho_5x12/alfrdmalr/rules.mk
  users/alfrdmalr/alfrdmalr.c
  users/alfrdmalr/alfrdmalr.h
  users/alfrdmalr/config.h
  users/alfrdmalr/readme.md
  users/alfrdmalr/rules.mk
Labels: keymap

Fix out of bound OLED font access (#8145)
  docs/feature_oled_driver.md
  drivers/oled/oled_driver.c
  drivers/oled/oled_driver.h
Labels: core, documentation

[Keyboard] Remove i2c write command when reading columns on Ergodox EZ (#8092)
  keyboards/ergodox_ez/matrix.c
Labels: none

Rename Polaris Tsangan layout to 60_tsangan_hhkb and enable community layout support (#8144)
  keyboards/ai03/polaris/info.json
  keyboards/ai03/polaris/keymaps/default_ansi_tsangan/keymap.c
  keyboards/ai03/polaris/polaris.h
  keyboards/ai03/polaris/rules.mk
Labels: none

[Keyboard] adding keyboard: sl40 (#7978)
  keyboards/wsk/sl40/config.h
  keyboards/wsk/sl40/info.json
  keyboards/wsk/sl40/keymaps/default/keymap.c
  keyboards/wsk/sl40/readme.md
  keyboards/wsk/sl40/rules.mk
  keyboards/wsk/sl40/sl40.c
  keyboards/wsk/sl40/sl40.h
Labels: none

Remove PJRC USB stack
  doxygen-todo
  tmk_core/common/command.c
  tmk_core/protocol/bluefruit.mk
  tmk_core/protocol/bluefruit/main.c
  tmk_core/protocol/pjrc.mk
  tmk_core/protocol/pjrc/MEMO.txt
  tmk_core/protocol/pjrc/main.c
  tmk_core/protocol/pjrc/pjrc.c
  tmk_core/protocol/pjrc/pjrc.h
  tmk_core/protocol/pjrc/usb.c
  tmk_core/protocol/pjrc/usb.h
  tmk_core/protocol/pjrc/usb_debug.c
  tmk_core/protocol/pjrc/usb_debug.h
  tmk_core/protocol/pjrc/usb_extra.c
  tmk_core/protocol/pjrc/usb_extra.h
  tmk_core/protocol/pjrc/usb_keyboard.c
  tmk_core/protocol/pjrc/usb_keyboard.h
  tmk_core/protocol/pjrc/usb_mouse.c
  tmk_core/protocol/pjrc/usb_mouse.h
  tmk_core/readme.md
Labels: core

[Keyboard] VIA Support for Boardwalk (#8124)
  keyboards/boardwalk/config.h
  keyboards/boardwalk/keymaps/via/keymap.c
  keyboards/boardwalk/keymaps/via/readme.md
  keyboards/boardwalk/keymaps/via/rules.mk
Labels: none

[Keymap] Phoebe/Maxr1998 keymap: enable space cadet with curly braces (#8096)
  keyboards/maxr1998/phoebe/keymaps/default/config.h
  keyboards/maxr1998/phoebe/keymaps/default/keymap.c
Labels: none

[Keyboard] adding keyboard: pain27 (#7977)
  keyboards/wsk/pain27/config.h
  keyboards/wsk/pain27/info.json
  keyboards/wsk/pain27/keymaps/default/keymap.c
  keyboards/wsk/pain27/pain27.c
  keyboards/wsk/pain27/pain27.h
  keyboards/wsk/pain27/readme.md
  keyboards/wsk/pain27/rules.mk
Labels: none

use replace() over rename() to have cross-platform overwriting (#8148)
  lib/python/milc.py
Labels: cli, python

[Keyboard] Add support for Hub16 (#7794)
  keyboards/hub16/config.h
  keyboards/hub16/hub16.c
  keyboards/hub16/hub16.h
  keyboards/hub16/keymaps/default/keymap.c
  keyboards/hub16/keymaps/no_mod/keymap.c
  keyboards/hub16/matrix.c
  keyboards/hub16/readme.md
  keyboards/hub16/rules.mk
Labels: none

[Keyboard] Port SPLIT_USB_DETECT to lily58 (#8107)
  keyboards/lily58/matrix.c
  keyboards/lily58/rev1/matrix.c
  keyboards/lily58/rev1/split_util.c
  keyboards/lily58/split_util.c
  keyboards/lily58/split_util.h
Labels: none

[Keyboard] Boardwalk Refactor (#8122)
  keyboards/boardwalk/keymaps/default/config.h
  keyboards/boardwalk/keymaps/default_2u_arrow/keymap.c
  keyboards/boardwalk/keymaps/default_2u_arrow/readme.md
  keyboards/boardwalk/keymaps/default_625u_arrow/keymap.c
  keyboards/boardwalk/keymaps/default_625u_arrow/readme.md
  keyboards/boardwalk/keymaps/default_ortho_7u/keymap.c
  keyboards/boardwalk/keymaps/default_ortho_7u/readme.md
  keyboards/boardwalk/keymaps/default_ortho_hhkb/keymap.c
  keyboards/boardwalk/keymaps/default_ortho_hhkb/readme.md
  keyboards/boardwalk/readme.md
Labels: none

[Keyboard] YMDK NP21: matrix and keymap refactor (#8112)
  keyboards/ymdk_np21/info.json
  keyboards/ymdk_np21/keymaps/default/keymap.c
  keyboards/ymdk_np21/keymaps/default/readme.md
  keyboards/ymdk_np21/ymdk_np21.h
Labels: none

[Docs] doc update zh-cn (#8147)
  docs/zh-cn/_summary.md
Labels: documentation

Prevent fallthrough for DIODE_DIRECTION
  keyboards/ergo42/rev1/config.h
Labels: none

Initial refactor of ergo42 to split common
  keyboards/ergo42/config.h
  keyboards/ergo42/ergo42.h
  keyboards/ergo42/i2c.c
  keyboards/ergo42/i2c.h
  keyboards/ergo42/matrix.c
  keyboards/ergo42/readme.md
  keyboards/ergo42/rev1/config.h
  keyboards/ergo42/rev1/rev1.c
  keyboards/ergo42/rev1/rev1.h
  keyboards/ergo42/rules.mk
  keyboards/ergo42/serial.c
  keyboards/ergo42/serial.h
  keyboards/ergo42/split_util.c
  keyboards/ergo42/split_util.h
Labels: none

[Keyboard] Add support for Polaris (#8123)
  keyboards/ai03/polaris/config.h
  keyboards/ai03/polaris/info.json
  keyboards/ai03/polaris/keymaps/default/keymap.c
  keyboards/ai03/polaris/keymaps/default/readme.md
  keyboards/ai03/polaris/keymaps/default_ansi_tsangan/keymap.c
  keyboards/ai03/polaris/keymaps/default_ansi_tsangan/readme.md
  keyboards/ai03/polaris/keymaps/testing/keymap.c
  keyboards/ai03/polaris/keymaps/testing/readme.md
  keyboards/ai03/polaris/keymaps/via/keymap.c
  keyboards/ai03/polaris/keymaps/via/readme.md
  keyboards/ai03/polaris/keymaps/via/rules.mk
  keyboards/ai03/polaris/polaris.c
  keyboards/ai03/polaris/polaris.h
  keyboards/ai03/polaris/readme.md
  keyboards/ai03/polaris/rules.mk
Labels: none

[Keyboard] adding keyboard: gothic70 (#7982)
  keyboards/wsk/gothic70/config.h
  keyboards/wsk/gothic70/gothic70.c
  keyboards/wsk/gothic70/gothic70.h
  keyboards/wsk/gothic70/info.json
  keyboards/wsk/gothic70/keymaps/default/keymap.c
  keyboards/wsk/gothic70/keymaps/default/rules.mk
  keyboards/wsk/gothic70/readme.md
  keyboards/wsk/gothic70/rules.mk
Labels: none

[Keyboard] Use DIRECT_PINS instead of empty MATRIX_ROW_PINS: sixshooter (#8130)
  keyboards/bpiphany/sixshooter/config.h
  keyboards/bpiphany/sixshooter/sixshooter.h
Labels: none
