Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

Convert backlight to follow driver rules pattern
  common_features.mk
  quantum/stm32/proton_c.mk
Labels: core

[Docs] add japanese translation (basic part) (#7461)
  docs/ja/cli.md
  docs/ja/cli_configuration.md
  docs/ja/contributing.md
  docs/ja/getting_started_getting_help.md
  docs/ja/getting_started_github.md
  docs/ja/getting_started_introduction.md
Labels: documentation

[Docs] fix docs (#7642)
  docs/arm_debugging.md
  docs/fr-fr/getting_started_github.md
  docs/fr-fr/getting_started_introduction.md
  docs/getting_started_github.md
  docs/he-il/getting_started_github.md
  docs/he-il/getting_started_introduction.md
  docs/ja/arm_debugging.md
  docs/ja/getting_started_github.md
  docs/ru-ru/getting_started_github.md
  docs/ru-ru/getting_started_introduction.md
  docs/zh-cn/getting_started_github.md
  docs/zh-cn/getting_started_introduction.md
Labels: documentation

Tidy up dztech config.h
  keyboards/dztech/dz60rgb/config.h
  keyboards/dztech/dz60rgb/v1/config.h
  keyboards/dztech/dz60rgb/v2/config.h
  keyboards/dztech/dz60rgb_ansi/config.h
  keyboards/dztech/dz60rgb_ansi/v1/config.h
  keyboards/dztech/dz60rgb_ansi/v2/config.h
  keyboards/dztech/dz60rgb_wkl/config.h
  keyboards/dztech/dz60rgb_wkl/v1/config.h
  keyboards/dztech/dz60rgb_wkl/v2/config.h
  keyboards/dztech/dz65rgb/config.h
  keyboards/dztech/dz65rgb/v1/config.h
  keyboards/dztech/dz65rgb/v2/config.h
Labels: none

[Keyboard] Added Filco Majestouch TKL Pegasus Hoof ISO Layout (#7647)
  keyboards/bpiphany/pegasushoof/2015/2015.h
  keyboards/bpiphany/pegasushoof/info.json
Labels: none

New RGBKB Zen Rev1 keymap (#7609)
  keyboards/rgbkb/zen/rev1/keymaps/starcalleramethyst/config.h
  keyboards/rgbkb/zen/rev1/keymaps/starcalleramethyst/keymap.c
  keyboards/rgbkb/zen/rev1/keymaps/starcalleramethyst/rules.mk
Labels: none

Update software backlight to precalculated duty patterns
  quantum/backlight/backlight_soft.c
Labels: core

[keyboard] Plain60 cleanups (#7644)
  keyboards/maartenwut/plain60/keymaps/default/keymap.c
  keyboards/maartenwut/plain60/rules.mk
Labels: none

Update toshi0383 keymap (#7700)
  keyboards/reviung39/keymaps/toshi0383/keymap.c
  keyboards/zinc/keymaps/toshi0383/keymap.c
Labels: none

update default h88 keymap (#7646)
  keyboards/hineybush/h88/keymaps/default/keymap.c
Labels: none

[Keymap] Personal keymap for the E6.5 (#7623)
  keyboards/exclusive/e65/keymaps/madhatter/keymap.c
Labels: none

Relocate RGB keycode processing (#7508)
  common_features.mk
  keyboards/mxss/rules.mk
  quantum/process_keycode/process_rgb.c
  quantum/process_keycode/process_rgb.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/rgb_matrix.h
Labels: core

[Keyboard] Add ymd67 keyboard (#7631)
  keyboards/ymdk/ymd67/config.h
  keyboards/ymdk/ymd67/info.json
  keyboards/ymdk/ymd67/keymaps/default/keymap.c
  keyboards/ymdk/ymd67/keymaps/default/readme.md
  keyboards/ymdk/ymd67/readme.md
  keyboards/ymdk/ymd67/rules.mk
  keyboards/ymdk/ymd67/ymd67.c
  keyboards/ymdk/ymd67/ymd67.h
Labels: none

Disable usb on slave half to resolve random 'lockup' (#7649)
  quantum/split_common/split_util.c
Labels: core

Add backwards compatibility for oled_write_raw_P on ARM
  drivers/oled/oled_driver.h
Labels: core

core: Fix variable init and header include (#7626)
  quantum/keymap_common.c
Labels: core

[Keyboard] Magnavox Videowriter conversion with Pro Micro (#7634)
  keyboards/handwired/videowriter/README.md
  keyboards/handwired/videowriter/config.h
  keyboards/handwired/videowriter/info.json
  keyboards/handwired/videowriter/keymaps/default/keymap.c
  keyboards/handwired/videowriter/keymaps/default/readme.md
  keyboards/handwired/videowriter/keymaps/oleg/config.h
  keyboards/handwired/videowriter/keymaps/oleg/keymap.c
  keyboards/handwired/videowriter/keymaps/oleg/rules.mk
  keyboards/handwired/videowriter/rules.mk
  keyboards/handwired/videowriter/videowriter.c
  keyboards/handwired/videowriter/videowriter.h
Labels: none

[Keymap] Hvp baseline19 (#7690)
  keyboards/atreus62/keymaps/hvp/config.h
  keyboards/atreus62/keymaps/hvp/keymap.c
  keyboards/atreus62/keymaps/hvp/readme.md
  keyboards/atreus62/keymaps/hvp/rules.mk
  keyboards/crkbd/keymaps/hvp/keymap.c
  keyboards/lets_split/keymaps/hvp/config.h
  keyboards/lets_split/keymaps/hvp/keymap.c
  keyboards/lets_split/keymaps/hvp/readme.md
  keyboards/lets_split/keymaps/hvp/rules.mk
  keyboards/lily58/keymaps/hvp/config.h
  keyboards/lily58/keymaps/hvp/keymap.c
  keyboards/lily58/keymaps/hvp/readme.md
  keyboards/lily58/keymaps/hvp/rules.mk
  keyboards/planck/keymaps/hvp/config.h
  keyboards/planck/keymaps/hvp/keymap.c
  keyboards/planck/keymaps/hvp/readme.md
  keyboards/planck/keymaps/hvp/rules.mk
  keyboards/thevankeyboards/minivan/keymaps/hvp/config.h
  keyboards/thevankeyboards/minivan/keymaps/hvp/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/hvp/readme.md
  keyboards/thevankeyboards/minivan/keymaps/hvp/rules.mk
  keyboards/ut472/keymaps/hvp/config.h
  keyboards/ut472/keymaps/hvp/keymap.c
  users/hvp/hvp.h
  users/hvp/tap_dances.c
  users/hvp/tap_dances.h
Labels: keymap

Add LZ PhysiX PCB (#7668)
  keyboards/hineybush/physix/config.h
  keyboards/hineybush/physix/info.json
  keyboards/hineybush/physix/keymaps/default/keymap.c
  keyboards/hineybush/physix/keymaps/default/readme.md
  keyboards/hineybush/physix/physix.c
  keyboards/hineybush/physix/physix.h
  keyboards/hineybush/physix/readme.md
  keyboards/hineybush/physix/rules.mk
Labels: none

[Keyboard] Aranck handwired keyboard to support community MIT layouts, also minor optimisations done (#7737)
  keyboards/handwired/aranck/aranck.h
  keyboards/handwired/aranck/config.h
  keyboards/handwired/aranck/info.json
  keyboards/handwired/aranck/keymaps/default/config.h
  keyboards/handwired/aranck/keymaps/default/keymap.c
  keyboards/handwired/aranck/keymaps/turkishish/config.h
  keyboards/handwired/aranck/keymaps/turkishish/keymap.c
  keyboards/handwired/aranck/keymaps/turkishish/readme.md
  keyboards/handwired/aranck/readme.md
  keyboards/handwired/aranck/rules.mk
Labels: none

[Keyboard] Kyria Configurator Fixes (#7719)
  keyboards/kyria/info.json
Labels: none

[Keyboard] Ergodox EZ - Re-init ISSI driver on reconnect (#7731)
  keyboards/ergodox_ez/matrix.c
Labels: none

Update Kinesis keymap (#7741)
  keyboards/kinesis/keymaps/xyverz/keymap.c
  keyboards/kinesis/keymaps/xyverz/readme.md
Labels: none

Add creation of new keyboard in child directory (#6018)
  util/new_keyboard.sh
Labels: core

[Keymap] Personal keymap for Let's Split keyboard. (#7702)
  keyboards/lets_split/keymaps/geripgeri/config.h
  keyboards/lets_split/keymaps/geripgeri/keymap.c
  keyboards/lets_split/keymaps/geripgeri/readme.md
  keyboards/lets_split/keymaps/geripgeri/rules.mk
Labels: none

Fix typo in action.c (#7757)
  tmk_core/common/action.c
Labels: core

[Docs] remove docs/ja/newbs_best_practices.md (#7739)
  docs/ja/newbs_best_practices.md
Labels: documentation

Fixed a small typo (#7743)
  docs/newbs_building_firmware.md
Labels: documentation

Added license and readme
  users/curry/LICENSE.md
  users/curry/README.md
Labels: keymap

cleanup
  keyboards/keebio/levinson/keymaps/rossman360/keymap.c
Labels: none

Remove remnants of custom matrix from Skog rules.mk (#7764)
  keyboards/percent/skog/rules.mk
Labels: none

[Keyboard] Updates for Sol 2 (#7746)
  keyboards/rgbkb/sol/keymaps/default/keymap.c
  keyboards/rgbkb/sol/keymaps/default/readme.md
  keyboards/rgbkb/sol/rev2/config.h
  keyboards/rgbkb/sol/rev2/post_rules.mk
  keyboards/rgbkb/sol/rev2/rev2.c
  keyboards/rgbkb/sol/rev2/rules.mk
Labels: none

Removing unnecessary struct definitions
  users/curry/curry.h
Labels: keymap

[Docs] Update Japanese translation (#7693)
  docs/ja/contributing.md
Labels: documentation

[Keyboard] add Just60 keyboard (#7752)
  keyboards/just60/config.h
  keyboards/just60/just60.h
  keyboards/just60/keymaps/default/keymap.c
  keyboards/just60/keymaps/default/readme.md
  keyboards/just60/readme.md
  keyboards/just60/rules.mk
Labels: none

[Keymap] adding tf68 keymap, my first pull request. expecting there's lots of bad practice, sorry (#7763)
  keyboards/keebio/tragicforce68/keymaps/rossman360/keymap.c
  keyboards/keebio/tragicforce68/keymaps/rossman360/readme.md
Labels: none

Clean up ISSI driver includes (#7734)
  drivers/issi/is31fl3218.h
  drivers/issi/is31fl3731-simple.c
  drivers/issi/is31fl3731-simple.h
  drivers/issi/is31fl3731.c
  drivers/issi/is31fl3731.h
  drivers/issi/is31fl3733.c
  drivers/issi/is31fl3733.h
  drivers/issi/is31fl3736.c
  drivers/issi/is31fl3737.c
  drivers/issi/is31fl3737.h
Labels: core

SPI DMA based RGB Underglow for STM32 (#7674)
  docs/ws2812_driver.md
  drivers/arm/ws2812_spi.c
Labels: core, documentation

[Keyboard] Orion Locking Indicator LED Support (#7683)
  keyboards/duck/orion/v3/config.h
  keyboards/duck/orion/v3/keymaps/default/keymap.c
  keyboards/duck/orion/v3/matrix.c
  keyboards/duck/orion/v3/readme.md
  keyboards/duck/orion/v3/v3.c
  keyboards/duck/readme.md
Labels: none

[Keyboard] Change cKeys Washington keyboard to use atmel-dfu bootloader (#7756)
  keyboards/ckeys/washington/rules.mk
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
