Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

Update TMOv2 for new key (#7759)
  keyboards/cannonkeys/an_c/rules.mk
  keyboards/cannonkeys/chimera65/rules.mk
  keyboards/cannonkeys/tmov2/config.h
  keyboards/cannonkeys/tmov2/info.json
  keyboards/cannonkeys/tmov2/keymaps/default/keymap.c
  keyboards/cannonkeys/tmov2/keymaps/via/keymap.c
  keyboards/cannonkeys/tmov2/tmov2.h
Labels: none

[Keyboard] Add Wete (#8229)
  keyboards/wete/chconf.h
  keyboards/wete/config.h
  keyboards/wete/halconf.h
  keyboards/wete/info.json
  keyboards/wete/keymaps/default/keymap.c
  keyboards/wete/keymaps/iso/keymap.c
  keyboards/wete/keymaps/jis/keymap.c
  keyboards/wete/mcuconf.h
  keyboards/wete/readme.md
  keyboards/wete/rules.mk
  keyboards/wete/wete.c
  keyboards/wete/wete.h
Labels: none

Hineybush h87a lock indicators (#8237)
  keyboards/hineybush/h87a/h87a.c
  keyboards/hineybush/h87a/keymaps/default/keymap.c
  keyboards/hineybush/h87a/keymaps/via/keymap.c
  keyboards/hineybush/h87a/keymaps/wkl/keymap.c
Labels: none

Rollback PR #7967 in preference of fixing I2C start/stop properly, in a followup PR. (#8173)
  drivers/arm/i2c_master.c
Labels: core

Fixed OS detection such that OSX doesn't take over the world (#8248)
  lib/python/qmk/cli/doctor.py
Labels: cli, python

Added custom keymap for preonic (#7548)
  keyboards/preonic/keymaps/elisiano/config.h
  keyboards/preonic/keymaps/elisiano/keymap.c
  keyboards/preonic/keymaps/elisiano/readme.md
  keyboards/preonic/keymaps/elisiano/rules.mk
Labels: none

Change the image photo of /keyboards/reviung41/readme.md (#8195)
  keyboards/reviung41/readme.md
Labels: none

Add Turkish keymap aliases and sendstring LUT (#7676)
  quantum/keymap_extras/keymap_turkish_f.h
  quantum/keymap_extras/keymap_turkish_q.h
  quantum/keymap_extras/sendstring_turkish_f.h
  quantum/keymap_extras/sendstring_turkish_q.h
Labels: core

format code according to conventions [skip ci]
  drivers/qwiic/micro_oled.c
Labels: core

Move Grave/Tilde and some lesser used keys on my ergo boards (#8200)
  keyboards/crkbd/keymaps/bcat/keymap.c
  keyboards/crkbd/keymaps/bcat/readme.md
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/readme.md
Labels: none

[Keyboard] Add zfrontier/big_switch (#8205)
  keyboards/zfrontier/big_switch/big_switch.c
  keyboards/zfrontier/big_switch/big_switch.h
  keyboards/zfrontier/big_switch/config.h
  keyboards/zfrontier/big_switch/keymaps/default/keymap.c
  keyboards/zfrontier/big_switch/keymaps/default/readme.md
  keyboards/zfrontier/big_switch/keymaps/longtap/keymap.c
  keyboards/zfrontier/big_switch/keymaps/longtap/readme.md
  keyboards/zfrontier/big_switch/keymaps/longtap/rules.mk
  keyboards/zfrontier/big_switch/readme.md
  keyboards/zfrontier/big_switch/rules.mk
Labels: none

format code according to conventions [skip ci]
  tmk_core/common/action_tapping.c
Labels: core

VIA Support: KBD75 rev1/rev2 (#8214)
  keyboards/kbdfans/kbd75/config.h
  keyboards/kbdfans/kbd75/keymaps/via/keymap.c
  keyboards/kbdfans/kbd75/keymaps/via/rules.mk
  keyboards/kbdfans/kbd75/rev1/config.h
  keyboards/kbdfans/kbd75/rev2/config.h
Labels: none

Hub16 - Bug removal + clean up code (#8227)
  keyboards/hub16/keymaps/default/keymap.c
  keyboards/hub16/keymaps/no_mod/keymap.c
Labels: none

Centromere Configurator layout support and readme update (#8190)
  keyboards/centromere/info.json
  keyboards/centromere/readme.md
Labels: none

Allow 30us matrix delay to be keyboard/user overridable (#8216)
  docs/config_options.md
  quantum/matrix.c
  quantum/matrix_common.c
  quantum/split_common/matrix.c
  tmk_core/common/matrix.h
Labels: core, documentation

S75 Encoder Fixes (#7758)
  keyboards/cannonkeys/satisfaction75/config.h
Labels: none

Add VIA support for Prime_L (#8233)
  keyboards/primekb/prime_l/config.h
  keyboards/primekb/prime_l/keymaps/via/keymap.c
  keyboards/primekb/prime_l/keymaps/via/readme.md
  keyboards/primekb/prime_l/keymaps/via/rules.mk
  keyboards/primekb/prime_l/readme.md
  keyboards/primekb/prime_l/v1/config.h
  keyboards/primekb/prime_l/v2/config.h
Labels: none

Add Arm Teensys to mcu_selection.mk (#8026)
  keyboards/ergodox_infinity/rules.mk
  keyboards/handwired/onekey/teensy_32/rules.mk
  keyboards/handwired/onekey/teensy_lc/rules.mk
  keyboards/infinity60/rules.mk
  keyboards/k_type/rules.mk
  keyboards/whitefox/rules.mk
  quantum/mcu_selection.mk
Labels: core

A proper `send_string()` for the Unicode feature (#8155)
  docs/feature_unicode.md
  quantum/process_keycode/process_unicode_common.c
  quantum/process_keycode/process_unicode_common.h
Labels: core, documentation

Use pathlib everywhere we can (#7872)
  lib/python/milc.py
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/flash.py
  lib/python/qmk/cli/json/keymap.py
  lib/python/qmk/cli/list/keyboards.py
  lib/python/qmk/cli/new/keymap.py
  lib/python/qmk/commands.py
  lib/python/qmk/constants.py
  lib/python/qmk/keymap.py
  lib/python/qmk/path.py
  lib/python/qmk/tests/test_qmk_path.py
Labels: cli, python

Made windows driver installation accept y as All to allow CI (#8189)
  util/win_shared_install.sh
Labels: core

[keyboard] Austin (#8176)
  keyboards/acheron/austin/austin.c
  keyboards/acheron/austin/austin.h
  keyboards/acheron/austin/chconf.h
  keyboards/acheron/austin/config.h
  keyboards/acheron/austin/halconf.h
  keyboards/acheron/austin/info.json
  keyboards/acheron/austin/keymaps/default/keymap.c
  keyboards/acheron/austin/keymaps/via/keymap.c
  keyboards/acheron/austin/keymaps/via/rules.mk
  keyboards/acheron/austin/mcuconf.h
  keyboards/acheron/austin/readme.md
  keyboards/acheron/austin/rules.mk
Labels: none

Add VIA support for kbd8x mk2 (#8168)
  keyboards/kbdfans/kbd8x_mk2/keymaps/via/keymap.c
  keyboards/kbdfans/kbd8x_mk2/keymaps/via/readme.md
  keyboards/kbdfans/kbd8x_mk2/keymaps/via/rules.mk
Labels: none

[Keyboard] ai03 Equinox (#8224)
  keyboards/ai03/equinox/config.h
  keyboards/ai03/equinox/equinox.c
  keyboards/ai03/equinox/equinox.h
  keyboards/ai03/equinox/info.json
  keyboards/ai03/equinox/keymaps/default/keymap.c
  keyboards/ai03/equinox/keymaps/default/readme.md
  keyboards/ai03/equinox/keymaps/proto_via/config.h
  keyboards/ai03/equinox/keymaps/proto_via/keymap.c
  keyboards/ai03/equinox/keymaps/proto_via/readme.md
  keyboards/ai03/equinox/keymaps/proto_via/rules.mk
  keyboards/ai03/equinox/keymaps/via/keymap.c
  keyboards/ai03/equinox/keymaps/via/readme.md
  keyboards/ai03/equinox/keymaps/via/rules.mk
  keyboards/ai03/equinox/readme.md
  keyboards/ai03/equinox/rules.mk
Labels: none

Gingham Update (#8225)
  keyboards/gingham/config.h
  keyboards/gingham/matrix.c
  keyboards/gingham/rules.mk
Labels: none

Improvements to extrakey HID descriptors (#8156)
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/arm_atsam/usb/udi_device_conf.h
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.c
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/vusb/vusb.c
Labels: core

uart.c fix from TMK (#7628)
  tmk_core/common/uart.c
Labels: core

New functionality for cformat (#7893)
  docs/cli.md
  lib/python/qmk/cli/cformat.py
  lib/python/qmk/path.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python, documentation

Add Danish keymap and sendstring LUT (#8218)
  quantum/keymap_extras/keymap_danish.h
  quantum/keymap_extras/sendstring_danish.h
Labels: core

dynamic keymap sanity check (#8181)
  quantum/dynamic_keymap.c
Labels: core

Allow for ChibiOS 20.x (master), as well as enabling ChibiOS-Contrib HAL. (#8272)
  drivers/boards/ld/MK20DX256.ld
  keyboards/handwired/bluepill/ld/MKL26Z64.ld
  keyboards/handwired/onekey/teensy_lc/rules.mk
  tmk_core/chibios.mk
  util/chibios-upgrader.sh
Labels: core

Update Hungarian keymap and add sendstring LUT (#8220)
  quantum/keymap_extras/keymap_hungarian.h
  quantum/keymap_extras/sendstring_hungarian.h
Labels: core

Update Breaking Changes checklist
  docs/breaking_changes.md
Labels: documentation

PWM DMA based RGB Underglow for STM32 (#7928)
  docs/ws2812_driver.md
  drivers/arm/ws2812_pwm.c
Labels: core, documentation

[Docs] Update ISP Flashing guide (#8149)
  docs/isp_flashing_guide.md
Labels: documentation

Fix recent clang-format breaking quantum.c (#8282)
  quantum/quantum.c
Labels: core

Remove "ugly hack in usb_main.c" comments (#8296)
  keyboards/at_at/660m/config.h
  keyboards/cannonkeys/an_c/config.h
  keyboards/cannonkeys/chimera65/config.h
  keyboards/cannonkeys/instant60/config.h
  keyboards/cannonkeys/iron165/config.h
  keyboards/cannonkeys/ortho48/config.h
  keyboards/cannonkeys/ortho60/config.h
  keyboards/cannonkeys/ortho75/config.h
  keyboards/cannonkeys/practice60/config.h
  keyboards/cannonkeys/practice65/config.h
  keyboards/cannonkeys/satisfaction75/config.h
  keyboards/cannonkeys/savage65/config.h
  keyboards/cannonkeys/tmov2/config.h
  keyboards/handwired/bluepill/bluepill70/config.h
  keyboards/handwired/ck4x4/config.h
  keyboards/hid_liber/config.h
  keyboards/jm60/config.h
  keyboards/k_type/config.h
  keyboards/projectkb/alice/config.h
  keyboards/wete/config.h
  keyboards/xiaomi/mk02/config.h
Labels: none

Use nano specs (#8270)
  tmk_core/chibios.mk
Labels: core

Reduce PROGMEM usage for sendstring LUT (#8109)
  quantum/keymap_extras/sendstring_belgian.h
  quantum/keymap_extras/sendstring_bepo.h
  quantum/keymap_extras/sendstring_danish.h
  quantum/keymap_extras/sendstring_french.h
  quantum/keymap_extras/sendstring_german.h
  quantum/keymap_extras/sendstring_jis.h
  quantum/keymap_extras/sendstring_spanish.h
  quantum/keymap_extras/sendstring_turkish_f.h
  quantum/keymap_extras/sendstring_turkish_q.h
  quantum/keymap_extras/sendstring_uk.h
  quantum/quantum.c
  quantum/quantum.h
Labels: core
