Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

Initial support for ATtiny85 (#8632)
  quantum/config_common.h
  quantum/mcu_selection.mk
  tmk_core/common/avr/bootloader.c
  tmk_core/common/avr/timer.c
Labels: core

[Keymap] sigul Planck layout updates (#8649)
  keyboards/planck/keymaps/sigul/keymap.c
  keyboards/planck/keymaps/sigul/readme.md
  users/sigul/sigul.h
Labels: keymap

[Docs] Update Japanese translation of faq related documents (#8521)
  docs/ja/faq.md
  docs/ja/faq_general.md
  docs/ja/faq_keymap.md
Labels: documentation

[Keymap] Sigul planck (#8546)
  keyboards/planck/keymaps/sigul/config.h
  keyboards/planck/keymaps/sigul/keymap.c
  keyboards/planck/keymaps/sigul/readme.md
  keyboards/planck/keymaps/sigul/rules.mk
  users/sigul/.gitignore
  users/sigul/README.md
  users/sigul/config.h
  users/sigul/rules.mk
  users/sigul/sigul.c
  users/sigul/sigul.h
Labels: keymap

[Docs] Update Japanese translation of i2c_driver.md (#8523)
  docs/ja/i2c_driver.md
Labels: documentation

Add Slovak keymap and sendstring LUT (#8561)
  quantum/keymap_extras/keymap_slovak.h
  quantum/keymap_extras/sendstring_slovak.h
Labels: core

Update C coding conventions to match .clang-format config for i… (#8717)
  docs/coding_conventions_c.md
Labels: documentation

Added Caps Lock LED handler to wilba.tech PCBs (#8660)
  keyboards/wilba_tech/wt60_d/wt60_d.c
  keyboards/wilba_tech/wt69_a/wt69_a.c
Labels: none

Add keyboard TGR-910 (#8683)
  keyboards/tgr/910/910.c
  keyboards/tgr/910/910.h
  keyboards/tgr/910/config.h
  keyboards/tgr/910/info.json
  keyboards/tgr/910/keymaps/default/keymap.c
  keyboards/tgr/910/readme.md
  keyboards/tgr/910/rules.mk
Labels: none

Fixes #8541 by getting version from -dumpversion then --version as fallback
  lib/python/qmk/cli/doctor.py
Labels: cli, python

Add Greek keymap (#8636)
  quantum/keymap_extras/keymap_greek.h
Labels: core

Refactor cannonkeys f103 boards to use core backlight (#8089)
  keyboards/cannonkeys/bluepill/keyboard.c
  keyboards/cannonkeys/bluepill/led.c
  keyboards/cannonkeys/bluepill/led_custom.h
  keyboards/cannonkeys/ortho48/config.h
  keyboards/cannonkeys/ortho48/rules.mk
  keyboards/cannonkeys/ortho60/config.h
  keyboards/cannonkeys/ortho60/rules.mk
  keyboards/cannonkeys/ortho75/config.h
  keyboards/cannonkeys/ortho75/rules.mk
  keyboards/cannonkeys/practice60/config.h
  keyboards/cannonkeys/practice60/rules.mk
  keyboards/cannonkeys/practice65/config.h
  keyboards/cannonkeys/practice65/rules.mk
Labels: none

DennyTom's buttery_engine (#8138)
  keyboards/butterstick/keymaps/dennytom/README.md
  keyboards/butterstick/keymaps/dennytom/keymap.c
  keyboards/butterstick/keymaps/dennytom/keymap_def.json
  keyboards/butterstick/keymaps/dennytom/rules.mk
  keyboards/georgi/keymaps/dennytom/README.md
  keyboards/georgi/keymaps/dennytom/keymap.c
  keyboards/georgi/keymaps/dennytom/keymap_def.json
  keyboards/georgi/keymaps/dennytom/rules.mk
  users/dennytom/chording_engine/README.md
  users/dennytom/chording_engine/chord.py
  users/dennytom/chording_engine/engine.part.1
  users/dennytom/chording_engine/engine.part.2
  users/dennytom/chording_engine/engine.part.3
  users/dennytom/chording_engine/keymap_def.schema.json
  users/dennytom/chording_engine/parser.py
  users/dennytom/chording_engine/state_machine.dot
  users/dennytom/chording_engine/state_machine.svg
  users/dennytom/chording_engine/tests/minunit.h
  users/dennytom/chording_engine/tests/test.c
  users/dennytom/chording_engine/tests/test_full.sh
  users/dennytom/chording_engine/tests/test_keymap_def.json
  users/dennytom/chording_engine/tests/test_quick.sh
Labels: keymap, python

updated rules.mk and default keymap of Wonderland for VIA support (#8668)
  keyboards/maartenwut/wonderland/config.h
  keyboards/maartenwut/wonderland/keymaps/via/keymap.c
  keyboards/maartenwut/wonderland/keymaps/via/rules.mk
  keyboards/maartenwut/wonderland/rules.mk
Labels: none

Discipline - Add ISO compatibility, rawHID enable, via layout (#8627)
  keyboards/coseyfannitutti/discipline/config.h
  keyboards/coseyfannitutti/discipline/discipline.h
  keyboards/coseyfannitutti/discipline/info.json
  keyboards/coseyfannitutti/discipline/keymaps/67_ansi/keymap.c
  keyboards/coseyfannitutti/discipline/keymaps/coseyfannitutti/keymap.c
  keyboards/coseyfannitutti/discipline/keymaps/iso/keymap.c
  keyboards/coseyfannitutti/discipline/keymaps/via/keymap.c
  keyboards/coseyfannitutti/discipline/keymaps/via/rules.mk
  keyboards/coseyfannitutti/discipline/keymaps/wkl_ansi_2_right_mods/keymap.c
  keyboards/coseyfannitutti/discipline/keymaps/wkl_ansi_3_right_mods/keymap.c
  keyboards/coseyfannitutti/discipline/rules.mk
Labels: none

jotix layouts (#8644)
  layouts/community/ortho_4x12/jotix/keymap.c
  layouts/community/ortho_4x4/jotix/keymap.c
  layouts/community/ortho_4x4/jotix/readme.md
Labels: keymap

[Keyboard] Lattice60 (#8603)
  keyboards/lattice60/config.h
  keyboards/lattice60/info.json
  keyboards/lattice60/keymaps/default/config.h
  keyboards/lattice60/keymaps/default/keymap.c
  keyboards/lattice60/keymaps/default/readme.md
  keyboards/lattice60/keymaps/default_hhkb/config.h
  keyboards/lattice60/keymaps/default_hhkb/keymap.c
  keyboards/lattice60/keymaps/default_hhkb/readme.md
  keyboards/lattice60/keymaps/emdarcher/config.h
  keyboards/lattice60/keymaps/emdarcher/keymap.c
  keyboards/lattice60/keymaps/emdarcher/readme.md
  keyboards/lattice60/lattice60.c
  keyboards/lattice60/lattice60.h
  keyboards/lattice60/readme.md
  keyboards/lattice60/rules.mk
Labels: none

V-USB: Remove some stuff from usbconfig.h that should not be configurable (#8656)
  tmk_core/protocol/vusb/usbconfig.h
  tmk_core/protocol/vusb/vusb.c
  tmk_core/protocol/vusb/vusb.h
Labels: core

Switch to ANSI layout
  quantum/keymap_extras/keymap_russian.h
Labels: core

[Keyboard] Add 60_hhkb layout to hhkb (#8618)
  keyboards/hhkb/hhkb.h
  keyboards/hhkb/rules.mk
Labels: none

Doctor: Add avrdude/dfu-util/dfu-programmer version printing (#8678)
  lib/python/qmk/cli/doctor.py
Labels: cli, python

fix for split-common (#8703)
  keyboards/fortitude60/keymaps/default/config.h
  keyboards/fortitude60/rev1/config.h
Labels: none

Add Polish keymap (#8637)
  quantum/keymap_extras/keymap_polish.h
  quantum/keymap_extras/keymap_slovak.h
Labels: core

[Keyboard] Add ReverseStudio-DecadePad (#8553)
  keyboards/reversestudio/decadepad/config.h
  keyboards/reversestudio/decadepad/decadepad.c
  keyboards/reversestudio/decadepad/decadepad.h
  keyboards/reversestudio/decadepad/info.json
  keyboards/reversestudio/decadepad/keymaps/default/keymap.c
  keyboards/reversestudio/decadepad/keymaps/via/keymap.c
  keyboards/reversestudio/decadepad/keymaps/via/rules.mk
  keyboards/reversestudio/decadepad/readme.md
  keyboards/reversestudio/decadepad/rules.mk
Labels: none

Remove keyboard level ws2812 spi drivers (#7694)
  keyboards/cannonkeys/an_c/config.h
  keyboards/cannonkeys/an_c/rules.mk
  keyboards/cannonkeys/bluepill/keyboard.c
  keyboards/cannonkeys/bluepill/ws2812.h
  keyboards/cannonkeys/instant60/config.h
  keyboards/cannonkeys/instant60/rules.mk
  keyboards/cannonkeys/ortho48/config.h
  keyboards/cannonkeys/ortho48/rules.mk
  keyboards/cannonkeys/ortho60/config.h
  keyboards/cannonkeys/ortho60/rules.mk
  keyboards/cannonkeys/ortho75/config.h
  keyboards/cannonkeys/ortho75/rules.mk
  keyboards/cannonkeys/practice60/config.h
  keyboards/cannonkeys/practice60/rules.mk
  keyboards/cannonkeys/practice65/config.h
  keyboards/cannonkeys/practice65/rules.mk
  keyboards/cannonkeys/savage65/config.h
  keyboards/cannonkeys/savage65/rules.mk
  keyboards/cannonkeys/stm32f072/keyboard.c
  keyboards/cannonkeys/stm32f072/ws2812.h
  keyboards/cannonkeys/tmov2/config.h
  keyboards/cannonkeys/tmov2/rules.mk
  keyboards/projectkb/alice/config.h
  keyboards/projectkb/alice/rules.mk
Labels: none

add 60_tsangan_hhkb layout to GH60 rev. C (#8617)
  keyboards/gh60/revc/revc.h
  keyboards/gh60/revc/rules.mk
Labels: none

Enable memcore to fix malloc/rand crashes (#8695)
  keyboards/acheron/austin/chconf.h
  keyboards/acheron/keebspcb/chconf.h
  keyboards/at_at/660m/chconf.h
  keyboards/candybar/chconf.h
  keyboards/cannonkeys/an_c/chconf.h
  keyboards/cannonkeys/chimera65/chconf.h
  keyboards/cannonkeys/instant60/chconf.h
  keyboards/cannonkeys/iron165/chconf.h
  keyboards/cannonkeys/satisfaction75/chconf.h
  keyboards/cannonkeys/savage65/chconf.h
  keyboards/cannonkeys/tmov2/chconf.h
  keyboards/cheshire/curiosity/chconf.h
  keyboards/handwired/ck4x4/chconf.h
  keyboards/handwired/onekey/stm32f0_disco/chconf.h
  keyboards/projectkb/alice/chconf.h
  keyboards/retro_75/chconf.h
  keyboards/wete/chconf.h
  keyboards/xiaomi/mk02/chconf.h
Labels: none

[Keyboard] Add bat43 Keyboard (#8648)
  keyboards/bat43/bat43.c
  keyboards/bat43/bat43.h
  keyboards/bat43/config.h
  keyboards/bat43/keymaps/default/keymap.c
  keyboards/bat43/keymaps/default/readme.md
  keyboards/bat43/readme.md
  keyboards/bat43/rules.mk
Labels: none

spi_master for AVR (#8299)
  docs/_summary.md
  docs/de/_summary.md
  docs/es/_summary.md
  docs/fr-fr/_summary.md
  docs/he-il/_summary.md
  docs/ja/_summary.md
  docs/pt-br/_summary.md
  docs/ru-ru/_summary.md
  docs/spi_driver.md
  docs/zh-cn/_summary.md
  drivers/avr/spi_master.c
  drivers/avr/spi_master.h
  tmk_core/protocol/lufa.mk
  tmk_core/protocol/lufa/adafruit_ble.cpp
Labels: core, documentation

format code according to conventions [skip ci]
  tmk_core/protocol/vusb/vusb.h
Labels: core

Correctly handle json keymaps with ANY()
  lib/python/qmk/keymap.py
Labels: cli, python

Configurable VIA layout options default value (#8707)
  quantum/via.c
  quantum/via.h
Labels: core

Use version_arg in ESSENTIAL_BINARIES dict
  lib/python/qmk/cli/doctor.py
Labels: cli, python

Add Russian keymap
  quantum/keymap_extras/keymap_russian.h
Labels: core

Add Korean keymap (#8635)
  quantum/keymap_extras/keymap_korean.h
Labels: core

add via support for kira80 (#8677)
  keyboards/kira80/config.h
  keyboards/kira80/keymaps/via/keymap.c
  keyboards/kira80/keymaps/via/readme.md
  keyboards/kira80/keymaps/via/rules.mk
Labels: none

minor tweaks
  lib/python/qmk/cli/doctor.py
Labels: cli, python

[Keyboard] Add Orbit-X Keyboard (#8605)
  keyboards/ai03/orbit_x/config.h
  keyboards/ai03/orbit_x/info.json
  keyboards/ai03/orbit_x/keymaps/default/keymap.c
  keyboards/ai03/orbit_x/keymaps/default/readme.md
  keyboards/ai03/orbit_x/keymaps/via/keymap.c
  keyboards/ai03/orbit_x/keymaps/via/readme.md
  keyboards/ai03/orbit_x/keymaps/via/rules.mk
  keyboards/ai03/orbit_x/orbit_x.c
  keyboards/ai03/orbit_x/orbit_x.h
  keyboards/ai03/orbit_x/readme.md
  keyboards/ai03/orbit_x/rules.mk
Labels: none

Keymap Update jisplit89 (#8708)
  keyboards/jisplit89/keymaps/default/keymap.c
  keyboards/jisplit89/keymaps/salicylic/keymap.c
Labels: none

V-USB remote wakeup (#7627)
  tmk_core/protocol/vusb/main.c
  tmk_core/protocol/vusb/vusb.c
Labels: core
