Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

Fix boards which were overriding backlight without setting custom (#7970)
  common_features.mk
  keyboards/cannonkeys/ortho48/rules.mk
  keyboards/cannonkeys/ortho60/rules.mk
  keyboards/cannonkeys/ortho75/rules.mk
  keyboards/cannonkeys/practice60/rules.mk
  keyboards/cannonkeys/practice65/rules.mk
  keyboards/clueboard/66_hotswap/gen1/led.c
  keyboards/clueboard/66_hotswap/gen1/matrix.c
  keyboards/clueboard/66_hotswap/gen1/rules.mk
  keyboards/ergodox_infinity/rules.mk
  keyboards/whitefox/rules.mk
Labels: none

Fix cannonkeys f103 boards
  keyboards/cannonkeys/bluepill/keyboard.c
Labels: none

[Keyboard] WhiteFox vanilla layout (#8043)
  keyboards/whitefox/info.json
  keyboards/whitefox/whitefox.h
Labels: none

Improve VIRTSER performance (#7528)
  tmk_core/protocol/lufa/lufa.c
Labels: core

Remove compilation of i2c for arm split
  common_features.mk
Labels: none

Fix/remove missing package (#7897)
  util/linux_install.sh
Labels: core

[Keyboard] Add Ergosaurus Support (#8013)
  keyboards/ergosaurus/config.h
  keyboards/ergosaurus/ergosaurus.c
  keyboards/ergosaurus/ergosaurus.h
  keyboards/ergosaurus/info.json
  keyboards/ergosaurus/keymaps/default/keymap.c
  keyboards/ergosaurus/keymaps/default/readme.md
  keyboards/ergosaurus/readme.md
  keyboards/ergosaurus/rules.mk
Labels: none

[Keyboard] 1up60hse VIA Support (#7992)
  keyboards/1upkeyboards/1up60hse/config.h
  keyboards/1upkeyboards/1up60hse/keymaps/via/keymap.c
  keyboards/1upkeyboards/1up60hse/keymaps/via/readme.md
  keyboards/1upkeyboards/1up60hse/keymaps/via/rules.mk
Labels: none

Userspace and keymap updates (#8037)
  keyboards/hs60/v2/ansi/keymaps/stanrc85/keymap.c
  keyboards/kingly_keys/romac/keymaps/stanrc85/rules.mk
  layouts/community/60_ansi/stanrc85-ansi/keymap.c
  users/stanrc85/rules.mk
Labels: keymap

[Keymap] update to Danielo515 keymaps (#8004)
  keyboards/ergodox_ez/keymaps/danielo515/config.h
  keyboards/ergodox_ez/keymaps/danielo515/keymap.c
  keyboards/ergodox_ez/keymaps/danielo515/rules.mk
  users/danielo515/combo.c
  users/danielo515/combo.h
  users/danielo515/config.h
  users/danielo515/danielo515.c
  users/danielo515/danielo515.h
  users/danielo515/readme.md
  users/danielo515/rules.mk
  users/danielo515/tap_dance.c
  users/danielo515/tap_dance.h
Labels: keymap

Fix cformat processing files within ignore folders (#8063)
  lib/python/qmk/cli/cformat.py
Labels: cli, python

Remove entries for Minidox eep files from gitignore (#8077)
  .gitignore
Labels: none

format code according to conventions [skip ci]
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/vusb/vusb.c
Labels: core

Xelus Dawn60: layout macro update and Configurator layout support (#8102)
  keyboards/xelus/dawn60/dawn60.h
  keyboards/xelus/dawn60/info.json
  keyboards/xelus/dawn60/keymaps/default/keymap.c
  keyboards/xelus/dawn60/keymaps/via/keymap.c
Labels: none

format code according to conventions [skip ci]
  tmk_core/common/chibios/timer.c
Labels: core

Use function for KEYCODE2 routines instead of macro. (#8101)
  tmk_core/common/report.h
Labels: core

VIA Support: KBD67 mkii v1/v2 (#8085)
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/via/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/via/rules.mk
  keyboards/kbdfans/kbd67/mkiirgb/v1/config.h
  keyboards/kbdfans/kbd67/mkiirgb/v2/config.h
Labels: none

Align ATSAM HID descriptors with LUFA/ChibiOS (#7651)
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.c
Labels: core

Dedupe extrakey report struct, and send functions in V-USB & LUFA (#7993)
  tmk_core/common/report.h
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/chibios/usb_main.h
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/lufa/lufa.h
  tmk_core/protocol/vusb/vusb.c
Labels: core

VIA Support: 1upkeyboards 1up60rgb (#8097)
  keyboards/1upkeyboards/1up60rgb/config.h
  keyboards/1upkeyboards/1up60rgb/keymaps/via/keymap.c
  keyboards/1upkeyboards/1up60rgb/keymaps/via/rules.mk
Labels: none

Add RESET key for default keymap in Satisfaction 75 (#8088)
  keyboards/cannonkeys/satisfaction75/keymaps/default/keymap.c
Labels: none

jj4x4: README update (#7854)
  keyboards/jj4x4/README.md
Labels: none

[Keyboard] Added Atreus Pro Micro variant (#8059)
  keyboards/atreus/atreus.h
  keyboards/atreus/keymaps/ibnuda/config.h
  keyboards/atreus/keymaps/ibnuda/keymap.c
  keyboards/atreus/keymaps/ibnuda/rules.mk
  keyboards/atreus/promicro/config.h
  keyboards/atreus/promicro/promicro.c
  keyboards/atreus/promicro/promicro.h
  keyboards/atreus/promicro/rules.mk
  keyboards/atreus/readme.md
Labels: none

[Keymap] User keymap for AKB/Raine (#8081)
  keyboards/akb/raine/keymaps/mehadviceguy/keymap.c
  keyboards/akb/raine/keymaps/mehadviceguy/readme.md
Labels: none

[Keyboard] add Infinity CE (#8067)
  keyboards/mechlovin/infinityce/config.h
  keyboards/mechlovin/infinityce/infinityce.c
  keyboards/mechlovin/infinityce/infinityce.h
  keyboards/mechlovin/infinityce/info.json
  keyboards/mechlovin/infinityce/keymaps/default/keymap.c
  keyboards/mechlovin/infinityce/keymaps/default/readme.md
  keyboards/mechlovin/infinityce/keymaps/via/keymap.c
  keyboards/mechlovin/infinityce/keymaps/via/readme.md
  keyboards/mechlovin/infinityce/keymaps/via/rules.mk
  keyboards/mechlovin/infinityce/readme.md
  keyboards/mechlovin/infinityce/rules.mk
Labels: none

fixup keymap for 65_ansi_blocker (#8099)
  layouts/community/65_ansi_blocker/mechmerlin/keymap.c
Labels: keymap

[Keyboard] add Hannah910 V2 PCB and VIA support (#8024)
  keyboards/mechlovin/hannah910/config.h
  keyboards/mechlovin/hannah910/hannah910.h
  keyboards/mechlovin/hannah910/keymaps/ansi/config.h
  keyboards/mechlovin/hannah910/keymaps/ansi/readme.md
  keyboards/mechlovin/hannah910/keymaps/default/config.h
  keyboards/mechlovin/hannah910/keymaps/default/readme.md
  keyboards/mechlovin/hannah910/rev1/config.h
  keyboards/mechlovin/hannah910/rev1/info.json
  keyboards/mechlovin/hannah910/rev1/keymaps/ansi/keymap.c
  keyboards/mechlovin/hannah910/rev1/keymaps/ansi/readme.md
  keyboards/mechlovin/hannah910/rev1/keymaps/default/keymap.c
  keyboards/mechlovin/hannah910/rev1/keymaps/default/readme.md
  keyboards/mechlovin/hannah910/rev1/keymaps/via/keymap.c
  keyboards/mechlovin/hannah910/rev1/keymaps/via/readme.md
  keyboards/mechlovin/hannah910/rev1/keymaps/via/rules.mk
  keyboards/mechlovin/hannah910/rev1/readme.md
  keyboards/mechlovin/hannah910/rev1/rev1.h
  keyboards/mechlovin/hannah910/rev1/rules.mk
  keyboards/mechlovin/hannah910/rev2/config.h
  keyboards/mechlovin/hannah910/rev2/info.json
  keyboards/mechlovin/hannah910/rev2/keymaps/ansi/keymap.c
  keyboards/mechlovin/hannah910/rev2/keymaps/ansi/readme.md
  keyboards/mechlovin/hannah910/rev2/keymaps/default/keymap.c
  keyboards/mechlovin/hannah910/rev2/keymaps/default/readme.md
  keyboards/mechlovin/hannah910/rev2/keymaps/via/keymap.c
  keyboards/mechlovin/hannah910/rev2/keymaps/via/readme.md
  keyboards/mechlovin/hannah910/rev2/keymaps/via/rules.mk
  keyboards/mechlovin/hannah910/rev2/readme.md
  keyboards/mechlovin/hannah910/rev2/rev2.h
  keyboards/mechlovin/hannah910/rev2/rules.mk
  keyboards/mechlovin/hannah910/rules.mk
Labels: none

Ninjonas userspace (#8070)
  keyboards/crkbd/keymaps/ninjonas/config.h
  keyboards/kyria/keymaps/ninjonas/config.h
  keyboards/kyria/keymaps/ninjonas/encoder.c
  keyboards/kyria/keymaps/ninjonas/keymap.c
  keyboards/kyria/keymaps/ninjonas/oled.c
  keyboards/kyria/keymaps/ninjonas/rules.mk
  users/ninjonas/README.md
  users/ninjonas/ninjonas.c
  users/ninjonas/ninjonas.h
  users/ninjonas/oled.c
Labels: keymap

ridingqwerty: userspace update (#8076)
  keyboards/atreus/keymaps/ridingqwerty/keymap.c
  keyboards/atreus/keymaps/ridingqwerty/rules.mk
  keyboards/handwired/minorca/keymaps/ridingqwerty/config.h
  keyboards/handwired/minorca/keymaps/ridingqwerty/keymap.c
  keyboards/handwired/minorca/keymaps/ridingqwerty/readme.md
  keyboards/handwired/minorca/keymaps/ridingqwerty/rules.mk
  users/ridingqwerty/config.h
  users/ridingqwerty/dict.h
  users/ridingqwerty/process_records.c
  users/ridingqwerty/process_records.h
  users/ridingqwerty/ridingqwerty.c
  users/ridingqwerty/ridingqwerty.h
  users/ridingqwerty/rules.mk
  users/ridingqwerty/tapdances.c
  users/ridingqwerty/tapdances.h
  users/ridingqwerty/unicode.c
  users/ridingqwerty/unicode.h
  users/ridingqwerty/wrappers.h
Labels: keymap

Fix timer_elapsed() overflow issue for STM32F103 and other ChibiOS boards (#7595)
  tmk_core/common/chibios/timer.c
Labels: core

Ergosaurus Configurator support bugfix (#8104)
  keyboards/ergosaurus/info.json
Labels: none

Add Uni660 Keyboard (#8018)
  keyboards/sirius/uni660/config.h
  keyboards/sirius/uni660/info.json
  keyboards/sirius/uni660/keymaps/default/keymap.c
  keyboards/sirius/uni660/keymaps/via/keymap.c
  keyboards/sirius/uni660/keymaps/via/rules.mk
  keyboards/sirius/uni660/matrix.c
  keyboards/sirius/uni660/readme.md
  keyboards/sirius/uni660/rules.mk
  keyboards/sirius/uni660/uni660.c
  keyboards/sirius/uni660/uni660.h
Labels: none

format code according to conventions [skip ci]
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.c
Labels: core

[keymap(kyria), refactor] created kyria keymap. refactored ninjonas userspace (#8053)
  keyboards/hotdox/keymaps/ninjonas/README.md
  keyboards/hotdox/keymaps/ninjonas/keymap.c
  keyboards/hotdox/keymaps/ninjonas/rules.mk
  keyboards/kyria/keymaps/ninjonas/config.h
  keyboards/kyria/keymaps/ninjonas/keymap.c
  keyboards/kyria/keymaps/ninjonas/rules.mk
  keyboards/lily58/keymaps/ninjonas/keymap.c
  users/ninjonas/README.md
  users/ninjonas/ninjonas.h
  users/ninjonas/oled.c
  users/ninjonas/process_records.c
  users/ninjonas/process_records.h
Labels: keymap

[Keyboard] adding keyboard: tkl30 (#7979)
  keyboards/wsk/tkl30/config.h
  keyboards/wsk/tkl30/info.json
  keyboards/wsk/tkl30/keymaps/default/keymap.c
  keyboards/wsk/tkl30/readme.md
  keyboards/wsk/tkl30/rules.mk
  keyboards/wsk/tkl30/tkl30.c
  keyboards/wsk/tkl30/tkl30.h
Labels: none

[keyboard] adding keyboard: jerkin (#7975)
  keyboards/wsk/jerkin/config.h
  keyboards/wsk/jerkin/info.json
  keyboards/wsk/jerkin/jerkin.c
  keyboards/wsk/jerkin/jerkin.h
  keyboards/wsk/jerkin/keymaps/default/keymap.c
  keyboards/wsk/jerkin/readme.md
  keyboards/wsk/jerkin/rules.mk
Labels: none

Committing fix to info.json for wsk/jerkin (#8110)
  keyboards/wsk/jerkin/info.json
Labels: none

[Keyboard] LFKPad refactor (#8079)
  keyboards/lfkeyboards/lfkpad/config.h
  keyboards/lfkeyboards/lfkpad/info.json
  keyboards/lfkeyboards/lfkpad/keymaps/default/config.h
  keyboards/lfkeyboards/lfkpad/keymaps/default/keymap.c
  keyboards/lfkeyboards/lfkpad/keymaps/default/readme.md
  keyboards/lfkeyboards/lfkpad/lfkpad.c
  keyboards/lfkeyboards/lfkpad/lfkpad.h
  keyboards/lfkeyboards/lfkpad/readme.md
  keyboards/lfkeyboards/lfkpad/rules.mk
Labels: none

Merlin's userspace updates (#8074)
  layouts/community/60_ansi/mechmerlin-ansi/keymap.c
  layouts/community/60_ansi/mechmerlin-ansi/readme.md
  layouts/community/60_ansi_split_bs_rshift/mechmerlin-split/keymap.c
  layouts/community/60_ansi_split_bs_rshift/mechmerlin-split/readme.md
  layouts/community/65_ansi/mechmerlin/keymap.c
  layouts/community/65_ansi/mechmerlin/readme.md
  layouts/community/65_ansi_blocker/mechmerlin/keymap.c
  layouts/community/65_ansi_blocker/mechmerlin/readme.md
  layouts/community/66_ansi/mechmerlin/keymap.c
  layouts/community/66_ansi/mechmerlin/readme.md
  layouts/community/68_ansi/mechmerlin/keymap.c
  layouts/community/75_ansi/mechmerlin-75_ansi/keymap.c
  layouts/community/75_ansi/mechmerlin-75_ansi/readme.md
  users/mechmerlin/changelog.md
  users/mechmerlin/config.h
  users/mechmerlin/mechmerlin.c
  users/mechmerlin/mechmerlin.h
  users/mechmerlin/readme.md
  users/mechmerlin/rules.mk
Labels: keymap

[Keyboard] Add a new keyboard Chidori. (#7496)
  keyboards/chidori/board.c
  keyboards/chidori/board.h
  keyboards/chidori/chidori.c
  keyboards/chidori/chidori.h
  keyboards/chidori/config.h
  keyboards/chidori/info.json
  keyboards/chidori/keymaps/default/config.h
  keyboards/chidori/keymaps/default/keymap.c
  keyboards/chidori/keymaps/default/readme.md
  keyboards/chidori/keymaps/extended/config.h
  keyboards/chidori/keymaps/extended/keymap.c
  keyboards/chidori/keymaps/extended/readme.md
  keyboards/chidori/matrix.c
  keyboards/chidori/readme.md
  keyboards/chidori/rules.mk
  keyboards/chidori/usbconfig.h
Labels: none
