Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

[Docs] Japanese translation of docs/feature_grave_esc.md (#8873)
  docs/ja/feature_grave_esc.md
Labels: documentation

QMK-ify some GPIO macros (#8315)
  drivers/avr/apa102.c
  drivers/avr/ssd1306.h
  keyboards/40percentclub/nano/keymaps/drashna/keymap.c
  keyboards/claw44/ssd1306.h
  keyboards/comet46/ssd1306.h
  keyboards/converter/palm_usb/matrix.c
  keyboards/crkbd/ssd1306.h
  keyboards/helix/local_drivers/ssd1306.h
  keyboards/lily58/ssd1306.h
  keyboards/yosino58/ssd1306.h
  quantum/pincontrol.h
  users/mtdjr/solenoid.h
Labels: core, keymap

Update keyboards/7skb/rev1/config.h
  keyboards/7skb/rev1/config.h
Labels: none

[Keymap] Add personal layout: dz60:mpstewart (#8938)
  keyboards/dz60/keymaps/mpstewart/config.h
  keyboards/dz60/keymaps/mpstewart/keymap.c
  keyboards/dz60/keymaps/mpstewart/rules.mk
Labels: none

Add SPI master for ChibiOS/ARM. (#8779)
  docs/spi_driver.md
  drivers/chibios/spi_master.c
  drivers/chibios/spi_master.h
  quantum/stm32/halconf.h
  quantum/stm32/mcuconf.h
Labels: core, documentation

format code according to conventions [skip ci]
  quantum/rgblight.c
Labels: core

Remove Bluefruit protocol (#9008)
  doxygen-todo
  tmk_core/protocol/bluefruit.mk
  tmk_core/protocol/bluefruit/bluefruit.c
  tmk_core/protocol/bluefruit/bluefruit.h
  tmk_core/protocol/bluefruit/main.c
Labels: core

[Docs] Japanese translation of docs/feature_haptic_feedback.md (#8874)
  docs/ja/feature_haptic_feedback.md
Labels: documentation

[Docs] Japanese translation of docs/feature_key_lock.md (#8948)
  docs/ja/feature_key_lock.md
Labels: documentation

[Keymap] Minor keymap update to layouts/community/ortho_4x12/junonum/ (#9021)
  layouts/community/ortho_4x12/junonum/keymap.c
  layouts/community/ortho_4x12/junonum/readme.md
Labels: keymap

Add Via Keymap to Blackplum (#8975)
  keyboards/blackplum/config.h
  keyboards/blackplum/keymaps/via/keymap.c
  keyboards/blackplum/keymaps/via/rules.mk
Labels: none

Changed the VID/PID for Helix keyboards (#8989)
  keyboards/helix/pico/config.h
  keyboards/helix/rev1/config.h
  keyboards/helix/rev2/config.h
Labels: none

Add redirect for old getting started links (#8987)
  docs/index.html
Labels: documentation

[Keymap] Xyverz Kinesis keymap update (#9018)
  keyboards/atreus/keymaps/xyverz/config.h
  keyboards/kinesis/keymaps/xyverz/keymap.c
  keyboards/kinesis/keymaps/xyverz/readme.md
Labels: none

format code according to conventions [skip ci]
  tmk_core/protocol/chibios/usb_main.c
Labels: core

Audio_Enable, AVR template update (#8901)
  quantum/template/avr/rules.mk
Labels: core

jj28 (jj40 SuperMicro) update (#8885)
  keyboards/jj40/keymaps/stevexyz/config.h
  keyboards/jj40/keymaps/stevexyz/keyboard-layout-editor-raw-data.txt
  keyboards/jj40/keymaps/stevexyz/keymap.c
  keyboards/jj40/keymaps/stevexyz/readme.md
  keyboards/jj40/keymaps/stevexyz/rules.mk
Labels: none

[Keyboard] Mechlovin Pisces (#8943)
  keyboards/mechlovin/pisces/config.h
  keyboards/mechlovin/pisces/info.json
  keyboards/mechlovin/pisces/keymaps/default/keymap.c
  keyboards/mechlovin/pisces/keymaps/default/readme.md
  keyboards/mechlovin/pisces/keymaps/via/keymap.c
  keyboards/mechlovin/pisces/keymaps/via/readme.md
  keyboards/mechlovin/pisces/keymaps/via/rules.mk
  keyboards/mechlovin/pisces/pisces.c
  keyboards/mechlovin/pisces/pisces.h
  keyboards/mechlovin/pisces/readme.md
  keyboards/mechlovin/pisces/rules.mk
Labels: none

Add some usages needed for ChromeOS hosts (#8996)
  tmk_core/common/report.h
Labels: core

[Keyboard] Add QUAD-H LB75 keyboard (#8607)
  keyboards/quad_h/lb75/config.h
  keyboards/quad_h/lb75/info.json
  keyboards/quad_h/lb75/keymaps/continuous_fnrow/keymap.c
  keyboards/quad_h/lb75/keymaps/continuous_fnrow/readme.md
  keyboards/quad_h/lb75/keymaps/default/keymap.c
  keyboards/quad_h/lb75/keymaps/default/readme.md
  keyboards/quad_h/lb75/keymaps/divided_fnrow/keymap.c
  keyboards/quad_h/lb75/keymaps/divided_fnrow/readme.md
  keyboards/quad_h/lb75/keymaps/via/keymap.c
  keyboards/quad_h/lb75/keymaps/via/readme.md
  keyboards/quad_h/lb75/keymaps/via/rules.mk
  keyboards/quad_h/lb75/lb75.c
  keyboards/quad_h/lb75/lb75.h
  keyboards/quad_h/lb75/readme.md
  keyboards/quad_h/lb75/rules.mk
Labels: none

Revert "Fix conflicting types for 'tfp_printf' (#8269)"
  .gitmodules
  Makefile
  tmk_core/common.mk
  tmk_core/common/chibios/printf.c
  tmk_core/common/chibios/printf.h
  tmk_core/common/print.h
  tmk_core/protocol/chibios/main.c
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/chibios/usb_main.h
Labels: core

[Keymap] Custom preonic layout optimised for programming (#8263)
  keyboards/preonic/keymaps/AlexDaigre/config.h
  keyboards/preonic/keymaps/AlexDaigre/keyboard-layout-editor/adjust.json
  keyboards/preonic/keymaps/AlexDaigre/keyboard-layout-editor/lower.json
  keyboards/preonic/keymaps/AlexDaigre/keyboard-layout-editor/main.json
  keyboards/preonic/keymaps/AlexDaigre/keyboard-layout-editor/raise.json
  keyboards/preonic/keymaps/AlexDaigre/keymap.c
  keyboards/preonic/keymaps/AlexDaigre/readme.md
  keyboards/preonic/keymaps/AlexDaigre/rules.mk
Labels: none

edit to default funky40 keymap (#9014)
  keyboards/funky40/keymaps/default/keymap.c
Labels: none

Disable console and command on TGR 910CE (#9011)
  keyboards/tgr/910ce/rules.mk
Labels: none

Add Elongate PCB support (#8419)
  keyboards/acheron/elongate/config.h
  keyboards/acheron/elongate/elongate.c
  keyboards/acheron/elongate/elongate.h
  keyboards/acheron/elongate/info.json
  keyboards/acheron/elongate/keymaps/default/keymap.c
  keyboards/acheron/elongate/keymaps/default/readme.md
  keyboards/acheron/elongate/keymaps/via/config.h
  keyboards/acheron/elongate/keymaps/via/keymap.c
  keyboards/acheron/elongate/keymaps/via/rules.mk
  keyboards/acheron/elongate/readme.md
  keyboards/acheron/elongate/rules.mk
Labels: none

[Keyboard] Add keyboard firmware treadstone32lite (#8720)
  keyboards/treadstone32/keymaps/default/keymap.c
  keyboards/treadstone32/keymaps/default/rules.mk
  keyboards/treadstone32/keymaps/like_jis/config.h
  keyboards/treadstone32/keymaps/like_jis/keymap.c
  keyboards/treadstone32/keymaps/like_jis/rules.mk
  keyboards/treadstone32/lite/config.h
  keyboards/treadstone32/lite/lite.c
  keyboards/treadstone32/lite/lite.h
  keyboards/treadstone32/lite/rules.mk
  keyboards/treadstone32/readme.md
  keyboards/treadstone32/rev1/config.h
  keyboards/treadstone32/rev1/rev1.c
  keyboards/treadstone32/rev1/rev1.h
  keyboards/treadstone32/rules.mk
Labels: none

Fix conflicting types for 'tfp_printf' (#8269)
  .gitmodules
  Makefile
  tmk_core/common.mk
  tmk_core/common/chibios/printf.c
  tmk_core/common/chibios/printf.h
  tmk_core/common/print.h
  tmk_core/protocol/chibios/main.c
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/chibios/usb_main.h
Labels: core

[Keyboard] Fix Romeo ANSI Split Matrix (#9002)
  keyboards/coseyfannitutti/romeo/romeo.h
Labels: none

Initial vusb console support (#8559)
  tmk_core/common.mk
  tmk_core/common/sendchar_null.c
  tmk_core/protocol/ibm4704.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/vusb.mk
  tmk_core/protocol/vusb/main.c
  tmk_core/protocol/vusb/vusb.c
  tmk_core/protocol/vusb/vusb.h
  tmk_core/ring_buffer.h
Labels: core

[Documentation] Added raw hid documentation page (#7640)
  docs/_summary.md
  docs/feature_rawhid.md
Labels: documentation

Remove old_keymap_files directory from planck (#8917)
  keyboards/planck/old_keymap_files/common_keymaps/keymap_brett.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_dotcom.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_jack.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_joe.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_matthew.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_nathan.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_paul.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_peasant.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_reed.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_sean.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_shane.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_simon.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_tim.c
  keyboards/planck/old_keymap_files/common_keymaps/keymap_wilba.c
  keyboards/planck/old_keymap_files/keymap_common.c
  keyboards/planck/old_keymap_files/keymap_common.h
Labels: none

format code according to conventions [skip ci]
  keyboards/tgr/910/keymaps/via/rules.mk
Labels: none

Add xd002 support (#8598)
  keyboards/xd002/config.h
  keyboards/xd002/info.json
  keyboards/xd002/keymaps/default/keymap.c
  keyboards/xd002/keymaps/rgb/keymap.c
  keyboards/xd002/keymaps/rgb/rules.mk
  keyboards/xd002/keymaps/rgb_lite/keymap.c
  keyboards/xd002/keymaps/rgb_lite/rgblite.h
  keyboards/xd002/keymaps/rgb_lite/rules.mk
  keyboards/xd002/keymaps/tap_dance/config.h
  keyboards/xd002/keymaps/tap_dance/keymap.c
  keyboards/xd002/keymaps/tap_dance/rules.mk
  keyboards/xd002/keymaps/volume/keymap.c
  keyboards/xd002/keymaps/volume/rules.mk
  keyboards/xd002/readme.md
  keyboards/xd002/rules.mk
  keyboards/xd002/xd002.c
  keyboards/xd002/xd002.h
Labels: none

Provide a mechanism for split keyboards to process key press on both halves (#9001)
  tmk_core/common/keyboard.c
Labels: core

Xulkal Changes (#9004)
  keyboards/helix/rev2/keymaps/xulkal/config.h
  keyboards/helix/rev2/keymaps/xulkal/keymap.c
  keyboards/rgbkb/sol/keymaps/xulkal/rules.mk
  users/xulkal/config.h
  users/xulkal/layouts.h
  users/xulkal/process_records.c
Labels: keymap

Add TGR-910 VIA support (#8985)
  keyboards/tgr/910/keymaps/via/keymap.c
  keyboards/tgr/910/keymaps/via/rules.mk
  keyboards/tgr/910/readme.md
Labels: none

Update TGR 910 VID/PID (#8988)
  keyboards/tgr/910/config.h
Labels: none

[Keymap] New keymap layout for dztech/dz65rgb/keymaps (#8199)
  keyboards/dztech/dz65rgb/keymaps/drootz/config.h
  keyboards/dztech/dz65rgb/keymaps/drootz/keymap.c
  keyboards/dztech/dz65rgb/keymaps/drootz/readme.md
  keyboards/dztech/dz65rgb/keymaps/drootz/rules.mk
Labels: none

Formatting (#8981)
  keyboards/xd75/keymaps/buzzlighter1/readme.md
Labels: none

Fix inconsistent MATRIX_COLS: basekeys/slice (#9022)
  keyboards/basekeys/slice/rev1/config.h
  keyboards/basekeys/slice/rev1_rgb/config.h
Labels: none
