Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

switching to you know whats up mode (#7921)
  common_features.mk
  quantum/process_keycode/process_steno.c
  quantum/process_keycode/process_steno.h
Labels: core

[Keyboard] Support for a Southpaw Keyboard KVT (#7892)
  keyboards/kv/revt/config.h
  keyboards/kv/revt/keymaps/default/keymap.c
  keyboards/kv/revt/keymaps/default/readme.md
  keyboards/kv/revt/readme.md
  keyboards/kv/revt/revt.c
  keyboards/kv/revt/revt.h
  keyboards/kv/revt/rules.mk
Labels: none

Implement and document TAPPING_FORCE_HOLD_PER_KEY (#7859)
  docs/config_options.md
  docs/feature_advanced_keycodes.md
  tmk_core/common/action_tapping.c
Labels: core, documentation

move caps because it can be triggered accidentally by sequences such as '("' (#7923)
  keyboards/planck/keymaps/callum/keymap.c
Labels: none

[Keyboard] Fix the order of underglow LEDs on ergodash/rev1 (#7791)
  keyboards/ergodash/rev1/config.h
Labels: none

Configuration values for starting HSV and speed (#7740)
  docs/feature_rgb_matrix.md
  quantum/rgb_matrix.c
Labels: core, documentation

[Keymap] Added mverteuil keymaps and userspace common code (#7876)
  keyboards/knops/mini/keymaps/mverteuil/config.h
  keyboards/knops/mini/keymaps/mverteuil/keymap.c
  keyboards/knops/mini/keymaps/mverteuil/readme.md
  keyboards/knops/mini/keymaps/mverteuil/rules.mk
  keyboards/preonic/keymaps/mverteuil/config.h
  keyboards/preonic/keymaps/mverteuil/keymap.c
  keyboards/preonic/keymaps/mverteuil/readme.md
  keyboards/preonic/keymaps/mverteuil/rules.mk
  keyboards/preonic/keymaps/mverteuil_2x2u/config.h
  keyboards/preonic/keymaps/mverteuil_2x2u/keymap.c
  keyboards/preonic/keymaps/mverteuil_2x2u/rules.mk
  users/mverteuil/.gitignore
  users/mverteuil/mverteuil.c
  users/mverteuil/mverteuil.h
  users/mverteuil/rules.mk
Labels: keymap

Move rgblight and backlight task to common location (#7733)
  quantum/quantum.c
  tmk_core/common/keyboard.c
  tmk_core/protocol/chibios/main.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/vusb/main.c
Labels: core

Cleanup check for PERMISSIVE_HOLD (#7861)
  tmk_core/common/action_tapping.c
Labels: core

[Keyboard] Wasdat matrix cleanup (#7909)
  keyboards/maartenwut/wasdat/matrix.c
  keyboards/maartenwut/wasdat/rules.mk
Labels: none

Initial commit
  keyboards/dz60/keymaps/billiams/README.md
  keyboards/dz60/keymaps/billiams/build_flash.sh
  keyboards/dz60/keymaps/billiams/keymap.c
Labels: none

fixed numbering in readme
  keyboards/dz60/keymaps/billiams/README.md
Labels: none

Made requested changes in PR.
  keyboards/dz60/keymaps/billiams/keymap.c
Labels: none

Update README.md
  keyboards/dz60/keymaps/billiams/README.md
Labels: none

Update README.md
  keyboards/dz60/keymaps/billiams/README.md
Labels: none

Update README.md
  keyboards/dz60/keymaps/billiams/README.md
Labels: none

Modified keymap and updated readme.
  keyboards/dz60/keymaps/billiams/README.md
  keyboards/dz60/keymaps/billiams/build_flash.sh
  keyboards/dz60/keymaps/billiams/keymap.c
Labels: none

Update README.md
  keyboards/dz60/keymaps/billiams/README.md
Labels: none

swapped media control keys
  keyboards/dz60/keymaps/billiams/README.md
  keyboards/dz60/keymaps/billiams/keymap.c
Labels: none

Update README.md
  keyboards/dz60/keymaps/billiams/README.md
Labels: none

Update README.md
  keyboards/dz60/keymaps/billiams/README.md
Labels: none

Updated readme
  keyboards/dz60/keymaps/billiams/readme.md
Labels: none

[Keyboard] Add mx5160 keyboard (#7142)
  keyboards/maartenwut/mx5160/config.h
  keyboards/maartenwut/mx5160/info.json
  keyboards/maartenwut/mx5160/keymaps/default/keymap.c
  keyboards/maartenwut/mx5160/keymaps/default/readme.md
  keyboards/maartenwut/mx5160/mx5160.c
  keyboards/maartenwut/mx5160/mx5160.h
  keyboards/maartenwut/mx5160/readme.md
  keyboards/maartenwut/mx5160/rules.mk
Labels: none

Fix commandline arg merging, small improvements
  lib/python/milc.py
Labels: cli, python

remove unnecessary code from keymap
  keyboards/gray_studio/space65/keymaps/billiams/keymap.c
Labels: none

Add VIA support for QMK backlight, QMK RGBLight (#7911)
  keyboards/cannonkeys/an_c/config.h
  keyboards/cannonkeys/instant60/config.h
  keyboards/cannonkeys/iron165/config.h
  keyboards/cannonkeys/satisfaction75/config.h
  keyboards/cannonkeys/satisfaction75/led_custom.h
  keyboards/cannonkeys/satisfaction75/satisfaction75.c
  keyboards/cannonkeys/savage65/config.h
  keyboards/cannonkeys/stm32f072/keyboard.c
  keyboards/cannonkeys/stm32f072/led_custom.h
  keyboards/cannonkeys/tmov2/config.h
  keyboards/hs60/v2/config.h
  keyboards/nk65/config.h
  keyboards/projectkb/alice/config.h
  keyboards/wilba_tech/rama_works_koyu/config.h
  keyboards/wilba_tech/rama_works_m60_a/config.h
  keyboards/wilba_tech/rama_works_m6_a/config.h
  keyboards/wilba_tech/rama_works_m6_b/config.h
  keyboards/wilba_tech/rama_works_u80_a/config.h
  keyboards/wilba_tech/wt60_a/config.h
  keyboards/wilba_tech/wt65_a/config.h
  keyboards/wilba_tech/wt65_b/config.h
  keyboards/wilba_tech/wt75_a/config.h
  keyboards/wilba_tech/wt75_b/config.h
  keyboards/wilba_tech/wt75_c/config.h
  keyboards/wilba_tech/wt80_a/config.h
  keyboards/wilba_tech/wt_main.c
  keyboards/wilba_tech/wt_mono_backlight.c
  keyboards/wilba_tech/wt_rgb_backlight.c
  keyboards/wilba_tech/zeal60/config.h
  keyboards/wilba_tech/zeal65/config.h
  keyboards/xelus/dawn60/config.h
  quantum/backlight/backlight.c
  quantum/backlight/backlight.h
  quantum/rgblight.c
  quantum/rgblight.h
  quantum/via.c
  quantum/via.h
Labels: core

Update keyboards/gray_studio/space65/keymaps/billiams/readme.md
  keyboards/gray_studio/space65/keymaps/billiams/readme.md
Labels: none

Fix attribute heritance for long commands.
  lib/python/milc.py
Labels: cli, python

updated right alt key to apply shift key for emacs
  keyboards/dz60/keymaps/billiams/keymap.c
  keyboards/dz60/keymaps/billiams/readme.md
Labels: none

update flash script per pull request review
  keyboards/dz60/keymaps/billiams_layout2/build_flash.sh
  keyboards/dz60/keymaps/billiams_layout4/build_flash.sh
Labels: none

Update keyboards/gray_studio/space65/keymaps/billiams/readme.md
  keyboards/gray_studio/space65/keymaps/billiams/readme.md
Labels: none

Run clang-format manually to fix recently changed files (#7934)
  drivers/issi/is31fl3733.c
  quantum/color.c
  quantum/dynamic_keymap.c
  quantum/encoder.c
  quantum/process_keycode/process_rgb.c
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes.h
  quantum/rgb_matrix.c
  quantum/rgblight.c
  quantum/via.c
  quantum/via.h
  tmk_core/common/action.c
Labels: core

add layout 2 and rename existing folder to layout 4
  keyboards/dz60/keymaps/billiams_layout2/build_flash.sh
  keyboards/dz60/keymaps/billiams_layout2/config.h
  keyboards/dz60/keymaps/billiams_layout2/keymap.c
  keyboards/dz60/keymaps/billiams_layout2/readme.md
  keyboards/dz60/keymaps/billiams_layout4/build_flash.sh
  keyboards/dz60/keymaps/billiams_layout4/config.h
  keyboards/dz60/keymaps/billiams_layout4/keymap.c
  keyboards/dz60/keymaps/billiams_layout4/readme.md
Labels: none

Update keyboards/gray_studio/space65/keymaps/billiams/readme.md
  keyboards/gray_studio/space65/keymaps/billiams/readme.md
Labels: none

[Keyboard] Rebound keyboard add (#7886)
  keyboards/montsinger/rebound/config.h
  keyboards/montsinger/rebound/keymaps/default/keymap.c
  keyboards/montsinger/rebound/readme.md
  keyboards/montsinger/rebound/rebound.c
  keyboards/montsinger/rebound/rebound.h
  keyboards/montsinger/rebound/rules.mk
Labels: none

Remove tmk_core gitignore and gitmodules
  tmk_core/.gitignore
  tmk_core/.gitmodules
Labels: core

[Docs] Misc cleanups for OLED documentation (#7864)
  docs/feature_oled_driver.md
Labels: documentation

Update keyboards/gray_studio/space65/keymaps/billiams/keymap.c
  keyboards/gray_studio/space65/keymaps/billiams/keymap.c
Labels: none

MILC: Fix/complete attribute heritance
  lib/python/milc.py
Labels: cli, python

[Keyboard] Addition Eagle II keyboard (#7927)
  keyboards/handwired/eagleii/config.h
  keyboards/handwired/eagleii/eagleii.c
  keyboards/handwired/eagleii/eagleii.h
  keyboards/handwired/eagleii/info.json
  keyboards/handwired/eagleii/keymaps/default/keymap.c
  keyboards/handwired/eagleii/readme.md
  keyboards/handwired/eagleii/rules.mk
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
