Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

[Core] Add short form LTO_ENABLE (#7259)
  docs/config_options.md
  tmk_core/common.mk
Labels: core, documentation

CI - Fix change detection (#7038)
  .travis.yml
  util/travis_build.sh
  util/travis_compiled_push.sh
  util/travis_docs.sh
  util/travis_push.sh
  util/travis_test.sh
  util/travis_utils.sh
Labels: core

[Keymap] Add keymap for user jerryhcooke (#7251)
  keyboards/keebio/iris/keymaps/jerryhcooke/config.h
  keyboards/keebio/iris/keymaps/jerryhcooke/keymap.c
  keyboards/keebio/iris/keymaps/jerryhcooke/readme.md
  keyboards/keebio/iris/keymaps/jerryhcooke/rules.mk
Labels: none

[Docs] Add Spanish translation for hardware documentation (#7161)
  docs/es/hardware.md
  docs/es/hardware_avr.md
  docs/es/hardware_drivers.md
  docs/es/hardware_keyboard_guidelines.md
Labels: documentation

[Keyboard] Reduce compiled size of Panc60 keyboard (#7260)
  keyboards/panc60/rules.mk
Labels: none

Convert some PS2AVRGB boards to I2C WS2812 driver (#7241)
  keyboards/ares/ares.c
  keyboards/ares/rules.mk
  keyboards/donutcables/budget96/budget96.c
  keyboards/donutcables/budget96/rules.mk
  keyboards/eve/meteor/meteor.c
  keyboards/eve/meteor/rules.mk
  keyboards/exclusive/e6v2/le_bmc/le_bmc.c
  keyboards/exclusive/e6v2/le_bmc/rules.mk
  keyboards/exclusive/e6v2/oe_bmc/oe_bmc.c
  keyboards/exclusive/e6v2/oe_bmc/rules.mk
  keyboards/exent/exent.c
  keyboards/exent/rules.mk
  keyboards/facew/facew.c
  keyboards/facew/rules.mk
  keyboards/ft/mars80/mars80.c
  keyboards/ft/mars80/rules.mk
  keyboards/gray_studio/hb85/hb85.c
  keyboards/gray_studio/hb85/rules.mk
  keyboards/jj4x4/jj4x4.c
  keyboards/jj4x4/rules.mk
  keyboards/kbdfans/kbdpad/mk1/mk1.c
  keyboards/kbdfans/kbdpad/mk1/rules.mk
  keyboards/panc60/panc60.c
  keyboards/panc60/rules.mk
  keyboards/pearl/pearl.c
  keyboards/pearl/rules.mk
  keyboards/percent/skog_lite/rules.mk
  keyboards/percent/skog_lite/skog_lite.c
  keyboards/singa/rules.mk
  keyboards/singa/singa.c
  keyboards/tgr/alice/alice.c
  keyboards/tgr/alice/rules.mk
  keyboards/tgr/jane/jane.c
  keyboards/tgr/jane/rules.mk
  keyboards/unikorn/readme.md
  keyboards/unikorn/rules.mk
  keyboards/unikorn/unikorn.c
  keyboards/winkeyless/bface/bface.c
  keyboards/winkeyless/bface/bface.h
  keyboards/winkeyless/bface/rules.mk
Labels: none

[Docs] Spanish translation (#7068)
  docs/_langs.md
  docs/es/README.md
  docs/es/_summary.md
  docs/es/becoming_a_qmk_collaborator.md
  docs/es/newbs.md
  docs/es/newbs_best_practices.md
  docs/es/newbs_building_firmware.md
  docs/es/newbs_building_firmware_configurator.md
  docs/es/newbs_flashing.md
  docs/es/newbs_getting_started.md
  docs/es/newbs_learn_more_resources.md
  docs/es/newbs_testing_debugging.md
  docs/index.html
Labels: documentation

[Keyboard] Owlet60 keymap removal, matrix.c and owlet60.h fix (#7235)
  keyboards/handwired/owlet60/keymaps/irham/config.h
  keyboards/handwired/owlet60/keymaps/irham/keymap.c
  keyboards/handwired/owlet60/keymaps/irham/readme.md
  keyboards/handwired/owlet60/matrix.c
  keyboards/handwired/owlet60/owlet60.h
Labels: none

Initial migration of software PWM backlight (#6709)
  common_features.mk
  docs/feature_backlight.md
  quantum/backlight/backlight_avr.c
  quantum/backlight/backlight_soft.c
  quantum/quantum.c
  quantum/quantum.h
Labels: core, documentation

Fix "could not find module" error message formatting (#7219)
  bin/qmk
Labels: cli

[Keyboard] Added slash keyboard (#7042)
  keyboards/handwired/slash/config.h
  keyboards/handwired/slash/info.json
  keyboards/handwired/slash/keymaps/default/config.h
  keyboards/handwired/slash/keymaps/default/keymap.c
  keyboards/handwired/slash/keymaps/default/readme.md
  keyboards/handwired/slash/readme.md
  keyboards/handwired/slash/rules.mk
  keyboards/handwired/slash/slash.c
  keyboards/handwired/slash/slash.h
Labels: none

Template updates (#7221)
  quantum/template/avr/keyboard.c
  quantum/template/avr/readme.md
  quantum/template/avr/rules.mk
  quantum/template/base/info.json
  quantum/template/base/keyboard.c
  quantum/template/base/keyboard.h
  quantum/template/base/keymaps/default/keymap.c
  quantum/template/ps2avrgb/readme.md
  quantum/template/ps2avrgb/rules.mk
  util/new_keyboard.sh
Labels: core

Use task driven PWM for CTPC until ARM can provide automatic configuration (#6928)
  docs/proton_c_conversion.md
  quantum/stm32/proton_c.mk
Labels: core, documentation

[Keyboard] HBCP info.json typo fix (#7228)
  keyboards/hineybush/hbcp/info.json
Labels: none

Support RGBLIGHT_SLEEP when ChibiOS boards suspend (#7280)
  tmk_core/common/chibios/suspend.c
Labels: core

[Keyboard] Update COD67 support to complete it and add a personal map (#7291)
  keyboards/gray_studio/cod67/cod67.h
  keyboards/gray_studio/cod67/config.h
  keyboards/gray_studio/cod67/keymaps/default/keymap.c
  keyboards/gray_studio/cod67/keymaps/default/readme.md
  keyboards/gray_studio/cod67/keymaps/rys/keymap.c
  keyboards/gray_studio/cod67/keymaps/rys/readme.md
  keyboards/gray_studio/cod67/readme.md
  keyboards/gray_studio/cod67/rules.mk
Labels: none

[Keymap] Shino3/shiro Add Mac Keymaps (#7319)
  keyboards/shiro/keymaps/default_mac/config.h
  keyboards/shiro/keymaps/default_mac/keymap.c
  keyboards/shiro/keymaps/default_mac/readme.md
Labels: none

[Keyboard] add Little Keyboards as a seller of helix pcbs outside of japan (#7249)
  keyboards/helix/readme.md
Labels: none

[Keymap] Remove dynamic macro customization now it's a core feature. (#7301)
  keyboards/model01/keymaps/dshields/keymap.c
  keyboards/planck/keymaps/dshields/keymap.c
  users/dshields/config.h
  users/dshields/dshields.c
  users/dshields/dshields.h
  users/dshields/rules.mk
Labels: keymap

Adding verd layout to RSII (#7296)
  keyboards/redscarf_iiplus/verd/config.h
  keyboards/redscarf_iiplus/verd/info.json
  keyboards/redscarf_iiplus/verd/keymaps/alittlepeace/keymap.c
  keyboards/redscarf_iiplus/verd/keymaps/default/keymap.c
  keyboards/redscarf_iiplus/verd/keymaps/default/readme.md
  keyboards/redscarf_iiplus/verd/matrix.c
  keyboards/redscarf_iiplus/verd/readme.md
  keyboards/redscarf_iiplus/verd/rules.mk
  keyboards/redscarf_iiplus/verd/verd.c
  keyboards/redscarf_iiplus/verd/verd.h
Labels: none

[CI] Revert to previous logic for branch name and changes (#7343)
  util/travis_utils.sh
Labels: core

format code according to conventions [skip ci]
  lib/python/kle2xy.py
  lib/python/qmk/cli/kle2json.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

[Keymap] Added macro (#7331)
  keyboards/atreus62/keymaps/xyverz/keymap.c
Labels: none

[Keyboard] Added French layer to handwired/2x5keypad (#7313)
  keyboards/handwired/2x5keypad/config.h
  keyboards/handwired/2x5keypad/keymaps/default/keymap.c
  keyboards/handwired/2x5keypad/rules.mk
Labels: none

[Keyboard] Enable RGB Light on ARM OLKB Keyboards (#7293)
  keyboards/planck/rev6/config.h
  keyboards/planck/rev6/rules.mk
  keyboards/preonic/rev3/config.h
  keyboards/preonic/rev3/rules.mk
Labels: none

Remove force of debug on within rgblight - causes lockups waiting for hid_listen (#7330)
  quantum/rgblight.c
Labels: core

[Keyboard] Add new keyboard Symmetry60 (#7327)
  keyboards/handwired/symmetry60/config.h
  keyboards/handwired/symmetry60/info.json
  keyboards/handwired/symmetry60/keymaps/default/config.h
  keyboards/handwired/symmetry60/keymaps/default/keymap.c
  keyboards/handwired/symmetry60/keymaps/default/readme.md
  keyboards/handwired/symmetry60/readme.md
  keyboards/handwired/symmetry60/rules.mk
  keyboards/handwired/symmetry60/symmetry60.c
  keyboards/handwired/symmetry60/symmetry60.h
Labels: none

[Keymap] Added Xulkal ALT Keymap (#7332)
  keyboards/massdrop/alt/keymaps/xulkal/config.h
  keyboards/massdrop/alt/keymaps/xulkal/keymap.c
  keyboards/massdrop/alt/keymaps/xulkal/rules.mk
  users/xulkal/custom_rgb.h
Labels: keymap

[Keymap] Tw1t611 (#7282)
  keyboards/redox/keymaps/tw1t611/config.h
  keyboards/redox/keymaps/tw1t611/keymap.c
  keyboards/redox/keymaps/tw1t611/readme.md
Labels: none

Japanese translation of newbs.md and related documents. (#7300)
  docs/_langs.md
  docs/index.html
  docs/ja/newbs.md
  docs/ja/newbs_best_practices.md
  docs/ja/newbs_building_firmware.md
  docs/ja/newbs_building_firmware_configurator.md
  docs/ja/newbs_flashing.md
  docs/ja/newbs_getting_started.md
  docs/ja/newbs_learn_more_resources.md
  docs/ja/newbs_testing_debugging.md
Labels: documentation

[Keymap] Adding keymaps for Niu Mini and BDN9 (#7299)
  keyboards/keebio/bdn9/config.h
  keyboards/keebio/bdn9/keymaps/codecoffeecode/config.h
  keyboards/keebio/bdn9/keymaps/codecoffeecode/keymap.c
  keyboards/keebio/bdn9/keymaps/codecoffeecode/rules.mk
  keyboards/keebio/bdn9/rules.mk
  keyboards/niu_mini/keymaps/codecoffeecode/keymap.c
  keyboards/niu_mini/keymaps/codecoffeecode/readme.md
Labels: none

[Keyboard] Fix readme make examples for some Kingly Keys boards (#7308)
  keyboards/kingly_keys/romac/readme.md
  keyboards/kingly_keys/romac_plus/readme.md
  keyboards/kingly_keys/ropro/readme.md
Labels: none

[Docs] Create RU ver of getting_started_github (#7225)
  docs/ru-ru/getting_started_github.md
Labels: documentation

Initial firmware for Retro75 (#7294)
  keyboards/retro_75/chconf.h
  keyboards/retro_75/config.h
  keyboards/retro_75/halconf.h
  keyboards/retro_75/info.json
  keyboards/retro_75/keymaps/default/keymap.c
  keyboards/retro_75/keymaps/split_backspace/keymap.c
  keyboards/retro_75/mcuconf.h
  keyboards/retro_75/readme.md
  keyboards/retro_75/retro_75.c
  keyboards/retro_75/retro_75.h
  keyboards/retro_75/rules.mk
Labels: none

Fix LAYER_STATE_8BIT compile issues (#7304)
  tmk_core/common/action_layer.c
  tmk_core/common/action_layer.h
  tmk_core/common/eeconfig.c
Labels: core

Unify RGB and RGBW commands (#7297)
  docs/config_options.md
  drivers/arm/ws2812.c
  drivers/arm/ws2812.h
  drivers/avr/ws2812.c
  drivers/avr/ws2812.h
  drivers/avr/ws2812_i2c.c
  quantum/rgb_matrix_drivers.c
  quantum/rgblight.c
Labels: core, documentation

Add cli convert subcommand, from raw KLE to JSON (#6898)
  docs/cli.md
  lib/python/kle2xy.py
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/kle2json.py
  lib/python/qmk/converter.py
  lib/python/qmk/tests/kle.txt
  lib/python/qmk/tests/test_cli_commands.py
  requirements.txt
Labels: cli, python, documentation

[Keyboard] Add keyboard Setta21 (#7320)
  keyboards/setta21/config.h
  keyboards/setta21/info.json
  keyboards/setta21/keymaps/default/config.h
  keyboards/setta21/keymaps/default/keymap.c
  keyboards/setta21/keymaps/default/readme.md
  keyboards/setta21/keymaps/salicylic/config.h
  keyboards/setta21/keymaps/salicylic/keymap.c
  keyboards/setta21/keymaps/salicylic/readme.md
  keyboards/setta21/keymaps/salicylic/rules.mk
  keyboards/setta21/readme.md
  keyboards/setta21/rev1/config.h
  keyboards/setta21/rev1/rev1.c
  keyboards/setta21/rev1/rev1.h
  keyboards/setta21/rev1/rules.mk
  keyboards/setta21/rules.mk
  keyboards/setta21/setta21.c
  keyboards/setta21/setta21.h
Labels: none

Make generating keymap.c from JSON more reliable
  build_json.mk
  lib/python/qmk/cli/json/keymap.py
Labels: cli, python

Small CLI cleanups
  lib/python/qmk/cli/config.py
  lib/python/qmk/cli/list/keyboards.py
  lib/python/qmk/errors.py
  lib/python/qmk/tests/attrdict.py
  lib/python/qmk/tests/test_cli_commands.py
  lib/python/qmk/tests/test_qmk_path.py
Labels: cli, python
