Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

[Keyboard] Add Tartan keyboard (#7917)
  keyboards/tartan/config.h
  keyboards/tartan/info.json
  keyboards/tartan/keymaps/default/keymap.c
  keyboards/tartan/keymaps/default/readme.md
  keyboards/tartan/readme.md
  keyboards/tartan/rules.mk
  keyboards/tartan/tartan.c
  keyboards/tartan/tartan.h
  keyboards/tartan/usbconfig.h
Labels: none

curry layout (#7943)
  keyboards/montsinger/rebound/keymaps/curry/keymap.c
  keyboards/montsinger/rebound/keymaps/curry/rules.mk
Labels: none

format code according to conventions [skip ci]
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core

Fix unknown key 'IndentPPDirectives' on CI (#7933)
  .travis.yml
  util/travis_compiled_push.sh
Labels: core

updated keys and cleaned up readme
  keyboards/gray_studio/space65/keymaps/billiams/keymap.c
  keyboards/gray_studio/space65/keymaps/billiams/readme.md
Labels: none

Update keyboards/gray_studio/space65/keymaps/billiams/readme.md
  keyboards/gray_studio/space65/keymaps/billiams/readme.md
Labels: none

Remove all references to "CUSTOM_MATRIX" as a diode direction (#7937)
  keyboards/40percentclub/nano/config.h
  keyboards/abstract/ellipse/rev1/config.h
  keyboards/ai03/orbit/config.h
  keyboards/boardwalk/config.h
  keyboards/ckeys/thedora/config.h
  keyboards/converter/palm_usb/config.h
  keyboards/converter/sun_usb/config.h
  keyboards/converter/usb_usb/config.h
  keyboards/coseyfannitutti/mullet/config.h
  keyboards/coseyfannitutti/mulletpad/config.h
  keyboards/dozen0/config.h
  keyboards/ep/comsn/hs68/config.h
  keyboards/ep/comsn/mollydooker/config.h
  keyboards/fluorite/config.h
  keyboards/halberd/config.h
  keyboards/handwired/42/config.h
  keyboards/handwired/co60/rev1/config.h
  keyboards/handwired/co60/rev6/config.h
  keyboards/handwired/co60/rev7/config.h
  keyboards/handwired/daishi/config.h
  keyboards/handwired/steamvan/rev1/config.h
  keyboards/handwired/tennie/config.h
  keyboards/hecomi/alpha/config.h
  keyboards/kagamidget/config.h
  keyboards/peiorisboards/ixora/config.h
  keyboards/primekb/prime_e/config.h
  keyboards/scythe/config.h
  keyboards/sirius/unigo66/config.h
  keyboards/snampad/config.h
  keyboards/standaside/config.h
  keyboards/treadstone32/config.h
  keyboards/westfoxtrot/cypher/config.h
  quantum/config_common.h
Labels: core

updated R_Alt to remove shift
  keyboards/dz60/keymaps/billiams/keymap.c
  keyboards/dz60/keymaps/billiams/readme.md
Labels: none

Added keymap profile to space65
  keyboards/gray_studio/space65/keymaps/billiams/config.h
  keyboards/gray_studio/space65/keymaps/billiams/keymap.c
  keyboards/gray_studio/space65/keymaps/billiams/readme.md
Labels: none

Rename README.md to readme.md
  keyboards/dz60/keymaps/billiams/README.md
  keyboards/dz60/keymaps/billiams/readme.md
Labels: none

Swap two columns to fix Skog Lite (#7940)
  keyboards/percent/skog_lite/config.h
  keyboards/percent/skog_lite/keymaps/binman/keymap.c
  keyboards/percent/skog_lite/keymaps/binman/readme.md
Labels: none

Clueboard Rev4 Updates aka Volcano 660 (#7942)
  keyboards/clueboard/66/rev4/config.h
  keyboards/clueboard/66/rev4/rev4.c
  keyboards/clueboard/66/rev4/rules.mk
Labels: none

[Keyboard] Daisy refactor (#7985)
  keyboards/daisy/config.h
  keyboards/daisy/daisy.c
  keyboards/daisy/daisy.h
  keyboards/daisy/info.json
  keyboards/daisy/keymaps/default/keymap.c
  keyboards/daisy/keymaps/default/readme.md
  keyboards/daisy/readme.md
  keyboards/daisy/rules.mk
Labels: none

[Keyboard] Adds ogre ergo split (#8011)
  keyboards/ogre/ergo_split/config.h
  keyboards/ogre/ergo_split/ergo_split.c
  keyboards/ogre/ergo_split/ergo_split.h
  keyboards/ogre/ergo_split/keymaps/default/keymap.c
  keyboards/ogre/ergo_split/keymaps/default/readme.md
  keyboards/ogre/ergo_split/readme.md
  keyboards/ogre/ergo_split/rules.mk
Labels: none

suggestions by skullydazed
  docs/breaking_changes_instructions.md
Labels: documentation

[Keymap] adding personal rebound keymap (#7956)
  keyboards/montsinger/rebound/keymaps/rossman360/keymap.c
  users/rossman360/rossman360.h
Labels: keymap

Fix unaligned access with LTO (#7801)
  tmk_core/protocol/chibios/usb_main.c
Labels: core

Align cformat rules with current CI implementation (#7936)
  lib/python/qmk/cli/cformat.py
Labels: cli, python

[Keyboard] Add keyboard Getta25 (#7497)
  keyboards/getta25/config.h
  keyboards/getta25/getta25.c
  keyboards/getta25/getta25.h
  keyboards/getta25/info.json
  keyboards/getta25/keymaps/default/config.h
  keyboards/getta25/keymaps/default/keymap.c
  keyboards/getta25/keymaps/oled/config.h
  keyboards/getta25/keymaps/oled/glcdfont.c
  keyboards/getta25/keymaps/oled/keymap.c
  keyboards/getta25/readme.md
  keyboards/getta25/rev1/config.h
  keyboards/getta25/rev1/rev1.c
  keyboards/getta25/rev1/rev1.h
  keyboards/getta25/rules.mk
Labels: none

Add VIA support to MxSS, plus minor tweaks (#7809)
  keyboards/mxss/config.h
  keyboards/mxss/keymaps/default/keymap.c
  keyboards/mxss/keymaps/via/config.h
  keyboards/mxss/keymaps/via/keymap.c
  keyboards/mxss/keymaps/via/rules.mk
  keyboards/mxss/mxss.c
  keyboards/mxss/mxss.h
  keyboards/mxss/mxss_frontled.c
  keyboards/mxss/mxss_frontled.h
  keyboards/mxss/readme.md
  keyboards/mxss/rgblight.c
  keyboards/mxss/rgblight.h
  keyboards/mxss/rules.mk
  keyboards/mxss/templates/keymap.c
Labels: none

[Keymap] Feature/preonic/rev3/alfrdmalr (#7870)
  keyboards/preonic/keymaps/alfrdmalr/config.h
  keyboards/preonic/keymaps/alfrdmalr/keymap.c
  keyboards/preonic/keymaps/alfrdmalr/readme.md
  keyboards/preonic/keymaps/alfrdmalr/rules.mk
Labels: none

Fix lock LEDs for ChibiOS when using shared endpoints (#7877)
  tmk_core/protocol/chibios/usb_main.c
Labels: core

keymap, fixed rgb effect name and deactivate oled (#7953)
  keyboards/crkbd/keymaps/dsanchezseco/config.h
  keyboards/crkbd/keymaps/dsanchezseco/rules.mk
Labels: none

Add VIA support to TMO50 (#7986)
  keyboards/tmo50/config.h
  keyboards/tmo50/keymaps/via/keymap.c
  keyboards/tmo50/keymaps/via/readme.md
  keyboards/tmo50/keymaps/via/rules.mk
  keyboards/tmo50/rules.mk
Labels: none

change Instructions listing in Docs summary
  docs/_summary.md
Labels: documentation

Revert "Clueboard Rev4 Updates aka Volcano 660 (#7942)"
  keyboards/clueboard/66/rev4/config.h
  keyboards/clueboard/66/rev4/rev4.c
  keyboards/clueboard/66/rev4/rules.mk
Labels: none

Fix LED configuration for PS2AVRGB boards (#7989)
  keyboards/ares/ares.c
  keyboards/ares/config.h
  keyboards/bfake/bfake.c
  keyboards/bfake/config.h
  keyboards/db/db63/config.h
  keyboards/donutcables/budget96/budget96.c
  keyboards/donutcables/budget96/config.h
  keyboards/eve/meteor/meteor.c
  keyboards/exclusive/e6v2/le_bmc/le_bmc.c
  keyboards/exclusive/e6v2/oe_bmc/oe_bmc.c
  keyboards/exent/config.h
  keyboards/exent/exent.c
  keyboards/facew/config.h
  keyboards/facew/facew.c
  keyboards/ft/mars80/config.h
  keyboards/ft/mars80/mars80.c
  keyboards/gray_studio/hb85/config.h
  keyboards/gray_studio/hb85/hb85.c
  keyboards/j80/j80.c
  keyboards/jc65/v32a/v32a.c
  keyboards/kbdfans/kbdpad/mk1/mk1.c
  keyboards/mehkee96/mehkee96.c
  keyboards/panc60/panc60.c
  keyboards/pearl/pearl.c
  keyboards/percent/canoe/canoe.c
  keyboards/percent/skog/skog.c
  keyboards/percent/skog_lite/skog_lite.c
  keyboards/singa/singa.c
  keyboards/tgr/alice/alice.c
  keyboards/tgr/jane/jane.c
  keyboards/unikorn/unikorn.c
  keyboards/winkeyless/bface/bface.c
  keyboards/winkeyless/bmini/bmini.c
  keyboards/winkeyless/bminiex/bminiex.c
  keyboards/ymd75/ymd75.c
  keyboards/ymd96/ymd96.c
  keyboards/ymdk/bface/bface.c
  keyboards/ymdk_np21/ymdk_np21.c
Labels: none

[Keymap] Phoebe keymap improvements (#7963)
  keyboards/maxr1998/phoebe/config.h
  keyboards/maxr1998/phoebe/keymaps/default/keymap.c
  keyboards/maxr1998/phoebe/phoebe.c
Labels: none

Ensure setPinInput actually sets input high-Z (#6237)
  keyboards/40percentclub/mf68/keymaps/emdarcher/keymap.c
  keyboards/atreus62/keymaps/xyverz/keymap.c
  keyboards/atreus62/keymaps/xyverz/readme.md
  keyboards/eco/keymaps/xyverz/keymap.c
  keyboards/gh60/revc/revc.h
  keyboards/gingham/matrix.c
  keyboards/handwired/owlet60/matrix.c
  keyboards/hineybush/h87a/keymaps/wkl/keymap.c
  keyboards/hineybush/h88/h88.c
  keyboards/kbdfans/kbd75/keymaps/tucznak/keymap.c
  keyboards/kmac/matrix.c
  keyboards/minidox/keymaps/xyverz/keymap.c
  keyboards/noxary/268_2/268_2.c
  keyboards/orthodox/keymaps/xyverz/keymap.c
  keyboards/yd60mq/yd60mq.c
  layouts/community/ortho_4x12/xyverz/keymap.c
  layouts/community/ortho_5x12/xyverz/keymap.c
  quantum/config_common.h
  quantum/quantum.h
Labels: core, keymap

[Keyboard] numatreus (#7929)
  keyboards/numatreus/config.h
  keyboards/numatreus/info.json
  keyboards/numatreus/keymaps/default/keymap.c
  keyboards/numatreus/keymaps/hdbx/keymap.c
  keyboards/numatreus/keymaps/hdbx/rules.mk
  keyboards/numatreus/keymaps/like_jis/config.h
  keyboards/numatreus/keymaps/like_jis/keymap.c
  keyboards/numatreus/keymaps/like_jis/rules.mk
  keyboards/numatreus/keymaps/yohewi/keymap.c
  keyboards/numatreus/numatreus.c
  keyboards/numatreus/numatreus.h
  keyboards/numatreus/readme.md
  keyboards/numatreus/rules.mk
Labels: none

Invert Num Lock LED state (#7945)
  keyboards/ymdk_np21/ymdk_np21.c
Labels: none

Add VIA support to DZ60 (#7814)
  keyboards/dz60/config.h
  keyboards/dz60/keymaps/via/keymap.c
  keyboards/dz60/keymaps/via/rules.mk
Labels: none

[Keyboard] HS60 v2 ISO: fix Configurator key ordering (#7958)
  keyboards/hs60/v2/iso/info.json
Labels: none

format code according to conventions [skip ci]
  tmk_core/protocol/chibios/usb_main.c
Labels: core

[Keyboard] Added WT60-B, WT60-BX (wilba.tech THERMAL) (#7948)
  keyboards/wilba_tech/rama_works_koyu/info.json
  keyboards/wilba_tech/rama_works_m60_a/info.json
  keyboards/wilba_tech/rama_works_u80_a/info.json
  keyboards/wilba_tech/wt60_a/info.json
  keyboards/wilba_tech/wt60_b/config.h
  keyboards/wilba_tech/wt60_b/info.json
  keyboards/wilba_tech/wt60_b/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_b/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_b/keymaps/via/rules.mk
  keyboards/wilba_tech/wt60_b/readme.md
  keyboards/wilba_tech/wt60_b/rules.mk
  keyboards/wilba_tech/wt60_b/wt60_b.c
  keyboards/wilba_tech/wt60_b/wt60_b.h
  keyboards/wilba_tech/wt60_bx/config.h
  keyboards/wilba_tech/wt60_bx/info.json
  keyboards/wilba_tech/wt60_bx/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_bx/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_bx/keymaps/via/rules.mk
  keyboards/wilba_tech/wt60_bx/readme.md
  keyboards/wilba_tech/wt60_bx/rules.mk
  keyboards/wilba_tech/wt60_bx/wt60_bx.c
  keyboards/wilba_tech/wt60_bx/wt60_bx.h
  keyboards/wilba_tech/wt60_d/info.json
  keyboards/wilba_tech/wt65_a/info.json
  keyboards/wilba_tech/wt65_b/info.json
  keyboards/wilba_tech/wt69_a/info.json
  keyboards/wilba_tech/wt75_a/info.json
  keyboards/wilba_tech/wt75_b/info.json
  keyboards/wilba_tech/wt80_a/info.json
  keyboards/wilba_tech/wt8_a/info.json
  keyboards/wilba_tech/wt_rgb_backlight.c
  keyboards/wilba_tech/zeal60/info.json
  keyboards/wilba_tech/zeal65/info.json
Labels: none

Add DIODE_DIRECTION to Getta25 (#7951)
  keyboards/getta25/rev1/config.h
Labels: none

Added VIA support to Noxary 280 (#7960)
  keyboards/noxary/280/keymaps/via/keymap.c
  keyboards/noxary/280/keymaps/via/readme.md
  keyboards/noxary/280/keymaps/via/rules.mk
Labels: none

format code according to conventions [skip ci]
  tmk_core/protocol/chibios/usb_main.c
Labels: core

format code according to conventions [skip ci]
  drivers/eeprom/eeprom_transient.h
  tmk_core/common/arm_atsam/eeprom.c
  tmk_core/common/chibios/eeprom_teensy.c
Labels: core

Fix printf buffer overflow when cols>16 (#7998)
  tmk_core/common/chibios/printf.c
Labels: core
