Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

More community layout support for legacy KBD67 PCBs (#8933)
  keyboards/kbdfans/kbd67/hotswap/hotswap.h
  keyboards/kbdfans/kbd67/hotswap/rules.mk
  keyboards/kbdfans/kbd67/rev1/rules.mk
  keyboards/kbdfans/kbd67/rev2/rev2.h
  keyboards/kbdfans/kbd67/rev2/rules.mk
  layouts/community/65_ansi_blocker_split_bs/bcat/keymap.c
  layouts/community/65_ansi_blocker_split_bs/bcat/readme.md
Labels: keymap

V-USB Interface reorder (#9090)
  tmk_core/protocol/vusb/vusb.c
  tmk_core/protocol/vusb/vusb.h
Labels: core

Add one-handed Viterbi layout for gaming (#8963)
  keyboards/keebio/viterbi/keymaps/vosechu/config.h
  keyboards/keebio/viterbi/keymaps/vosechu/keymap.c
  keyboards/keebio/viterbi/keymaps/vosechu/rules.mk
  users/vosechu/vosechu.h
Labels: keymap

Add ability to blink lighting layer for a specified duration (#8760)
  docs/config_options.md
  docs/feature_rgblight.md
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core, documentation

Update Canadian Multilingual keymap and add sendstring LUT (#8786)
  quantum/keymap_extras/keymap_canadian_multilingual.h
  quantum/keymap_extras/sendstring_canadian_multilingual.h
Labels: core

Added defines for RAISE and LOWER (#9083)
  layouts/community/ortho_4x12/xyverz/keymap.c
Labels: keymap

Fix bug in UC_RMOD, add shift and audio support for UC_MOD/UC_RMOD(#8674)
  quantum/process_keycode/process_rgb.c
  quantum/process_keycode/process_unicode_common.c
  quantum/process_keycode/process_unicode_common.h
  quantum/process_keycode/process_unicodemap.c
Labels: core

Add Le Chiffre keyboard (#8995)
  keyboards/le_chiffre/config.h
  keyboards/le_chiffre/info.json
  keyboards/le_chiffre/keymaps/default/keymap.c
  keyboards/le_chiffre/keymaps/default/readme.md
  keyboards/le_chiffre/le_chiffre.c
  keyboards/le_chiffre/le_chiffre.h
  keyboards/le_chiffre/readme.md
  keyboards/le_chiffre/rules.mk
Labels: none

Fix off by one error with oled_write_raw_P (#9045)
  drivers/oled/oled_driver.c
Labels: core

[Keyboard] Mechlovin hannah60rgb (#8951)
  keyboards/mechlovin/hannah60rgb/config.h
  keyboards/mechlovin/hannah60rgb/hannah60rgb.c
  keyboards/mechlovin/hannah60rgb/hannah60rgb.h
  keyboards/mechlovin/hannah60rgb/info.json
  keyboards/mechlovin/hannah60rgb/keymaps/default/keymap.c
  keyboards/mechlovin/hannah60rgb/keymaps/default/readme.md
  keyboards/mechlovin/hannah60rgb/keymaps/via/keymap.c
  keyboards/mechlovin/hannah60rgb/keymaps/via/readme.md
  keyboards/mechlovin/hannah60rgb/keymaps/via/rules.mk
  keyboards/mechlovin/hannah60rgb/readme.md
  keyboards/mechlovin/hannah60rgb/rules.mk
Labels: none

format code according to conventions [skip ci]
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core

New RGB Lighting effect: Twinkle (#8887)
  docs/feature_rgblight.md
  quantum/rgblight.c
  quantum/rgblight.h
  quantum/rgblight_modes.h
Labels: core, documentation

Updated rules.mk to allow for audio control in VIA (#9087)
  keyboards/eniigmakeyboards/ek87/rules.mk
Labels: none

Optimization for scanning less layers. (#8311)
  tmk_core/common/action_layer.c
  tmk_core/common/action_layer.h
Labels: core

Revert "Use nano specs (#8270)" (#9044)
  tmk_core/chibios.mk
Labels: core

Add TENKI keyboard (#9029)
  keyboards/tenki/config.h
  keyboards/tenki/info.json
  keyboards/tenki/keymaps/default/keymap.c
  keyboards/tenki/keymaps/via/keymap.c
  keyboards/tenki/keymaps/via/rules.mk
  keyboards/tenki/readme.md
  keyboards/tenki/rules.mk
  keyboards/tenki/tenki.c
  keyboards/tenki/tenki.h
Labels: none

Fix bad key labels in ascii art (#9094)
  keyboards/tokyo60/keymaps/default/keymap.c
Labels: none

[Keymap] added shifted symbols support (#9059)
  keyboards/funky40/keymaps/default/keymap.c
Labels: none

Docs: fix links in feature_hd44780.md (#9053)
  docs/feature_hd44780.md
Labels: documentation

[Keymap] Add nblyumberg 1upkeyboards super16 keymap (#8902)
  keyboards/1upkeyboards/super16/keymaps/nblyumberg/config.h
  keyboards/1upkeyboards/super16/keymaps/nblyumberg/keymap.c
  keyboards/1upkeyboards/super16/keymaps/nblyumberg/readme.md
  keyboards/1upkeyboards/super16/keymaps/nblyumberg/rules.mk
Labels: none

[Keyboard] treadstone48/rev2 (#8719)
  keyboards/treadstone48/readme.md
  keyboards/treadstone48/rev1/keymaps/like_jis_rs/config.h
  keyboards/treadstone48/rev1/keymaps/like_jis_rs/keymap.c
  keyboards/treadstone48/rev1/keymaps/like_jis_rs/readme.md
  keyboards/treadstone48/rev1/keymaps/like_jis_rs/readme_jp.md
  keyboards/treadstone48/rev1/keymaps/like_jis_rs/rules.mk
  keyboards/treadstone48/rev2/config.h
  keyboards/treadstone48/rev2/info.json
  keyboards/treadstone48/rev2/rev2.c
  keyboards/treadstone48/rev2/rev2.h
  keyboards/treadstone48/rev2/rules.mk
Labels: none

[Keyboard] add adelais PCB (#8945)
  keyboards/mechlovin/adelais/adelais.c
  keyboards/mechlovin/adelais/adelais.h
  keyboards/mechlovin/adelais/config.h
  keyboards/mechlovin/adelais/info.json
  keyboards/mechlovin/adelais/keymaps/default/keymap.c
  keyboards/mechlovin/adelais/keymaps/default/readme.md
  keyboards/mechlovin/adelais/keymaps/via/keymap.c
  keyboards/mechlovin/adelais/keymaps/via/readme.md
  keyboards/mechlovin/adelais/keymaps/via/rules.mk
  keyboards/mechlovin/adelais/readme.md
  keyboards/mechlovin/adelais/rgb_led/config.h
  keyboards/mechlovin/adelais/rgb_led/rules.mk
  keyboards/mechlovin/adelais/rules.mk
  keyboards/mechlovin/adelais/standard_led/config.h
  keyboards/mechlovin/adelais/standard_led/rules.mk
Labels: none

[Keyboard] Eniigma Keyboards ek87 (#8937)
  keyboards/eniigmakeyboards/ek87/config.h
  keyboards/eniigmakeyboards/ek87/ek87.c
  keyboards/eniigmakeyboards/ek87/ek87.h
  keyboards/eniigmakeyboards/ek87/info.json
  keyboards/eniigmakeyboards/ek87/keymaps/default/keymap.c
  keyboards/eniigmakeyboards/ek87/keymaps/via/keymap.c
  keyboards/eniigmakeyboards/ek87/keymaps/via/rules.mk
  keyboards/eniigmakeyboards/ek87/readme.md
  keyboards/eniigmakeyboards/ek87/rules.mk
Labels: none

Improve security of avrdude by eliminating the use of well-known names. (#9026)
  tmk_core/avr.mk
Labels: core

[Keyboard] Shambles TKL (#8500)
  keyboards/shambles/config.h
  keyboards/shambles/info.json
  keyboards/shambles/keymaps/default/keymap.c
  keyboards/shambles/readme.md
  keyboards/shambles/rules.mk
  keyboards/shambles/shambles.c
  keyboards/shambles/shambles.h
Labels: none

Improve stock bootloader list (#9067)
  docs/isp_flashing_guide.md
  util/bootloader_at90usb128_1.0.1.hex
  util/bootloader_at90usb64_1.0.0.hex
  util/bootloader_atmega16u4_1.0.1.hex
  util/bootloader_atmega16u4_1_0_1.hex
  util/bootloader_atmega32a_1_0_0.hex
  util/bootloader_atmega32u4_1.0.0.hex
  util/bootloader_ps2avrgb_bootloadhid_1.0.1.hex
Labels: core, documentation

optimize source code for size. reduce compiled binary size 292 bytes (#8428)
  keyboards/crkbd/ssd1306.c
Labels: none

added murcielago keyboard (#8920)
  keyboards/murcielago/info.json
  keyboards/murcielago/murcielago.c
  keyboards/murcielago/murcielago.h
  keyboards/murcielago/readme.md
  keyboards/murcielago/rev1/config.h
  keyboards/murcielago/rev1/keymaps/default/keymap.c
  keyboards/murcielago/rev1/keymaps/via/keymap.c
  keyboards/murcielago/rev1/keymaps/via/rules.mk
  keyboards/murcielago/rev1/rules.mk
  keyboards/murcielago/rules.mk
Labels: none

[Keymap] Added MACLOCK macro (#9037)
  keyboards/atreus/keymaps/xyverz/keymap.c
  keyboards/atreus/keymaps/xyverz/readme.md
Labels: none

avoid 'Entering|Leaving directory' messages (#9061)
  Makefile
Labels: none

Fixed Murciélago info.json to work with qmk configurator -> wrong assignments (#9095)
  keyboards/murcielago/info.json
  keyboards/murcielago/readme.md
Labels: none

[Keymap] Add Chidori OLED-enabled sample keymap (#8446)
  keyboards/chidori/keymaps/oled_sample/keymap.c
  keyboards/chidori/keymaps/oled_sample/readme.md
  keyboards/chidori/keymaps/oled_sample/rules.mk
Labels: none

[Keyboard] Added support for Aves 65 (#8880)
  keyboards/aves65/aves65.c
  keyboards/aves65/aves65.h
  keyboards/aves65/config.h
  keyboards/aves65/info.json
  keyboards/aves65/keymaps/default/keymap.c
  keyboards/aves65/readme.md
  keyboards/aves65/rules.mk
Labels: none

One shot support for swap hands (#8590)
  docs/feature_swap_hands.md
  docs/keycodes.md
  quantum/quantum_keycodes.h
  tmk_core/common/action.c
  tmk_core/common/action_code.h
  tmk_core/common/action_util.c
  tmk_core/common/action_util.h
Labels: core, documentation

[Keymap] initial user directory for milestogo + babblepaste (#7698)
  users/miles2go/babblePaste.c
  users/miles2go/babblePaste.h
  users/miles2go/babblePaste.md
  users/miles2go/babl_chromeos.c
  users/miles2go/babl_emacs.c
  users/miles2go/babl_linux.c
  users/miles2go/babl_mac.c
  users/miles2go/babl_readmux.c
  users/miles2go/babl_vi.c
  users/miles2go/babl_windows.c
  users/miles2go/config.h
  users/miles2go/keymaps/handwired/ms_sculpt_mobile/config.h
  users/miles2go/keymaps/handwired/ms_sculpt_mobile/keymap.c
  users/miles2go/keymaps/handwired/ms_sculpt_mobile/readme.md
  users/miles2go/keymaps/handwired/ms_sculpt_mobile/rules.mk
  users/miles2go/milestogo.c
  users/miles2go/milestogo.h
  users/miles2go/readme.md
  users/miles2go/rules.mk
Labels: keymap

Allow expanding from 8 to 32 RGB Lighting Layers (#8941)
  docs/config_options.md
  docs/feature_rgblight.md
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core, documentation

[Keyboard] Added D48 keyboard (#8548)
  keyboards/handwired/d48/README.md
  keyboards/handwired/d48/config.h
  keyboards/handwired/d48/d48.c
  keyboards/handwired/d48/d48.h
  keyboards/handwired/d48/ds1307.c
  keyboards/handwired/d48/ds1307.h
  keyboards/handwired/d48/glcdfont_d48.c
  keyboards/handwired/d48/keymaps/anderson/keymap.c
  keyboards/handwired/d48/keymaps/anderson/lightmode.c
  keyboards/handwired/d48/keymaps/anderson/lightmode.h
  keyboards/handwired/d48/keymaps/anderson/rules.mk
  keyboards/handwired/d48/keymaps/default/keymap.c
  keyboards/handwired/d48/rules.mk
  keyboards/handwired/d48/taphold.c
  keyboards/handwired/d48/taphold.h
  users/anderson/dmc12.c
  users/anderson/dmc12.h
  users/anderson/seq.c
  users/anderson/seq.h
  users/anderson/smoothled.c
  users/anderson/smoothled.h
Labels: keymap

[Keyboard] Add P40, P20 and P18 Keyboards by pabile (#8759)
  keyboards/pabile/p18/config.h
  keyboards/pabile/p18/info.json
  keyboards/pabile/p18/keymaps/default/keymap.c
  keyboards/pabile/p18/p18.c
  keyboards/pabile/p18/p18.h
  keyboards/pabile/p18/readme.md
  keyboards/pabile/p18/rules.mk
  keyboards/pabile/p20/config.h
  keyboards/pabile/p20/keymaps/default/keymap.c
  keyboards/pabile/p20/p20.c
  keyboards/pabile/p20/p20.h
  keyboards/pabile/p20/readme.md
  keyboards/pabile/p20/rules.mk
  keyboards/pabile/p40/config.h
  keyboards/pabile/p40/info.json
  keyboards/pabile/p40/keymaps/default/keymap.c
  keyboards/pabile/p40/p40.c
  keyboards/pabile/p40/p40.h
  keyboards/pabile/p40/readme.md
  keyboards/pabile/p40/rules.mk
Labels: none

Fix incorrect key sizes in Configurator (#9073)
  keyboards/exclusive/e6v2/le_bmc/info.json
  keyboards/exclusive/e6v2/oe_bmc/info.json
  keyboards/flx/lodestone/info.json
  keyboards/handwired/prime_exl/info.json
  keyboards/massdrop/ctrl/info.json
Labels: none

fixed typo for clear lcd screen function in hd44780 docs (#9086)
  docs/feature_hd44780.md
  docs/ja/feature_hd44780.md
Labels: documentation
