Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

Add ws2812 driver type define (#7888)
  common_features.mk
Labels: none

[Keyboard] IDB 60: Configurator bugfix (#7851)
  keyboards/idb/idb_60/info.json
  keyboards/idb/idb_60/readme.md
Labels: none

Merlin's LAYOUT_65_ansi keymap (#7879)
  layouts/community/65_ansi/mechmerlin/keymap.c
  layouts/community/65_ansi/mechmerlin/readme.md
  layouts/community/65_ansi/mechmerlin/rules.mk
Labels: keymap

[Keyboard] NK65 Refactor (#7862)
  keyboards/nk65/keymaps/via/keymap.c
  keyboards/nk65/keymaps/via/readme.md
  keyboards/nk65/keymaps/via/rules.mk
  keyboards/nk65/nk65.c
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: none

Enable RGB underglow on the CO60 and SteamVan, switch backlight code to QMK built-in code (#7874)
  keyboards/handwired/co60/rev6/config.h
  keyboards/handwired/co60/rev6/led.c
  keyboards/handwired/co60/rev6/led_custom.h
  keyboards/handwired/co60/rev6/rev6.c
  keyboards/handwired/co60/rev6/rev6.h
  keyboards/handwired/co60/rev6/rules.mk
  keyboards/handwired/co60/rev7/config.h
  keyboards/handwired/co60/rev7/halconf.h
  keyboards/handwired/co60/rev7/led.c
  keyboards/handwired/co60/rev7/led_custom.h
  keyboards/handwired/co60/rev7/mcuconf.h
  keyboards/handwired/co60/rev7/rev7.c
  keyboards/handwired/co60/rev7/rev7.h
  keyboards/handwired/co60/rev7/rules.mk
  keyboards/handwired/steamvan/keymaps/jmdaly/keymap.c
  keyboards/handwired/steamvan/rev1/config.h
  keyboards/handwired/steamvan/rev1/halconf.h
  keyboards/handwired/steamvan/rev1/led.c
  keyboards/handwired/steamvan/rev1/led_custom.h
  keyboards/handwired/steamvan/rev1/mcuconf.h
  keyboards/handwired/steamvan/rev1/rev1.c
  keyboards/handwired/steamvan/rev1/rev1.h
  keyboards/handwired/steamvan/rev1/rules.mk
Labels: none

Personal keymap updates for the new year (#7871)
  keyboards/crkbd/keymaps/bcat/keymap.c
  keyboards/crkbd/keymaps/bcat/readme.md
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/readme.md
  layouts/community/60_ansi_split_bs_rshift/bcat/keymap.c
  layouts/community/60_ansi_split_bs_rshift/bcat/readme.md
  layouts/community/60_tsangan_hhkb/bcat/keymap.c
  layouts/community/60_tsangan_hhkb/bcat/readme.md
Labels: keymap

[Keymap] csc027/macro-sync-keymap (#7873)
  keyboards/keebio/iris/keymaps/csc027/config.h
  keyboards/keebio/iris/keymaps/csc027/keymap.c
  users/csc027/csc027.c
  users/csc027/csc027.h
  users/csc027/defines.h
Labels: keymap

Add user keymaps for KBD67MKII/Lily58 (#7671)
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/mikefightsbears/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/mikefightsbears/readme.md
  keyboards/lily58/keymaps/mikefightsbears/config.h
  keyboards/lily58/keymaps/mikefightsbears/keymap.c
  keyboards/lily58/keymaps/mikefightsbears/rules.mk
Labels: none

Remove `KEYMAP_SECTION_ENABLE` (#7882)
  keyboards/ergodone/rules.mk
  keyboards/hotdox/rules.mk
  show_options.mk
  tmk_core/common.mk
  tmk_core/common/command.c
  tmk_core/ldscript_keymap_avr35.x
  tmk_core/ldscript_keymap_avr5.x
Labels: core

Fix CUSTOM_MATRIX lite matrix_scan return code (#7908)
  quantum/matrix_common.c
Labels: core

Fix NK65 indicator code after refactoring (#7902)
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: none

[Keyboard] Dawn60 bug fix [URGENT] (#7881)
  keyboards/xelus/dawn60/config.h
Labels: none

[Keyboard] Add Eon40 keyboard (#7885)
  keyboards/maartenwut/eon40/config.h
  keyboards/maartenwut/eon40/eon40.c
  keyboards/maartenwut/eon40/eon40.h
  keyboards/maartenwut/eon40/info.json
  keyboards/maartenwut/eon40/keymaps/default/keymap.c
  keyboards/maartenwut/eon40/keymaps/default/readme.md
  keyboards/maartenwut/eon40/readme.md
  keyboards/maartenwut/eon40/rules.mk
Labels: none

Fix Pro Micro's and its bootloader's name
  lib/python/qmk/cli/doctor.py
Labels: cli, python

Remove backlight_init_ports from duck/orion/v3 (#7878)
  keyboards/duck/orion/v3/matrix.c
Labels: none

CLI: Rework ModemManager check and add udev check
  lib/python/qmk/cli/doctor.py
Labels: cli, python

Fix KEYBOARD_SHARED_EP on ChibiOS (#7860)
  tmk_core/protocol/chibios/usb_main.c
Labels: core

Migrate more custom matrix 'lite' code to core (#7863)
  keyboards/xd84/custom_matrix_helper.c
  keyboards/xd84/matrix.c
  keyboards/xd84/rules.mk
  keyboards/xd96/custom_matrix_helper.c
  keyboards/xd96/matrix.c
  keyboards/xd96/rules.mk
  quantum/matrix.c
  quantum/matrix_common.c
  quantum/split_common/matrix.c
Labels: core

Update Levinson Readme to reflect changes to directory structure (#7883)
  keyboards/keebio/levinson/readme.md
Labels: none

[Keyboard] Xbows Knight: Configurator layout polishing (#7903)
  keyboards/xbows/knight/info.json
Labels: none

[Keyboard] Add Yurei PCB (#7880)
  keyboards/yurei/config.h
  keyboards/yurei/info.json
  keyboards/yurei/keymaps/default/keymap.c
  keyboards/yurei/keymaps/default/readme.md
  keyboards/yurei/readme.md
  keyboards/yurei/rules.mk
  keyboards/yurei/yurei.c
  keyboards/yurei/yurei.h
Labels: none

[Keyboard] Add Xiaomi MK02 (#7825)
  keyboards/xiaomi/mk02/README.md
  keyboards/xiaomi/mk02/chconf.h
  keyboards/xiaomi/mk02/config.h
  keyboards/xiaomi/mk02/halconf.h
  keyboards/xiaomi/mk02/keymaps/default/keymap.c
  keyboards/xiaomi/mk02/ld/STM32F072_0x2000_bootloader.ld
  keyboards/xiaomi/mk02/mcuconf.h
  keyboards/xiaomi/mk02/mk02.c
  keyboards/xiaomi/mk02/mk02.h
  keyboards/xiaomi/mk02/rules.mk
Labels: none

[Keyboard] Graystudio Space65 ISO UK layout and keymap (#7912)
  keyboards/gray_studio/space65/keymaps/iso/keymap.c
  keyboards/gray_studio/space65/keymaps/iso/readme.md
  keyboards/gray_studio/space65/rules.mk
  keyboards/gray_studio/space65/space65.h
Labels: none

Add a section on python tests
  docs/coding_conventions_python.md
Labels: documentation

yapf and style
  lib/python/qmk/cli/doctor.py
Labels: cli, python

Update personal keymap (#7898)
  keyboards/planck/keymaps/sascha/keymap.c
  keyboards/planck/keymaps/sascha/rules.mk
Labels: none

Tidy up dztech keyboard.c/h and readmes (#7664)
  keyboards/dztech/dz60rgb/dz60rgb.c
  keyboards/dztech/dz60rgb/dz60rgb.h
  keyboards/dztech/dz60rgb/readme.md
  keyboards/dztech/dz60rgb_ansi/dz60rgb_ansi.c
  keyboards/dztech/dz60rgb_ansi/dz60rgb_ansi.h
  keyboards/dztech/dz60rgb_ansi/readme.md
  keyboards/dztech/dz60rgb_wkl/dz60rgb_wkl.c
  keyboards/dztech/dz60rgb_wkl/dz60rgb_wkl.h
  keyboards/dztech/dz60rgb_wkl/readme.md
  keyboards/dztech/dz65rgb/dz65rgb.c
  keyboards/dztech/dz65rgb/dz65rgb.h
  keyboards/dztech/dz65rgb/readme.md
Labels: none

[Keyboard] Add minitomic keyboard (#7140)
  keyboards/maartenwut/minitomic/config.h
  keyboards/maartenwut/minitomic/info.json
  keyboards/maartenwut/minitomic/keymaps/default/keymap.c
  keyboards/maartenwut/minitomic/keymaps/default/readme.md
  keyboards/maartenwut/minitomic/minitomic.c
  keyboards/maartenwut/minitomic/minitomic.h
  keyboards/maartenwut/minitomic/readme.md
  keyboards/maartenwut/minitomic/rules.mk
Labels: none

[Keyboard] add VIA support for hiney PCBs (#7910)
  keyboards/hineybush/h75_singa/keymaps/via/keymap.c
  keyboards/hineybush/h75_singa/keymaps/via/readme.md
  keyboards/hineybush/h75_singa/keymaps/via/rules.mk
  keyboards/hineybush/h87a/keymaps/via/keymap.c
  keyboards/hineybush/h87a/keymaps/via/readme.md
  keyboards/hineybush/h87a/keymaps/via/rules.mk
  keyboards/hineybush/h88/keymaps/via/keymap.c
  keyboards/hineybush/h88/keymaps/via/readme.md
  keyboards/hineybush/h88/keymaps/via/rules.mk
  keyboards/hineybush/h88/rules.mk
  keyboards/hineybush/hbcp/keymaps/via/keymap.c
  keyboards/hineybush/hbcp/keymaps/via/readme.md
  keyboards/hineybush/hbcp/keymaps/via/rules.mk
  keyboards/hineybush/physix/rules.mk
  keyboards/hineybush/sm68/rules.mk
Labels: none

Adi's DZ65RGB layout (#7845)
  keyboards/dztech/dz65rgb/keymaps/adi/keymap.c
  keyboards/dztech/dz65rgb/keymaps/adi/readme.md
Labels: none

Adi's KBD67 layout (#7896)
  keyboards/kbdfans/kbd67/rev2/keymaps/adi/keymap.c
  keyboards/kbdfans/kbd67/rev2/keymaps/adi/readme.md
Labels: none

[Keyboard] Reviung41: Configurator layout support (#7852)
  keyboards/reviung41/info.json
Labels: none

chibios/usb_main: re-check USB status in send_keyboard after sleeping the thread (#7784)
  tmk_core/protocol/chibios/usb_main.c
Labels: core

Further changes to HHKB keymap (#7918)
  keyboards/hhkb/keymaps/xyverz/keymap.c
Labels: none

[Keyboard] Add Plaid-Pad 4x4 numpad (#7900)
  keyboards/keycapsss/plaid_pad/config.h
  keyboards/keycapsss/plaid_pad/info.json
  keyboards/keycapsss/plaid_pad/keymaps/default/config.h
  keyboards/keycapsss/plaid_pad/keymaps/default/keymap.c
  keyboards/keycapsss/plaid_pad/keymaps/default/readme.md
  keyboards/keycapsss/plaid_pad/plaid_pad.c
  keyboards/keycapsss/plaid_pad/plaid_pad.h
  keyboards/keycapsss/plaid_pad/readme.md
  keyboards/keycapsss/plaid_pad/rules.mk
  keyboards/keycapsss/plaid_pad/usbconfig.h
Labels: none

[Keymap] Updated keymaps (#7834)
  keyboards/jj50/keymaps/abstractkb/config.h
  keyboards/jj50/keymaps/abstractkb_gergomatch/config.h
  keyboards/jj50/keymaps/abstractkb_gergomatch/keymap.c
  keyboards/jj50/keymaps/abstractkb_gergomatch/readme.md
Labels: none

[Keymap] Massdrop ctrl keymap (#7639)
  keyboards/massdrop/ctrl/DOCUMENTATION.md
  keyboards/massdrop/ctrl/keymaps/endgame/README.md
  keyboards/massdrop/ctrl/keymaps/endgame/config.h
  keyboards/massdrop/ctrl/keymaps/endgame/keymap.c
  keyboards/massdrop/ctrl/keymaps/endgame/keymap.h
  keyboards/massdrop/ctrl/keymaps/endgame/rules.mk
Labels: none

Move Space Cadet keycodes to their own section in keycode reference (#7889)
  docs/he-il/quantum_keycodes.md
  docs/keycodes.md
  docs/quantum_keycodes.md
Labels: documentation

Relocate common backlight functionally (#7273)
  common_features.mk
  quantum/backlight/backlight.c
  quantum/backlight/backlight.h
  quantum/backlight/backlight_arm.c
  quantum/backlight/backlight_avr.c
  quantum/quantum.h
Labels: core

Add docs for 'CUSTOM_MATRIX = lite' (#7906)
  docs/_summary.md
  docs/custom_matrix.md
  docs/getting_started_make_guide.md
Labels: documentation
