Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

[Keyboard] Add KBO-5000 keyboard (#9381)
  keyboards/keebio/kbo5000/config.h
  keyboards/keebio/kbo5000/info.json
  keyboards/keebio/kbo5000/kbo5000.c
  keyboards/keebio/kbo5000/kbo5000.h
  keyboards/keebio/kbo5000/keymaps/default/keymap.c
  keyboards/keebio/kbo5000/keymaps/iso/keymap.c
  keyboards/keebio/kbo5000/keymaps/via/config.h
  keyboards/keebio/kbo5000/keymaps/via/keymap.c
  keyboards/keebio/kbo5000/keymaps/via/rules.mk
  keyboards/keebio/kbo5000/readme.md
  keyboards/keebio/kbo5000/rev1/config.h
  keyboards/keebio/kbo5000/rev1/rev1.c
  keyboards/keebio/kbo5000/rev1/rev1.h
  keyboards/keebio/kbo5000/rev1/rules.mk
  keyboards/keebio/kbo5000/rules.mk
Labels: none

[Update] Change Original TAGs of Japanese translations (#9453)
  docs/ja/cli_configuration.md
  docs/ja/driver_installation_zadig.md
  docs/ja/feature_audio.md
  docs/ja/feature_auto_shift.md
  docs/ja/feature_bluetooth.md
  docs/ja/feature_tap_dance.md
  docs/ja/getting_started_make_guide.md
  docs/ja/hardware_avr.md
  docs/ja/hardware_drivers.md
Labels: documentation

bm43a stevexyz keymap (#9468)
  keyboards/bm43a/keymaps/stevexyz/keymap.c
  keyboards/bm43a/keymaps/stevexyz/readme.md
  keyboards/bm43a/keymaps/stevexyz/rules.mk
Labels: none

update ja/hardware_keyboard_guidelines.md (#9457)
  docs/ja/hardware_keyboard_guidelines.md
Labels: documentation

[Update] Japanese translation of newbs.md (#9388)
  docs/ja/newbs.md
Labels: documentation

Add more community layout support to Discipline (#8540)
  keyboards/coseyfannitutti/discipline/discipline.h
  keyboards/coseyfannitutti/discipline/rules.mk
Labels: none

create maja info json (#9472)
  keyboards/kbdfans/maja/info.json
Labels: none

Improve keycode handling for RGB (#7677)
  docs/feature_rgb_matrix.md
  docs/feature_rgblight.md
  quantum/process_keycode/process_rgb.c
Labels: core, documentation

Fix maja info.json (#9511)
  keyboards/kbdfans/maja/info.json
Labels: none

[Update] Japanese translation of docs/newbs_building_firmware_configurator.md (#9395)
  docs/ja/configurator_step_by_step.md
  docs/ja/configurator_troubleshooting.md
  docs/ja/newbs_building_firmware_configurator.md
Labels: documentation

Update newbs MSYS2 pacman instructions (#9445)
  docs/newbs_getting_started.md
Labels: documentation

[Keyboard] add h60 PCB (#9242)
  keyboards/hineybush/h60/config.h
  keyboards/hineybush/h60/h60.c
  keyboards/hineybush/h60/h60.h
  keyboards/hineybush/h60/keymaps/default/keymap.c
  keyboards/hineybush/h60/keymaps/default/readme.md
  keyboards/hineybush/h60/keymaps/kei/keymap.c
  keyboards/hineybush/h60/keymaps/kei/readme.md
  keyboards/hineybush/h60/keymaps/via/keymap.c
  keyboards/hineybush/h60/keymaps/via/readme.md
  keyboards/hineybush/h60/keymaps/via/rules.mk
  keyboards/hineybush/h60/readme.md
  keyboards/hineybush/h60/rules.mk
Labels: none

update docs/ja/feature_bootmagic.md (#9459)
  docs/ja/feature_bootmagic.md
Labels: documentation

[Keymap] New custom 'super alt' keymap for the Drop ALT (#9385)
  keyboards/massdrop/alt/keymaps/ewersp/README.md
  keyboards/massdrop/alt/keymaps/ewersp/config.h
  keyboards/massdrop/alt/keymaps/ewersp/keymap.c
Labels: none

Fix info.json for Uni660 (#9489)
  keyboards/sirius/uni660/rev1/info.json
  keyboards/sirius/uni660/rev2/ansi/info.json
  keyboards/sirius/uni660/rev2/iso/info.json
Labels: none

Partial and window screenshots (#9332)
  layouts/community/75_ansi/spidey3/keymap.c
  users/spidey3/spidey3.c
Labels: keymap

Updates on Mixi default keymaps and fixes on configuration (#9467)
  keyboards/mixi/config.h
  keyboards/mixi/keymaps/default/keymap.c
  keyboards/mixi/keymaps/default/readme.md
  keyboards/mixi/keymaps/via/keymap.c
  keyboards/mixi/mixi.c
  keyboards/mixi/readme.md
Labels: none

[Docs] Japanese translation of breaking_changes*.md (#8576)
  docs/ja/_summary.md
  docs/ja/breaking_changes.md
  docs/ja/breaking_changes_instructions.md
Labels: documentation

[Docs] Japanese translation of docs/feature_userspace.md (#9253)
  docs/ja/feature_userspace.md
Labels: documentation

[Keymap] Add personal keymap for Planck (#9424)
  keyboards/planck/keymaps/charlesrocket/config.h
  keyboards/planck/keymaps/charlesrocket/keymap.c
  keyboards/planck/keymaps/charlesrocket/readme.md
  keyboards/planck/keymaps/charlesrocket/rules.mk
Labels: none

Enable NKRO on 1up's boards (#9434)
  keyboards/1upkeyboards/1up60hse/rules.mk
  keyboards/1upkeyboards/1up60rgb/rules.mk
Labels: none

[Update] Japanese Translation of docs/faq_build.md (#9458)
  docs/ja/faq_build.md
Labels: documentation

[Docs] Japanese translation of docs/feature_macros.md (#9137)
  docs/ja/feature_macros.md
Labels: documentation

Update VIA support for Noxary 268.2 (#9451)
  keyboards/noxary/268_2/268_2.c
  keyboards/noxary/268_2/config.h
  keyboards/noxary/268_2/keymaps/via/keymap.c
  keyboards/noxary/268_2/keymaps/via/readme.md
  keyboards/noxary/268_2/keymaps/via/rules.mk
  keyboards/noxary/268_2/readme.md
  keyboards/noxary/268_2/rules.mk
Labels: none

Add VIA support to Noxary x268 (#9450)
  keyboards/noxary/x268/config.h
  keyboards/noxary/x268/keymaps/via/keymap.c
  keyboards/noxary/x268/keymaps/via/readme.md
  keyboards/noxary/x268/keymaps/via/rules.mk
  keyboards/noxary/x268/readme.md
  keyboards/noxary/x268/rules.mk
  keyboards/noxary/x268/x268.c
Labels: none

Update miryoku (#9442)
  keyboards/crkbd/keymaps/manna-harbour_miryoku/config.h
  keyboards/crkbd/keymaps/manna-harbour_miryoku/keymap.c
  keyboards/crkbd/keymaps/manna-harbour_miryoku/rules.mk
  layouts/community/ergodox/manna-harbour_miryoku/config.h
  layouts/community/ergodox/manna-harbour_miryoku/keymap.c
  layouts/community/ortho_4x12/manna-harbour_miryoku/config.h
  layouts/community/ortho_4x12/manna-harbour_miryoku/keymap.c
  users/manna-harbour_miryoku/config.h
  users/manna-harbour_miryoku/manna-harbour_miryoku.c
  users/manna-harbour_miryoku/manna-harbour_miryoku.h
  users/manna-harbour_miryoku/miryoku.org
  users/manna-harbour_miryoku/rules.mk
Labels: keymap

[Docs] fix indentation (#9491)
  docs/ja/feature_pointing_device.md
Labels: documentation

Fix error_log complaint about Big Series boards (#9510)
  keyboards/bigseries/1key/info.json
  keyboards/bigseries/1key/rules.mk
  keyboards/bigseries/2key/info.json
  keyboards/bigseries/2key/rules.mk
  keyboards/bigseries/3key/info.json
  keyboards/bigseries/3key/rules.mk
  keyboards/bigseries/4key/info.json
  keyboards/bigseries/4key/rules.mk
  keyboards/bigseries/rules.mk
Labels: none

[Docs] Japanese translation of docs/feature_layers.md (#9252)
  docs/ja/feature_advanced_keycodes.md
  docs/ja/feature_layers.md
Labels: documentation

[Keyboard] adding Rewind keyboard (#9497)
  keyboards/montsinger/rewind/config.h
  keyboards/montsinger/rewind/info.json
  keyboards/montsinger/rewind/keymaps/default/keymap.c
  keyboards/montsinger/rewind/keymaps/rossman360/keymap.c
  keyboards/montsinger/rewind/readme.md
  keyboards/montsinger/rewind/rewind.c
  keyboards/montsinger/rewind/rewind.h
  keyboards/montsinger/rewind/rules.mk
Labels: none

Trinity XT tkl - New Keyboard (#9483)
  keyboards/xelus/trinityxttkl/bootloader_defs.h
  keyboards/xelus/trinityxttkl/chconf.h
  keyboards/xelus/trinityxttkl/config.h
  keyboards/xelus/trinityxttkl/halconf.h
  keyboards/xelus/trinityxttkl/keymaps/default/keymap.c
  keyboards/xelus/trinityxttkl/keymaps/via/config.h
  keyboards/xelus/trinityxttkl/keymaps/via/keymap.c
  keyboards/xelus/trinityxttkl/keymaps/via/rules.mk
  keyboards/xelus/trinityxttkl/mcuconf.h
  keyboards/xelus/trinityxttkl/readme.md
  keyboards/xelus/trinityxttkl/rules.mk
  keyboards/xelus/trinityxttkl/trinityxttkl.c
  keyboards/xelus/trinityxttkl/trinityxttkl.h
Labels: none

[Update] Japanese Translation of docs/feature_layers.md (#9537)
  docs/ja/feature_layers.md
Labels: documentation

Minor keymap fix (#9534)
  keyboards/atreus62/keymaps/xyverz/keymap.c
Labels: none

[Docs] fix file path (#9540)
  docs/documentation_best_practices.md
Labels: documentation

[Keymap] Adding custom keymaps (#9426)
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/adamdehaven/config.h
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/adamdehaven/keymap.c
  keyboards/kbdfans/kbd67/mkii_soldered/keymaps/adamdehaven/rules.mk
  keyboards/kbdfans/kbd75/keymaps/adamdehaven/config.h
  keyboards/kbdfans/kbd75/keymaps/adamdehaven/keymap.c
  keyboards/kbdfans/kbd75/keymaps/adamdehaven/rules.mk
Labels: none

Add GHS.RAR keyboard (#9561)
  keyboards/ghs/rar/config.h
  keyboards/ghs/rar/info.json
  keyboards/ghs/rar/keymaps/default/keymap.c
  keyboards/ghs/rar/keymaps/iso/keymap.c
  keyboards/ghs/rar/keymaps/via/keymap.c
  keyboards/ghs/rar/keymaps/via/rules.mk
  keyboards/ghs/rar/rar.c
  keyboards/ghs/rar/rar.h
  keyboards/ghs/rar/readme.md
  keyboards/ghs/rar/rules.mk
Labels: none

add_adjust_layer (#9532)
  layouts/community/ortho_4x12/jotix/keymap.c
Labels: keymap

[Docs] Japanese translation of docs/documentation_templates.md (#9523)
  docs/ja/documentation_templates.md
Labels: documentation

[Docs] Japanese translation of docs/documentation_best_practices.md (#9522)
  docs/ja/documentation_best_practices.md
Labels: documentation

Add Herringbone keyboard (#9495)
  keyboards/ramonimbao/herringbone/config.h
  keyboards/ramonimbao/herringbone/herringbone.c
  keyboards/ramonimbao/herringbone/herringbone.h
  keyboards/ramonimbao/herringbone/info.json
  keyboards/ramonimbao/herringbone/keymaps/default/keymap.c
  keyboards/ramonimbao/herringbone/keymaps/iso/keymap.c
  keyboards/ramonimbao/herringbone/keymaps/via/keymap.c
  keyboards/ramonimbao/herringbone/keymaps/via/rules.mk
  keyboards/ramonimbao/herringbone/readme.md
  keyboards/ramonimbao/herringbone/rules.mk
Labels: none
