Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

[Keymap] Added csc027 keymaps for keebio/iris and planck (#7472)
  keyboards/keebio/iris/keymaps/csc027/config.h
  keyboards/keebio/iris/keymaps/csc027/keymap.c
  keyboards/keebio/iris/keymaps/csc027/rules.mk
  keyboards/planck/keymaps/csc027/keymap.c
  keyboards/planck/keymaps/csc027/rules.mk
  users/csc027/csc027.c
  users/csc027/csc027.h
  users/csc027/custom_audio.c
  users/csc027/custom_audio.h
  users/csc027/custom_rgb.c
  users/csc027/custom_rgb.h
  users/csc027/defines.h
  users/csc027/rules.mk
  users/csc027/usb_led.c
  users/csc027/usb_led.h
Labels: keymap

Move some common matrix code to a common location (#7699)
  common_features.mk
  keyboards/kinesis/alvicstep/rules.mk
  keyboards/kinesis/rules.mk
  keyboards/xd84/custom_matrix_helper.c
  keyboards/xd84/rules.mk
  keyboards/xd96/custom_matrix_helper.c
  keyboards/xd96/rules.mk
  quantum/matrix.c
  quantum/matrix_common.c
  quantum/split_common/matrix.c
  quantum/split_common/matrix.h
  tmk_core/common/matrix.h
Labels: core

[Keyboard] fixed hhkb keymap issue on e6_rgb (#7684)
  keyboards/exclusive/e6_rgb/config.h
  keyboards/exclusive/e6_rgb/e6_rgb.c
  keyboards/exclusive/e6_rgb/e6_rgb.h
  keyboards/exclusive/e6_rgb/info.json
  keyboards/exclusive/e6_rgb/keymaps/allleds/keymap.c
  keyboards/exclusive/e6_rgb/keymaps/allleds/readme.md
  keyboards/exclusive/e6_rgb/keymaps/allleds/rules.mk
  keyboards/exclusive/e6_rgb/keymaps/via/keymap.c
  keyboards/exclusive/e6_rgb/keymaps/via/rules.mk
  keyboards/exclusive/e6_rgb/rules.mk
Labels: none

Update Breaking Changes doc for 2020-02-29 merge
  docs/breaking_changes.md
Labels: documentation

[Keymap] Improvements to KidBrazil keymap to better handle OLED/LED Matrix timeout. (#7688)
  keyboards/crkbd/keymaps/kidbrazil/README.md
  keyboards/crkbd/keymaps/kidbrazil/keymap.c
Labels: none

Handwired Minorca Refactor (#7833)
  keyboards/handwired/minorca/config.h
  keyboards/handwired/minorca/info.json
  keyboards/handwired/minorca/keymaps/default/config.h
  keyboards/handwired/minorca/keymaps/default/rules.mk
  keyboards/handwired/minorca/keymaps/rgb/config.h
  keyboards/handwired/minorca/keymaps/rgb/readme.md
  keyboards/handwired/minorca/keymaps/rgb/rules.mk
  keyboards/handwired/minorca/minorca.c
  keyboards/handwired/minorca/minorca.h
  keyboards/handwired/minorca/readme.md
  keyboards/handwired/minorca/rules.mk
Labels: none

[Keyboard] add info.json for dactyl_promicro (#6993)
  keyboards/handwired/dactyl_promicro/dactyl_promicro.h
  keyboards/handwired/dactyl_promicro/info.json
  keyboards/handwired/dactyl_promicro/keymaps/default/keymap.c
Labels: none

[Keymap] crd's personal keymap for hotswap leaf60 (#7777)
  keyboards/foxlab/leaf60/hotswap/keymaps/crd/keymap.c
Labels: none

[Keyboard] Add keyboard Reviung41 (#7807)
  keyboards/reviung41/config.h
  keyboards/reviung41/info.json
  keyboards/reviung41/keymaps/default/keymap.c
  keyboards/reviung41/keymaps/default/readme.md
  keyboards/reviung41/readme.md
  keyboards/reviung41/reviung41.c
  keyboards/reviung41/reviung41.h
  keyboards/reviung41/rules.mk
Labels: none

[Keymap] Update my iris keymap for LTO and rgbled split (#7849)
  keyboards/keebio/iris/keymaps/sethBarberee/config.h
  keyboards/keebio/iris/keymaps/sethBarberee/rules.mk
Labels: none

added ymdk ymd09 keyboard (#7831)
  keyboards/ymdk/ymd09/README.md
  keyboards/ymdk/ymd09/config.h
  keyboards/ymdk/ymd09/info.json
  keyboards/ymdk/ymd09/keymaps/default/keymap.c
  keyboards/ymdk/ymd09/rules.mk
  keyboards/ymdk/ymd09/ymd09.c
  keyboards/ymdk/ymd09/ymd09.h
Labels: none

More minor tweaks. (#7813)
  keyboards/kinesis/keymaps/xyverz/keymap.c
  keyboards/kinesis/keymaps/xyverz/readme.md
Labels: none

[Docs] Update Japanese translation (#7783)
  docs/ja/config_options.md
  docs/ja/faq_build.md
  docs/ja/newbs_building_firmware.md
Labels: documentation

[Keymap] added custom keymap and config for dz60rgb v1 (#7808)
  keyboards/dztech/dz60rgb/keymaps/kgreulich/config.h
  keyboards/dztech/dz60rgb/keymaps/kgreulich/keymap.c
  keyboards/dztech/dz60rgb/keymaps/kgreulich/rules.mk
Labels: none

Update Breaking Changes doc timeline
  docs/breaking_changes.md
Labels: documentation

[Docs] Update check commands in Japanese documents (#7787)
  docs/ja/README.md
  docs/ja/arm_debugging.md
  docs/ja/cli.md
  docs/ja/cli_configuration.md
  docs/ja/contributing.md
  docs/ja/driver_installation_zadig.md
  docs/ja/faq.md
  docs/ja/faq_debug.md
  docs/ja/faq_general.md
  docs/ja/faq_keymap.md
  docs/ja/getting_started_getting_help.md
  docs/ja/getting_started_github.md
  docs/ja/getting_started_introduction.md
  docs/ja/newbs.md
  docs/ja/newbs_building_firmware_configurator.md
  docs/ja/newbs_flashing.md
  docs/ja/newbs_getting_started.md
  docs/ja/newbs_git_best_practices.md
  docs/ja/newbs_git_resolving_merge_conflicts.md
  docs/ja/newbs_git_resynchronize_a_branch.md
  docs/ja/newbs_git_using_your_master_branch.md
  docs/ja/newbs_learn_more_resources.md
  docs/ja/newbs_testing_debugging.md
Labels: documentation

[Keyboard] Add QMK support for Red Scarf I numberpads (#7767)
  keyboards/redscarf_i/config.h
  keyboards/redscarf_i/info.json
  keyboards/redscarf_i/keymaps/default/keymap.c
  keyboards/redscarf_i/keymaps/ortho_5x4/keymap.c
  keyboards/redscarf_i/keymaps/ortho_6x4/keymap.c
  keyboards/redscarf_i/readme.md
  keyboards/redscarf_i/redscarf_i.c
  keyboards/redscarf_i/redscarf_i.h
  keyboards/redscarf_i/rules.mk
Labels: none

[Keyboard] Changes to support latest release of VIA, moved files to "idb" folder in "keymaps" in preparation of adding more boards, made changes to LAYOUT_ macros (#7798)
  keyboards/idb/idb_60/config.h
  keyboards/idb/idb_60/idb_60.c
  keyboards/idb/idb_60/idb_60.h
  keyboards/idb/idb_60/info.json
  keyboards/idb/idb_60/keymaps/all_keys/keymap.c
  keyboards/idb/idb_60/keymaps/default/keymap.c
  keyboards/idb/idb_60/keymaps/pngu/keymap.c
  keyboards/idb/idb_60/keymaps/via/keymap.c
  keyboards/idb/idb_60/keymaps/via/rules.mk
  keyboards/idb/idb_60/readme.md
  keyboards/idb/idb_60/rules.mk
  keyboards/idb_60/idb_60.h
  keyboards/idb_60/info.json
  keyboards/idb_60/keymaps/default/keymap.c
  keyboards/idb_60/rules.mk
Labels: none

[Keymap] New levinson keymap (#7613)
  keyboards/keebio/levinson/keymaps/ksamborski/config.h
  keyboards/keebio/levinson/keymaps/ksamborski/keymap.c
  keyboards/keebio/levinson/keymaps/ksamborski/rules.mk
Labels: none

[Keyboard] Added VIA support to Efreet (#7788)
  keyboards/efreet/config.h
  keyboards/efreet/keymaps/via/keymap.c
  keyboards/efreet/keymaps/via/rules.mk
  keyboards/efreet/rules.mk
Labels: none

Making keymaps based on userspace (#7812)
  keyboards/keebio/tragicforce68/keymaps/rossman360/keymap.c
  keyboards/keebio/tragicforce68/keymaps/rossman360/rules.mk
  users/rossman360/rossman360.c
  users/rossman360/rossman360.h
Labels: keymap

Add per-key IGNORE_MOD_TAP_INTERRUPT feature (#7838)
  docs/config_options.md
  docs/custom_quantum_functions.md
  docs/ja/config_options.md
  tmk_core/common/action.c
Labels: core, documentation

KBD67 MKII Notes Update (#7824)
  keyboards/kbdfans/kbd67/mkii_soldered/readme.md
  keyboards/kbdfans/kbd67/mkiirgb/v1/readme.md
  keyboards/kbdfans/kbd67/mkiirgb/v2/readme.md
  keyboards/kbdfans/kbd67/readme.md
Labels: none

Refactor f103,f072,f042 based keyboards to use new MCU selection defaults (#7705)
  keyboards/at_at/660m/rules.mk
  keyboards/candybar/rules.mk
  keyboards/cannonkeys/an_c/rules.mk
  keyboards/cannonkeys/chimera65/rules.mk
  keyboards/cannonkeys/instant60/rules.mk
  keyboards/cannonkeys/iron165/rules.mk
  keyboards/cannonkeys/ortho48/rules.mk
  keyboards/cannonkeys/ortho60/rules.mk
  keyboards/cannonkeys/ortho75/rules.mk
  keyboards/cannonkeys/practice60/rules.mk
  keyboards/cannonkeys/practice65/rules.mk
  keyboards/cannonkeys/satisfaction75/rules.mk
  keyboards/cannonkeys/savage65/rules.mk
  keyboards/cannonkeys/tmov2/rules.mk
  keyboards/converter/siemens_tastatur/rules.mk
  keyboards/handwired/ck4x4/rules.mk
  keyboards/handwired/onekey/bluepill/rules.mk
  keyboards/handwired/onekey/stm32f0_disco/rules.mk
  keyboards/peiorisboards/ixora/rules.mk
  keyboards/projectkb/alice/rules.mk
  keyboards/retro_75/rules.mk
  keyboards/vinta/rules.mk
Labels: none

[Keymap] Rossman360 Userspace add (#7779)
  users/rossman360/readme.md
  users/rossman360/rossman360.c
  users/rossman360/rossman360.h
  users/rossman360/rules.mk
Labels: keymap

[Keymap] Cleanup of Drashna code (#7800)
  keyboards/c39/keymaps/drashna/config.h
  keyboards/c39/keymaps/drashna/rules.mk
  keyboards/keebio/iris/keymaps/drashna/config.h
  keyboards/kyria/keymaps/drashna/config.h
  keyboards/kyria/keymaps/drashna/keymap.c
  keyboards/kyria/keymaps/drashna/rules.mk
  layouts/community/ergodox/drashna/config.h
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/ergodox/drashna/rules.mk
  layouts/community/ergodox/drashna_glow/config.h
  layouts/community/ergodox/drashna_glow/keymap.c
  layouts/community/ergodox/drashna_glow/rules.mk
  layouts/community/ortho_4x12/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/rules.mk
  layouts/community/ortho_5x12/drashna/rules.mk
  users/drashna/drashna.c
  users/drashna/process_records.c
  users/drashna/rgb_stuff.c
  users/drashna/rules.mk
Labels: keymap

Juno (#7652)
  keyboards/maartenwut/atom47/keymaps/junonum_a47/keymap.c
  keyboards/maartenwut/atom47/keymaps/junonum_a47/readme.md
  keyboards/planck/keymaps/juno/keymap.c
  keyboards/planck/keymaps/juno/readme.md
  keyboards/preonic/keymaps/juno/keymap.c
  keyboards/preonic/keymaps/juno/readme.md
  keyboards/preonic/keymaps/juno/rules.mk
  keyboards/vitamins_included/keymaps/juno/keymap.c
  keyboards/vitamins_included/keymaps/juno/rules.mk
  layouts/community/ortho_4x12/juno/config.h
  layouts/community/ortho_4x12/juno/keymap.c
  layouts/community/ortho_4x12/juno/readme.md
  layouts/community/ortho_4x12/juno/rules.mk
  layouts/community/ortho_4x12/junonum/config.h
  layouts/community/ortho_4x12/junonum/keymap.c
  layouts/community/ortho_4x12/junonum/readme.md
  layouts/community/ortho_4x12/junonum/rules.mk
Labels: keymap

[Keymap] Add additional dynamic macro key to dshields keymaps. (#7853)
  keyboards/model01/keymaps/dshields/keymap.c
  keyboards/planck/keymaps/dshields/keymap.c
Labels: none

Ensure `PROGMEM` is present on default keymaps (#7836)
  keyboards/cannonkeys/satisfaction75/keymaps/default/keymap.c
  keyboards/cannonkeys/satisfaction75/keymaps/tester/keymap.c
  keyboards/cannonkeys/satisfaction75/keymaps/via/keymap.c
  keyboards/converter/usb_usb/keymaps/ble/keymap.c
  keyboards/converter/usb_usb/keymaps/default/keymap.c
  keyboards/handwired/bluepill/keymaps/default/keymap.c
  keyboards/handwired/bluepill/keymaps/iso/keymap.c
  keyboards/handwired/ck4x4/keymaps/default/keymap.c
  keyboards/infinity60/keymaps/default/keymap.c
  keyboards/k_type/keymaps/default/keymap.c
  keyboards/sirius/unigo66/keymaps/default/keymap.c
  keyboards/whitefox/keymaps/default/keymap.c
Labels: none

h75_singa changes (#7799)
  keyboards/hineybush/h75_singa/h75_singa.c
  keyboards/hineybush/h75_singa/rules.mk
Labels: none

Hhkb keymap (#7907)
  keyboards/hhkb/keymaps/xyverz/keymap.c
Labels: none

Add Lily58 serial to LIB_SRC to avoid LTO issue (#7868)
  keyboards/lily58/rules.mk
Labels: none

Add a note explaining how to run tests
  docs/coding_conventions_python.md
Labels: documentation

[Keyboard] Dawn60 Keyboard (#7832)
  keyboards/wilba_tech/wt_rgb_backlight.c
  keyboards/wilba_tech/wt_rgb_backlight.h
  keyboards/xelus/dawn60/config.h
  keyboards/xelus/dawn60/dawn60.c
  keyboards/xelus/dawn60/dawn60.h
  keyboards/xelus/dawn60/keymaps/default/config.h
  keyboards/xelus/dawn60/keymaps/default/keymap.c
  keyboards/xelus/dawn60/keymaps/via/config.h
  keyboards/xelus/dawn60/keymaps/via/keymap.c
  keyboards/xelus/dawn60/keymaps/via/rules.mk
  keyboards/xelus/dawn60/readme.md
  keyboards/xelus/dawn60/rules.mk
Labels: none

[Keymap] fixed conflicts and made sure keymaps compiled, and some newer (older) keymaps snuck in (#7828)
  keyboards/keebio/tragicforce68/keymaps/rossman360/rules.mk
  keyboards/keebio/viterbi/keymaps/met/keymap.c
  keyboards/keebio/viterbi/keymaps/met/rules.mk
  users/rossman360/rossman360.h
Labels: keymap

NK65 Bootmagic lite for default (#7895)
  keyboards/nk65/config.h
  keyboards/nk65/rules.mk
Labels: none

[Keyboard] KPRepublic BM60 RGB (#7842)
  keyboards/bm60rgb/bm60rgb.c
  keyboards/bm60rgb/bm60rgb.h
  keyboards/bm60rgb/config.h
  keyboards/bm60rgb/info.json
  keyboards/bm60rgb/keymaps/default/keymap.c
  keyboards/bm60rgb/keymaps/default/readme.md
  keyboards/bm60rgb/readme.md
  keyboards/bm60rgb/rules.mk
Labels: none

Make the udev rules easier to read and manage
  lib/python/qmk/cli/doctor.py
Labels: cli, python

[Keyboard] Rebuild treadstone48 rev1 firmware (#7856)
  keyboards/treadstone48/common/oled_helper.c
  keyboards/treadstone48/common/oled_helper.h
  keyboards/treadstone48/config.h
  keyboards/treadstone48/i2c.c
  keyboards/treadstone48/i2c.h
  keyboards/treadstone48/keymaps/default/config.h
  keyboards/treadstone48/keymaps/default/keymap.c
  keyboards/treadstone48/keymaps/default/rules.mk
  keyboards/treadstone48/keymaps/like_jis/config.h
  keyboards/treadstone48/keymaps/like_jis/keymap.c
  keyboards/treadstone48/keymaps/like_jis/rules.mk
  keyboards/treadstone48/keymaps/like_jis_rs/config.h
  keyboards/treadstone48/keymaps/like_jis_rs/keymap.c
  keyboards/treadstone48/keymaps/like_jis_rs/readme_jp.md
  keyboards/treadstone48/keymaps/like_jis_rs/rules.mk
  keyboards/treadstone48/rev1/config.h
  keyboards/treadstone48/rev1/matrix.c
  keyboards/treadstone48/rev1/rev1.c
  keyboards/treadstone48/rev1/rev1.h
  keyboards/treadstone48/rev1/rules.mk
  keyboards/treadstone48/rev1/serial_config.h
  keyboards/treadstone48/rev1/serial_config_simpleapi.h
  keyboards/treadstone48/rev1/split_scomm.c
  keyboards/treadstone48/rev1/split_scomm.h
  keyboards/treadstone48/rev1/split_util.c
  keyboards/treadstone48/rev1/split_util.h
  keyboards/treadstone48/rules.mk
  keyboards/treadstone48/serial.c
  keyboards/treadstone48/serial.h
  keyboards/treadstone48/ssd1306.c
  keyboards/treadstone48/ssd1306.h
  keyboards/treadstone48/treadstone48.c
  keyboards/treadstone48/treadstone48.h
Labels: none

XD68 Configurator Layout Support and Minor Refactor (#7904)
  keyboards/xd68/config.h
  keyboards/xd68/info.json
  keyboards/xd68/keymaps/default/config.h
  keyboards/xd68/keymaps/default/keymap.c
  keyboards/xd68/keymaps/default_iso/config.h
  keyboards/xd68/keymaps/default_iso/keymap.c
  keyboards/xd68/rules.mk
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
