Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

add ansi with blocker layout and keymap for KBD67 rev2 PCB (#8538)
  keyboards/kbdfans/kbd67/rev2/info.json
  keyboards/kbdfans/kbd67/rev2/keymaps/ansi_blocker/keymap.c
  keyboards/kbdfans/kbd67/rev2/keymaps/ansi_blocker/readme.md
  keyboards/kbdfans/kbd67/rev2/keymaps/ansi_blocker_splitbs/keymap.c
  keyboards/kbdfans/kbd67/rev2/keymaps/ansi_blocker_splitbs/readme.md
  keyboards/kbdfans/kbd67/rev2/rev2.h
  keyboards/kbdfans/kbd67/rev2/rules.mk
Labels: none

Enable SLEEP_LED on ATmega32A (#8531)
  tmk_core/common/avr/sleep_led.c
  tmk_core/protocol/vusb/main.c
Labels: core

[Keyboard] Added two new layouts for the cospad (#8502)
  keyboards/cospad/cospad.h
  keyboards/cospad/info.json
  keyboards/cospad/keymaps/split_plus_and_zero/keymap.c
  keyboards/cospad/keymaps/split_zero/keymap.c
Labels: none

[Keyboard] MountainBlocks MB17 (#8554)
  keyboards/mountainblocks/mb17/config.h
  keyboards/mountainblocks/mb17/info.json
  keyboards/mountainblocks/mb17/keymaps/default/keymap.c
  keyboards/mountainblocks/mb17/keymaps/default/readme.md
  keyboards/mountainblocks/mb17/keymaps/via/keymap.c
  keyboards/mountainblocks/mb17/keymaps/via/rules.mk
  keyboards/mountainblocks/mb17/mb17.c
  keyboards/mountainblocks/mb17/mb17.h
  keyboards/mountainblocks/mb17/readme.md
  keyboards/mountainblocks/mb17/rules.mk
Labels: none

[Docs] Japanese translation of hardware_*.md (#8278)
  docs/ja/hardware_avr.md
  docs/ja/hardware_drivers.md
  docs/ja/hardware_keyboard_guidelines.md
Labels: documentation

[Docs] Update Japanese translation of cli.md (#8510)
  docs/ja/cli.md
Labels: documentation

Fix hasu usb converter bootloader (#8613)
  keyboards/converter/usb_usb/hasu/rules.mk
Labels: none

Update Japanese translation with prefix 'getting'
  docs/ja/getting_started_build_tools.md
  docs/ja/getting_started_getting_help.md
  docs/ja/getting_started_github.md
  docs/ja/getting_started_introduction.md
Labels: documentation

[Keymap] Drashna's Cleanup and RGB Divide (#8506)
  keyboards/40percentclub/nano/keymaps/drashna/keymap.c
  keyboards/40percentclub/nano/keymaps/drashna/rules.mk
  keyboards/crkbd/keymaps/drashna/keymap.c
  keyboards/kyria/keymaps/drashna/config.h
  keyboards/kyria/keymaps/drashna/keymap.c
  keyboards/kyria/keymaps/drashna/rules.mk
  layouts/community/ergodox/drashna/config.h
  layouts/community/ergodox/drashna/rules.mk
  layouts/community/ortho_4x12/drashna/config.h
  layouts/community/ortho_4x12/drashna/rules.mk
  users/drashna/config.h
  users/drashna/drashna.c
  users/drashna/drashna.h
  users/drashna/oled_stuff.c
  users/drashna/oled_stuff.h
  users/drashna/process_records.c
  users/drashna/process_records.h
  users/drashna/rgb_matrix_stuff.c
  users/drashna/rgb_matrix_stuff.h
  users/drashna/rgb_stuff.c
  users/drashna/rgb_stuff.h
  users/drashna/rules.mk
Labels: keymap

[Keymap] Add support for the Launch Pad in VIA (#8615)
  keyboards/launchpad/keymaps/via/keymap.c
  keyboards/launchpad/keymaps/via/rules.mk
Labels: none

Add Japanese translation of cli_commands.md (#8513)
  docs/ja/cli_commands.md
Labels: documentation

add japanese translation (feature part 01) (#8196)
  docs/ja/feature_advanced_keycodes.md
  docs/ja/feature_audio.md
  docs/ja/feature_auto_shift.md
  docs/ja/feature_backlight.md
  docs/ja/feature_bluetooth.md
  docs/ja/feature_bootmagic.md
Labels: documentation

Disable console on vusb boards using mouse/extra (#8625)
  keyboards/ares/rules.mk
  keyboards/bfake/rules.mk
  keyboards/eve/meteor/rules.mk
  keyboards/exent/rules.mk
  keyboards/ft/mars80/rules.mk
  keyboards/gray_studio/hb85/rules.mk
  keyboards/j80/rules.mk
  keyboards/jc65/v32a/rules.mk
  keyboards/kbdfans/kbdpad/mk1/rules.mk
  keyboards/kira80/rules.mk
  keyboards/mechmini/v1/rules.mk
  keyboards/panc60/rules.mk
  keyboards/pearl/rules.mk
  keyboards/percent/canoe/rules.mk
  keyboards/percent/skog/rules.mk
  keyboards/tgr/alice/rules.mk
  keyboards/tgr/jane/rules.mk
  keyboards/unikorn/rules.mk
  keyboards/winkeyless/bmini/rules.mk
Labels: none

[Keymap] Keymap refactoring in Treadstone48 (#8574)
  keyboards/treadstone48/keymaps/default/keymap.c
  keyboards/treadstone48/keymaps/default/readme_jp.md
  keyboards/treadstone48/keymaps/default/rules.mk
  keyboards/treadstone48/keymaps/like_jis/keymap.c
  keyboards/treadstone48/keymaps/like_jis/readme_jp.md
  keyboards/treadstone48/keymaps/like_jis/rules.mk
  keyboards/treadstone48/keymaps/like_jis_rs/keymap.c
  keyboards/treadstone48/keymaps/like_jis_rs/readme_jp.md
  keyboards/treadstone48/keymaps/like_jis_rs/rules.mk
Labels: none

add 60_tsangan_hhkb layout to dz60 rules (#8616)
  keyboards/dz60/rules.mk
Labels: none

Miscellaneous cleanups (#8639)
  keyboards/coseyfannitutti/romeo/config.h
  quantum/config_common.h
  quantum/quantum.c
  tmk_core/protocol/lufa/lufa.h
  util/activate_msys2.sh
  util/activate_wsl.sh
Labels: core

Add Serbian keymaps and sendstring LUT (#8560)
  quantum/keymap_extras/keymap_serbian.h
  quantum/keymap_extras/keymap_serbian_latin.h
  quantum/keymap_extras/sendstring_serbian_latin.h
Labels: core

Fix AVR ws2812 when ADDRESS_BASE is non zero (#8646)
  drivers/avr/ws2812.c
  drivers/avr/ws2812.h
  keyboards/ergodox_ez/led_i2c.c
Labels: core

Update newbs_getting_started.md
  docs/newbs_getting_started.md
Labels: documentation

Add via keymap to plaid (#8640)
  keyboards/plaid/keymaps/via/config.h
  keyboards/plaid/keymaps/via/keymap.c
  keyboards/plaid/keymaps/via/readme.md
  keyboards/plaid/keymaps/via/rules.mk
Labels: none

[Keyboard] added bear_face PCB (#8596)
  keyboards/bear_face/bear_face.c
  keyboards/bear_face/bear_face.h
  keyboards/bear_face/config.h
  keyboards/bear_face/info.json
  keyboards/bear_face/keymaps/default/keymap.c
  keyboards/bear_face/keymaps/default/readme.md
  keyboards/bear_face/readme.md
  keyboards/bear_face/rules.mk
Labels: none

Fix inverted backlight for XD87 (#8612)
  keyboards/xd87/config.h
Labels: none

add hid_raw feature to VUSB (#8380)
  tmk_core/protocol/vusb/main.c
  tmk_core/protocol/vusb/vusb.c
  tmk_core/protocol/vusb/vusb.h
Labels: core

Add Lithuanian keymap and sendstring LUT (#8562)
  quantum/keymap_extras/keymap_lithuanian_azerty.h
  quantum/keymap_extras/keymap_lithuanian_qwerty.h
  quantum/keymap_extras/sendstring_lithuanian_azerty.h
  quantum/keymap_extras/sendstring_lithuanian_qwerty.h
Labels: core

info.json fix for basekeys/slice (#8606)
  keyboards/basekeys/slice/rev1/info.json
  keyboards/basekeys/slice/rev1_rgb/info.json
Labels: none

format code according to conventions [skip ci]
  tmk_core/common/avr/bootloader.c
Labels: core

Add Latvian keymap and sendstring LUT (#8563)
  quantum/keymap_extras/keymap_latvian.h
  quantum/keymap_extras/sendstring_latvian.h
Labels: core

Changes to my Ergodox & Planck keymaps (#8622)
  layouts/community/ergodox/xyverz/keymap.c
  layouts/community/ergodox/xyverz/readme.md
  layouts/community/ortho_4x12/xyverz/keymap.c
  layouts/community/ortho_4x12/xyverz/readme.md
Labels: keymap

Add additional minimal "mini" keymap for Centromere (#8579)
  keyboards/centromere/keymaps/mini/keymap.c
Labels: none

Update Quefrency (#8623)
  keyboards/keebio/quefrency/keymaps/via/keymap.c
  keyboards/keebio/quefrency/keymaps/via/rules.mk
  keyboards/keebio/quefrency/rev1/config.h
  keyboards/keebio/quefrency/rev1/rev1.h
  keyboards/keebio/quefrency/rev2/config.h
  keyboards/keebio/quefrency/rev2/rev2.h
Labels: none

Add VIA to Gingham (#8651)
  keyboards/gingham/config.h
  keyboards/gingham/keymaps/default/keymap.c
  keyboards/gingham/keymaps/via/keymap.c
  keyboards/gingham/keymaps/via/readme.md
  keyboards/gingham/keymaps/via/rules.mk
Labels: none

Fix `pgm_read_ptr()` define for ARM (#8658)
  tmk_core/common/progmem.h
Labels: core

Fixed info.json (#8653)
  keyboards/bear_face/info.json
Labels: none

Added USSR anthem. (#8588)
  quantum/audio/song_list.h
Labels: core

format code according to conventions [skip ci]
  quantum/audio/song_list.h
Labels: core

Strip out features to allow minimum firmware sizes (#8645)
  quantum/keymap_common.c
  quantum/quantum.c
  tmk_core/common/action.c
  tmk_core/common/action_layer.h
  tmk_core/common/util.c
  tmk_core/protocol/vusb/vusb.c
Labels: core

Update Japanese translation of config_options.md
  docs/ja/config_options.md
Labels: documentation

Migrate :program logic to :flash (#8631)
  tmk_core/avr.mk
  tmk_core/chibios.mk
Labels: core

Updated V-USB template to allow usbFunctionWriteOut (#8634)
  tmk_core/protocol/vusb/usbconfig.h
  tmk_core/protocol/vusb/vusb.c
Labels: core

Rename UC_OSX (and related constants) to UC_MAC (#8589)
  docs/feature_unicode.md
  docs/keycodes.md
  keyboards/signum/3_0/elitec/keymaps/default/layout.py
  quantum/process_keycode/process_unicode_common.c
  quantum/process_keycode/process_unicode_common.h
  quantum/process_keycode/process_unicodemap.c
  quantum/quantum_keycodes.h
  users/drashna/config.h
  users/kuchosauronad0/config.h
Labels: core, keymap, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
