Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

[Keyboard] Add UA62 keyboard (#7290)
  keyboards/ua62/config.h
  keyboards/ua62/info.json
  keyboards/ua62/keymaps/default/keymap.c
  keyboards/ua62/readme.md
  keyboards/ua62/rules.mk
  keyboards/ua62/ua62.c
  keyboards/ua62/ua62.h
Labels: none

[Keymap] minor config changes (#7334)
  keyboards/hs60/v2/keymaps/stanrc85/config.h
Labels: none

[Keymap] Sol rework (#7317)
  keyboards/rgbkb/sol/keymaps/xyverz/keymap.c
  keyboards/rgbkb/sol/keymaps/xyverz/rules.mk
Labels: none

[Keyboard] XT converter: add config_common.h include and fix E0 collision (#7341)
  keyboards/converter/xt_usb/config.h
  keyboards/converter/xt_usb/matrix.c
Labels: none

Fix chibios when mouse and nkro disabled (#7312)
  tmk_core/protocol/chibios/usb_main.c
Labels: core

[Keymap] UK ISO keymap for DZ60 (#7322)
  keyboards/dz60/keymaps/tarnjotsingh/keymap.c
  keyboards/dz60/keymaps/tarnjotsingh/layers.json
  keyboards/dz60/keymaps/tarnjotsingh/readme.md
Labels: none

disable deprecated actions (#7211)
  quantum/template/avr/config.h
  quantum/template/ps2avrgb/config.h
Labels: core

Add my custom layouts for GH60, DZ60 and Minivan (#7278)
  keyboards/dz60/keymaps/danbee/keymap.c
  keyboards/dz60/keymaps/danbee/rules.mk
  keyboards/gh60/revc/keymaps/danbee/keymap.c
  keyboards/gh60/revc/keymaps/danbee/rules.mk
  keyboards/thevankeyboards/minivan/keymaps/danbee/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/danbee/rules.mk
Labels: none

[Keymap] Add issmirnov {user, ergodox, levinson} files. (#7239)
  keyboards/keebio/levinson/keymaps/issmirnov/README.md
  keyboards/keebio/levinson/keymaps/issmirnov/asci-keymap.txt
  keyboards/keebio/levinson/keymaps/issmirnov/build.sh
  keyboards/keebio/levinson/keymaps/issmirnov/config.h
  keyboards/keebio/levinson/keymaps/issmirnov/keymap.c
  keyboards/keebio/levinson/keymaps/issmirnov/push.sh
  keyboards/keebio/levinson/keymaps/issmirnov/rgb.c
  keyboards/keebio/levinson/keymaps/issmirnov/rgb.h
  keyboards/keebio/levinson/keymaps/issmirnov/rules.mk
  keyboards/keebio/levinson/keymaps/issmirnov/sounds.h
  keyboards/keebio/levinson/keymaps/issmirnov/template.txt
  layouts/community/ergodox/issmirnov/README.md
  layouts/community/ergodox/issmirnov/asci-keymap.txt
  layouts/community/ergodox/issmirnov/build.sh
  layouts/community/ergodox/issmirnov/config.h
  layouts/community/ergodox/issmirnov/keymap.c
  layouts/community/ergodox/issmirnov/push.sh
  layouts/community/ergodox/issmirnov/template.txt
  users/issmirnov/config.h
  users/issmirnov/issmirnov.c
  users/issmirnov/issmirnov.h
  users/issmirnov/rows.h
  users/issmirnov/rules.mk
  users/issmirnov/tap_tog.c
  users/issmirnov/tap_tog.h
Labels: keymap

ARM - ws2812 bitbang (#7173)
  docs/feature_rgb_matrix.md
  docs/feature_rgblight.md
  docs/hardware_drivers.md
  docs/ws2812_driver.md
  drivers/arm/ws2812.c
  drivers/arm/ws2812.h
  keyboards/handwired/onekey/bluepill/config.h
  keyboards/handwired/onekey/keymaps/rgb/config.h
  keyboards/handwired/onekey/keymaps/rgb/keymap.c
  keyboards/handwired/onekey/keymaps/rgb/rules.mk
  keyboards/handwired/onekey/proton_c/config.h
  keyboards/handwired/onekey/stm32f0_disco/config.h
  quantum/stm32/proton_c.mk
  tmk_core/protocol/chibios/main.c
Labels: core, documentation

Add support for newer versions of clang-format, if installed
  lib/python/qmk/cli/cformat.py
Labels: cli, python

[Keyboard] add sm68 (#7279)
  keyboards/hineybush/sm68/config.h
  keyboards/hineybush/sm68/info.json
  keyboards/hineybush/sm68/keymaps/default/config.h
  keyboards/hineybush/sm68/keymaps/default/keymap.c
  keyboards/hineybush/sm68/keymaps/default/readme.md
  keyboards/hineybush/sm68/readme.md
  keyboards/hineybush/sm68/rules.mk
  keyboards/hineybush/sm68/sm68.c
  keyboards/hineybush/sm68/sm68.h
Labels: none

[Doc] Tidy up compatible MCUs docs (#7295)
  docs/_summary.md
  docs/compatible_microcontrollers.md
Labels: documentation

[GitHub] Update issue templates (#7303)
  .github/ISSUE_TEMPLATE/blank.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other_issues.md
Labels: none

[Keymap] update calbatr0ss layout (#7342)
  keyboards/dz60/keymaps/calbatr0ss/keymap.c
Labels: none

When checking program returncodes treat both 0 and 1 as installed
  lib/python/qmk/cli/doctor.py
Labels: cli, python

[Keyboard] Added abnt2 layout to dz60 (#7340)
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/keymaps/default_abnt2/keymap.c
  keyboards/dz60/keymaps/default_abnt2/readme.md
Labels: none

Update ARM GCC on macOS to 8.3 (#7318)
  util/macos_install.sh
Labels: core

[Keyboard] Hadron v3 Enable RGB (#7292)
  keyboards/hadron/ver3/rules.mk
Labels: none

Fix shell.nix by pinning nixpkgs (#6213)
  shell.nix
Labels: none

[Keyboard] kbdfans keyboards NKRO enable (#7364)
  keyboards/kbdfans/kbd19x/rules.mk
  keyboards/kbdfans/kbd4x/rules.mk
  keyboards/kbdfans/kbd66/rules.mk
  keyboards/kbdfans/kbd67/hotswap/rules.mk
  keyboards/kbdfans/kbd67/rev1/rules.mk
  keyboards/kbdfans/kbd67/rev2/rules.mk
  keyboards/kbdfans/kbd6x/rules.mk
  keyboards/kbdfans/kbd8x/rules.mk
Labels: none

Updated slave encoder sync to reduce dropped pulses (#7325)
  quantum/encoder.c
Labels: core

Fix the RGB_MATRIX_RAINBOW_PINWHEELS animation (#7365)
  quantum/rgb_matrix_animations/rainbow_pinwheels_anim.h
Labels: core

[Core] Cleanup rules.mk for F303 keyboards (#7306)
  keyboards/1upkeyboards/sweet16/v1/rules.mk
  keyboards/1upkeyboards/sweet16/v2/promicro/rules.mk
  keyboards/1upkeyboards/sweet16/v2/proton_c/rules.mk
  keyboards/boston_meetup/2019/rules.mk
  keyboards/ckeys/thedora/rules.mk
  keyboards/clueboard/60/rules.mk
  keyboards/clueboard/66/rev4/rules.mk
  keyboards/clueboard/66_hotswap/gen1/rules.mk
  keyboards/clueboard/california/rules.mk
  keyboards/dztech/dz60rgb/rules.mk
  keyboards/dztech/dz60rgb_ansi/rules.mk
  keyboards/dztech/dz65rgb/rules.mk
  keyboards/hadron/rules.mk
  keyboards/hadron/ver3/boards/GENERIC_STM32_F303XC/board.c
  keyboards/hadron/ver3/boards/GENERIC_STM32_F303XC/board.h
  keyboards/hadron/ver3/boards/GENERIC_STM32_F303XC/board.mk
  keyboards/hadron/ver3/bootloader_defs.h
  keyboards/hadron/ver3/rules.mk
  keyboards/handwired/co60/rev6/rules.mk
  keyboards/handwired/co60/rev7/rules.mk
  keyboards/handwired/steamvan/rev1/rules.mk
  keyboards/handwired/wulkan/rules.mk
  keyboards/hs60/v2/boards/GENERIC_STM32_F303XC/board.c
  keyboards/hs60/v2/boards/GENERIC_STM32_F303XC/board.h
  keyboards/hs60/v2/boards/GENERIC_STM32_F303XC/board.mk
  keyboards/hs60/v2/bootloader_defs.h
  keyboards/hs60/v2/rules.mk
  keyboards/kbdfans/kbd67/mkiirgb/rules.mk
  keyboards/nk65/boards/GENERIC_STM32_F303XC/board.c
  keyboards/nk65/boards/GENERIC_STM32_F303XC/board.h
  keyboards/nk65/boards/GENERIC_STM32_F303XC/board.mk
  keyboards/nk65/bootloader_defs.h
  keyboards/nk65/rules.mk
  keyboards/planck/ez/rules.mk
  keyboards/planck/rev6/rules.mk
  keyboards/preonic/rev3/rules.mk
  quantum/mcu_selection.mk
Labels: core

[Keyboard] Add keyboard Nafuda (#7367)
  keyboards/nafuda/config.h
  keyboards/nafuda/info.json
  keyboards/nafuda/keymaps/default/config.h
  keyboards/nafuda/keymaps/default/keymap.c
  keyboards/nafuda/keymaps/default/readme.md
  keyboards/nafuda/nafuda.c
  keyboards/nafuda/nafuda.h
  keyboards/nafuda/readme.md
  keyboards/nafuda/rules.mk
Labels: none

[Docs] Encourage newbs to not download the repo as a zip (#7353)
  docs/README.md
  docs/getting_started_build_tools.md
  docs/ru-ru/getting_started_build_tools.md
Labels: documentation

Update debounce docs (#7355)
  docs/feature_debounce_type.md
Labels: documentation

[Keyboard] Add TG4x (#7351)
  keyboards/tg4x/config.h
  keyboards/tg4x/info.json
  keyboards/tg4x/keymaps/default/config.h
  keyboards/tg4x/keymaps/default/keymap.c
  keyboards/tg4x/keymaps/default/readme.md
  keyboards/tg4x/readme.md
  keyboards/tg4x/rules.mk
  keyboards/tg4x/tg4x.c
  keyboards/tg4x/tg4x.h
Labels: none

Port SPLIT_USB_DETECT to crkbd (#7195)
  keyboards/crkbd/rev1/matrix.c
  keyboards/crkbd/rev1/split_util.c
Labels: none

Adding new pcb with default keymap and personal keymap (#7314)
  keyboards/leeku/finger65/config.h
  keyboards/leeku/finger65/finger65.h
  keyboards/leeku/finger65/info.json
  keyboards/leeku/finger65/keymaps/default/keymap.c
  keyboards/leeku/finger65/keymaps/madhatter/keymap.c
  keyboards/leeku/finger65/keymaps/madhatter/rules.mk
  keyboards/leeku/finger65/readme.md
  keyboards/leeku/finger65/rules.mk
  keyboards/leeku/finger65/usbconfig.h
Labels: none

[Keyboard] Add FLX Virgo (#7352)
  keyboards/flx/virgo/config.h
  keyboards/flx/virgo/info.json
  keyboards/flx/virgo/keymaps/default/config.h
  keyboards/flx/virgo/keymaps/default/keymap.c
  keyboards/flx/virgo/keymaps/default/readme.md
  keyboards/flx/virgo/readme.md
  keyboards/flx/virgo/rules.mk
  keyboards/flx/virgo/virgo.c
  keyboards/flx/virgo/virgo.h
Labels: none

capslock_led (#7359)
  layouts/community/ortho_4x12/jotix/keymap.c
Labels: keymap

Move Ergodox EZ RGB Light code to custom driver (#7309)
  drivers/avr/ws2812.c
  keyboards/ergodox_ez/config.h
  keyboards/ergodox_ez/led_i2c.c
  keyboards/ergodox_ez/post_config.h
  keyboards/ergodox_ez/rules.mk
Labels: core

[Keyboard] fix DZ60RGB info.json (#7362)
  keyboards/dztech/dz60rgb/info.json
Labels: none

format code according to conventions [skip ci]
  keyboards/redscarf_iiplus/verd/info.json
  keyboards/redscarf_iiplus/verd/keymaps/alittlepeace/keymap.c
  keyboards/redscarf_iiplus/verd/keymaps/default/keymap.c
  keyboards/redscarf_iiplus/verd/verd.c
Labels: none

[Docs] Japanese translation of docs/ja/newbs_best_practices.md (#7337)
  docs/ja/newbs.md
  docs/ja/newbs_best_practices.md
  docs/ja/newbs_building_firmware.md
  docs/ja/newbs_building_firmware_configurator.md
  docs/ja/newbs_flashing.md
  docs/ja/newbs_getting_started.md
  docs/ja/newbs_learn_more_resources.md
  docs/ja/newbs_testing_debugging.md
Labels: documentation

Improvements to Solenoid feature (#7369)
  docs/feature_haptic_feedback.md
  drivers/haptic/solenoid.h
Labels: core, documentation

Improve a number of things about how MILC operates (#7344)
  lib/python/milc.py
Labels: cli, python

Fix typo and code indentation (#7410)
  docs/feature_rgblight.md
Labels: documentation

Add CLI command for flashing a keyboard
  docs/cli.md
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/flash.py
  lib/python/qmk/commands.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python, documentation
