Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

Add customisable EEPROM driver selection (#7274)
  common_features.mk
  docs/_summary.md
  docs/eeprom_driver.md
  docs/hardware_drivers.md
  drivers/eeprom/eeprom_custom.c-template
  drivers/eeprom/eeprom_driver.c
  drivers/eeprom/eeprom_driver.h
  drivers/eeprom/eeprom_i2c.c
  drivers/eeprom/eeprom_i2c.h
  drivers/eeprom/eeprom_transient.c
  drivers/eeprom/eeprom_transient.h
  quantum/audio/audio_arm.c
  quantum/rgblight.c
  tmk_core/common.mk
  tmk_core/common/arm_atsam/eeprom.c
  tmk_core/common/chibios/eeprom_stm32.c
  tmk_core/common/chibios/eeprom_teensy.c
  tmk_core/common/eeconfig.c
  tmk_core/common/eeprom.h
  tmk_core/common/test/eeprom.c
Labels: core, documentation

HS60 EEPROM size fix (#7968)
  keyboards/hs60/v2/ansi/config.h
  keyboards/hs60/v2/ansi/keymaps/default/config.h
  keyboards/hs60/v2/ansi/keymaps/via/config.h
  keyboards/hs60/v2/hhkb/config.h
  keyboards/hs60/v2/iso/config.h
Labels: none

[Keyboard] added support for new rev of cypher PCB (#7636)
  keyboards/westfoxtrot/cypher/cypher.c
  keyboards/westfoxtrot/cypher/keymaps/default-iso/keymap.c
  keyboards/westfoxtrot/cypher/keymaps/default/keymap.c
  keyboards/westfoxtrot/cypher/rev1/config.h
  keyboards/westfoxtrot/cypher/rev1/info.json
  keyboards/westfoxtrot/cypher/rev1/keymaps/default/keymap.c
  keyboards/westfoxtrot/cypher/rev1/keymaps/default/readme.md
  keyboards/westfoxtrot/cypher/rev1/keymaps/default_iso/keymap.c
  keyboards/westfoxtrot/cypher/rev1/keymaps/default_iso/readme.md
  keyboards/westfoxtrot/cypher/rev1/keymaps/kwer/config.h
  keyboards/westfoxtrot/cypher/rev1/keymaps/kwer/keymap.c
  keyboards/westfoxtrot/cypher/rev1/keymaps/kwer/readme.md
  keyboards/westfoxtrot/cypher/rev1/keymaps/kwer/rules.mk
  keyboards/westfoxtrot/cypher/rev1/readme.md
  keyboards/westfoxtrot/cypher/rev1/rev1.c
  keyboards/westfoxtrot/cypher/rev1/rev1.h
  keyboards/westfoxtrot/cypher/rev1/rules.mk
  keyboards/westfoxtrot/cypher/rev5/config.h
  keyboards/westfoxtrot/cypher/rev5/info.json
  keyboards/westfoxtrot/cypher/rev5/keymaps/default/keymap.c
  keyboards/westfoxtrot/cypher/rev5/keymaps/default/readme.md
  keyboards/westfoxtrot/cypher/rev5/keymaps/default_iso/keymap.c
  keyboards/westfoxtrot/cypher/rev5/keymaps/default_iso/readme.md
  keyboards/westfoxtrot/cypher/rev5/keymaps/max/keymap.c
  keyboards/westfoxtrot/cypher/rev5/keymaps/max/readme.md
  keyboards/westfoxtrot/cypher/rev5/readme.md
  keyboards/westfoxtrot/cypher/rev5/rev5.c
  keyboards/westfoxtrot/cypher/rev5/rev5.h
  keyboards/westfoxtrot/cypher/rev5/rules.mk
Labels: none

create users/datagrok (#7653)
  users/datagrok/README.md
  users/datagrok/feature_cdeq.c
  users/datagrok/feature_cdeq.h
  users/datagrok/feature_default_layers_selector.c
  users/datagrok/feature_default_layers_selector.h
Labels: keymap

Local Changes
  keyboards/crkbd/keymaps/curry/keymap.c
  users/curry/process_records.h
  users/curry/wrappers.h
Labels: keymap

add Breaking Change PR Instructions doc
  docs/_summary.md
  docs/breaking_changes_instructions.md
Labels: documentation

[Keyboard] Cospad refactor (#7957)
  keyboards/cospad/config.h
  keyboards/cospad/cospad.c
  keyboards/cospad/cospad.h
  keyboards/cospad/info.json
  keyboards/cospad/keymaps/default/keymap.c
  keyboards/cospad/readme.md
  keyboards/cospad/rules.mk
Labels: none

Update split serial code to use driver pattern (#7990)
  common_features.mk
  drivers/avr/serial.c
  drivers/avr/serial.h
Labels: core

eeprom size fix (#7969)
  keyboards/nk65/config.h
Labels: none

[Keymap] crkbd/kidbrazil adding layer dependent RGB & better idle timeout. (#7901)
  keyboards/crkbd/keymaps/kidbrazil/config.h
  keyboards/crkbd/keymaps/kidbrazil/enums.h
  keyboards/crkbd/keymaps/kidbrazil/keymap.c
  keyboards/crkbd/keymaps/kidbrazil/layer.c
  keyboards/crkbd/keymaps/kidbrazil/layer.h
  keyboards/crkbd/keymaps/kidbrazil/rules.mk
Labels: none

[Keyboard] Initial commit for mc76k (#8000)
  keyboards/mc_76k/config.h
  keyboards/mc_76k/info.json
  keyboards/mc_76k/keymaps/default/keymap.c
  keyboards/mc_76k/keymaps/default/readme.md
  keyboards/mc_76k/keymaps/via/keymap.c
  keyboards/mc_76k/keymaps/via/readme.md
  keyboards/mc_76k/keymaps/via/rules.mk
  keyboards/mc_76k/mc_76k.c
  keyboards/mc_76k/mc_76k.h
  keyboards/mc_76k/readme.md
  keyboards/mc_76k/rules.mk
Labels: none

[Keyboard] Think 6.5 Soldered Matrix Fix (#7952)
  keyboards/gray_studio/think65/solder/readme.md
  keyboards/gray_studio/think65/solder/solder.c
  keyboards/gray_studio/think65/solder/solder.h
Labels: none

Beef up how `qmk doctor` works. (#7375)
  docs/cli.md
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/questions.py
  lib/python/qmk/submodules.py
Labels: cli, python, documentation

[Keymap] Added gaming layout and read me (#7996)
  keyboards/maartenwut/wonderland/keymaps/rafael-azevedo/keymap.c
  keyboards/maartenwut/wonderland/keymaps/rafael-azevedo/readme.md
Labels: none

[Keymap] Customized layouts for the Keebio/Quefrency65 (#7947)
  keyboards/keebio/quefrency/keymaps/yoryer/config.h
  keyboards/keebio/quefrency/keymaps/yoryer/keymap.c
Labels: none

Noxary 280 Backwards LED Fix (#8057)
  keyboards/noxary/280/280.c
Labels: none

Remove duplicate board files
  keyboards/cannonkeys/ortho48/boards/GENERIC_STM32_F103/board.c
  keyboards/cannonkeys/ortho48/boards/GENERIC_STM32_F103/board.h
  keyboards/cannonkeys/ortho48/boards/GENERIC_STM32_F103/board.mk
  keyboards/cannonkeys/ortho60/boards/GENERIC_STM32_F103/board.c
  keyboards/cannonkeys/ortho60/boards/GENERIC_STM32_F103/board.h
  keyboards/cannonkeys/ortho60/boards/GENERIC_STM32_F103/board.mk
  keyboards/cannonkeys/ortho75/boards/GENERIC_STM32_F103/board.c
  keyboards/cannonkeys/ortho75/boards/GENERIC_STM32_F103/board.h
  keyboards/cannonkeys/ortho75/boards/GENERIC_STM32_F103/board.mk
  keyboards/cannonkeys/practice60/boards/GENERIC_STM32_F103/board.c
  keyboards/cannonkeys/practice60/boards/GENERIC_STM32_F103/board.h
  keyboards/cannonkeys/practice60/boards/GENERIC_STM32_F103/board.mk
  keyboards/cannonkeys/practice65/boards/GENERIC_STM32_F103/board.c
  keyboards/cannonkeys/practice65/boards/GENERIC_STM32_F103/board.h
  keyboards/cannonkeys/practice65/boards/GENERIC_STM32_F103/board.mk
  keyboards/converter/siemens_tastatur/boards/GENERIC_STM32_F103/board.c
  keyboards/converter/siemens_tastatur/boards/GENERIC_STM32_F103/board.h
  keyboards/converter/siemens_tastatur/boards/GENERIC_STM32_F103/board.mk
  keyboards/handwired/onekey/bluepill/boards/GENERIC_STM32_F103/board.c
  keyboards/handwired/onekey/bluepill/boards/GENERIC_STM32_F103/board.h
  keyboards/handwired/onekey/bluepill/boards/GENERIC_STM32_F103/board.mk
Labels: none

[Keymap] Update keymap for user jasondunsmore (#8047)
  keyboards/keebio/iris/keymaps/jasondunsmore/config.h
  keyboards/keebio/iris/keymaps/jasondunsmore/keymap.c
  keyboards/keebio/iris/keymaps/jasondunsmore/readme.md
  keyboards/keebio/iris/keymaps/jasondunsmore/rules.mk
Labels: none

Add German programming layout for Lets Split (#8014)
  keyboards/lets_split/keymaps/DE_programming/config.h
  keyboards/lets_split/keymaps/DE_programming/keymap.c
  keyboards/lets_split/keymaps/DE_programming/readme.md
  keyboards/lets_split/keymaps/DE_programming/rules.mk
Labels: none

Fix misunderstanding of CPPFLAGS and CXXFLAGS.
  message.mk
  tmk_core/arm_atsam.mk
  tmk_core/avr.mk
  tmk_core/chibios.mk
  tmk_core/native.mk
  tmk_core/rules.mk
Labels: core

[Keyboard] FLX Virgo, cleaned up layouts and added VIA keymap (#7997)
  keyboards/flx/virgo/info.json
  keyboards/flx/virgo/keymaps/via/keymap.c
  keyboards/flx/virgo/keymaps/via/readme.md
  keyboards/flx/virgo/keymaps/via/rules.mk
  keyboards/flx/virgo/readme.md
  keyboards/flx/virgo/rules.mk
  keyboards/flx/virgo/virgo.c
  keyboards/flx/virgo/virgo.h
Labels: none

[Keyboard] Add support for Drink Me (#8039)
  keyboards/yatara/drink_me/config.h
  keyboards/yatara/drink_me/drink_me.c
  keyboards/yatara/drink_me/drink_me.h
  keyboards/yatara/drink_me/info.json
  keyboards/yatara/drink_me/keymaps/caterpillar/keymap.c
  keyboards/yatara/drink_me/keymaps/caterpillar/readme.md
  keyboards/yatara/drink_me/keymaps/cheshire_cat/keymap.c
  keyboards/yatara/drink_me/keymaps/cheshire_cat/readme.md
  keyboards/yatara/drink_me/keymaps/default/keymap.c
  keyboards/yatara/drink_me/keymaps/default/readme.md
  keyboards/yatara/drink_me/keymaps/dormouse/keymap.c
  keyboards/yatara/drink_me/keymaps/dormouse/readme.md
  keyboards/yatara/drink_me/keymaps/dormouse/rules.mk
  keyboards/yatara/drink_me/keymaps/queen/config.h
  keyboards/yatara/drink_me/keymaps/queen/keymap.c
  keyboards/yatara/drink_me/keymaps/queen/readme.md
  keyboards/yatara/drink_me/keymaps/queen/rules.mk
  keyboards/yatara/drink_me/keymaps/via/keymap.c
  keyboards/yatara/drink_me/keymaps/via/readme.md
  keyboards/yatara/drink_me/keymaps/via/rules.mk
  keyboards/yatara/drink_me/readme.md
  keyboards/yatara/drink_me/rules.mk
Labels: none

[Keymap] add new keymap (xd75 atomic style japanese layout) (#7944)i
  keyboards/xd75/keymaps/atomic_style_jp/keymap.c
  keyboards/xd75/keymaps/atomic_style_jp/readme.md
Labels: none

[Docs] Update Japanese translation (#8015)
  docs/ja/_summary.md
  docs/ja/arm_debugging.md
  docs/ja/config_options.md
  docs/ja/newbs_building_firmware_configurator.md
  docs/ja/newbs_flashing.md
  docs/ja/newbs_getting_started.md
  docs/ja/newbs_git_resynchronize_a_branch.md
  docs/ja/newbs_git_using_your_master_branch.md
  docs/ja/newbs_learn_more_resources.md
  docs/ja/newbs_testing_debugging.md
Labels: documentation

Fix AVR boards which were overriding backlight without setting… (#8044)
  keyboards/amj96/config.h
  keyboards/amj96/rules.mk
  keyboards/clueboard/17/rules.mk
  keyboards/clueboard/66/rev2/rules.mk
  keyboards/clueboard/66/rev3/rules.mk
  keyboards/clueboard/66_hotswap/prototype/rules.mk
  keyboards/clueboard/card/rules.mk
  keyboards/cu75/rules.mk
  keyboards/duck/eagle_viper/v2/rules.mk
  keyboards/duck/jetfire/rules.mk
  keyboards/duck/lightsaver/rules.mk
  keyboards/duck/octagon/v1/rules.mk
  keyboards/duck/octagon/v2/rules.mk
  keyboards/duck/orion/v3/rules.mk
  keyboards/kmac/config.h
  keyboards/kmac/rules.mk
  keyboards/kmini/config.h
  keyboards/kmini/rules.mk
  keyboards/lazydesigners/dimple/rules.mk
  keyboards/lfkeyboards/lfk78/rules.mk
  keyboards/lfkeyboards/lfk87/rules.mk
  keyboards/lfkeyboards/mini1800/rules.mk
  show_options.mk
Labels: none

Create central board for bluepill
  drivers/boards/STM32_F103_STM32DUINO/board.c
  drivers/boards/STM32_F103_STM32DUINO/board.h
  drivers/boards/STM32_F103_STM32DUINO/board.mk
Labels: core

Qmk doctor os check to support newer msys2/w10 installations (#8031)
  lib/python/qmk/cli/doctor.py
Labels: cli, python

Documentation: KBD75 (#8038)
  keyboards/kbdfans/kbd75/readme.md
  keyboards/winkeyless/bmini/readme.md
  keyboards/winkeyless/readme.md
Labels: none

Updates cKeys/theDora README with explicit flashing instructions (#8016)
  keyboards/ckeys/thedora/readme.md
Labels: none

[Keyboard] Fix Pulse4k info.json LAYOUT name (#7965)
  keyboards/maxr1998/pulse4k/info.json
  keyboards/maxr1998/pulse4k/keymaps/default/keymap.c
  keyboards/maxr1998/pulse4k/pulse4k.c
Labels: none

[Keyboard] Adds ogre ergo single (#8012)
  keyboards/ogre/ergo_single/config.h
  keyboards/ogre/ergo_single/ergo_single.c
  keyboards/ogre/ergo_single/ergo_single.h
  keyboards/ogre/ergo_single/keymaps/default/keymap.c
  keyboards/ogre/ergo_single/keymaps/default/readme.md
  keyboards/ogre/ergo_single/readme.md
  keyboards/ogre/ergo_single/rules.mk
Labels: none

[Keyboard] VIA Support: 1upkeyboards 1up60hte (#8052)
  keyboards/1upkeyboards/1up60hte/config.h
  keyboards/1upkeyboards/1up60hte/keymaps/via/keymap.c
  keyboards/1upkeyboards/1up60hte/keymaps/via/rules.mk
  keyboards/1upkeyboards/1up60hte/rules.mk
Labels: none

Refactor minidox to use split_common (#7924)
  keyboards/minidox/config.h
  keyboards/minidox/eeprom-lefthand.eep
  keyboards/minidox/eeprom-righthand.eep
  keyboards/minidox/i2c.c
  keyboards/minidox/i2c.h
  keyboards/minidox/matrix.c
  keyboards/minidox/minidox.h
  keyboards/minidox/readme.md
  keyboards/minidox/rev1/config.h
  keyboards/minidox/rev1/rev1.h
  keyboards/minidox/rules.mk
  keyboards/minidox/serial.c
  keyboards/minidox/serial.h
  keyboards/minidox/split_util.c
  keyboards/minidox/split_util.h
Labels: none

Refactor to use new central board config files
  keyboards/cannonkeys/ortho48/rules.mk
  keyboards/cannonkeys/ortho60/rules.mk
  keyboards/cannonkeys/ortho75/rules.mk
  keyboards/cannonkeys/practice60/rules.mk
  keyboards/cannonkeys/practice65/rules.mk
  keyboards/converter/siemens_tastatur/rules.mk
  keyboards/handwired/onekey/bluepill/rules.mk
Labels: none

[Keymap] Finalize Keymap Planck/Samuel (#8005)
  keyboards/planck/keymaps/samuel/README.org
  keyboards/planck/keymaps/samuel/keymap.c
Labels: none

Migrate common ld scripts to common location (#7887)
  drivers/boards/ld/MK20DX256.ld
  drivers/boards/ld/MKL26Z64.ld
  drivers/boards/ld/STM32F103x8_stm32duino_bootloader.ld
  keyboards/cannonkeys/ortho60/ld/MKL26Z64.ld
  keyboards/cannonkeys/ortho60/ld/STM32F103x8_stm32duino_bootloader.ld
  keyboards/cannonkeys/ortho75/ld/STM32F103x8_stm32duino_bootloader.ld
  keyboards/cannonkeys/practice60/ld/MKL26Z64.ld
  keyboards/cannonkeys/practice60/ld/STM32F103x8_stm32duino_bootloader.ld
  keyboards/cannonkeys/practice65/ld/MKL26Z64.ld
  keyboards/cannonkeys/practice65/ld/STM32F103x8_stm32duino_bootloader.ld
  keyboards/converter/siemens_tastatur/ld/MKL26Z64.ld
  keyboards/converter/siemens_tastatur/ld/STM32F103x8_stm32duino_bootloader.ld
  keyboards/handwired/onekey/bluepill/ld/STM32F103x8_stm32duino_bootloader.ld
  keyboards/handwired/onekey/teensy_lc/ld/MKL26Z64.ld
  tmk_core/chibios.mk
Labels: core

Fix 'Makefile:560: keyboards/<keyboard>/rev1/rules.mk: No such file or directory' (#8042)
  keyboards/ergoslab/rev1/rules.mk
  keyboards/getta25/rev1/rules.mk
  keyboards/treadstone48/rev1/rules.mk
Labels: none

[Keyboard] Add support for Southpaw Full Size (#8029)
  keyboards/switchplate/README.md
  keyboards/switchplate/southpaw_fullsize/config.h
  keyboards/switchplate/southpaw_fullsize/info.json
  keyboards/switchplate/southpaw_fullsize/keymaps/default/keymap.c
  keyboards/switchplate/southpaw_fullsize/keymaps/default/readme.md
  keyboards/switchplate/southpaw_fullsize/keymaps/default_wkl/keymap.c
  keyboards/switchplate/southpaw_fullsize/keymaps/default_wkl/readme.md
  keyboards/switchplate/southpaw_fullsize/readme.md
  keyboards/switchplate/southpaw_fullsize/rules.mk
  keyboards/switchplate/southpaw_fullsize/southpaw_fullsize.c
  keyboards/switchplate/southpaw_fullsize/southpaw_fullsize.h
Labels: none

Mysterium firmware fix (#8032)
  keyboards/coseyfannitutti/mysterium/rules.mk
Labels: none

[Keyboard] Add Quefrency Rev 2 (#8001)
  keyboards/keebio/quefrency/keymaps/default65/keymap.c
  keyboards/keebio/quefrency/keymaps/default65macro/keymap.c
  keyboards/keebio/quefrency/quefrency.h
  keyboards/keebio/quefrency/rev2/config.h
  keyboards/keebio/quefrency/rev2/rev2.c
  keyboards/keebio/quefrency/rev2/rev2.h
  keyboards/keebio/quefrency/rev2/rules.mk
  keyboards/keebio/quefrency/rules.mk
Labels: none
