Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

[Keymap] Added my customized 40% layout (#7555)
  keyboards/contra/keymaps/alper/config.h
  keyboards/contra/keymaps/alper/keymap.c
  keyboards/contra/keymaps/alper/readme.md
  keyboards/contra/readme.md
Labels: none

Improve support and docs for ADC driver (#7191)
  docs/_summary.md
  docs/adc_driver.md
  drivers/avr/analog.c
  drivers/avr/analog.h
Labels: core, documentation

[Keyboard] rebuild info.json for ep tf_longeboye (#7560)
  keyboards/ep/comsn/tf_longeboye/info.json
Labels: none

Set proper AVR part for USBasp avrdude flashing (#7552)
  keyboards/coseyfannitutti/discipad/rules.mk
  keyboards/coseyfannitutti/discipline/readme.md
  keyboards/coseyfannitutti/discipline/rules.mk
  keyboards/coseyfannitutti/mysterium/rules.mk
  keyboards/gingham/readme.md
  keyboards/gingham/rules.mk
  keyboards/handwired/hnah40/readme.md
  keyboards/handwired/hnah40/rules.mk
  keyboards/plaid/readme.md
  keyboards/plaid/rules.mk
  quantum/mcu_selection.mk
  tmk_core/avr.mk
Labels: core

[Docs] Remove some outdated FAQ items (#7607)
  docs/faq_build.md
  docs/faq_debug.md
  docs/faq_keymap.md
  docs/fr-fr/faq_build.md
  docs/fr-fr/faq_debug.md
  docs/fr-fr/faq_keymap.md
  docs/zh-cn/faq_build.md
  docs/zh-cn/faq_debug.md
  docs/zh-cn/faq_keymap.md
Labels: documentation

[Keyboard] update default h87a keymap for fn functionality (#7589)
  keyboards/hineybush/h87a/keymaps/default/keymap.c
Labels: none

Fix ChibiOS USB config for chips which support OTGv1 (#7564)
  tmk_core/protocol/chibios/usb_main.c
Labels: core

Improve docs "Edit Document" footer
  docs/contributing.md
  docs/index.html
  readme.md
Labels: documentation

Project Keyboard Alice PCB - Indicator LEDs and keymap update (#7442)
  keyboards/projectkb/alice/alice.c
  keyboards/projectkb/alice/keymaps/madhatter/keymap.c
  keyboards/projectkb/alice/keymaps/madhatter/rules.mk
Labels: none

Move kwerdenker's personal keymap from RGB (#7645)
  keyboards/maartenwut/plain60/keymaps/audio/config.h
  keyboards/maartenwut/plain60/keymaps/audio/keymap.c
  keyboards/maartenwut/plain60/keymaps/audio/rules.mk
  keyboards/maartenwut/plain60/keymaps/kwerdenker/config.h
  keyboards/maartenwut/plain60/keymaps/kwerdenker/keymap.c
  keyboards/maartenwut/plain60/keymaps/kwerdenker/rules.mk
  keyboards/maartenwut/plain60/keymaps/rgb/config.h
  keyboards/maartenwut/plain60/keymaps/rgb/keymap.c
  keyboards/maartenwut/plain60/keymaps/rgb/rules.mk
Labels: none

[Keymap] CRKBD Custom Keymap - KidBrazil (#7630)
  keyboards/crkbd/keymaps/kidbrazil/README.md
  keyboards/crkbd/keymaps/kidbrazil/config.h
  keyboards/crkbd/keymaps/kidbrazil/glcdfont.c
  keyboards/crkbd/keymaps/kidbrazil/keymap.c
  keyboards/crkbd/keymaps/kidbrazil/kidbrazil.json
  keyboards/crkbd/keymaps/kidbrazil/logo_reader.c
  keyboards/crkbd/keymaps/kidbrazil/rules.mk
Labels: none

[Keymap] Add pico 70 keys keymap (#7654)
  keyboards/pico/65keys/65keys.c
  keyboards/pico/65keys/65keys.h
  keyboards/pico/65keys/config.h
  keyboards/pico/65keys/info.json
  keyboards/pico/65keys/keymaps/default/config.h
  keyboards/pico/65keys/keymaps/default/keymap.c
  keyboards/pico/65keys/keymaps/default/readme.md
  keyboards/pico/65keys/keymaps/jis/config.h
  keyboards/pico/65keys/keymaps/jis/keymap.c
  keyboards/pico/65keys/keymaps/jis/readme.md
  keyboards/pico/65keys/rules.mk
  keyboards/pico/70keys/70keys.c
  keyboards/pico/70keys/70keys.h
  keyboards/pico/70keys/config.h
  keyboards/pico/70keys/info.json
  keyboards/pico/70keys/keymaps/default/keymap.c
  keyboards/pico/70keys/keymaps/default/readme.md
  keyboards/pico/70keys/keymaps/jis/keymap.c
  keyboards/pico/70keys/keymaps/jis/readme.md
  keyboards/pico/70keys/rules.mk
  keyboards/pico/pico.h
  keyboards/pico/readme.md
  keyboards/pico/rules.mk
Labels: none

Heisenberg handwired keyboard added (#7643)
  keyboards/handwired/heisenberg/config.h
  keyboards/handwired/heisenberg/heisenberg.c
  keyboards/handwired/heisenberg/heisenberg.h
  keyboards/handwired/heisenberg/info.json
  keyboards/handwired/heisenberg/keymaps/default/keymap.c
  keyboards/handwired/heisenberg/keymaps/default/readme.md
  keyboards/handwired/heisenberg/keymaps/turkishish/config.h
  keyboards/handwired/heisenberg/keymaps/turkishish/keymap.c
  keyboards/handwired/heisenberg/keymaps/turkishish/readme.md
  keyboards/handwired/heisenberg/readme.md
  keyboards/handwired/heisenberg/rules.mk
Labels: none

Convert backlight to follow driver rules pattern - update docs
  docs/feature_backlight.md
Labels: documentation

[Keymap] Custom user keymap for Think6.5 with LED range control (#7603)
  keyboards/gray_studio/think65/solder/info.json
  keyboards/gray_studio/think65/solder/keymaps/rys/keymap.c
  keyboards/gray_studio/think65/solder/keymaps/rys/readme.md
  keyboards/gray_studio/think65/solder/solder.h
Labels: none

Add central location for ChibiOS defines (#7542)
  drivers/arm/i2c_master.c
  drivers/arm/i2c_master.h
  quantum/backlight/backlight_arm.c
  quantum/quantum.h
  tmk_core/common/chibios/chibios_config.h
Labels: core

Tidy up dztech default keymaps and info.json (#7608)
  keyboards/dztech/dz60rgb/info.json
  keyboards/dztech/dz60rgb/keymaps/default/keymap.c
  keyboards/dztech/dz60rgb_ansi/info.json
  keyboards/dztech/dz60rgb_ansi/keymaps/default/keymap.c
  keyboards/dztech/dz60rgb_wkl/info.json
  keyboards/dztech/dz60rgb_wkl/keymaps/default/keymap.c
  keyboards/dztech/dz65rgb/info.json
  keyboards/dztech/dz65rgb/keymaps/default/keymap.c
Labels: none

[Keyboard] Clueboard 60 fix col 11 12 mixup (#7685)
  keyboards/clueboard/60/config.h
  layouts/community/60_ansi_split_bs_rshift/yanfali/keymap.c
Labels: keymap

[Keymap] boy_314's satisfaction75 layout (#7638)
  keyboards/cannonkeys/satisfaction75/keymaps/boy_314/config.h
  keyboards/cannonkeys/satisfaction75/keymaps/boy_314/keymap.c
  keyboards/cannonkeys/satisfaction75/keymaps/boy_314/readme.md
  keyboards/cannonkeys/satisfaction75/keymaps/boy_314/rules.mk
Labels: none

Turn off RGB Matrix LEDs when keyboard sleeps (#7713)
  quantum/rgb_matrix.c
Labels: core

Update default backlight state to match avr pwm
  quantum/backlight/backlight_soft.c
Labels: core

Add TADA68 keymap/rules/config for QMK bootloader (#7679)
  keyboards/tada68/keymaps/tokyovigilante/config.h
  keyboards/tada68/keymaps/tokyovigilante/keymap.c
  keyboards/tada68/keymaps/tokyovigilante/layers.json
  keyboards/tada68/keymaps/tokyovigilante/readme.md
  keyboards/tada68/keymaps/tokyovigilante/rules.mk
Labels: none

Ported J80 to QMK (#7488)
  keyboards/j80/config.h
  keyboards/j80/info.json
  keyboards/j80/j80.c
  keyboards/j80/j80.h
  keyboards/j80/keymaps/default/keymap.c
  keyboards/j80/keymaps/default/readme.md
  keyboards/j80/keymaps/default_iso/keymap.c
  keyboards/j80/keymaps/default_iso/readme.md
  keyboards/j80/readme.md
  keyboards/j80/rules.mk
  keyboards/j80/usbconfig.h
Labels: none

I corrected my name.
  keyboards/fluorite/readme.md
Labels: none

Remove QMK_KEYBOARD_CONFIG_H from boards (#7635)
  keyboards/7skb/rev1/config.h
  keyboards/fortitude60/rev1/config.h
  keyboards/keebio/iris/rev1/config.h
  keyboards/keebio/iris/rev1_led/config.h
  keyboards/keebio/iris/rev2/config.h
  keyboards/keebio/iris/rev3/config.h
  keyboards/keebio/levinson/rev1/config.h
  keyboards/keebio/levinson/rev2/config.h
  keyboards/keebio/quefrency/rev1/config.h
  keyboards/keebio/rorschach/rev1/config.h
  keyboards/naked48/rev1/config.h
Labels: none

[Keyboard] XD68 65% ATMega32U4 based (#7395)
  keyboards/xd68/config.h
  keyboards/xd68/keymaps/default/config.h
  keyboards/xd68/keymaps/default/keymap.c
  keyboards/xd68/keymaps/default/readme.md
  keyboards/xd68/keymaps/default_iso/config.h
  keyboards/xd68/keymaps/default_iso/keymap.c
  keyboards/xd68/keymaps/default_iso/readme.md
  keyboards/xd68/readme.md
  keyboards/xd68/rules.mk
  keyboards/xd68/xd68.c
  keyboards/xd68/xd68.h
Labels: none

Change newbs.md to link to the new newbs_git_best_practices.md instead of newbs_best_practices.md. (#7633)
  docs/newbs.md
Labels: documentation

Adding Backlight on the handwired AEK64 keyboard (#7629)
  keyboards/handwired/aek64/config.h
  keyboards/handwired/aek64/keymaps/4sstylz/keycodes.h
  keyboards/handwired/aek64/keymaps/4sstylz/keymap.c
  keyboards/handwired/aek64/rules.mk
Labels: none

Missed these LTO blocks
  keyboards/dztech/dz60rgb_wkl/v1/config.h
  keyboards/dztech/dz60rgb_wkl/v2/config.h
Labels: none

Readded lost pgm_read_word code to encoder array lookups (#7577)
  keyboards/rgbkb/sol/keymaps/default/keymap.c
Labels: none

remove SERIAL_SOFT_DEBUG macro (#7625)
  tmk_core/protocol/serial_soft.c
Labels: core

Initial Crkbd layout (#7716)
  keyboards/crkbd/keymaps/bcat/config.h
  keyboards/crkbd/keymaps/bcat/keymap.c
  keyboards/crkbd/keymaps/bcat/readme.md
  keyboards/crkbd/keymaps/bcat/rules.mk
  users/bcat/config.h
Labels: keymap

core: Fix build config in protocol.mk (#7620)
  tmk_core/protocol.mk
Labels: core

Move function to make diff look nicer
  quantum/backlight/backlight_soft.c
Labels: core

Completely remove i2c_transmit_receive function (#7686)
  drivers/arm/i2c_master.h
  drivers/haptic/DRV2605L.c
Labels: core

[Core] Optimize matrix processing (#7621)
  tmk_core/common/keyboard.c
Labels: core

[Keymap] Added userspace for d4mation. Included their keymap for the Atreus62 (#7483)
  keyboards/atreus62/keymaps/d4mation/keymap.c
  keyboards/atreus62/keymaps/d4mation/readme.md
  keyboards/atreus62/keymaps/d4mation/rules.mk
  users/d4mation/config.h
  users/d4mation/d4mation.c
  users/d4mation/d4mation.h
  users/d4mation/macros.c
  users/d4mation/macros.h
  users/d4mation/rules.mk
  users/d4mation/tap-dance.c
  users/d4mation/tap-dance.h
  users/d4mation/tap-hold.c
  users/d4mation/tap-hold.h
  users/d4mation/zalgo.c
  users/d4mation/zalgo.h
Labels: keymap

K-Nunmpad17 (#7708)
  keyboards/handwired/k_numpad17/config.h
  keyboards/handwired/k_numpad17/k_numpad17.c
  keyboards/handwired/k_numpad17/k_numpad17.h
  keyboards/handwired/k_numpad17/keymaps/default/keymap.c
  keyboards/handwired/k_numpad17/keymaps/karlssn/keymap.c
  keyboards/handwired/k_numpad17/keymaps/karlssn/rules.mk
  keyboards/handwired/k_numpad17/readme.md
  keyboards/handwired/k_numpad17/rules.mk
Labels: none

Tidy up dztech rules.mk
  keyboards/dztech/dz60rgb/v1/rules.mk
  keyboards/dztech/dz60rgb/v2/rules.mk
  keyboards/dztech/dz60rgb_ansi/v1/rules.mk
  keyboards/dztech/dz60rgb_ansi/v2/rules.mk
  keyboards/dztech/dz60rgb_wkl/v1/rules.mk
  keyboards/dztech/dz60rgb_wkl/v2/rules.mk
  keyboards/dztech/dz65rgb/v1/rules.mk
  keyboards/dztech/dz65rgb/v2/rules.mk
Labels: none

Make the keyboard beep when Audio is enabled and `\a` is encountered in a sendstring
  quantum/quantum.c
Labels: core
