Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

improve our docsify setup
  docs/_summary.md
  docs/index.html
Labels: documentation

reduce space on h3s
  docs/sidebar.css
Labels: documentation

More sidebar organization
  docs/_summary.md
  docs/cli_dev_configuration.md
  docs/getting_started_github.md
  docs/newbs_learn_more_resources.md
Labels: documentation

Add dark mode support
  docs/index.html
Labels: documentation

wip
  docs/_summary.md
  docs/features.md
  docs/getting_started_build_tools.md
  docs/hardware.md
  docs/index.html
Labels: documentation

rearrange the sidebar a bit
  docs/_summary.md
Labels: documentation

[Keyboard] Switch to RGB Matrix for Super16 (#8305)
  keyboards/1upkeyboards/super16/config.h
  keyboards/1upkeyboards/super16/rules.mk
  keyboards/1upkeyboards/super16/super16.c
Labels: none

[Keyboard] VIA Support: Tada68 (#8289)
  keyboards/tada68/config.h
  keyboards/tada68/keymaps/via/keymap.c
  keyboards/tada68/keymaps/via/readme.md
  keyboards/tada68/keymaps/via/rules.mk
Labels: none

[Keyboard] add miller/gm-862 keyboard (#8230)
  keyboards/miller/gm862/config.h
  keyboards/miller/gm862/gm862.c
  keyboards/miller/gm862/gm862.h
  keyboards/miller/gm862/info.json
  keyboards/miller/gm862/keymaps/default/keymap.c
  keyboards/miller/gm862/keymaps/via/keymap.c
  keyboards/miller/gm862/keymaps/via/rules.mk
  keyboards/miller/gm862/readme.md
  keyboards/miller/gm862/rules.mk
Labels: none

[Keymap] Add crd's equinox keymap (#8251)
  keyboards/ai03/equinox/keymaps/crd/keymap.c
  keyboards/ai03/equinox/keymaps/crd/readme.md
Labels: none

New Keyboard: SiddersKB Majbritt (Pronounced My Brit) (#8260)
  keyboards/sidderskb/majbritt/config.h
  keyboards/sidderskb/majbritt/info.json
  keyboards/sidderskb/majbritt/keymaps/default/keymap.c
  keyboards/sidderskb/majbritt/keymaps/default/readme.md
  keyboards/sidderskb/majbritt/keymaps/via/keymap.c
  keyboards/sidderskb/majbritt/keymaps/via/rules.mk
  keyboards/sidderskb/majbritt/majbritt.c
  keyboards/sidderskb/majbritt/majbritt.h
  keyboards/sidderskb/majbritt/readme.md
  keyboards/sidderskb/majbritt/rules.mk
Labels: none

fix numbering
  docs/newbs_getting_started.md
Labels: documentation

make custom_keycode_names.md a faq entry instead
  docs/_summary.md
  docs/custom_keycode_names.md
  docs/faq_keymap.md
Labels: documentation

clean up callouts in newbs_building_firmware_configurator.md
  docs/newbs_building_firmware_configurator.md
Labels: documentation

remove some unnecessary external links
  docs/cli.md
  docs/keycodes.md
  docs/newbs_building_firmware_configurator.md
  docs/support.md
Labels: documentation

update newbs_building_firmware.md
  docs/newbs_building_firmware.md
Labels: documentation

Polish Configurator section
  docs/configurator_problems.md
  docs/configurator_step_by_step.md
  docs/configurator_troubleshooting.md
  docs/newbs_building_firmware_configurator.md
  docs/reference_configurator_support.md
Labels: documentation

remove line drawing chars
  docs/reference_configurator_support.md
Labels: documentation

CSS updates: ul and pre elements
  docs/sidebar.css
Labels: documentation

YD60MQ refactor and Configurator layout support (#8313)
  keyboards/yd60mq/info.json
  keyboards/yd60mq/keymaps/default/keymap.c
  keyboards/yd60mq/readme.md
  keyboards/yd60mq/rules.mk
  keyboards/yd60mq/yd60mq.c
  keyboards/yd60mq/yd60mq.h
Labels: none

rework the index page
  docs/README.md
  docs/_summary.md
Labels: documentation

update lily58/rev1:yshrsmz (#8298)
  keyboards/lily58/keymaps/yshrsmz/keymap.c
Labels: none

more wip
  docs/_summary.md
  docs/faq.md
  docs/newbs_getting_started.md
Labels: documentation

limit the TOC to H1 and H2
  docs/index.html
Labels: documentation

[Keyboard] CapsUnlocked CU80 (#8257)
  keyboards/cu80/config.h
  keyboards/cu80/cu80.c
  keyboards/cu80/cu80.h
  keyboards/cu80/info.json
  keyboards/cu80/keymaps/default/keymap.c
  keyboards/cu80/keymaps/default/readme.md
  keyboards/cu80/readme.md
  keyboards/cu80/rules.mk
Labels: none

update flashing.md
  docs/flashing.md
Labels: documentation

Add explicit id tags to externally linked headers
  docs/config_options.md
  docs/contributing.md
  docs/custom_quantum_functions.md
  docs/de/_summary.md
  docs/documentation_templates.md
  docs/es/_summary.md
  docs/feature_advanced_keycodes.md
  docs/feature_backlight.md
  docs/feature_bootmagic.md
  docs/feature_key_lock.md
  docs/feature_leader_key.md
  docs/feature_tap_dance.md
  docs/fr-fr/_summary.md
  docs/he-il/_summary.md
  docs/ja/_summary.md
  docs/keycodes.md
  docs/keymap.md
  docs/newbs_building_firmware.md
  docs/newbs_flashing.md
  docs/newbs_getting_started.md
  docs/newbs_git_using_your_master_branch.md
  docs/newbs_testing_debugging.md
  docs/other_eclipse.md
  docs/pt-br/_summary.md
  docs/quantum_keycodes.md
  docs/ref_functions.md
  docs/ru-ru/_summary.md
  docs/unit_testing.md
  docs/zh-cn/_summary.md
Labels: documentation

Added VIA keymap for Ramaworks M10-A (#8255)
  keyboards/m10a/config.h
  keyboards/m10a/keymaps/via/config.h
  keyboards/m10a/keymaps/via/keymap.c
  keyboards/m10a/keymaps/via/rules.mk
Labels: none

[Docs] Fix links in Config Options doc
  docs/config_options.md
Labels: documentation

replace QMK Toolbox image in Hand Wire guide
  docs/hand_wire.md
Labels: documentation

Backlight - Carve out a better location for private driver functionality (#8329)
  common_features.mk
  quantum/backlight/backlight.c
  quantum/backlight/backlight.h
  quantum/backlight/backlight_arm.c
  quantum/backlight/backlight_avr.c
  quantum/backlight/backlight_driver_common.c
  quantum/backlight/backlight_driver_common.h
  quantum/backlight/backlight_software.c
Labels: core

[Docs] i2c_driver translation to Japanese (#8274)
  docs/ja/i2c_driver.md
Labels: documentation

Buffer based OLED panning, write byte to buffer at arbitrary index (#8055)
  docs/feature_oled_driver.md
  drivers/oled/oled_driver.c
  drivers/oled/oled_driver.h
Labels: core, documentation

[Keyboard] Handwired Skeeb Keyboard (#8161)
  keyboards/handwired/myskeeb/config.h
  keyboards/handwired/myskeeb/keymaps/default/keymap.c
  keyboards/handwired/myskeeb/myskeeb.c
  keyboards/handwired/myskeeb/myskeeb.h
  keyboards/handwired/myskeeb/oled.c
  keyboards/handwired/myskeeb/rules.mk
  keyboards/handwired/myskeeb/skeeb_font.c
Labels: none

fixed #8259 (#8333)
  keyboards/matrix/noah/boards/noah_bd/board.mk
  keyboards/matrix/noah/config.h
  keyboards/matrix/noah/halconf.h
  keyboards/matrix/noah/matrix.c
  keyboards/matrix/noah/mcuconf.h
  keyboards/matrix/noah/noah.c
  keyboards/matrix/noah/rules.mk
Labels: none

split Hand Wire Preamble to a separate doc
  docs/_summary.md
  docs/hand_wire.md
  docs/how_a_matrix_works.md
Labels: documentation

Add gcc version detection to qmk doctor (#8338)
  lib/python/qmk/cli/doctor.py
Labels: cli, python

keycodes.md: hard-code section link id attributes
  docs/keycodes.md
Labels: documentation

[Keyboard] New Keyboard: handwired/jtallbean/split_65 (#8275)
  keyboards/handwired/jtallbean/readme.md
  keyboards/handwired/jtallbean/split_65/config.h
  keyboards/handwired/jtallbean/split_65/info.json
  keyboards/handwired/jtallbean/split_65/keymaps/default/keymap.c
  keyboards/handwired/jtallbean/split_65/keymaps/default/readme.md
  keyboards/handwired/jtallbean/split_65/readme.md
  keyboards/handwired/jtallbean/split_65/rules.mk
  keyboards/handwired/jtallbean/split_65/split_65.c
  keyboards/handwired/jtallbean/split_65/split_65.h
Labels: none

Update Dvorak, Colemak and Workman keycode aliases (#8217)
  quantum/keymap_extras/keymap_colemak.h
  quantum/keymap_extras/keymap_dvorak.h
  quantum/keymap_extras/keymap_workman.h
  quantum/keymap_extras/sendstring_colemak.h
  quantum/keymap_extras/sendstring_workman.h
Labels: core

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
