Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

Add workman layout in JJ50 default keymap (#9574)
  keyboards/jj50/keymaps/default/README.md
  keyboards/jj50/keymaps/default/keymap.c
Labels: none

M0lly: add support for VIA (#9535)
  keyboards/m0lly/config.h
  keyboards/m0lly/keymaps/via/config.h
  keyboards/m0lly/keymaps/via/keymap.c
  keyboards/m0lly/keymaps/via/rules.mk
  keyboards/m0lly/m0lly.c
Labels: none

Added DFU instructions for XD004 board (#9565)
  keyboards/xd004/readme.md
Labels: none

[Update] Japanese translation of docs/cli.md and docs/cli_commands.md (#9536)
  docs/ja/cli.md
  docs/ja/cli_commands.md
Labels: documentation

Move Wete to ramonimbao folder (#9569)
  keyboards/ramonimbao/wete/chconf.h
  keyboards/ramonimbao/wete/config.h
  keyboards/ramonimbao/wete/halconf.h
  keyboards/ramonimbao/wete/info.json
  keyboards/ramonimbao/wete/keymaps/default/keymap.c
  keyboards/ramonimbao/wete/keymaps/iso/keymap.c
  keyboards/ramonimbao/wete/keymaps/jis/keymap.c
  keyboards/ramonimbao/wete/keymaps/via/config.h
  keyboards/ramonimbao/wete/keymaps/via/keymap.c
  keyboards/ramonimbao/wete/keymaps/via/rules.mk
  keyboards/ramonimbao/wete/mcuconf.h
  keyboards/ramonimbao/wete/readme.md
  keyboards/ramonimbao/wete/rules.mk
  keyboards/ramonimbao/wete/wete.c
  keyboards/ramonimbao/wete/wete.h
Labels: none

Klackygears add user and handwired brain (#9154)
  keyboards/handwired/brain/brain.c
  keyboards/handwired/brain/brain.h
  keyboards/handwired/brain/config.h
  keyboards/handwired/brain/keymaps/default/keymap.c
  keyboards/handwired/brain/keymaps/klackygears/config.h
  keyboards/handwired/brain/keymaps/klackygears/keymap.c
  keyboards/handwired/brain/keymaps/klackygears/rules.mk
  keyboards/handwired/brain/readme.md
  keyboards/handwired/brain/rules.mk
  users/klackygears/klackygears.c
  users/klackygears/klackygears.h
  users/klackygears/readme.md
  users/klackygears/rules.mk
  users/klackygears/tap_dances.c
  users/klackygears/tap_dances.h
  users/klackygears/wrappers.h
Labels: keymap

feat: add dvorak-fr as extra keymap (#9512)
  docs/reference_keymap_extras.md
  quantum/keymap_extras/keymap_dvorak_fr.h
  quantum/keymap_extras/sendstring_dvorak_fr.h
Labels: core, documentation

Add DZ60 keymap lint_kid (#9477)
  keyboards/dz60/keymaps/lint_kid/config.h
  keyboards/dz60/keymaps/lint_kid/keymap.c
  keyboards/dz60/keymaps/lint_kid/readme.md
Labels: none

Fix siemens_tastatur info.json (#9568)
  keyboards/converter/siemens_tastatur/info.json
  keyboards/converter/siemens_tastatur/siemens_tastatur.h
Labels: none

Fix error_log complaint about Helix boards (#9528)
  keyboards/helix/helix.h
  keyboards/helix/info.json
  keyboards/helix/pico/info.json
  keyboards/helix/pico/pico.h
  keyboards/helix/rev1/info.json
  keyboards/helix/rev1/rev1.h
  keyboards/helix/rev2/info.json
  keyboards/helix/rev2/rev2.h
Labels: none

[Keymap] pinpox keymap for dz60 (#9494)
  keyboards/dz60/keymaps/pinpox/keymap.c
  keyboards/dz60/keymaps/pinpox/rules.mk
Labels: none

Fix ordering for new info.jsons (#9567)
  keyboards/aeboards/aegis/info.json
  keyboards/cannonkeys/chimera65/info.json
Labels: none

[Keyboard] Refactor JJ50 keyboard mapping to current standard (#9415)
  keyboards/jj50/README.md
  keyboards/jj50/config.h
  keyboards/jj50/jj50.h
  keyboards/jj50/keymaps/default/README.md
  keyboards/jj50/keymaps/default/keymap.c
  keyboards/jj50/rules.mk
  keyboards/readme.md
Labels: none

Add JD40 keymap for myoung34 (#9545)
  keyboards/jd40/keymaps/myoung34/keymap.c
Labels: none

Jotanck (#9531)
  keyboards/handwired/jotanck/keymaps/default/keymap.c
  keyboards/handwired/jotanck/readme.md
Labels: none

Add missing info.jsons for a few boards (#9549)
  keyboards/aeboards/aegis/info.json
  keyboards/aeboards/ext65/info.json
  keyboards/converter/siemens_tastatur/info.json
  keyboards/kv/revt/info.json
  keyboards/ogre/ergo_single/info.json
  keyboards/ogre/ergo_split/info.json
  keyboards/tr60w/info.json
  keyboards/xelus/snap96/info.json
  keyboards/xiaomi/mk02/info.json
  keyboards/zfrontier/big_switch/info.json
Labels: none

tap toggle to lower layer (#9542)
  layouts/community/ortho_4x12/jotix/config.h
  layouts/community/ortho_4x12/jotix/keymap.c
Labels: keymap

[Update]JISplite89 Readme and LED nums (#9554)
  keyboards/jisplit89/readme.md
  keyboards/jisplit89/rev1/config.h
Labels: none

[Keyboard] Add "choc taro" keyboard (#9556)
  keyboards/choc_taro/choc_taro.c
  keyboards/choc_taro/choc_taro.h
  keyboards/choc_taro/config.h
  keyboards/choc_taro/info.json
  keyboards/choc_taro/keymaps/default/keymap.c
  keyboards/choc_taro/keymaps/default/readme.md
  keyboards/choc_taro/keymaps/via/keymap.c
  keyboards/choc_taro/keymaps/via/readme.md
  keyboards/choc_taro/keymaps/via/rules.mk
  keyboards/choc_taro/matrix.c
  keyboards/choc_taro/readme.md
  keyboards/choc_taro/rules.mk
Labels: none

Fix WORKMAN layer typo in dudeofawesome planck/preonic (#9576)
  keyboards/planck/keymaps/dudeofawesome/keymap.c
  keyboards/preonic/keymaps/dudeofawesome/keymap.c
Labels: none

[Keyboard] Refactor: add adelais rev.3 (#9496)
  keyboards/mechlovin/adelais/keymaps/default/keymap.c
  keyboards/mechlovin/adelais/keymaps/via/keymap.c
  keyboards/mechlovin/adelais/readme.md
  keyboards/mechlovin/adelais/rules.mk
  keyboards/mechlovin/adelais/standard_led/config.h
  keyboards/mechlovin/adelais/standard_led/rev2/config.h
  keyboards/mechlovin/adelais/standard_led/rev2/rules.mk
  keyboards/mechlovin/adelais/standard_led/rev3/config.h
  keyboards/mechlovin/adelais/standard_led/rev3/rules.mk
  keyboards/mechlovin/adelais/standard_led/rules.mk
Labels: none

[Keyboard] rart67 (#9543)
  keyboards/rart/rart67/config.h
  keyboards/rart/rart67/info.json
  keyboards/rart/rart67/keymaps/default/keymap.c
  keyboards/rart/rart67/rart67.c
  keyboards/rart/rart67/rart67.h
  keyboards/rart/rart67/readme.md
  keyboards/rart/rart67/rules.mk
Labels: none

Fix Herringbone keymap typo (#9578)
  keyboards/ramonimbao/herringbone/keymaps/default/keymap.c
  keyboards/ramonimbao/herringbone/keymaps/iso/keymap.c
  keyboards/ramonimbao/herringbone/keymaps/via/keymap.c
Labels: none

[keymap] adding a new keymap to planck and crkbd (#9374)
  keyboards/planck/keymaps/copface/config.h
  keyboards/planck/keymaps/copface/keymap.c
  keyboards/planck/keymaps/copface/readme.md
  keyboards/planck/keymaps/copface/rules.mk
Labels: none

XD87 qmk info fixes (#9601)
  keyboards/xd87/info.json
  keyboards/xd87/keymaps/mac_underglow/keymap.c
  keyboards/xd87/xd87.h
Labels: none

Add layouts for split 3x5 and 3x6 keyboards (#9562)
  layouts/default/split_3x5_3/default_split_3x5_3/keymap.c
  layouts/default/split_3x5_3/info.json
  layouts/default/split_3x5_3/layout.json
  layouts/default/split_3x5_3/readme.md
  layouts/default/split_3x6_3/default_split_3x6_3/keymap.c
  layouts/default/split_3x6_3/info.json
  layouts/default/split_3x6_3/layout.json
  layouts/default/split_3x6_3/readme.md
Labels: keymap

Add VIA support on XiuDi (XD) keyboards (#8829)
  keyboards/xd004/v1/config.h
  keyboards/xd60/keymaps/via/keymap.c
  keyboards/xd60/keymaps/via/readme.md
  keyboards/xd60/keymaps/via/rules.mk
  keyboards/xd60/rev2/config.h
  keyboards/xd60/rev3/config.h
  keyboards/xd68/config.h
  keyboards/xd68/keymaps/via/keymap.c
  keyboards/xd68/keymaps/via/readme.md
  keyboards/xd68/keymaps/via/rules.mk
  keyboards/xd75/config.h
  keyboards/xd75/keymaps/via/keymap.c
  keyboards/xd75/keymaps/via/readme.md
  keyboards/xd75/keymaps/via/rules.mk
  keyboards/xd84/config.h
  keyboards/xd84/keymaps/via/keymap.c
  keyboards/xd84/keymaps/via/readme.md
  keyboards/xd84/keymaps/via/rules.mk
  keyboards/xd87/config.h
  keyboards/xd87/keymaps/via/keymap.c
  keyboards/xd87/keymaps/via/readme.md
  keyboards/xd87/keymaps/via/rules.mk
  keyboards/xd96/config.h
  keyboards/xd96/keymaps/via/keymap.c
  keyboards/xd96/keymaps/via/readme.md
  keyboards/xd96/keymaps/via/rules.mk
Labels: none

Add more missing info.json layouts (#9595)
  keyboards/boardwalk/info.json
  keyboards/dz60/info.json
  keyboards/gh60/revc/info.json
  keyboards/gray_studio/space65/info.json
  keyboards/handwired/k_numpad17/info.json
  keyboards/handwired/lovelive9/info.json
  keyboards/hineybush/h10/info.json
  keyboards/hineybush/h60/info.json
  keyboards/smk60/info.json
Labels: none

[Keymap] Adding my keymaps for ergodox_ez and kyria (#9365)
  keyboards/ergodox_ez/keymaps/rmw/config.h
  keyboards/ergodox_ez/keymaps/rmw/keymap-mac.c
  keyboards/ergodox_ez/keymaps/rmw/keymap-win.c
  keyboards/ergodox_ez/keymaps/rmw/keymap.c
  keyboards/ergodox_ez/keymaps/rmw/readme.md
  keyboards/ergodox_ez/keymaps/rmw/rules.mk
  keyboards/kyria/keymaps/rmw/config.h
  keyboards/kyria/keymaps/rmw/keymap.c
  keyboards/kyria/keymaps/rmw/readme.md
  keyboards/kyria/keymaps/rmw/rules.mk
  keyboards/kyria/kyria.h
  users/rmw/encoder_functions.c
  users/rmw/encoder_functions.h
  users/rmw/rmw.c
  users/rmw/rmw.h
  users/rmw/rules.mk
  users/rmw/tapdances.c
  users/rmw/tapdances.h
Labels: keymap

[Keyboard] Coupe and Sedan keyboards (#9539)
  keyboards/clawsome/coupe/config.h
  keyboards/clawsome/coupe/coupe.c
  keyboards/clawsome/coupe/coupe.h
  keyboards/clawsome/coupe/info.json
  keyboards/clawsome/coupe/keymaps/default/keymap.c
  keyboards/clawsome/coupe/readme.md
  keyboards/clawsome/coupe/rules.mk
  keyboards/clawsome/sedan/config.h
  keyboards/clawsome/sedan/info.json
  keyboards/clawsome/sedan/keymaps/default/keymap.c
  keyboards/clawsome/sedan/readme.md
  keyboards/clawsome/sedan/rules.mk
  keyboards/clawsome/sedan/sedan.c
  keyboards/clawsome/sedan/sedan.h
Labels: none

[Keyboard] Rotr (#9546)
  keyboards/rotr/config.h
  keyboards/rotr/info.json
  keyboards/rotr/keymaps/default/keymap.c
  keyboards/rotr/readme.md
  keyboards/rotr/rotr.c
  keyboards/rotr/rotr.h
  keyboards/rotr/rules.mk
Labels: none

Fixed MACLOCK key (#9555)
  layouts/community/ortho_4x12/xyverz/keymap.c
Labels: keymap

re-added mouse and media keys plus slight changes (#9515)
  keyboards/hotdox/config.h
  keyboards/hotdox/keymaps/via/keymap.c
  keyboards/hotdox/keymaps/via/rules.mk
Labels: none

[Keyboard] Fallacy (#9499)
  keyboards/fallacy/config.h
  keyboards/fallacy/fallacy.c
  keyboards/fallacy/fallacy.h
  keyboards/fallacy/indicators.c
  keyboards/fallacy/indicators.h
  keyboards/fallacy/info.json
  keyboards/fallacy/keymaps/default/keymap.c
  keyboards/fallacy/keymaps/default_split_bs/keymap.c
  keyboards/fallacy/keymaps/via/keymap.c
  keyboards/fallacy/keymaps/via/rules.mk
  keyboards/fallacy/readme.md
  keyboards/fallacy/rules.mk
Labels: none

[Docs] Japanese translation of docs/compatible_microcontrollers.md (#9518)
  docs/ja/compatible_microcontrollers.md
Labels: documentation

Add Via support for Hasu FC660C controller (#9563)
  keyboards/fc660c/config.h
  keyboards/fc660c/fc660c.h
  keyboards/fc660c/keymaps/via/README.md
  keyboards/fc660c/keymaps/via/keymap.c
  keyboards/fc660c/keymaps/via/rules.mk
Labels: none

Adding VIA support for CannonKeys/Practice60 (#8169)
  keyboards/cannonkeys/practice60/config.h
  keyboards/cannonkeys/practice60/keymaps/via/keymap.c
  keyboards/cannonkeys/practice60/keymaps/via/rules.mk
  keyboards/cannonkeys/practice60/readme.md
Labels: none

[Keyboard] Add UNK keyboard. (#9571)
  keyboards/handwired/unk/info.json
  keyboards/handwired/unk/keymaps/default/config.h
  keyboards/handwired/unk/keymaps/default/keymap.c
  keyboards/handwired/unk/readme.md
  keyboards/handwired/unk/rev1/config.h
  keyboards/handwired/unk/rev1/rev1.c
  keyboards/handwired/unk/rev1/rev1.h
  keyboards/handwired/unk/rev1/rules.mk
  keyboards/handwired/unk/rules.mk
  keyboards/handwired/unk/unk.c
  keyboards/handwired/unk/unk.h
Labels: none

Fix styling
  keyboards/sentraq/s65_x/keymaps/wmccall-windef/keymap.c
Labels: none

Remove fn layer keys
  .vscode/settings.json
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
