Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

BE_J should map to KC_J (#9243)
  quantum/keymap_extras/keymap_belgian.h
Labels: core

Infinity CE PCB: Update rules.mk (#9235)
  keyboards/mechlovin/infinityce/rules.mk
Labels: none

Move encoder_read to common location
  quantum/quantum.c
  quantum/split_common/matrix.c
  tmk_core/common/keyboard.c
Labels: core

jotix ortho_4x12 layout (#9209)
  layouts/community/ortho_4x12/jotix/keymap.c
Labels: keymap

[Keymap] add keymap for meishi2 (#9270)
  keyboards/meishi2/keymaps/led_status/keymap.c
  keyboards/meishi2/keymaps/led_status/readme.md
Labels: none

Fix wt60_d and rama_works_u80_a Configurator config (#9292)
  keyboards/wilba_tech/rama_works_u80_a/info.json
  keyboards/wilba_tech/wt60_d/info.json
Labels: none

Major enhancements to spidey3 keymaps and userspace (#9261)
  layouts/community/75_ansi/spidey3/config.h
  layouts/community/75_ansi/spidey3/keymap.c
  layouts/community/75_ansi/spidey3/rules.mk
  users/spidey3/config.h
  users/spidey3/init.c
  users/spidey3/layer_rgb.c
  users/spidey3/rules.mk
  users/spidey3/spidey3.c
  users/spidey3/spidey3.h
  users/spidey3/unicode.c
  users/spidey3/unicode.h
Labels: keymap

Mac layout for XD87 (#9251)
  keyboards/xd87/keymaps/mac_underglow/keymap.c
  keyboards/xd87/keymaps/mac_underglow/readme.md
  keyboards/xd87/keymaps/mac_underglow/rules.mk
Labels: none

Void Linux: Switch to cross-arm-none-eabi toolchain (#9228)
  util/linux_install.sh
Labels: core

Move dip switch init to back of the init process (#9233)
  quantum/quantum.c
  tmk_core/common/keyboard.c
Labels: core

Update keymap.c (#9265)
  keyboards/kbdfans/kbd75/keymaps/edulpn/keymap.c
Labels: none

Prime_E - Increase number of via layers (#9065)
  keyboards/primekb/prime_e/config.h
  keyboards/primekb/prime_e/keymaps/via/keymap.c
Labels: none

[Docs] Japanese translation of docs/feature_mouse_keys.md (#8992)
  docs/ja/feature_mouse_keys.md
Labels: documentation

Add Via support for Percent Canoe (#9276)
  keyboards/percent/booster/config.h
  keyboards/percent/canoe/config.h
  keyboards/percent/canoe/keymaps/via/keymap.c
  keyboards/percent/canoe/keymaps/via/rules.mk
  keyboards/percent/skog/config.h
  keyboards/percent/skog_lite/config.h
Labels: none

Fix 'does not have a readme.md' warnings (#9294)
  keyboards/ergodox_stm32/readme.md
  keyboards/handwired/myskeeb/readme.md
Labels: none

Update canoe:dhertz to use new post-init functions (#9257)
  keyboards/percent/canoe/keymaps/dhertz/keymap.c
  keyboards/percent/canoe/readme.md
Labels: none

Fix layer mask size for RGBLIGHT_LAYER_BLINK (#9260)
  quantum/rgblight.c
Labels: core

Changes to abishalom Tada68 keymap (#9278)
  keyboards/tada68/keymaps/abishalom/keymap.c
  keyboards/tada68/keymaps/abishalom/readme.md
  keyboards/tada68/keymaps/abishalom/rules.mk
Labels: none

[keyboard] Add two new The Mad Noodle Keypads (#8934)
  keyboards/themadnoodle/ncc1701kb/v2/config.h
  keyboards/themadnoodle/ncc1701kb/v2/info.json
  keyboards/themadnoodle/ncc1701kb/v2/keymaps/default/keymap.c
  keyboards/themadnoodle/ncc1701kb/v2/readme.md
  keyboards/themadnoodle/ncc1701kb/v2/rules.mk
  keyboards/themadnoodle/ncc1701kb/v2/v2.c
  keyboards/themadnoodle/ncc1701kb/v2/v2.h
  keyboards/themadnoodle/noodlepad/config.h
  keyboards/themadnoodle/noodlepad/info.json
  keyboards/themadnoodle/noodlepad/keymaps/default/keymap.c
  keyboards/themadnoodle/noodlepad/noodlepad.c
  keyboards/themadnoodle/noodlepad/noodlepad.h
  keyboards/themadnoodle/noodlepad/readme.md
  keyboards/themadnoodle/noodlepad/rules.mk
Labels: none

[Keyboard] Add ortho5by12 keyboard (#9141)
  keyboards/ortho5by12/config.h
  keyboards/ortho5by12/info.json
  keyboards/ortho5by12/keymaps/default/keymap.c
  keyboards/ortho5by12/ortho5by12.c
  keyboards/ortho5by12/ortho5by12.h
  keyboards/ortho5by12/readme.md
  keyboards/ortho5by12/rules.mk
Labels: none

[Keyboard] add hineybush/h10 pcb (#9036)
  keyboards/hineybush/h10/config.h
  keyboards/hineybush/h10/h10.c
  keyboards/hineybush/h10/h10.h
  keyboards/hineybush/h10/info.json
  keyboards/hineybush/h10/keymaps/default/keymap.c
  keyboards/hineybush/h10/keymaps/default/readme.md
  keyboards/hineybush/h10/keymaps/via/keymap.c
  keyboards/hineybush/h10/keymaps/via/readme.md
  keyboards/hineybush/h10/keymaps/via/rules.mk
  keyboards/hineybush/h10/readme.md
  keyboards/hineybush/h10/rules.mk
Labels: none

[Keyboard] add 1894 support to qmk (#9238)
  keyboards/atxkb/1894/1894.c
  keyboards/atxkb/1894/1894.h
  keyboards/atxkb/1894/config.h
  keyboards/atxkb/1894/info.json
  keyboards/atxkb/1894/keymaps/default/keymap.c
  keyboards/atxkb/1894/keymaps/default/readme.md
  keyboards/atxkb/1894/keymaps/default_ansi_tsangan/keymap.c
  keyboards/atxkb/1894/keymaps/default_ansi_tsangan/readme.md
  keyboards/atxkb/1894/keymaps/via/keymap.c
  keyboards/atxkb/1894/keymaps/via/readme.md
  keyboards/atxkb/1894/keymaps/via/rules.mk
  keyboards/atxkb/1894/readme.md
  keyboards/atxkb/1894/rules.mk
  keyboards/atxkb/readme.md
Labels: none

[Keyboard] Add zvecr/zv48 (#9227)
  keyboards/zvecr/zv48/config.h
  keyboards/zvecr/zv48/f401/chconf.h
  keyboards/zvecr/zv48/f401/halconf.h
  keyboards/zvecr/zv48/f401/mcuconf.h
  keyboards/zvecr/zv48/f401/rules.mk
  keyboards/zvecr/zv48/f411/chconf.h
  keyboards/zvecr/zv48/f411/halconf.h
  keyboards/zvecr/zv48/f411/mcuconf.h
  keyboards/zvecr/zv48/f411/rules.mk
  keyboards/zvecr/zv48/info.json
  keyboards/zvecr/zv48/keymaps/default/keymap.c
  keyboards/zvecr/zv48/readme.md
  keyboards/zvecr/zv48/rules.mk
  keyboards/zvecr/zv48/zv48.c
  keyboards/zvecr/zv48/zv48.h
Labels: none

Adelais: Fix indicator LED pinout (#9241)
  keyboards/mechlovin/adelais/adelais.c
  keyboards/mechlovin/adelais/rules.mk
Labels: none

Fix mechlovin/pisces Configurator config (#9290)
  keyboards/mechlovin/pisces/info.json
Labels: none

[Keymap] plattfot - Kyria layout (#9110)
  keyboards/kyria/keymaps/plattfot/README.md
  keyboards/kyria/keymaps/plattfot/config.h
  keyboards/kyria/keymaps/plattfot/keymap.c
  keyboards/kyria/keymaps/plattfot/rules.mk
Labels: none

Fix error_log complaint about Elongate info.json (#9262)
  keyboards/acheron/elongate/info.json
Labels: none

Move plaid via keymap to correct location (#9255)
  keyboards/dm9records/plaid/keymaps/via/config.h
  keyboards/dm9records/plaid/keymaps/via/keymap.c
  keyboards/dm9records/plaid/keymaps/via/readme.md
  keyboards/dm9records/plaid/keymaps/via/rules.mk
Labels: none

Option to allow lighting layers when RGB Lighting is off (#9051)
  docs/config_options.md
  docs/feature_rgblight.md
  quantum/rgblight.c
Labels: core, documentation

Remove the extra comma in the macro in the community keymap (#9175)
  layouts/community/65_ansi/mechmerlin/keymap.c
Labels: keymap

`French (Belgium)` was missing (#9245)
  docs/reference_keymap_extras.md
Labels: documentation

VIA Support: Waldo 60 (#9151)
  keyboards/waldo/config.h
  keyboards/waldo/keymaps/via/keymap.c
  keyboards/waldo/keymaps/via/readme.md
  keyboards/waldo/keymaps/via/rules.mk
Labels: none

Fixing the PRODUCT_ID to match the liminal.json on VIA repo (#9232)
  keyboards/the_royal/liminal/config.h
Labels: none

fix rgb mode selection and lighting increments for the 1894 (#9336)
  keyboards/atxkb/1894/config.h
  keyboards/atxkb/1894/rules.mk
Labels: none

[Docs] Japanese translation of docs/feature_swap_hands.md (#9032)
  docs/ja/feature_swap_hands.md
Labels: documentation

Add bat43 rev2 (#9319)
  keyboards/bat43/bat43.h
  keyboards/bat43/rev1/info.json
  keyboards/bat43/rev1/rev1.c
  keyboards/bat43/rev1/rev1.h
  keyboards/bat43/rev1/rules.mk
  keyboards/bat43/rev2/info.json
  keyboards/bat43/rev2/rev2.c
  keyboards/bat43/rev2/rev2.h
  keyboards/bat43/rev2/rules.mk
  keyboards/bat43/rules.mk
Labels: none

[keyboard] Project Keyboard Signature 87 (#9062)
  keyboards/projectkb/signature87/chconf.h
  keyboards/projectkb/signature87/config.h
  keyboards/projectkb/signature87/halconf.h
  keyboards/projectkb/signature87/info.json
  keyboards/projectkb/signature87/keymaps/default/keymap.c
  keyboards/projectkb/signature87/keymaps/via/keymap.c
  keyboards/projectkb/signature87/keymaps/via/rules.mk
  keyboards/projectkb/signature87/mcuconf.h
  keyboards/projectkb/signature87/readme.md
  keyboards/projectkb/signature87/rules.mk
  keyboards/projectkb/signature87/signature87.c
  keyboards/projectkb/signature87/signature87.h
Labels: none

Adding extra supported Boardwalk layout (#9341)
  keyboards/boardwalk/boardwalk.h
Labels: none

XD75 clanghans layout (#9313)
  keyboards/xd75/keymaps/clanghans/config.h
  keyboards/xd75/keymaps/clanghans/keymap.c
  keyboards/xd75/keymaps/clanghans/readme.md
Labels: none

[Docs] Japanese translation of docs/feature_ps2_mouse.md (#9030)
  docs/ja/feature_ps2_mouse.md
Labels: documentation
