Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

Update Belgian keymap and sendstring LUT (#8349)
  quantum/keymap_extras/keymap_belgian.h
  quantum/keymap_extras/sendstring_belgian.h
Labels: core

format code according to conventions [skip ci]
  drivers/arm/analog.c
  drivers/arm/analog.h
Labels: core

[Keyboard] Add more community layout support to Polaris (#8468)
  keyboards/ai03/polaris/info.json
  keyboards/ai03/polaris/polaris.h
  keyboards/ai03/polaris/rules.mk
Labels: none

[Keymap] I2C scanner (#8454)
  keyboards/handwired/onekey/keymaps/i2c_scanner/config.h
  keyboards/handwired/onekey/keymaps/i2c_scanner/keymap.c
  keyboards/handwired/onekey/keymaps/i2c_scanner/readme.md
  keyboards/handwired/onekey/keymaps/i2c_scanner/rules.mk
Labels: none

[Keymap] Update default keymap for Choco60 (#8453)
  keyboards/choco60/keymaps/default/keymap.c
Labels: none

Remove qmk archive generation (#8462)
  tmk_core/avr.mk
  tmk_core/chibios.mk
Labels: core

[Keymap] New Massdrop ALT keymap for emptyflask (#8460)
  keyboards/massdrop/alt/keymaps/emptyflask/README.md
  keyboards/massdrop/alt/keymaps/emptyflask/config.h
  keyboards/massdrop/alt/keymaps/emptyflask/keymap.c
Labels: none

VIA support for TKC1800 (#8178)
  keyboards/tkc1800/config.h
  keyboards/tkc1800/keymaps/via/config.h
  keyboards/tkc1800/keymaps/via/keymap.c
  keyboards/tkc1800/keymaps/via/rules.mk
  keyboards/tkc1800/rules.mk
Labels: none

Update Norman keymap and sendstring LUT (#8404)
  quantum/keymap_extras/keymap_norman.h
  quantum/keymap_extras/sendstring_norman.h
Labels: core

[Keymap] Update ortho 4x12 jotix layout (#8425)
  layouts/community/ortho_4x12/jotix/keymap.c
Labels: keymap

Fix Dimple VIA keymap (#8466)
  keyboards/lazydesigners/dimple/keymaps/via/keymap.c
Labels: none

Fix some broken links in the docs (#8394)
  docs/_summary.md
  docs/cli.md
  docs/cli_commands.md
  docs/cli_configuration.md
  docs/index.html
Labels: documentation

[docs] Note the need to flash both sides for rgb layers. (#8467)
  docs/feature_rgblight.md
Labels: documentation

Update French keymap and sendstring LUT (#8436)
  quantum/keymap_extras/keymap_french.h
  quantum/keymap_extras/sendstring_french.h
Labels: core

CLI: Hide json-keymap subcommand, as it's been deprecated.
  lib/python/qmk/cli/json/keymap.py
Labels: cli, python

Update UK keymap and sendstring LUT (#8458)
  quantum/keymap_extras/keymap_uk.h
  quantum/keymap_extras/sendstring_uk.h
Labels: core

Realign dynamic macros with recent SEND_STRING changes (#8407)
  quantum/dynamic_keymap.c
Labels: core

Document 'make all:<name>' (#8439)
  docs/cli_commands.md
  docs/feature_userspace.md
Labels: documentation

[Keyboard] Add sick68 keyboard (#8400)
  keyboards/handwired/sick68/config.h
  keyboards/handwired/sick68/info.json
  keyboards/handwired/sick68/keymaps/default/keymap.c
  keyboards/handwired/sick68/keymaps/default/readme.md
  keyboards/handwired/sick68/readme.md
  keyboards/handwired/sick68/rules.mk
  keyboards/handwired/sick68/sick68.c
  keyboards/handwired/sick68/sick68.h
Labels: none

Update Slovenian keymap and add sendstring LUT (#8350)
  quantum/keymap_extras/keymap_slovenian.h
  quantum/keymap_extras/sendstring_slovenian.h
Labels: core

ARM - ADC cleanup (#8385)
  docs/adc_driver.md
  drivers/arm/analog.c
  drivers/arm/analog.h
  keyboards/handwired/onekey/keymaps/adc/config.h
  keyboards/handwired/onekey/keymaps/adc/keymap.c
  keyboards/handwired/onekey/keymaps/adc/rules.mk
Labels: core, documentation

[Docs] Update to I2C docs: Clarify address expectation and return values (#8413)
  docs/i2c_driver.md
Labels: documentation

[Docs] Random Fixes (#8340)
  docs/cli.md
  docs/feature_pointing_device.md
  docs/feature_ps2_mouse.md
  docs/feature_rgb_matrix.md
  docs/feature_stenography.md
  docs/i2c_driver.md
  docs/internals_gpio_control.md
Labels: documentation

[Userspace] alfrdmalr: swap # and @ symbols (#8469)
  users/alfrdmalr/alfrdmalr.h
Labels: keymap

Adding OLED scroll setup functions (#8386)
  docs/feature_oled_driver.md
  drivers/oled/oled_driver.c
  drivers/oled/oled_driver.h
Labels: core, documentation

Update Plover keymap (#8405)
  quantum/keymap_extras/keymap_plover.h
Labels: core

[Keyboard] Splitreus62 (#8383)
  keyboards/splitreus62/config.h
  keyboards/splitreus62/info.json
  keyboards/splitreus62/keymaps/default/keymap.c
  keyboards/splitreus62/readme.md
  keyboards/splitreus62/rules.mk
  keyboards/splitreus62/splitreus62.c
  keyboards/splitreus62/splitreus62.h
Labels: none

Update Brazilian keymap and add sendstring LUT (#8435)
  quantum/keymap_extras/keymap_br_abnt2.h
  quantum/keymap_extras/sendstring_br_abnt2.h
Labels: core

Update Programmer Dvorak keymap and add sendstring LUT (#8456)
  quantum/keymap_extras/keymap_dvp.h
  quantum/keymap_extras/sendstring_dvp.h
Labels: core

Remove unnecessary import of rgblight.h in tmk_core/protocol/*/*.c (#8432)
  tmk_core/protocol/chibios/main.c
  tmk_core/protocol/lufa/lufa.c
  tmk_core/protocol/vusb/main.c
Labels: core

[Keymap] Corodiak's Kyria (#8444)
  keyboards/kyria/keymaps/corodiak/config.h
  keyboards/kyria/keymaps/corodiak/keymap.c
  keyboards/kyria/keymaps/corodiak/rules.mk
Labels: none

VIA Support: Doro 67 (#8399)
  keyboards/doro67/multi/config.h
  keyboards/doro67/multi/keymaps/via/keymap.c
  keyboards/doro67/multi/keymaps/via/readme.md
  keyboards/doro67/multi/keymaps/via/rules.mk
  keyboards/doro67/regular/config.h
  keyboards/doro67/regular/keymaps/via/keymap.c
  keyboards/doro67/regular/keymaps/via/readme.md
  keyboards/doro67/regular/keymaps/via/rules.mk
  keyboards/doro67/rgb/config.h
  keyboards/doro67/rgb/keymaps/via/keymap.c
  keyboards/doro67/rgb/keymaps/via/readme.md
  keyboards/doro67/rgb/keymaps/via/rules.mk
Labels: none

Update Italian keymap and add sendstring LUT (#8438)
  quantum/keymap_extras/keymap_italian.h
  quantum/keymap_extras/sendstring_italian.h
Labels: core

msys2_install.sh: wrap requirements.txt in quotes (#8424)
  util/msys2_install.sh
Labels: core

Add VIA support for LazyDesigners Dimple. (#8447)
  keyboards/lazydesigners/dimple/config.h
  keyboards/lazydesigners/dimple/keymaps/via/keymap.c
  keyboards/lazydesigners/dimple/keymaps/via/rules.mk
  keyboards/lazydesigners/the30/config.h
  keyboards/lazydesigners/the50/config.h
  keyboards/lazydesigners/the60/config.h
Labels: none

format code according to conventions [skip ci]
  tmk_core/protocol/vusb/main.c
Labels: core

format code according to conventions [skip ci]
  drivers/oled/oled_driver.c
Labels: core

[Keymap] Add the fsck layout for iris (#8473)
  keyboards/keebio/iris/keymaps/fsck/config.h
  keyboards/keebio/iris/keymaps/fsck/keymap.c
  keyboards/keebio/iris/keymaps/fsck/readme.md
Labels: none

[Keymap] fix sigma keymaps build (#8427)
  keyboards/converter/sun_usb/type5/keymaps/sigma/rules.mk
  users/sigma/sigma.c
Labels: keymap

[Keyboard] uranuma (#8343)
  keyboards/uranuma/config.h
  keyboards/uranuma/info.json
  keyboards/uranuma/keymaps/default/keymap.c
  keyboards/uranuma/readme.md
  keyboards/uranuma/rules.mk
  keyboards/uranuma/uranuma.c
  keyboards/uranuma/uranuma.h
Labels: none
