Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

XD84: Configurator bugfix for ISO layout (#8117)
  keyboards/xd84/info.json
Labels: none

Compile error if ONESHOT_TIMEOUT defined but oneshot disabled (#8100)
  tmk_core/common/action.c
Labels: core

[Keyboard] adding keyboard: houndstooth (#7981)
  keyboards/wsk/houndstooth/config.h
  keyboards/wsk/houndstooth/houndstooth.c
  keyboards/wsk/houndstooth/houndstooth.h
  keyboards/wsk/houndstooth/info.json
  keyboards/wsk/houndstooth/keymaps/default/keymap.c
  keyboards/wsk/houndstooth/readme.md
  keyboards/wsk/houndstooth/rules.mk
Labels: none

[Keyboard] adding keyboard: gothic50 (#7983)
  keyboards/wsk/gothic50/config.h
  keyboards/wsk/gothic50/gothic50.c
  keyboards/wsk/gothic50/gothic50.h
  keyboards/wsk/gothic50/info.json
  keyboards/wsk/gothic50/keymaps/default/keymap.c
  keyboards/wsk/gothic50/keymaps/default/rules.mk
  keyboards/wsk/gothic50/readme.md
  keyboards/wsk/gothic50/rules.mk
Labels: none

[Keyboard] adding keyboard: kodachi50 (#7976)
  keyboards/wsk/kodachi50/config.h
  keyboards/wsk/kodachi50/info.json
  keyboards/wsk/kodachi50/keymaps/default/keymap.c
  keyboards/wsk/kodachi50/kodachi50.c
  keyboards/wsk/kodachi50/kodachi50.h
  keyboards/wsk/kodachi50/readme.md
  keyboards/wsk/kodachi50/rules.mk
Labels: none

[Keymap] Adding ergodash/rev1:nopunin10did (#8098)
  keyboards/ergodash/rev1/keymaps/nopunin10did/config.h
  keyboards/ergodash/rev1/keymaps/nopunin10did/keymap.c
  keyboards/ergodash/rev1/keymaps/nopunin10did/layers.json
  keyboards/ergodash/rev1/keymaps/nopunin10did/readme.md
  keyboards/ergodash/rev1/keymaps/nopunin10did/rules.mk
Labels: none

[Keymap] add lily58 yshrsmz keymap (#8095)
  keyboards/lily58/keymaps/yshrsmz/config.h
  keyboards/lily58/keymaps/yshrsmz/keymap.c
  keyboards/lily58/keymaps/yshrsmz/rules.mk
Labels: none

[Keyboard] Fixed inconsistent MATRIX_ROWS and MATRIX_COLS: wsk/gothic50 (#8150)
  keyboards/wsk/gothic50/config.h
Labels: none

[Keyboard] adding keyboard: neuron (#7980)
  keyboards/walletburner/neuron/config.h
  keyboards/walletburner/neuron/info.json
  keyboards/walletburner/neuron/keymaps/default/keymap.c
  keyboards/walletburner/neuron/neuron.c
  keyboards/walletburner/neuron/neuron.h
  keyboards/walletburner/neuron/readme.md
  keyboards/walletburner/neuron/rules.mk
Labels: none

[Keymap] User keymap for KBDfans KBD67 MKII RGB (hot-swap) (#7697)
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/dnsnrk/config.h
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/dnsnrk/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/dnsnrk/readme.md
Labels: none

[Keyboard] Misc tidyups for Chidori (#8091)
  keyboards/chidori/board.c
  keyboards/chidori/chidori.c
  keyboards/chidori/chidori.h
  keyboards/chidori/keymaps/default/keymap.c
  keyboards/chidori/keymaps/extended/keymap.c
  keyboards/chidori/matrix.c
  keyboards/chidori/rules.mk
  keyboards/chidori/usbconfig.h
Labels: none

VIA Support: Duck Eagle V2 (#8133)
  keyboards/duck/eagle_viper/v2/keymaps/via/keymap.c
  keyboards/duck/eagle_viper/v2/keymaps/via/readme.md
  keyboards/duck/eagle_viper/v2/keymaps/via/rules.mk
Labels: none

VIA Support for the Idobo (ID75) (#8146)
  keyboards/idobo/config.h
  keyboards/idobo/keymaps/via/keymap.c
  keyboards/idobo/keymaps/via/rules.mk
  keyboards/idobo/readme.md
Labels: none

Use FIRMWARE_FORMAT for "Checking file size" message (#8121)
  message.mk
Labels: none

Align max backlight level in docs (#8142)
  docs/config_options.md
  docs/ja/config_options.md
  docs/porting_your_keyboard_to_qmk_(arm_and_other_chibios_cpus).md
Labels: documentation

ZJ68: complete Configurator layout support (#8116)
  keyboards/zj68/info.json
Labels: none

Tweak my TAPPING_TERM and be more futureproof (#8143)
  keyboards/crkbd/keymaps/bcat/config.h
  keyboards/keebio/quefrency/keymaps/bcat/config.h
  users/bcat/config.h
Labels: keymap

[Keymap] Added keymap for keebio/nyquist (#8108)
  keyboards/keebio/nyquist/keymaps/pipicanim/README.md
  keyboards/keebio/nyquist/keymaps/pipicanim/config.h
  keyboards/keebio/nyquist/keymaps/pipicanim/keymap.c
  keyboards/keebio/nyquist/keymaps/pipicanim/rules.mk
Labels: none

New iso layout and keymap for dz60 with 4th row all 1u (#7830)
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/keymaps/iso_4th_row_all_1u/keymap.c
  keyboards/dz60/keymaps/iso_4th_row_all_1u/readme.md
Labels: none

Return only the unique keymaps
  lib/python/qmk/keymap.py
Labels: cli, python

VIA support for the Think6.5 (#8118)
  keyboards/gray_studio/think65/hotswap/config.h
  keyboards/gray_studio/think65/hotswap/keymaps/via/keymap.c
  keyboards/gray_studio/think65/hotswap/keymaps/via/rules.mk
  keyboards/gray_studio/think65/solder/config.h
  keyboards/gray_studio/think65/solder/keymaps/via/keymap.c
  keyboards/gray_studio/think65/solder/keymaps/via/rules.mk
Labels: none

Fix output format
  lib/python/qmk/cli/list/keymaps.py
Labels: cli, python

Convert two handwired default keymaps to Dynamic Macro feature (#8166)
  keyboards/handwired/daishi/keymaps/default/keymap.c
  keyboards/handwired/daishi/rules.mk
  keyboards/handwired/space_oddity/keymaps/default/keymap.c
  keyboards/handwired/space_oddity/rules.mk
Labels: none

Get all buildable keymaps for each revision
  lib/python/qmk/cli/list/keymaps.py
Labels: cli, python

Fix merging community and base keymaps
  lib/python/qmk/keymap.py
Labels: cli, python

Major update to work better with revisions
  lib/python/qmk/cli/list/keymaps.py
Labels: cli, python

[Keyboard] Add Panc40 by Panc Interactive (#8175)
  keyboards/panc40/config.h
  keyboards/panc40/info.json
  keyboards/panc40/keymaps/default/keymap.c
  keyboards/panc40/keymaps/default/readme.md
  keyboards/panc40/keymaps/default_minorca/keymap.c
  keyboards/panc40/keymaps/default_minorca/readme.md
  keyboards/panc40/keymaps/default_sebright/keymap.c
  keyboards/panc40/keymaps/default_sebright/readme.md
  keyboards/panc40/panc40.c
  keyboards/panc40/panc40.h
  keyboards/panc40/readme.md
  keyboards/panc40/rules.mk
Labels: none

Fix commandline parsing and flake8 findings, rebase
  lib/python/qmk/cli/list/keymaps.py
  lib/python/qmk/keymap.py
  lib/python/qmk/makefile.py
  lib/python/qmk/path.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

Define backlight pin for Quefrency Rev2 (#8141)
  keyboards/keebio/quefrency/rev2/config.h
Labels: none

[osx_neo2] Bugfixes and improvements to Ergodox macOS Neo2 keymap (#8154)
  layouts/community/ergodox/osx_neo2/config.h
  layouts/community/ergodox/osx_neo2/keymap.c
Labels: keymap

[Keyboard] Correct Chidori Configurator layout data (#8180)
  keyboards/chidori/info.json
Labels: none

Another major refactoring, add documentation
  docs/cli.md
  lib/python/qmk/cli/list/keymaps.py
  lib/python/qmk/keymap.py
  lib/python/qmk/makefile.py
  lib/python/qmk/path.py
Labels: cli, python, documentation

[Keyboard] VIA Support: DZ60RGB ANSI V1/V2 (#8159)
  keyboards/dztech/dz60rgb_ansi/keymaps/via/keymap.c
  keyboards/dztech/dz60rgb_ansi/keymaps/via/rules.mk
  keyboards/dztech/dz60rgb_ansi/v1/config.h
  keyboards/dztech/dz60rgb_ansi/v2/config.h
Labels: none

Clean up some remaining rules.mk bootloader stuff (#8165)
  keyboards/dp60/keymaps/allleds/rules.mk
  keyboards/handwired/dactyl_left/rules.mk
  keyboards/handwired/minorca/keymaps/ridingqwerty/rules.mk
  keyboards/handwired/owlet60/rules.mk
  keyboards/maartenwut/minitomic/rules.mk
Labels: none

Fix RESET keycode on some STM32F072 keyboards (#8134)
  drivers/boards/GENERIC_STM32_F072XB/board.c
  drivers/boards/GENERIC_STM32_F072XB/board.h
  drivers/boards/GENERIC_STM32_F072XB/board.mk
  drivers/boards/GENERIC_STM32_F072XB/bootloader_defs.h
  drivers/boards/GENERIC_STM32_F072XB/cfg/board.chcfg
  keyboards/at_at/660m/rules.mk
  keyboards/candybar/rules.mk
  keyboards/cannonkeys/an_c/rules.mk
  keyboards/cannonkeys/chimera65/rules.mk
  keyboards/cannonkeys/instant60/rules.mk
  keyboards/cannonkeys/iron165/rules.mk
  keyboards/cannonkeys/satisfaction75/rules.mk
  keyboards/cannonkeys/savage65/rules.mk
  keyboards/cannonkeys/tmov2/rules.mk
  keyboards/projectkb/alice/rules.mk
  keyboards/xiaomi/mk02/rules.mk
  quantum/mcu_selection.mk
Labels: core

Try to figure out revision, drop -rv/--revision argument
  lib/python/qmk/cli/list/keymaps.py
Labels: cli, python

Code cleanup, use pathlib, use pytest keyboard
  keyboards/handwired/onekey/rules.mk
  layouts/community/ortho_1x1/layout.json
  layouts/community/ortho_1x1/test/keymap.c
  lib/python/qmk/cli/list/keymaps.py
  lib/python/qmk/makefile.py
  lib/python/qmk/path.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: keymap, cli, python

fix list_keymaps for python 3.5
  lib/python/qmk/keymap.py
Labels: cli, python

Just60 Configurator layout support and thinxer keymap (#7761)
  keyboards/just60/info.json
  keyboards/just60/keymaps/thinxer/keymap.c
  keyboards/just60/keymaps/thinxer/readme.md
  keyboards/just60/keymaps/thinxer/rules.mk
Labels: none

Adding VIA support for 40percentclub/luddite (#8158)
  keyboards/40percentclub/luddite/config.h
  keyboards/40percentclub/luddite/keymaps/via/keymap.c
  keyboards/40percentclub/luddite/keymaps/via/rules.mk
Labels: none
