Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

[Keymap] fix OLED display on Helix keyboard keymaps default and… (#8737)
  keyboards/helix/rev2/keymaps/default/keymap.c
  keyboards/helix/rev2/keymaps/five_rows/keymap.c
Labels: none

Set the correct RGB LED count on YD60MQ (#8629)
  keyboards/yd60mq/12led/config.h
  keyboards/yd60mq/12led/readme.md
  keyboards/yd60mq/12led/rules.mk
  keyboards/yd60mq/16led/config.h
  keyboards/yd60mq/16led/readme.md
  keyboards/yd60mq/16led/rules.mk
  keyboards/yd60mq/config.h
  keyboards/yd60mq/readme.md
  keyboards/yd60mq/rules.mk
  keyboards/yd60mq/yd60mq.c
Labels: none

CLI: Add development mode support
  bin/qmk
  docs/cli.md
  docs/cli_development.md
  lib/python/qmk/cli/hello.py
  lib/python/qmk/cli/pyformat.py
  lib/python/qmk/cli/pytest.py
  requirements-dev.txt
  requirements.txt
Labels: cli, python, documentation

[Keymap] Userspace update Rgb layers code (#8659)
  users/stanrc85/config.h
  users/stanrc85/rgblight_layers.c
  users/stanrc85/rules.mk
Labels: keymap

CLI: Fix doctor error when can't run `bin/qmk --version`. (#8796)
  lib/python/qmk/cli/doctor.py
Labels: cli, python

Add a simple custom keymap for Gergo. (#8662)
  keyboards/gergo/keymaps/gotham/config.h
  keyboards/gergo/keymaps/gotham/keymap.c
  keyboards/gergo/keymaps/gotham/readme.md
  keyboards/gergo/keymaps/gotham/rules.mk
Labels: none

Allow trailing whitespace in markdown docs, for formatting purposes. (#8774)
  .vscode/settings.json
Labels: none

Add *OPT aliases for *ALT keycodes and macros (#8714)
  docs/feature_advanced_keycodes.md
  docs/feature_macros.md
  docs/ja/feature_advanced_keycodes.md
  docs/keycodes.md
  docs/keycodes_basic.md
  docs/mod_tap.md
  quantum/quantum_keycodes.h
  quantum/send_string_keycodes.h
  tmk_core/common/keycode.h
Labels: core, documentation

Fix broken KBD8X MKII Hardware link (#8787)
  keyboards/kbdfans/kbd8x_mk2/readme.md
Labels: none

DP60 VIA cleanups (#8697)
  keyboards/dp60/config.h
  keyboards/dp60/keymaps/via/keymap.c
  keyboards/dp60/keymaps/via/rules.mk
Labels: none

Adding Niu Mini to VIA (#8702)
  keyboards/niu_mini/config.h
  keyboards/niu_mini/keymaps/via/keymap.c
  keyboards/niu_mini/keymaps/via/rules.mk
Labels: none

CLI: Invoke gmake on FreeBSD when using `qmk compile`.
  lib/python/qmk/commands.py
Labels: cli, python

deleted unused keymap (#8797)
  keyboards/planck/keymaps/oeywil/.gitignore
  keyboards/planck/keymaps/oeywil/config.h
  keyboards/planck/keymaps/oeywil/keymap.c
  keyboards/planck/keymaps/oeywil/no_keycodes.h
  keyboards/planck/keymaps/oeywil/readme.md
  keyboards/planck/keymaps/oeywil/rules.mk
Labels: none

[Keyboard] Add handwired BDN9-BLE (#8192)
  keyboards/handwired/bdn9_ble/bdn9_ble.c
  keyboards/handwired/bdn9_ble/bdn9_ble.h
  keyboards/handwired/bdn9_ble/config.h
  keyboards/handwired/bdn9_ble/info.json
  keyboards/handwired/bdn9_ble/keymaps/default/keymap.c
  keyboards/handwired/bdn9_ble/readme.md
  keyboards/handwired/bdn9_ble/rules.mk
Labels: none

Add missing repository name to qmk setup w/ github (#8792)
  docs/newbs_getting_started.md
Labels: documentation

Bugfix for quantum/dip_switch.c (#8731)
  quantum/dip_switch.c
Labels: core

[keyboard] Add kudox rev3 (#8704)
  keyboards/kudox/kudox.h
  keyboards/kudox/readme.md
  keyboards/kudox/rev3/config.h
  keyboards/kudox/rev3/info.json
  keyboards/kudox/rev3/keymaps/default/keymap.c
  keyboards/kudox/rev3/keymaps/default/readme.md
  keyboards/kudox/rev3/keymaps/jis/keymap.c
  keyboards/kudox/rev3/keymaps/jis/readme.md
  keyboards/kudox/rev3/rev3.c
  keyboards/kudox/rev3/rev3.h
  keyboards/kudox/rev3/rules.mk
  keyboards/kudox/rules.mk
Labels: none

Configure RGBLIGHT_SPLIT for Mint60 (#8788)
  keyboards/mint60/config.h
Labels: none

Fix AVR SPI parameter configuration, remove timeouts due to sync protocol. (#8775)
  docs/spi_driver.md
  drivers/avr/spi_master.c
  drivers/avr/spi_master.h
  tmk_core/protocol/lufa/adafruit_ble.cpp
Labels: core, documentation

[Keyboard] Quefrency Rev2 Caps Lock LED, set lighting defaults (#8729)
  keyboards/keebio/quefrency/rev1/config.h
  keyboards/keebio/quefrency/rev1/rules.mk
  keyboards/keebio/quefrency/rev2/config.h
  keyboards/keebio/quefrency/rev2/rev2.c
  keyboards/keebio/quefrency/rev2/rules.mk
  keyboards/keebio/quefrency/rules.mk
Labels: none

[Keymap] Added custom layout for KBDFans KBD67 rev2 (#8752)
  keyboards/kbdfans/kbd67/rev2/keymaps/jscatena88/keymap.c
  keyboards/kbdfans/kbd67/rev2/keymaps/jscatena88/readme.md
Labels: none

[Keyboard] Add handwired Fc200rt qmk board (#8726)
  keyboards/handwired/fc200rt_qmk/config.h
  keyboards/handwired/fc200rt_qmk/fc200rt_qmk.c
  keyboards/handwired/fc200rt_qmk/fc200rt_qmk.h
  keyboards/handwired/fc200rt_qmk/info.json
  keyboards/handwired/fc200rt_qmk/keymaps/default/keymap.c
  keyboards/handwired/fc200rt_qmk/readme.md
  keyboards/handwired/fc200rt_qmk/rules.mk
Labels: none

[Docs] Japanese translation of docs/feature_dip_switch.md (#8673)
  docs/ja/feature_dip_switch.md
Labels: documentation

Fix bug with layer caching in get_event_keycode (#8693)
  quantum/quantum.c
  quantum/quantum.h
  tmk_core/common/action.c
  tmk_core/common/action_tapping.c
  tmk_core/common/action_tapping.h
Labels: core

format code according to conventions [skip ci]
  quantum/keymap_extras/keymap_workman_zxcvm.h
Labels: core

[Keyboard] add new keyboard quick7 (#8670)
  keyboards/yushakobo/quick7/config.h
  keyboards/yushakobo/quick7/info.json
  keyboards/yushakobo/quick7/keymaps/default/keymap.c
  keyboards/yushakobo/quick7/keymaps/default/readme.md
  keyboards/yushakobo/quick7/quick7.c
  keyboards/yushakobo/quick7/quick7.h
  keyboards/yushakobo/quick7/readme.md
  keyboards/yushakobo/quick7/rules.mk
Labels: none

update pvinis keymap (#8746)
  keyboards/ergodox_ez/keymaps/pvinis/keymap.c
  keyboards/keebio/iris/keymaps/pvinis/config.h
  keyboards/keebio/iris/keymaps/pvinis/keymap.c
  keyboards/keebio/iris/keymaps/pvinis/rules.mk
  users/pvinis/config.h
  users/pvinis/pvinis.c
  users/pvinis/pvinis.h
  users/pvinis/rules.mk
Labels: keymap

CLI: Use `shutil.which` to detect gmake, instead of OS check.
  lib/python/qmk/commands.py
Labels: cli, python

Miscellaneous stuff: remove clang-complete and autocomplete.sh, fix some rules.mk comments (#8784)
  .clang_complete
  .gitignore
  autocomplete.sh
  keyboards/cannonkeys/db60/rules.mk
  keyboards/cannonkeys/devastatingtkl/rules.mk
  keyboards/handwired/slash/rules.mk
  keyboards/splitish/rules.mk
  keyboards/wsk/gothic50/rules.mk
  keyboards/wsk/gothic70/rules.mk
Labels: none

[Keymap] Add keymap for Nyquist rev3 (#8706)
  keyboards/keebio/nyquist/keymaps/georgepetri3/config.h
  keyboards/keebio/nyquist/keymaps/georgepetri3/keymap.c
  keyboards/keebio/nyquist/keymaps/georgepetri3/readme.md
  keyboards/keebio/nyquist/keymaps/georgepetri3/rules.mk
Labels: none

Add via support to keebio/bdn9 (#8620)
  keyboards/keebio/bdn9/keymaps/via/keymap.c
  keyboards/keebio/bdn9/keymaps/via/rules.mk
Labels: none

Add support for hardware and board initialisation overrides. (#8330)
  docs/_summary.md
  docs/platformdev_chibios_earlyinit.md
  tmk_core/protocol/chibios/init_hooks.h
  tmk_core/protocol/chibios/main.c
  tmk_core/rules.mk
Labels: core, documentation

[Keyboard] jotpad16 status leds (#8643)
  keyboards/handwired/jotpad16/config.h
  keyboards/handwired/jotpad16/jotpad16.c
  keyboards/handwired/jotpad16/readme.md
  keyboards/handwired/jotpad16/rules.mk
Labels: none

VIA Support: Jane V2 (#8735)
  keyboards/tgr/jane/config.h
  keyboards/tgr/jane/info.json
  keyboards/tgr/jane/jane.h
  keyboards/tgr/jane/keymaps/via/config.h
  keyboards/tgr/jane/keymaps/via/keymap.c
  keyboards/tgr/jane/keymaps/via/rules.mk
Labels: none

[Keyboard] Aplx6 (#8727)
  keyboards/aplx6/README.md
  keyboards/aplx6/aplx6.c
  keyboards/aplx6/aplx6.h
  keyboards/aplx6/config.h
  keyboards/aplx6/keymaps/default/keymap.c
  keyboards/aplx6/rules.mk
Labels: none

Added Workman ZXCVM variation (#8686)
  quantum/keymap_extras/keymap_workman_zxcvm.h
  quantum/keymap_extras/sendstring_workman_zxcvm.h
Labels: core

[Keyboard] Add IDOBAO ID80 (#8728)
  keyboards/id80/config.h
  keyboards/id80/id80.c
  keyboards/id80/id80.h
  keyboards/id80/info.json
  keyboards/id80/keymaps/default/keymap.c
  keyboards/id80/keymaps/default/readme.md
  keyboards/id80/readme.md
  keyboards/id80/rules.mk
Labels: none

fixing Walletburner Neuron layout for configurator (#8839)
  keyboards/walletburner/neuron/info.json
Labels: none

Update Swiss French/German keymaps and add sendstring LUTs (#8689)
  quantum/keymap_extras/keymap_fr_ch.h
  quantum/keymap_extras/keymap_german_ch.h
  quantum/keymap_extras/sendstring_fr_ch.h
  quantum/keymap_extras/sendstring_german_ch.h
Labels: core

Keeb.werk nano.slider Improved Default Layout (#8785)
  keyboards/keebwerk/nano_slider/keymaps/default/keymap.c
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
