Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

Change label for stale bot (#7429)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other_issues.md
  .github/stale.yml
Labels: none

Add 4-character aliases for sendstring keycodes (#7409)
  quantum/send_string_keycodes.h
  tmk_core/common/keycode.h
Labels: core

IS31FL3733 Dirty page fix (#7079)
  drivers/issi/is31fl3733.c
  drivers/issi/is31fl3733.h
Labels: core

[Keymap] Add DZ60, Levinson keymaps, twschum user files (#7358)
  keyboards/dz60/keymaps/split_space_arrows/keymap.c
  keyboards/dz60/keymaps/split_space_arrows/rules.mk
  keyboards/dz60/keymaps/twschum_b_4_10/config.h
  keyboards/dz60/keymaps/twschum_b_4_10/keymap.c
  keyboards/dz60/keymaps/twschum_b_4_10/layout.json
  keyboards/dz60/keymaps/twschum_b_4_10/rules.mk
  keyboards/dz60/rules.mk
  keyboards/keebio/levinson/keymaps/numpad/config.h
  keyboards/keebio/levinson/keymaps/numpad/keymap.c
  keyboards/keebio/levinson/keymaps/numpad/readme.md
  keyboards/keebio/levinson/keymaps/numpad/rules.mk
  users/twschum/config.h
  users/twschum/readme.md
  users/twschum/rules.mk
  users/twschum/twschum.c
  users/twschum/twschum.h
  users/twschum/xtonhasvim.c
  users/twschum/xtonhasvim.h
Labels: keymap

[Docs] fix broken link in docs/newbs_best_practices.md (#7430)
  docs/newbs_best_practices.md
Labels: documentation

[Keyboard] Add three missing layouts (#7441)
  keyboards/keebio/tragicforce68/info.json
  keyboards/keebio/tragicforce68/keymaps/default/keymap.c
  keyboards/keebio/tragicforce68/rules.mk
  keyboards/keebio/tragicforce68/tragicforce68.h
  keyboards/percent/canoe/canoe.h
  keyboards/percent/canoe/info.json
  keyboards/percent/canoe/keymaps/default/keymap.c
  keyboards/percent/canoe/keymaps/iso/keymap.c
  keyboards/percent/canoe/rules.mk
  layouts/default/60_iso_split_bs_rshift/default_60_iso_split_bs_rshift/keymap.c
  layouts/default/60_iso_split_bs_rshift/info.json
  layouts/default/60_iso_split_bs_rshift/layout.json
  layouts/default/60_iso_split_bs_rshift/readme.md
  layouts/default/65_iso_blocker/default_65_iso_blocker/keymap.c
  layouts/default/65_iso_blocker/info.json
  layouts/default/65_iso_blocker/layout.json
  layouts/default/65_iso_blocker/readme.md
  layouts/default/68_iso/default_68_iso/keymap.c
  layouts/default/68_iso/info.json
  layouts/default/68_iso/layout.json
  layouts/default/68_iso/readme.md
Labels: keymap

MILC: Add support for hidden subcommands (#7034)
  lib/python/milc.py
Labels: cli, python

[Keyboard] Add candybar lefty layout (#7286)
  keyboards/candybar/candybar.h
  keyboards/candybar/info.json
  keyboards/candybar/keymaps/lefty/keymap.c
Labels: none

[Keyboard] Update ATmega32A readme files to match template (#7462)
  keyboards/ares/readme.md
  keyboards/bfake/readme.md
  keyboards/coseyfannitutti/discipline/readme.md
  keyboards/donutcables/budget96/readme.md
  keyboards/eve/meteor/readme.md
  keyboards/exclusive/e6v2/le_bmc/readme.md
  keyboards/exclusive/e6v2/oe_bmc/readme.md
  keyboards/exent/readme.md
  keyboards/facew/readme.md
  keyboards/ft/mars80/readme.md
  keyboards/gray_studio/hb85/readme.md
  keyboards/jc65/v32a/readme.md
  keyboards/jj40/README.md
  keyboards/jj4x4/README.md
  keyboards/jj50/README.md
  keyboards/kbdfans/kbdpad/mk1/readme.md
  keyboards/leeku/finger65/readme.md
  keyboards/mechmini/v1/README.md
  keyboards/mehkee96/readme.md
  keyboards/mt40/readme.md
  keyboards/panc60/readme.md
  keyboards/pearl/readme.md
  keyboards/percent/canoe/readme.md
  keyboards/percent/skog/README.md
  keyboards/percent/skog_lite/readme.md
  keyboards/singa/readme.md
  keyboards/tgr/alice/readme.md
  keyboards/tgr/jane/readme.md
  keyboards/unikorn/readme.md
  keyboards/winkeyless/bface/README.md
  keyboards/winkeyless/bmini/readme.md
  keyboards/winkeyless/bminiex/readme.md
  keyboards/ymd75/README.md
  keyboards/ymd96/readme.md
  keyboards/ymdk/bface/README.md
  keyboards/ymdk_np21/README.md
Labels: none

Allow overriding of all functions in wonderland.c (#7198)
  docs/custom_quantum_functions.md
  keyboards/maartenwut/wonderland/keymaps/default/keymap.c
  keyboards/maartenwut/wonderland/wonderland.c
Labels: documentation

[Keyboard] dztech rgb pcb v2 support (#7423)
  keyboards/dztech/dz60rgb/config.h
  keyboards/dztech/dz60rgb/v1/config.h
  keyboards/dztech/dz60rgb/v1/rules.mk
  keyboards/dztech/dz60rgb/v2/config.h
  keyboards/dztech/dz60rgb/v2/rules.mk
  keyboards/dztech/dz60rgb_ansi/config.h
  keyboards/dztech/dz60rgb_ansi/v1/config.h
  keyboards/dztech/dz60rgb_ansi/v1/rules.mk
  keyboards/dztech/dz60rgb_ansi/v2/config.h
  keyboards/dztech/dz60rgb_ansi/v2/rules.mk
  keyboards/dztech/dz60rgb_wkl/config.h
  keyboards/dztech/dz60rgb_wkl/v1/config.h
  keyboards/dztech/dz60rgb_wkl/v1/rules.mk
  keyboards/dztech/dz60rgb_wkl/v2/config.h
  keyboards/dztech/dz60rgb_wkl/v2/rules.mk
  keyboards/dztech/dz65rgb/config.h
  keyboards/dztech/dz65rgb/v1/config.h
  keyboards/dztech/dz65rgb/v1/rules.mk
  keyboards/dztech/dz65rgb/v2/config.h
  keyboards/dztech/dz65rgb/v2/rules.mk
Labels: none

Add language prefixes to docs sidebar entries and readmes (#7406)
  docs/de/_summary.md
  docs/es/README.md
  docs/es/_summary.md
  docs/fr-fr/README.md
  docs/fr-fr/_summary.md
  docs/he-il/README.md
  docs/he-il/_summary.md
  docs/zh-cn/README.md
Labels: documentation

Adjust Fn key and right arrow cluster of GH60/Satan keymap (#7490)
  keyboards/gh60/satan/keymaps/smt/keymap.c
Labels: none

[Keymap] changed knight ridder offset to face me on planck (#7445)
  keyboards/planck/keymaps/dsanchezseco/config.h
Labels: none

[Keyboard] Add keyboard 7skb (#7468)
  keyboards/7skb/7skb.c
  keyboards/7skb/7skb.h
  keyboards/7skb/config.h
  keyboards/7skb/info.json
  keyboards/7skb/keymaps/default/config.h
  keyboards/7skb/keymaps/default/keymap.c
  keyboards/7skb/keymaps/salicylic/config.h
  keyboards/7skb/keymaps/salicylic/keymap.c
  keyboards/7skb/keymaps/salicylic/rules.mk
  keyboards/7skb/readme.md
  keyboards/7skb/rev1/config.h
  keyboards/7skb/rev1/rev1.c
  keyboards/7skb/rev1/rev1.h
  keyboards/7skb/rev1/rules.mk
  keyboards/7skb/rules.mk
Labels: none

[Keyboard] Added Cans12er keyboard (#7455)
  keyboards/handwired/cans12er/README.md
  keyboards/handwired/cans12er/cans12er.c
  keyboards/handwired/cans12er/cans12er.h
  keyboards/handwired/cans12er/config.h
  keyboards/handwired/cans12er/keymaps/default/keymap.c
  keyboards/handwired/cans12er/rules.mk
Labels: none

[Keyboard] change xbows/knight pins of capslock Indicator (#7486)
  keyboards/xbows/knight/config.h
  keyboards/xbows/knight/knight.c
Labels: none

Fix typos in stale.yml (#7489)
  .github/stale.yml
Labels: none

[Keymap] added rgblight controls to planck keymap (#7439)
  keyboards/planck/keymaps/dsanchezseco/keymap.c
Labels: none

Improve and streamline MSYS2 installation (#7232)
  util/msys2_install.sh
Labels: core

Add RGB LED for Dozen0 (#7458)
  keyboards/dozen0/config.h
  keyboards/dozen0/keymaps/default/keymap.c
  keyboards/dozen0/keymaps/default/readme.md
  keyboards/dozen0/keymaps/f12/keymap.c
  keyboards/dozen0/rules.mk
Labels: none

Set up language fallback for docs, and update translation guidelines (#7403)
  docs/_summary.md
  docs/contributing.md
  docs/index.html
  docs/translating.md
  readme.md
Labels: documentation

[Keyboard] Add hand swap config matrix for preonic rev 3 (#7460)
  keyboards/preonic/preonic.c
  keyboards/preonic/rev1/rev1.c
  keyboards/preonic/rev2/rev2.c
  keyboards/preonic/rev3/rev3.c
Labels: none

[Keymap] Added keymap for Tessachka (#7457)
  keyboards/kyria/keymaps/tessachka/config.h
  keyboards/kyria/keymaps/tessachka/keymap.c
  keyboards/kyria/keymaps/tessachka/rules.mk
Labels: none

[Keymap] added a KBD67v2 layout that allows swapping of num/sym keys and f-rows (#7469)
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/kemmeldev/import-for-qmk-configurator/kemmeldev-4-layered-layout.json
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/kemmeldev/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/kemmeldev/layers.json
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/kemmeldev/readme.md
Labels: none

[Keyboard] Update default keymaps to use `layer_state_t` (#7444)
  keyboards/40percentclub/nori/keymaps/default/keymap.c
  keyboards/aeboards/ext65/keymaps/default/keymap.c
  keyboards/ai03/orbit/keymaps/default/keymap.c
  keyboards/boston_meetup/2019/keymaps/default/keymap.c
  keyboards/comet46/keymaps/default/keymap.c
  keyboards/divergetm2/keymaps/default/keymap.c
  keyboards/ergodox_ez/keymaps/default/keymap.c
  keyboards/ergodox_stm32/keymaps/default/keymap.c
  keyboards/fortitude60/keymaps/default/keymap.c
  keyboards/hadron/ver3/keymaps/default/keymap.c
  keyboards/handwired/2x5keypad/keymaps/default/keymap.c
  keyboards/handwired/bluepill/keymaps/default/keymap.c
  keyboards/handwired/jot50/keymaps/default/keymap.c
  keyboards/handwired/jotanck/keymaps/default/keymap.c
  keyboards/handwired/prime_exl/keymaps/default/keymap.c
  keyboards/handwired/promethium/keymaps/default/keymap.c
  keyboards/handwired/pteron/keymaps/default/keymap.c
  keyboards/handwired/wulkan/keymaps/default/keymap.c
  keyboards/handwired/xealous/keymaps/default/keymap.c
  keyboards/hecomi/keymaps/default/keymap.c
  keyboards/jj40/keymaps/default/keymap.c
  keyboards/lazydesigners/dimple/keymaps/default/keymap.c
  keyboards/lets_split/keymaps/default/keymap.c
  keyboards/lets_split_eh/keymaps/default/keymap.c
  keyboards/model01/keymaps/default/keymap.c
  keyboards/newgame40/keymaps/default/keymap.c
  keyboards/orthodox/keymaps/default/keymap.c
  keyboards/plaid/keymaps/default/keymap.c
  keyboards/primekb/prime_e/keymaps/default/keymap.c
  keyboards/reviung34/keymaps/default/keymap.c
  keyboards/reviung39/keymaps/default/keymap.c
  keyboards/spacetime/keymaps/default/keymap.c
  keyboards/staryu/keymaps/default/keymap.c
  keyboards/tanuki/keymaps/default/keymap.c
Labels: none

[Docs] Update japanese translation of newbs.md and related documents. (#7431)
  docs/ja/_summary.md
  docs/ja/newbs.md
  docs/ja/newbs_best_practices.md
  docs/ja/newbs_building_firmware.md
  docs/ja/newbs_building_firmware_configurator.md
  docs/ja/newbs_flashing.md
  docs/ja/newbs_getting_started.md
  docs/ja/newbs_learn_more_resources.md
  docs/ja/newbs_testing_debugging.md
Labels: documentation

Send string keycode tweaks (#7471)
  docs/feature_leader_key.md
  docs/feature_macros.md
  docs/feature_userspace.md
  keyboards/kmac/keymaps/default/keymap.c
  keyboards/kmac/keymaps/default_tkl_ansi/keymap.c
  keyboards/kmac/keymaps/default_tkl_ansi_wkl/keymap.c
  quantum/process_keycode/process_terminal.c
  quantum/quantum.h
  quantum/send_string_keycodes.h
  quantum/template/base/keymaps/default/keymap.c
Labels: core, documentation

Community Layout support (and minor tidying) for KBD8X MK2 (#7449)
  keyboards/kbdfans/kbd8x_mk2/info.json
  keyboards/kbdfans/kbd8x_mk2/kbd8x_mk2.h
  keyboards/kbdfans/kbd8x_mk2/keymaps/ansi_625/keymap.c
  keyboards/kbdfans/kbd8x_mk2/keymaps/ansi_625/readme.md
  keyboards/kbdfans/kbd8x_mk2/keymaps/default_ansi/keymap.c
  keyboards/kbdfans/kbd8x_mk2/keymaps/default_ansi/readme.md
  keyboards/kbdfans/kbd8x_mk2/keymaps/default_iso/keymap.c
  keyboards/kbdfans/kbd8x_mk2/keymaps/default_iso/readme.md
  keyboards/kbdfans/kbd8x_mk2/rules.mk
Labels: none

[Keyboard] Fix calls in handwired/jotanck (#7515)
  keyboards/handwired/jotanck/jotanck.c
Labels: none

clean up quantum.c (#7485)
  quantum/quantum.c
Labels: core

Add shift-to-invert to remaining directional RGB_* keycode pairs (#7484)
  docs/feature_rgb_matrix.md
  docs/feature_rgblight.md
  docs/keycodes.md
  quantum/quantum.c
Labels: core, documentation

[Keyboard] Add community layout support for DZ60RGB WKL (#7503)
  keyboards/dztech/dz60rgb_wkl/dz60rgb_wkl.h
  keyboards/dztech/dz60rgb_wkl/info.json
  keyboards/dztech/dz60rgb_wkl/keymaps/default/keymap.c
  keyboards/dztech/dz60rgb_wkl/v1/rules.mk
  keyboards/dztech/dz60rgb_wkl/v2/rules.mk
Labels: none

[Keymap] Ruby influenced Redox keymap (#7531)
  keyboards/redox/keymaps/eightbitraptor/config.h
  keyboards/redox/keymaps/eightbitraptor/keymap.c
  keyboards/redox/keymaps/eightbitraptor/rules.mk
Labels: none

[Keyboard] Update Lets Split Sockets to use LTO_ENABLE (#7516)
  keyboards/lets_split/sockets/config.h
  keyboards/lets_split/sockets/rules.mk
Labels: none

Add yet another dictionary for the QMK Firmware docs sidebar heading (#7504)
  docs/index.html
  docs/translating.md
Labels: documentation

Add short aliases for Magic keycodes (#7541)
  docs/feature_bootmagic.md
  docs/keycodes.md
  keyboards/dztech/dz60rgb/keymaps/default/keymap.c
  keyboards/dztech/dz60rgb_ansi/keymaps/default/keymap.c
  keyboards/dztech/dz60rgb_wkl/keymaps/default/keymap.c
  keyboards/dztech/dz65rgb/keymaps/default/keymap.c
  keyboards/handwired/magicforce61/keymaps/default/keymap.c
  keyboards/massdrop/alt/keymaps/default/keymap.c
  keyboards/massdrop/alt/keymaps/default_md/keymap.c
  keyboards/massdrop/alt/keymaps/mac/keymap.c
  keyboards/massdrop/alt/keymaps/mac_md/keymap.c
  keyboards/massdrop/ctrl/keymaps/default/keymap.c
  keyboards/massdrop/ctrl/keymaps/default_md/keymap.c
  keyboards/massdrop/ctrl/keymaps/mac/keymap.c
  keyboards/massdrop/ctrl/keymaps/mac_md/keymap.c
  keyboards/rgbkb/zen/rev1/keymaps/default/keymap.c
  keyboards/vision_division/keymaps/default/keymap.c
  keyboards/xbows/woody/keymaps/default/keymap.c
  quantum/quantum_keycodes.h
Labels: core, documentation

Increase matrix scanning speed on xd84 (#7517)
  drivers/gpio/pca9555.c
  drivers/gpio/pca9555.h
  keyboards/xd84/matrix.c
Labels: core

[Keymap] Added my UT47.2 Swedish layout with tap dance function. (#6861)
  keyboards/ut472/keymaps/hvp/config.h
  keyboards/ut472/keymaps/hvp/keymap.c
  keyboards/ut472/keymaps/hvp/readme.md
  keyboards/ut472/keymaps/hvp/rules.mk
Labels: none

[Keyboard] fixed noah info.json (#7518)
  keyboards/matrix/noah/info.json
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
