Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

[Keymap] Added Massdrop ctrl keymap (#7491)
  keyboards/massdrop/ctrl/keymaps/endgame/README.md
  keyboards/massdrop/ctrl/keymaps/endgame/config.h
  keyboards/massdrop/ctrl/keymaps/endgame/config_led.c
  keyboards/massdrop/ctrl/keymaps/endgame/keymap.c
  keyboards/massdrop/ctrl/keymaps/endgame/rules.mk
Labels: none

Add _summary.md for Russian docs with proper language prefix (#7514)
  docs/ru-ru/_summary.md
Labels: documentation

Compile out some keycode processing when features are disabled (#7506)
  quantum/keymap_common.c
  quantum/quantum.c
Labels: core

Add pep8-naming to our python linting
  bin/qmk
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/tests/test_qmk_errors.py
  requirements.txt
Labels: cli, python

[Keymap] Added jhelvy keymaps for keebio/iris and lily58 (#7447)
  keyboards/keebio/iris/keymaps/jhelvy/README.md
  keyboards/keebio/iris/keymaps/jhelvy/config.h
  keyboards/keebio/iris/keymaps/jhelvy/keymap.c
  keyboards/keebio/iris/keymaps/jhelvy/rules.mk
  keyboards/lily58/keymaps/jhelvy/README.md
  keyboards/lily58/keymaps/jhelvy/config.h
  keyboards/lily58/keymaps/jhelvy/keymap.c
  keyboards/lily58/keymaps/jhelvy/rules.mk
Labels: none

Helix default keymap update (#7465)
  keyboards/helix/pico/keymaps/default/keymap.c
  keyboards/helix/rev2/keymaps/default/keymap.c
Labels: none

format code according to conventions [skip ci]
  keyboards/matrix/noah/info.json
Labels: none

Jotix (#7549)
  layouts/community/ortho_4x12/jotix/keymap.c
Labels: keymap

Fix processing of RGB keycodes on slave half (#7404)
  keyboards/crkbd/rev1/split_util.c
Labels: none

[Docs] Restructure of Git Best Practices doc (#7231)
  docs/_summary.md
  docs/newbs_best_practices.md
  docs/newbs_git_best_practices.md
  docs/newbs_git_resolving_merge_conflicts.md
  docs/newbs_git_resynchronize_a_branch.md
  docs/newbs_git_using_your_master_branch.md
Labels: documentation

[Keymap] Add RGB keycodes to keymap, enable RGB_MATRIX on crkbd (#7499)
  keyboards/crkbd/keymaps/manna-harbour_miryoku/config.h
  keyboards/crkbd/keymaps/manna-harbour_miryoku/rules.mk
  users/manna-harbour_miryoku/manna-harbour_miryoku.c
  users/manna-harbour_miryoku/miryoku.org
Labels: keymap

Fix output file permissions when using docker build. (#7378)
  util/docker_build.sh
Labels: core

Add J-01 ISO Support (#7527)
  keyboards/jae/j01/info.json
  keyboards/jae/j01/j01.h
Labels: none

[Keyboard] Add handwired/floorboard (#7478)
  keyboards/handwired/floorboard/config.h
  keyboards/handwired/floorboard/floorboard.c
  keyboards/handwired/floorboard/floorboard.h
  keyboards/handwired/floorboard/info.json
  keyboards/handwired/floorboard/keymaps/default/keymap.c
  keyboards/handwired/floorboard/keymaps/default/readme.md
  keyboards/handwired/floorboard/readme.md
  keyboards/handwired/floorboard/rules.mk
Labels: none

Install bootloadHid as part of qmk_install (#7463)
  docs/faq_build.md
  docs/flashing_bootloadhid.md
  util/activate_msys2.sh
  util/activate_wsl.sh
  util/linux_install.sh
  util/macos_install.sh
  util/win_shared_install.sh
Labels: core, documentation

[Docs] add japanese translations (#7454)
  docs/ja/README.md
  docs/ja/arm_debugging.md
  docs/ja/config_options.md
Labels: documentation

[Keyboard] fixed noah info.json (#7502)
  keyboards/matrix/noah/info.json
  keyboards/matrix/noah/keymaps/iso/keymap.c
  keyboards/matrix/noah/keymaps/wkl/keymap.c
  keyboards/matrix/noah/noah.h
Labels: none

Revert split encoder fixes until able to repro a better fix (#7498)
  quantum/encoder.c
Labels: core

[Keyboard] 140% keyboard fluorite keymaps (#7473)
  keyboards/fluorite/config.h
  keyboards/fluorite/fluorite.c
  keyboards/fluorite/fluorite.h
  keyboards/fluorite/keymaps/default/config.h
  keyboards/fluorite/keymaps/default/keymap.c
  keyboards/fluorite/keymaps/default/readme.md
  keyboards/fluorite/readme.md
  keyboards/fluorite/rules.mk
Labels: none

Specify Arm GCC 8 in macOS install script (#7509)
  util/macos_install.sh
Labels: core

[Keymap] Userspace updates (#7500)
  users/stanrc85/stanrc85.c
Labels: keymap

[Keyboard] New Keyboard: J-01 (#7494)
  keyboards/jae/j01/config.h
  keyboards/jae/j01/info.json
  keyboards/jae/j01/j01.c
  keyboards/jae/j01/j01.h
  keyboards/jae/j01/keymaps/default/keymap.c
  keyboards/jae/j01/keymaps/default/readme.md
  keyboards/jae/j01/readme.md
  keyboards/jae/j01/rules.mk
Labels: none

Remove eeprom_f4 due to conflicting license
  keyboards/matrix/noah/eeprom_f4.c
  keyboards/matrix/noah/eeprom_f4.h
  keyboards/matrix/noah/rules.mk
Labels: none

Fix install for Linux Ubuntu (#7520)
  util/linux_install.sh
Labels: core

Relocate magic keycode processing (#7512)
  common_features.mk
  quantum/process_keycode/process_magic.c
  quantum/process_keycode/process_magic.h
  quantum/quantum.c
  quantum/quantum.h
Labels: core

[Keymap] Dactyl Manuform computer scientist's layout with split RGB enabled (#7519)
  keyboards/handwired/dactyl_manuform/5x6/keymaps/squirrel/config.h
  keyboards/handwired/dactyl_manuform/5x6/keymaps/squirrel/keymap.c
  keyboards/handwired/dactyl_manuform/5x6/keymaps/squirrel/rules.mk
Labels: none

[keymap] personal keymap tweaks (#7510)
  keyboards/planck/keymaps/callum/keymap.c
  keyboards/planck/keymaps/callum/readme.md
Labels: none

[Keyboard] Added tr60w keyboard (#7450)
  keyboards/tr60w/config.h
  keyboards/tr60w/keymaps/default/keymap.c
  keyboards/tr60w/keymaps/joule-flow/keymap.c
  keyboards/tr60w/readme.md
  keyboards/tr60w/rules.mk
  keyboards/tr60w/tr60w.c
  keyboards/tr60w/tr60w.h
Labels: none

[Keymap] [preonic/kjwon15] Support led key (#7543)
  keyboards/preonic/keymaps/kjwon15/keymap.c
Labels: none

Remove check for EH define (#7525)
  keyboards/ai03/orbit/split_util.c
  keyboards/ai03/orbit/transport.c
  quantum/split_common/post_config.h
  quantum/split_common/split_util.c
  quantum/split_common/transport.c
Labels: core

Fix breathing toggle when rgb is disabled (#7550)
  quantum/quantum.c
Labels: core

[Keymap] add halvves kumo (minivan) keymap (#7534)
  keyboards/thevankeyboards/minivan/keymaps/halvves/config.h
  keyboards/thevankeyboards/minivan/keymaps/halvves/keymap.c
  keyboards/thevankeyboards/minivan/keymaps/halvves/readme.md
  keyboards/thevankeyboards/minivan/keymaps/halvves/rules.mk
Labels: none

Use os.chdir for `qmk docs` instead of a custom HTTP request handler (#7493)
  lib/python/qmk/cli/docs.py
Labels: cli, python

[Keyboard] Fix missing item in Ergodicity macro (#7553)
  keyboards/keebio/ergodicity/ergodicity.h
Labels: none

[Keyboard][Phoebe] Update default keymap, fix LAYOUT macro (#7604)
  keyboards/maxr1998/phoebe/keymaps/default/keymap.c
  keyboards/maxr1998/phoebe/phoebe.h
Labels: none

Fix FORCE_NKRO handling (#7601)
  quantum/process_keycode/process_magic.c
  tmk_core/common/keyboard.c
Labels: core

[Keyboard] Think6.5 Default Keymap Cleanup (#7594)
  keyboards/gray_studio/think65/hotswap/keymaps/default/keymap.c
  keyboards/gray_studio/think65/solder/keymaps/default/keymap.c
Labels: none

[Keyboard] EP96: fix info.json key sequence (#7557)
  keyboards/ep/96/info.json
Labels: none

Update getting_started_make_guide.md (#7538)
  docs/getting_started_make_guide.md
Labels: documentation

Enable bitbang ws2812 for f4 (#7571)
  drivers/arm/ws2812.c
Labels: core
