Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

[Keymap] Add Via keymap for Contra (#9119)
  keyboards/contra/config.h
  keyboards/contra/keymaps/via/keymap.c
  keyboards/contra/keymaps/via/readme.md
  keyboards/contra/keymaps/via/rules.mk
Labels: none

Apply suggestions from code review
  keyboards/sofle/keymaps/default/keymap.c
Labels: none

Remove broken example from Makefile (#9159)
  Makefile
  Vagrantfile
Labels: none

Art userspace (#9068)
  keyboards/ergodone/keymaps/art/keymap.c
  keyboards/wheatfield/split75/keymaps/art/keymap.c
  keyboards/wheatfield/split75/keymaps/art/rules.mk
  keyboards/wheatfield/split75/keymaps/default/keymap.c
  users/art/art.c
  users/art/art.h
  users/art/config.h
  users/art/rules.mk
Labels: keymap

[Keyboard] Add NumDiscipline Keyboard - Modified Version of Discipline With Numpad (#9112)
  keyboards/ericrlau/numdiscipline/info.json
  keyboards/ericrlau/numdiscipline/keymaps/default/keymap.c
  keyboards/ericrlau/numdiscipline/keymaps/default/readme.md
  keyboards/ericrlau/numdiscipline/readme.md
  keyboards/ericrlau/numdiscipline/rev1/config.h
  keyboards/ericrlau/numdiscipline/rev1/rev1.c
  keyboards/ericrlau/numdiscipline/rev1/rev1.h
  keyboards/ericrlau/numdiscipline/rev1/rules.mk
Labels: none

[Docs] Japanese translation of docs/feature_layouts.md (#8949)
  docs/ja/feature_layouts.md
Labels: documentation

[Keymap] Add Via support to ALPS64 (#9041)
  keyboards/alps64/config.h
  keyboards/alps64/keymaps/via/keymap.c
  keyboards/alps64/keymaps/via/rules.mk
Labels: none

[Keyboard] Add support for Ace of Spades TKL keyboard (#9128)
  keyboards/aos/tkl/config.h
  keyboards/aos/tkl/info.json
  keyboards/aos/tkl/keymaps/aholland909/keymap.c
  keyboards/aos/tkl/keymaps/default/keymap.c
  keyboards/aos/tkl/keymaps/default/readme.md
  keyboards/aos/tkl/keymaps/via/keymap.c
  keyboards/aos/tkl/keymaps/via/rules.mk
  keyboards/aos/tkl/readme.md
  keyboards/aos/tkl/rules.mk
  keyboards/aos/tkl/tkl.c
  keyboards/aos/tkl/tkl.h
Labels: none

Adding Chimera Ortho Plus (#9093)
  keyboards/chimera_ortho_plus/chimera_ortho_plus.c
  keyboards/chimera_ortho_plus/chimera_ortho_plus.h
  keyboards/chimera_ortho_plus/config.h
  keyboards/chimera_ortho_plus/info.json
  keyboards/chimera_ortho_plus/keymaps/default/config.h
  keyboards/chimera_ortho_plus/keymaps/default/keymap.c
  keyboards/chimera_ortho_plus/matrix.c
  keyboards/chimera_ortho_plus/readme.md
  keyboards/chimera_ortho_plus/rules.mk
Labels: none

[Keyboard] Add Bakeneko 80 keyboard (#9118)
  keyboards/bakeneko80/bakeneko80.c
  keyboards/bakeneko80/bakeneko80.h
  keyboards/bakeneko80/config.h
  keyboards/bakeneko80/info.json
  keyboards/bakeneko80/keymaps/default/keymap.c
  keyboards/bakeneko80/keymaps/default/readme.md
  keyboards/bakeneko80/readme.md
  keyboards/bakeneko80/rules.mk
Labels: none

Gherkin 26, 27, 28, 30 keys compatibility (#9136)
  keyboards/40percentclub/gherkin/keymaps/stevexyz/keymap.c
  keyboards/40percentclub/gherkin/keymaps/stevexyz/readme.md
Labels: none

MSYS2 install: bodge out avrdude package installation for USBaspLoader
  util/msys2_install.sh
Labels: core

[Docs] Japanese translation of docs/feature_velocikey.md (#9035)
  docs/ja/feature_velocikey.md
Labels: documentation

[Keyboard] add kbdfans/maja rgb keyboard (#9114)
  keyboards/kbdfans/maja/config.h
  keyboards/kbdfans/maja/keymaps/default/keymap.c
  keyboards/kbdfans/maja/keymaps/via/keymap.c
  keyboards/kbdfans/maja/keymaps/via/rules.mk
  keyboards/kbdfans/maja/maja.c
  keyboards/kbdfans/maja/maja.h
  keyboards/kbdfans/maja/readme.md
  keyboards/kbdfans/maja/rules.mk
Labels: none

Add SPI 25xx EEPROM support. (#8780)
  common_features.mk
  docs/eeprom_driver.md
  drivers/eeprom/eeprom_driver.c
  drivers/eeprom/eeprom_i2c.c
  drivers/eeprom/eeprom_spi.c
  drivers/eeprom/eeprom_spi.h
  keyboards/handwired/onekey/keymaps/eep_rst/keymap.c
Labels: core, documentation

[Docs] Japanese translation of docs/feature_thermal_printer.md (#9034)
  docs/ja/feature_thermal_printer.md
Labels: documentation

Enable backlight breathing support for the TADA68 (#9145)
  keyboards/tada68/config.h
Labels: none

Streamline the macos install process
  docs/cli.md
  docs/faq_build.md
  docs/newbs_getting_started.md
  util/macos_install.sh
Labels: core, documentation

[Keymap] Kyria: Updated personal keymap, added asapjockey's keymap (#8019)
  keyboards/kyria/keymaps/asapjockey/config.h
  keyboards/kyria/keymaps/asapjockey/keymap.c
  keyboards/kyria/keymaps/asapjockey/rules.mk
  keyboards/kyria/keymaps/default/rules.mk
Labels: none

[Docs] newbs_flashing.md: place bootloader instructions before Toolbox intro (#9077)
  docs/newbs_flashing.md
Labels: documentation

Slight speed increases for matrix scanning (#9150)
  quantum/matrix.c
  quantum/split_common/matrix.c
Labels: core

ARM split - Add uart half duplex transport support (#7987)
  docs/_summary.md
  docs/serial_driver.md
  drivers/chibios/serial.h
  drivers/chibios/serial_usart.c
Labels: core, documentation

Allow for overriding RAW endpoint usage page and ID. (#8834)
  docs/feature_rawhid.md
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.c
  tmk_core/protocol/usb_descriptor.c
  tmk_core/protocol/usb_descriptor_common.h
  tmk_core/protocol/vusb/vusb.c
Labels: core, documentation

Use LUFA funcs for split_util (#8594)
  quantum/split_common/split_util.c
Labels: core

Initial arm serial partially based on old lets split code
  drivers/chibios/serial.c
  quantum/stm32/halconf.h
Labels: core

format code according to conventions [skip ci]
  quantum/matrix.c
  quantum/split_common/matrix.c
Labels: core

Fix submodule check (#9155)
  lib/python/qmk/cli/doctor.py
Labels: cli, python

Candybar: VIA support for lefty and righty (#9066)
  keyboards/candybar/lefty/config.h
  keyboards/candybar/lefty/keymaps/via/keymap.c
  keyboards/candybar/lefty/keymaps/via/rules.mk
  keyboards/candybar/lefty/rules.mk
  keyboards/candybar/righty/config.h
  keyboards/candybar/righty/keymaps/via/keymap.c
  keyboards/candybar/righty/keymaps/via/rules.mk
  keyboards/candybar/righty/rules.mk
Labels: none

Added custom keymap with french mac layout. (#9115)
  keyboards/xd60/keymaps/melka/.gitignore
  keyboards/xd60/keymaps/melka/config.h
  keyboards/xd60/keymaps/melka/keymap.c
  keyboards/xd60/keymaps/melka/passwd_template.h
  keyboards/xd60/keymaps/melka/readme.md
Labels: none

Reintegrate previous docker docs (#9084)
  docs/_summary.md
  docs/getting_started_docker.md
Labels: documentation

[Keyboard] Add Bookerboard support (#9097)
  keyboards/clawsome/bookerboard/bookerboard.c
  keyboards/clawsome/bookerboard/bookerboard.h
  keyboards/clawsome/bookerboard/config.h
  keyboards/clawsome/bookerboard/info.json
  keyboards/clawsome/bookerboard/keymaps/default/keymap.c
  keyboards/clawsome/bookerboard/readme.md
  keyboards/clawsome/bookerboard/rules.mk
Labels: none

Add Via support to the YMD09 (#9108)
  keyboards/ymdk/ymd09/config.h
  keyboards/ymdk/ymd09/keymaps/via/keymap.c
  keyboards/ymdk/ymd09/keymaps/via/rules.mk
  keyboards/ymdk/ymd09/rules.mk
Labels: none

Add VIA Keymap to Liminal Directory (#8965)
  keyboards/the_royal/liminal/keymaps/via/keymap.c
  keyboards/the_royal/liminal/keymaps/via/readme.md
  keyboards/the_royal/liminal/keymaps/via/rules.mk
Labels: none

[Docs] Japanese translation of docs/feature_leader_key.md (#8950)
  docs/ja/feature_leader_key.md
Labels: documentation

[Docs] Japanese translation of docs/feature_led_matrix.md (#8991)
  docs/ja/feature_led_matrix.md
Labels: documentation

CLI: Improve experience when running `qmk setup` on FreeBSD. (#8798)
  docs/newbs_getting_started.md
  util/freebsd_install.sh
Labels: core, documentation

Disable Mousekey Command interface when Constant speed is enabled (#7017)
  tmk_core/common/command.c
Labels: core

Fix ChibiOS FPU build logic (#9132)
  tmk_core/chibios.mk
  tmk_core/rules.mk
Labels: core

Update ARM split keyboard docs (#9160)
  docs/feature_split_keyboard.md
  docs/proton_c_conversion.md
  docs/serial_driver.md
Labels: documentation

[Keyboard] Add Key 65 by Fox Lab (#9116)
  keyboards/foxlab/key65/hotswap/config.h
  keyboards/foxlab/key65/hotswap/hotswap.c
  keyboards/foxlab/key65/hotswap/hotswap.h
  keyboards/foxlab/key65/hotswap/info.json
  keyboards/foxlab/key65/hotswap/keymaps/default/keymap.c
  keyboards/foxlab/key65/hotswap/keymaps/via/keymap.c
  keyboards/foxlab/key65/hotswap/keymaps/via/rules.mk
  keyboards/foxlab/key65/hotswap/readme.md
  keyboards/foxlab/key65/hotswap/rules.mk
  keyboards/foxlab/key65/universal/config.h
  keyboards/foxlab/key65/universal/info.json
  keyboards/foxlab/key65/universal/keymaps/default/keymap.c
  keyboards/foxlab/key65/universal/keymaps/via/keymap.c
  keyboards/foxlab/key65/universal/keymaps/via/rules.mk
  keyboards/foxlab/key65/universal/readme.md
  keyboards/foxlab/key65/universal/rules.mk
  keyboards/foxlab/key65/universal/universal.c
  keyboards/foxlab/key65/universal/universal.h
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
