Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

[Docs] Trivial documentation fix (#8509)
  docs/ja/arm_debugging.md
Labels: documentation

Claw44 rev1 Configurator layout support (#8488)
  keyboards/claw44/rev1/info.json
Labels: none

Add Croatian keymap (#8525)
  quantum/keymap_extras/keymap_croatian.h
  quantum/keymap_extras/sendstring_croatian.h
Labels: core

CLI: More MSYS2 fixes (#8577)
  bin/qmk
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/commands.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

Set backlight and RGB pins for AVR onekeys (#8533)
  keyboards/handwired/onekey/blackpill_f401/config.h
  keyboards/handwired/onekey/blackpill_f411/config.h
  keyboards/handwired/onekey/bluepill/config.h
  keyboards/handwired/onekey/elite_c/config.h
  keyboards/handwired/onekey/keymaps/adc/config.h
  keyboards/handwired/onekey/keymaps/adc/keymap.c
  keyboards/handwired/onekey/promicro/config.h
  keyboards/handwired/onekey/proton_c/config.h
  keyboards/handwired/onekey/stm32f0_disco/config.h
  keyboards/handwired/onekey/teensy_2/config.h
  keyboards/handwired/onekey/teensy_2pp/config.h
Labels: none

[Docs] added the description of the reading order of the rules.mk files. (#8566)
  docs/hardware_keyboard_guidelines.md
Labels: documentation

Update Japanese translation of contributing.md
  docs/ja/contributing.md
Labels: documentation

[Keymap] BM16a stock layout (#8547)
  keyboards/bm16a/keymaps/factory/keymap.c
  keyboards/bm16a/keymaps/factory/readme.md
Labels: none

fixed problem with implicit declaration in quantum/rgblight.c (#8406)
  drivers/oled/oled_driver.c
  tmk_core/common/progmem.h
Labels: core

Add _33 Keyboard folder (#8543)
  keyboards/underscore33/config.h
  keyboards/underscore33/info.json
  keyboards/underscore33/keymaps/default/keymap.c
  keyboards/underscore33/keymaps/default/readme.md
  keyboards/underscore33/readme.md
  keyboards/underscore33/rules.mk
  keyboards/underscore33/underscore33.c
  keyboards/underscore33/underscore33.h
Labels: none

[Docs] Update Japanese translation of custom_quantum_functions.md (#8520)
  docs/ja/custom_quantum_functions.md
Labels: documentation

Add KeebsPCB pre-Alpha support (#8485)
  keyboards/acheron/keebspcb/chconf.h
  keyboards/acheron/keebspcb/config.h
  keyboards/acheron/keebspcb/halconf.h
  keyboards/acheron/keebspcb/info.json
  keyboards/acheron/keebspcb/keebspcb.c
  keyboards/acheron/keebspcb/keebspcb.h
  keyboards/acheron/keebspcb/keymaps/default/keymap.c
  keyboards/acheron/keebspcb/mcuconf.h
  keyboards/acheron/keebspcb/readme.md
  keyboards/acheron/keebspcb/rules.mk
Labels: none

[Docs] added the description of the reading order of the config.h files. (#8545)
  docs/hardware_keyboard_guidelines.md
Labels: documentation

format code according to conventions [skip ci]
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/arm_atsam/usb/main_usb.c
Labels: core

[Docs] Update Japanese translation of README.md (#8507)
  docs/ja/README.md
Labels: documentation

Fix IT_APOS backward compatibility define in keymap_italian.h (#8565)
  quantum/keymap_extras/keymap_italian.h
Labels: core

[Keymap] Cleaning dbroqua's HHKB layout (#8578)
  keyboards/hhkb/keymaps/dbroqua/keymap.c
  keyboards/hhkb/keymaps/dbroqua/readme.md
Labels: none

Slice Keyboard (#8464)
  keyboards/basekeys/slice/config.h
  keyboards/basekeys/slice/keymaps/default/config.h
  keyboards/basekeys/slice/keymaps/default/keymap.c
  keyboards/basekeys/slice/keymaps/default_split_left_space/config.h
  keyboards/basekeys/slice/keymaps/default_split_left_space/keymap.c
  keyboards/basekeys/slice/readme.md
  keyboards/basekeys/slice/rev1/config.h
  keyboards/basekeys/slice/rev1/info.json
  keyboards/basekeys/slice/rev1/keymaps/2moons/config.h
  keyboards/basekeys/slice/rev1/keymaps/2moons/keymap.c
  keyboards/basekeys/slice/rev1/keymaps/2moons/rules.mk
  keyboards/basekeys/slice/rev1/keymaps/default_all/config.h
  keyboards/basekeys/slice/rev1/keymaps/default_all/keymap.c
  keyboards/basekeys/slice/rev1/keymaps/default_split_backspace/config.h
  keyboards/basekeys/slice/rev1/keymaps/default_split_backspace/keymap.c
  keyboards/basekeys/slice/rev1/rev1.c
  keyboards/basekeys/slice/rev1/rev1.h
  keyboards/basekeys/slice/rev1/rules.mk
  keyboards/basekeys/slice/rev1_rgb/config.h
  keyboards/basekeys/slice/rev1_rgb/info.json
  keyboards/basekeys/slice/rev1_rgb/keymaps/2moons_rgb/config.h
  keyboards/basekeys/slice/rev1_rgb/keymaps/2moons_rgb/keymap.c
  keyboards/basekeys/slice/rev1_rgb/keymaps/2moons_rgb/rules.mk
  keyboards/basekeys/slice/rev1_rgb/rev1_rgb.c
  keyboards/basekeys/slice/rev1_rgb/rev1_rgb.h
  keyboards/basekeys/slice/rev1_rgb/rules.mk
  keyboards/basekeys/slice/slice.c
  keyboards/basekeys/slice/slice.h
  keyboards/basekeys/slice/slice_font.c
Labels: none

[Keymap] Minidox Bepo layout (#8515)
  keyboards/minidox/keymaps/bepo/config.h
  keyboards/minidox/keymaps/bepo/keymap.c
  keyboards/minidox/keymaps/bepo/readme.md
Labels: none

[Docs] Update Japanese translation of _summary.md (#8508)
  docs/ja/_summary.md
Labels: documentation

Update Japanese translation of keymap.md
  docs/ja/keymap.md
Labels: documentation

Add Irish keymap (#8528)
  quantum/keymap_extras/keymap_irish.h
Labels: core

Fix wrong python-pip package for MSYS setup instructions
  docs/newbs_getting_started.md
Labels: documentation

[keymap] Add Alice keymap and to userspace files (#8571)
  keyboards/projectkb/alice/keymaps/stanrc85/keymap.c
  users/stanrc85/rules.mk
Labels: keymap

[Keyboard] Iris via changes (#8597)
  keyboards/keebio/iris/keymaps/via/rules.mk
  keyboards/keebio/iris/rev2/config.h
  keyboards/keebio/iris/rev3/config.h
  keyboards/keebio/iris/rev3/rev3.h
  keyboards/keebio/iris/rev4/config.h
Labels: none

[Keyboard] Snap96 Keyboard (#8416)
  keyboards/xelus/snap96/config.h
  keyboards/xelus/snap96/keymaps/default/keymap.c
  keyboards/xelus/snap96/keymaps/via/config.h
  keyboards/xelus/snap96/keymaps/via/keymap.c
  keyboards/xelus/snap96/keymaps/via/rules.mk
  keyboards/xelus/snap96/readme.md
  keyboards/xelus/snap96/rules.mk
  keyboards/xelus/snap96/snap96.c
  keyboards/xelus/snap96/snap96.h
Labels: none

[Keymap] Add spidey3 keymap for 75_ansi, and a spidey3 userspace (#8470)
  layouts/community/75_ansi/spidey3/keymap.c
  layouts/community/75_ansi/spidey3/readme.md
  layouts/community/75_ansi/spidey3/rules.mk
  users/spidey3/config.h
  users/spidey3/init.c
  users/spidey3/layer_rgb.c
  users/spidey3/readme.md
  users/spidey3/rules.mk
  users/spidey3/spidey3.c
  users/spidey3/spidey3.h
  users/spidey3/unicode.c
  users/spidey3/unicode.h
Labels: keymap

[Keyboard] Add kudox game rev2 (#8529)
  keyboards/kudox_game/info.json
  keyboards/kudox_game/keymaps/default/keymap.c
  keyboards/kudox_game/kudox_game.h
  keyboards/kudox_game/readme.md
  keyboards/kudox_game/rev2/config.h
  keyboards/kudox_game/rev2/rev2.c
  keyboards/kudox_game/rev2/rev2.h
  keyboards/kudox_game/rev2/rules.mk
  keyboards/kudox_game/rules.mk
Labels: none

Add Czech keymap (#8526)
  quantum/keymap_extras/keymap_czech.h
  quantum/keymap_extras/sendstring_czech.h
Labels: core

Update Japanese translation of flashing.md
  docs/ja/flashing.md
Labels: documentation

Update keymap keebio/nyquist (#8602)
  keyboards/keebio/nyquist/keymaps/georgepetri/config.h
  keyboards/keebio/nyquist/keymaps/georgepetri/keymap.c
  keyboards/keebio/nyquist/keymaps/georgepetri/readme.md
  keyboards/keebio/nyquist/keymaps/georgepetri/rules.mk
Labels: none

Fix inverted backlight for XD60 (#8575)
  keyboards/xd60/rev2/config.h
  keyboards/xd60/rev3/config.h
Labels: none

[Keymap] shadowprogr's personal keymap (#8497)
  keyboards/ergodash/rev1/keymaps/shadowprogr/config.h
  keyboards/ergodash/rev1/keymaps/shadowprogr/keymap.c
  keyboards/ergodash/rev1/keymaps/shadowprogr/readme.md
  keyboards/ergodash/rev1/keymaps/shadowprogr/rules.mk
Labels: none

[Keyboard] Add support for Southpaw Extended 65% (#8465)
  keyboards/switchplate/southpaw_65/config.h
  keyboards/switchplate/southpaw_65/dev.md
  keyboards/switchplate/southpaw_65/info.json
  keyboards/switchplate/southpaw_65/keymaps/default/keymap.c
  keyboards/switchplate/southpaw_65/keymaps/default_ansi/keymap.c
  keyboards/switchplate/southpaw_65/keymaps/default_iso/keymap.c
  keyboards/switchplate/southpaw_65/matrix.c
  keyboards/switchplate/southpaw_65/readme.md
  keyboards/switchplate/southpaw_65/rules.mk
  keyboards/switchplate/southpaw_65/southpaw_65.c
  keyboards/switchplate/southpaw_65/southpaw_65.h
Labels: none

format code according to conventions [skip ci]
  quantum/quantum.c
Labels: core

[Keyboard] Add keyboard jisplit89 (#8501)
  keyboards/jisplit89/config.h
  keyboards/jisplit89/info.json
  keyboards/jisplit89/jisplit89.c
  keyboards/jisplit89/jisplit89.h
  keyboards/jisplit89/keymaps/default/keymap.c
  keyboards/jisplit89/keymaps/salicylic/config.h
  keyboards/jisplit89/keymaps/salicylic/keymap.c
  keyboards/jisplit89/keymaps/salicylic/rules.mk
  keyboards/jisplit89/readme.md
  keyboards/jisplit89/rev1/config.h
  keyboards/jisplit89/rev1/rev1.c
  keyboards/jisplit89/rev1/rev1.h
  keyboards/jisplit89/rev1/rules.mk
  keyboards/jisplit89/rules.mk
Labels: none

Add RawHID support to ATSAM (Massdrop boards) (#8530)
  tmk_core/protocol/arm_atsam/main_arm_atsam.c
  tmk_core/protocol/arm_atsam/usb/conf_usb.h
  tmk_core/protocol/arm_atsam/usb/main_usb.c
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.c
  tmk_core/protocol/arm_atsam/usb/udi_hid_kbd.h
  tmk_core/protocol/arm_atsam/usb/usb_main.h
Labels: core

Run clang-format manually to fix recently changed files (#8552)
  quantum/process_keycode/process_combo.c
  quantum/rgb_matrix.c
  quantum/split_common/transport.c
  quantum/wpm.c
  quantum/wpm.h
  tmk_core/protocol/vusb/vusb.c
Labels: core

Add Estonian keymap (#8527)
  quantum/keymap_extras/keymap_estonian.h
  quantum/keymap_extras/sendstring_estonian.h
Labels: core

[Docs] Update RGB Matrix docs with function refs (#8367)
  docs/feature_rgb_matrix.md
Labels: documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
