Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

Add VIA support for kbd67rev1 (#9173)
  keyboards/kbdfans/kbd67/rev1/config.h
  keyboards/kbdfans/kbd67/rev1/keymaps/via/keymap.c
  keyboards/kbdfans/kbd67/rev1/keymaps/via/readme.md
  keyboards/kbdfans/kbd67/rev1/keymaps/via/rules.mk
Labels: none

Fix compiling json files (#9210)
  lib/python/qmk/keymap.py
Labels: cli, python

Added missing shutdown_user() hook (#9180)
  tmk_core/common/command.c
Labels: core

[CLI] Add a subcommand for getting information about a keyboard (#8666)
  docs/cli_commands.md
  lib/python/qmk/c_parse.py
  lib/python/qmk/cli/__init__.py
  lib/python/qmk/cli/cformat.py
  lib/python/qmk/cli/info.py
  lib/python/qmk/cli/list/keymaps.py
  lib/python/qmk/commands.py
  lib/python/qmk/comment_remover.py
  lib/python/qmk/constants.py
  lib/python/qmk/decorators.py
  lib/python/qmk/info.py
  lib/python/qmk/keyboard.py
  lib/python/qmk/keymap.py
  lib/python/qmk/makefile.py
  lib/python/qmk/math.py
  lib/python/qmk/path.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python, documentation

Keyboards/zsa updates (#9214)
  keyboards/ergodox_ez/config.h
  keyboards/ergodox_ez/ergodox_ez.h
  keyboards/ergodox_ez/info.json
  keyboards/ergodox_ez/keymaps/default/keymap.c
  keyboards/ergodox_ez/readme.md
  keyboards/planck/ez/ez.h
Labels: none

[Keymap] Niu keymap and README update (#9190)
  keyboards/niu_mini/keymaps/yttyx/README.md
  keyboards/niu_mini/keymaps/yttyx/keymap.c
  keyboards/niu_mini/keymaps/yttyx/rules.mk
Labels: none

Fix SPI EEPROM compile issue when Console is enabled (#9193)
  drivers/eeprom/eeprom_spi.c
Labels: core

[Keyboard] Add zvecr/split_blackpill (#9166)
  keyboards/zvecr/split_blackpill/chconf.h
  keyboards/zvecr/split_blackpill/config.h
  keyboards/zvecr/split_blackpill/halconf.h
  keyboards/zvecr/split_blackpill/info.json
  keyboards/zvecr/split_blackpill/keymaps/default/keymap.c
  keyboards/zvecr/split_blackpill/mcuconf.h
  keyboards/zvecr/split_blackpill/readme.md
  keyboards/zvecr/split_blackpill/rules.mk
  keyboards/zvecr/split_blackpill/split_blackpill.c
  keyboards/zvecr/split_blackpill/split_blackpill.h
Labels: none

[Keymap] Update yttyx Planck keymap (#9191)
  keyboards/planck/keymaps/yttyx/README.md
  keyboards/planck/keymaps/yttyx/config.h
  keyboards/planck/keymaps/yttyx/keymap.c
  keyboards/planck/keymaps/yttyx/readme.md
  keyboards/planck/keymaps/yttyx/rules.mk
Labels: none

Fix running qmk info without any arguments (#9218)
  lib/python/qmk/cli/info.py
  lib/python/qmk/path.py
Labels: cli, python

Community layout support for KBDpad Mk.I (#9220)
  keyboards/kbdfans/kbdpad/mk1/info.json
  keyboards/kbdfans/kbdpad/mk1/keymaps/default/keymap.c
  keyboards/kbdfans/kbdpad/mk1/mk1.h
  keyboards/kbdfans/kbdpad/mk1/readme.md
  keyboards/kbdfans/kbdpad/mk1/rules.mk
Labels: none

CLI: Rework submodule checking (#9162)
  lib/python/qmk/cli/doctor.py
Labels: cli, python

[Keyboard] Wolfmark Club WM1 (#9121)
  keyboards/wolfmarkclub/wm1/bootloader_defs.h
  keyboards/wolfmarkclub/wm1/chconf.h
  keyboards/wolfmarkclub/wm1/config.h
  keyboards/wolfmarkclub/wm1/halconf.h
  keyboards/wolfmarkclub/wm1/info.json
  keyboards/wolfmarkclub/wm1/keymaps/default/keymap.c
  keyboards/wolfmarkclub/wm1/ld/wm1_f103.ld
  keyboards/wolfmarkclub/wm1/mcuconf.h
  keyboards/wolfmarkclub/wm1/readme.md
  keyboards/wolfmarkclub/wm1/rules.mk
  keyboards/wolfmarkclub/wm1/wm1.c
  keyboards/wolfmarkclub/wm1/wm1.h
Labels: none

[Keyboard] handwired/k8split (#9133)
  keyboards/handwired/k8split/README.md
  keyboards/handwired/k8split/config.h
  keyboards/handwired/k8split/k8split.c
  keyboards/handwired/k8split/k8split.h
  keyboards/handwired/k8split/keymaps/default/keymap.c
  keyboards/handwired/k8split/keymaps/left/config.h
  keyboards/handwired/k8split/keymaps/left/keymap.c
  keyboards/handwired/k8split/keymaps/right/config.h
  keyboards/handwired/k8split/keymaps/right/keymap.c
  keyboards/handwired/k8split/rules.mk
Labels: none

[Docs] Japanese translation of docs/feature_pointing_device.md (#8993)
  docs/ja/feature_pointing_device.md
Labels: documentation

[Keyboard] PDBDOWN should be PCBDOWN. (#9192)
  keyboards/atreus/astar_mirrored/config.h
Labels: none

ISSI driver compile error fix (#9169)
  drivers/issi/is31fl3731.c
Labels: core

CLI: fix `json2c` subcommand and add/fix tests (#9206)
  keyboards/handwired/onekey/keymaps/default_json/keymap.json
  keyboards/handwired/onekey/pytest/templates/keymap.c
  lib/python/qmk/cli/json2c.py
  lib/python/qmk/tests/test_cli_commands.py
  lib/python/qmk/tests/test_qmk_keymap.py
Labels: cli, python

[Keymap] update helix/rev2:yshrsmz keymap (#9047)
  keyboards/helix/rev2/keymaps/yshrsmz/config.h
  keyboards/helix/rev2/keymaps/yshrsmz/keymap.c
  keyboards/helix/rev2/keymaps/yshrsmz/rules.mk
Labels: none

Improve the Makefile message a bit more (#9161)
  Makefile
Labels: none

[Keyboard] Added wilba.tech WT60-XT (#9168)
  keyboards/wilba_tech/wt60_xt/config.h
  keyboards/wilba_tech/wt60_xt/info.json
  keyboards/wilba_tech/wt60_xt/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_xt/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_xt/keymaps/via/rules.mk
  keyboards/wilba_tech/wt60_xt/readme.md
  keyboards/wilba_tech/wt60_xt/rules.mk
  keyboards/wilba_tech/wt60_xt/wt60_xt.c
  keyboards/wilba_tech/wt60_xt/wt60_xt.h
Labels: none

Documentation for keymap_extras (#9194)
  docs/_summary.md
  docs/reference_keymap_extras.md
Labels: documentation

Fix i2c EEPROM compile issue when Console is enabled (#9186)
  drivers/eeprom/eeprom_i2c.c
Labels: core

ymdk/bface - RGB config and minila layout (#9127)
  keyboards/ymdk/bface/README.md
  keyboards/ymdk/bface/config.h
  keyboards/ymdk/bface/keymaps/minila/keymap.c
  keyboards/ymdk/bface/keymaps/minila/readme.md
  keyboards/ymdk/bface/rules.mk
Labels: none

[Keymap] Contributing Home-Row-Centric-Mousekey Layout (#9195)
  keyboards/ergodox_ez/keymaps/nathanvercaemert/config.h
  keyboards/ergodox_ez/keymaps/nathanvercaemert/keymap.c
  keyboards/ergodox_ez/keymaps/nathanvercaemert/readme.md
  keyboards/ergodox_ez/keymaps/nathanvercaemert/rules.mk
Labels: none

Fix projectkb/alice LED indicator (#9226)
  keyboards/projectkb/alice/alice.c
Labels: none

[Keymap] dohmain 60_tsangan_hhkb layout (#9157)
  layouts/community/60_tsangan_hhkb/dohmain/keymap.c
  layouts/community/60_tsangan_hhkb/dohmain/readme.md
Labels: keymap

[Keymap] Ported ok60 to via (#9179)
  keyboards/ok60/config.h
  keyboards/ok60/keymaps/via/keymap.c
  keyboards/ok60/keymaps/via/rules.mk
Labels: none

Fix build. (#9163)
  quantum/split_common/split_util.c
Labels: core

Fixed the indentation of the sample code in feature_pointing_device docs (#9177)
  docs/feature_pointing_device.md
Labels: documentation

Fix crkbd slave matrix print to require debug_matrix (#9217)
  keyboards/crkbd/rev1/split_scomm.c
Labels: none

Adding TGR Tris/Tris CE Numpad (#9139)
  keyboards/tgr/tris/config.h
  keyboards/tgr/tris/info.json
  keyboards/tgr/tris/keymaps/default/keymap.c
  keyboards/tgr/tris/keymaps/default/readme.md
  keyboards/tgr/tris/keymaps/via/keymap.c
  keyboards/tgr/tris/keymaps/via/rules.mk
  keyboards/tgr/tris/readme.md
  keyboards/tgr/tris/rules.mk
  keyboards/tgr/tris/tris.c
  keyboards/tgr/tris/tris.h
Labels: none

Fix the path for generated keymaps (#9213)
  lib/python/qmk/cli/compile.py
  lib/python/qmk/keymap.py
Labels: cli, python

RSTHD keymap for Minidox (#9178)
  keyboards/minidox/keymaps/rsthd_combos/config.h
  keyboards/minidox/keymaps/rsthd_combos/keymap.c
  keyboards/minidox/keymaps/rsthd_combos/readme.md
  keyboards/minidox/keymaps/rsthd_combos/rules.mk
Labels: none

Fix handwired/novem Configurator config (#9291)
  keyboards/handwired/novem/info.json
Labels: none

Added new keyboard boardsource/3x4 (#9247)
  keyboards/boardsource/3x4/3x4.c
  keyboards/boardsource/3x4/3x4.h
  keyboards/boardsource/3x4/config.h
  keyboards/boardsource/3x4/info.json
  keyboards/boardsource/3x4/keymaps/default/keymap.c
  keyboards/boardsource/3x4/readme.md
  keyboards/boardsource/3x4/rules.mk
Labels: none

[Keyboard] New Keyboard: Duck TC-V3 (#8265)
  keyboards/duck/readme.md
  keyboards/duck/tcv3/config.h
  keyboards/duck/tcv3/indicator_leds.c
  keyboards/duck/tcv3/indicator_leds.h
  keyboards/duck/tcv3/info.json
  keyboards/duck/tcv3/keymaps/default/keymap.c
  keyboards/duck/tcv3/keymaps/default/readme.md
  keyboards/duck/tcv3/keymaps/via/config.h
  keyboards/duck/tcv3/keymaps/via/keymap.c
  keyboards/duck/tcv3/keymaps/via/rules.mk
  keyboards/duck/tcv3/matrix.c
  keyboards/duck/tcv3/readme.md
  keyboards/duck/tcv3/rules.mk
  keyboards/duck/tcv3/tcv3.c
  keyboards/duck/tcv3/tcv3.h
Labels: none

Fix build when using IGNORE_MOD_TAP_INTERRUPT_PER_KEY. (#9258)
  tmk_core/common/action.c
Labels: core

[Keyboard] keyboards/anavi: Add ANAVI Macro Pad 8 (#9164)
  keyboards/anavi/macropad8/config.h
  keyboards/anavi/macropad8/glcdfont.c
  keyboards/anavi/macropad8/info.json
  keyboards/anavi/macropad8/keymaps/default/keymap.c
  keyboards/anavi/macropad8/keymaps/kodi/keymap.c
  keyboards/anavi/macropad8/macropad8.c
  keyboards/anavi/macropad8/macropad8.h
  keyboards/anavi/macropad8/readme.md
  keyboards/anavi/macropad8/rules.mk
Labels: none

[Keyboard] Gboards common - TOGG()/inject.h (#9236)
  keyboards/gboards/g/keymap_combo.h
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
