Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

[Keyboard] Wheatfield Split75 (#8511)
  keyboards/wheatfield/split75/README.md
  keyboards/wheatfield/split75/config.h
  keyboards/wheatfield/split75/info.json
  keyboards/wheatfield/split75/keymaps/art/keymap.c
  keyboards/wheatfield/split75/keymaps/default/keymap.c
  keyboards/wheatfield/split75/matrix.c
  keyboards/wheatfield/split75/rules.mk
  keyboards/wheatfield/split75/split75.c
  keyboards/wheatfield/split75/split75.h
Labels: none

VIA Support: 1upkeyboards Sweet16 (#8652)
  keyboards/1upkeyboards/sweet16/config.h
  keyboards/1upkeyboards/sweet16/keymaps/via/keymap.c
  keyboards/1upkeyboards/sweet16/keymaps/via/rules.mk
  keyboards/1upkeyboards/sweet16/v1/config.h
  keyboards/1upkeyboards/sweet16/v2/promicro/config.h
  keyboards/1upkeyboards/sweet16/v2/proton_c/config.h
Labels: none

Fix saving output from avrdude and dfu-programmer
  lib/python/qmk/cli/doctor.py
Labels: cli, python

[Keyboard] romeo - add via layout (#8667)
  keyboards/coseyfannitutti/romeo/config.h
  keyboards/coseyfannitutti/romeo/keymaps/via/keymap.c
  keyboards/coseyfannitutti/romeo/keymaps/via/rules.mk
Labels: none

add 60_ansi layout to YD60MQ (#8696)
  keyboards/yd60mq/info.json
  keyboards/yd60mq/rules.mk
  keyboards/yd60mq/yd60mq.h
Labels: none

Update info.json (#8723)
  keyboards/jisplit89/info.json
Labels: none

Don't hide for devs...
  lib/python/qmk/cli/cformat.py
  lib/python/qmk/cli/docs.py
  lib/python/qmk/cli/kle2json.py
Labels: cli, python

format code according to conventions [skip ci]
  drivers/avr/spi_master.c
Labels: core

Fix spaceman naming (#8741)
  keyboards/2_milk/2_milk.c
  keyboards/2_milk/2_milk.h
  keyboards/2_milk/config.h
  keyboards/2_milk/info.json
  keyboards/2_milk/keymaps/copypasta/keymap.c
  keyboards/2_milk/readme.md
  keyboards/pancake/config.h
  keyboards/pancake/feather/config.h
  keyboards/pancake/info.json
  keyboards/pancake/pancake.c
  keyboards/pancake/pancake.h
  keyboards/pancake/promicro/config.h
  keyboards/pancake/readme.md
Labels: none

CannonKeys DB60 (Daughterboard60) PCB (#8208)
  keyboards/cannonkeys/db60/chconf.h
  keyboards/cannonkeys/db60/config.h
  keyboards/cannonkeys/db60/db60.c
  keyboards/cannonkeys/db60/db60.h
  keyboards/cannonkeys/db60/halconf.h
  keyboards/cannonkeys/db60/info.json
  keyboards/cannonkeys/db60/keymaps/default/keymap.c
  keyboards/cannonkeys/db60/keymaps/iso/keymap.c
  keyboards/cannonkeys/db60/keymaps/tsangan/keymap.c
  keyboards/cannonkeys/db60/keymaps/via/keymap.c
  keyboards/cannonkeys/db60/keymaps/via/rules.mk
  keyboards/cannonkeys/db60/mcuconf.h
  keyboards/cannonkeys/db60/readme.md
  keyboards/cannonkeys/db60/rules.mk
Labels: none

Fix compile issues with devastatingtkl (#8765)
  keyboards/cannonkeys/devastatingtkl/rules.mk
Labels: none

Fix a couple of typos that were causing confusion (#8767)
  docs/ref_functions.md
Labels: documentation

[Keyboard] Add CannonKeys Atlas keyboard (#8207)
  keyboards/cannonkeys/atlas/atlas.c
  keyboards/cannonkeys/atlas/atlas.h
  keyboards/cannonkeys/atlas/chconf.h
  keyboards/cannonkeys/atlas/config.h
  keyboards/cannonkeys/atlas/halconf.h
  keyboards/cannonkeys/atlas/info.json
  keyboards/cannonkeys/atlas/keymaps/default/keymap.c
  keyboards/cannonkeys/atlas/keymaps/via/keymap.c
  keyboards/cannonkeys/atlas/keymaps/via/rules.mk
  keyboards/cannonkeys/atlas/mcuconf.h
  keyboards/cannonkeys/atlas/readme.md
  keyboards/cannonkeys/atlas/rules.mk
Labels: none

Fix edge-case with config
  bin/qmk
Labels: cli

Add Choconum (#8709)
  keyboards/keebio/choconum/chconf.h
  keyboards/keebio/choconum/choconum.c
  keyboards/keebio/choconum/choconum.h
  keyboards/keebio/choconum/config.h
  keyboards/keebio/choconum/halconf.h
  keyboards/keebio/choconum/info.json
  keyboards/keebio/choconum/keymaps/default/keymap.c
  keyboards/keebio/choconum/keymaps/via/keymap.c
  keyboards/keebio/choconum/keymaps/via/readme.md
  keyboards/keebio/choconum/keymaps/via/rules.mk
  keyboards/keebio/choconum/mcuconf.h
  keyboards/keebio/choconum/readme.md
  keyboards/keebio/choconum/rules.mk
Labels: none

hineybush Physix Configurator bugfix (#8761)
  keyboards/hineybush/physix/info.json
Labels: none

Add Via keymap for BM16-A (#8681)
  keyboards/bm16a/config.h
  keyboards/bm16a/keymaps/via/keymap.c
  keyboards/bm16a/keymaps/via/readme.md
  keyboards/bm16a/keymaps/via/rules.mk
Labels: none

[Keymap] added vim compatibility, backspace above enter, and general macOS opt… (#8080)
  keyboards/gray_studio/space65/keymaps/keithlo/keymap.c
  keyboards/gray_studio/space65/keymaps/keithlo/readme.md
  keyboards/projectkb/alice/keymaps/keithlo/keymap.c
Labels: none

DevastatingTKL Keyboard (#8209)
  keyboards/cannonkeys/devastatingtkl/chconf.h
  keyboards/cannonkeys/devastatingtkl/config.h
  keyboards/cannonkeys/devastatingtkl/devastatingtkl.c
  keyboards/cannonkeys/devastatingtkl/devastatingtkl.h
  keyboards/cannonkeys/devastatingtkl/halconf.h
  keyboards/cannonkeys/devastatingtkl/info.json
  keyboards/cannonkeys/devastatingtkl/keymaps/default/keymap.c
  keyboards/cannonkeys/devastatingtkl/keymaps/via/keymap.c
  keyboards/cannonkeys/devastatingtkl/keymaps/via/rules.mk
  keyboards/cannonkeys/devastatingtkl/mcuconf.h
  keyboards/cannonkeys/devastatingtkl/readme.md
  keyboards/cannonkeys/devastatingtkl/rules.mk
Labels: none

Upgrade gcc version/tweak package installs in Gentoo installation (#8757)
  util/linux_install.sh
Labels: core

VIA support for the KBDFans KBD6x (#8680)
  keyboards/kbdfans/kbd6x/config.h
  keyboards/kbdfans/kbd6x/keymaps/via/keymap.c
  keyboards/kbdfans/kbd6x/keymaps/via/readme.md
  keyboards/kbdfans/kbd6x/keymaps/via/rules.mk
Labels: none

Various fixes to how timer differences are calculated (#8585)
  quantum/debounce/eager_pk.c
  quantum/debounce/eager_pr.c
  tmk_core/common/timer.h
Labels: core

format code according to conventions [skip ci]
  quantum/debounce/eager_pk.c
  quantum/debounce/eager_pr.c
  tmk_core/common/timer.h
Labels: core

[Keymap] Updates to personal keymaps (#8665)
  keyboards/tkc1800/keymaps/yanfali/rules.mk
  layouts/community/60_tsangan_hhkb/yanfali_wkl/keymap.c
  users/yanfali/rules.mk
  users/yanfali_wkl
Labels: keymap

[Keyboard] obuwunkunubi/spaget handwired (#8738)
  keyboards/handwired/obuwunkunubi/spaget/config.h
  keyboards/handwired/obuwunkunubi/spaget/info.json
  keyboards/handwired/obuwunkunubi/spaget/keymaps/default/keymap.c
  keyboards/handwired/obuwunkunubi/spaget/keymaps/default/readme.md
  keyboards/handwired/obuwunkunubi/spaget/keymaps/default/rules.mk
  keyboards/handwired/obuwunkunubi/spaget/readme.md
  keyboards/handwired/obuwunkunubi/spaget/rules.mk
  keyboards/handwired/obuwunkunubi/spaget/spaget.c
  keyboards/handwired/obuwunkunubi/spaget/spaget.h
Labels: none

Add PS2_MOUSE_ROTATE to compensate for device orientation (#8650)
  docs/feature_ps2_mouse.md
  tmk_core/protocol/ps2_mouse.c
Labels: core, documentation

Some refinements of 75_ansi/spidey3 layout (#8581)
  layouts/community/75_ansi/spidey3/keymap.c
  layouts/community/75_ansi/spidey3/rules.mk
  users/spidey3/init.c
  users/spidey3/layer_rgb.c
  users/spidey3/spidey3.c
  users/spidey3/spidey3.h
Labels: keymap

Add VIA keymap for Wasdat (#8762)
  keyboards/maartenwut/wasdat/config.h
  keyboards/maartenwut/wasdat/keymaps/via/keymap.c
  keyboards/maartenwut/wasdat/keymaps/via/rules.mk
  keyboards/maartenwut/wasdat/rules.mk
  keyboards/maartenwut/wasdat/wasdat.h
Labels: none

[Keyboard] Add CannonKeys Rekt1800 keyboard (#7760)
  keyboards/cannonkeys/rekt1800/chconf.h
  keyboards/cannonkeys/rekt1800/config.h
  keyboards/cannonkeys/rekt1800/halconf.h
  keyboards/cannonkeys/rekt1800/info.json
  keyboards/cannonkeys/rekt1800/keymaps/default/keymap.c
  keyboards/cannonkeys/rekt1800/keymaps/via/keymap.c
  keyboards/cannonkeys/rekt1800/keymaps/via/rules.mk
  keyboards/cannonkeys/rekt1800/mcuconf.h
  keyboards/cannonkeys/rekt1800/readme.md
  keyboards/cannonkeys/rekt1800/rekt1800.c
  keyboards/cannonkeys/rekt1800/rekt1800.h
  keyboards/cannonkeys/rekt1800/rules.mk
Labels: none

Make dedicated sections for user/dev commands in docs
  docs/cli_commands.md
Labels: documentation

Fix compile issues related to NO_ACTION_MACRO/FUNCTION and LTO_ENABLE (#8663)
  docs/config_options.md
  quantum/template/avr/config.h
  quantum/template/ps2avrgb/config.h
  tmk_core/common.mk
  tmk_core/common/action.h
Labels: core, documentation

Modernize ctrl, shift, alt mods detection (#8724)
  keyboards/massdrop/ctrl/keymaps/default/keymap.c
Labels: none

Rebase on master, hide some other subcommands
  bin/qmk
  docs/cli.md
  docs/cli_commands.md
  docs/cli_development.md
  lib/python/qmk/cli/cformat.py
  lib/python/qmk/cli/docs.py
  lib/python/qmk/cli/kle2json.py
Labels: cli, python, documentation

Apply @skullydazed's suggestions, move 'import milc'
  bin/qmk
Labels: cli

quantum/debounce: Added sym_pk debounce algorithm (#8587)
  docs/feature_debounce_type.md
  quantum/debounce/sym_pk.c
Labels: core, documentation

Use milc for config check, requirements fixes
  bin/qmk
  requirements-dev.txt
Labels: cli

change kbd67 rev1 and rev2 default keymaps (#8758)
  keyboards/kbdfans/kbd67/rev1/keymaps/default/keymap.c
  keyboards/kbdfans/kbd67/rev2/keymaps/default/keymap.c
Labels: none

[Keymap] Update personal userspace and keymaps (#8747)
  keyboards/doro67/multi/keymaps/konstantin/rules.mk
  keyboards/kbdfans/kbd6x/keymaps/konstantin/keymap.c
  keyboards/kbdfans/kbd6x/keymaps/konstantin/rules.mk
  keyboards/maartenwut/wasdat/keymaps/konstantin/rules.mk
  keyboards/melody96/keymaps/konstantin/rules.mk
  keyboards/whitefox/keymaps/konstantin/rules.mk
  users/konstantin/config.h
  users/konstantin/konstantin.c
  users/konstantin/konstantin.h
  users/konstantin/rgb.h
  users/konstantin/rules.mk
Labels: keymap

[Keyboard] Add splitish (#8751)
  keyboards/splitish/config.h
  keyboards/splitish/keymaps/default/keymap.c
  keyboards/splitish/keymaps/default/readme.md
  keyboards/splitish/readme.md
  keyboards/splitish/rules.mk
  keyboards/splitish/splitish.c
  keyboards/splitish/splitish.h
Labels: none

Add RGB support in via to launchpad (#8621)
  keyboards/launchpad/keymaps/via/keymap.c
  keyboards/launchpad/keymaps/via/rules.mk
  keyboards/launchpad/rev1/config.h
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
