Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

[Keyboard] Add Via support for Let's Split v2 (#9448)
  keyboards/lets_split/keymaps/via/config.h
  keyboards/lets_split/keymaps/via/keymap.c
  keyboards/lets_split/keymaps/via/rules.mk
  keyboards/lets_split/rev2/config.h
Labels: none

Implement game mode layer for dcompact on planck (#9402)
  keyboards/planck/keymaps/dcompact/keymap.c
  keyboards/planck/keymaps/dcompact/readme.md
Labels: none

update shell.nix (#8910)
  shell.nix
Labels: none

Fix Eon87 info.json (#9460)
  keyboards/maartenwut/eon87/info.json
Labels: none

rebound rev4, consolodated switch matrix from 5x12 to 7x8 (#9314)
  keyboards/montsinger/rebound/rebound.h
  keyboards/montsinger/rebound/rev4/config.h
  keyboards/montsinger/rebound/rev4/info.json
  keyboards/montsinger/rebound/rev4/keymaps/default/keymap.c
  keyboards/montsinger/rebound/rev4/keymaps/rossman360/keymap.c
  keyboards/montsinger/rebound/rev4/keymaps/rossman360/rules.mk
  keyboards/montsinger/rebound/rev4/rev4.h
  keyboards/montsinger/rebound/rev4/rules.mk
  users/rossman360/rossman360.h
Labels: keymap

Adding information to feature_encoders.md (#9486)
  docs/feature_encoders.md
Labels: documentation

[Keyboard] GameBuddy macropad (#9391)
  keyboards/clawsome/gamebuddy/config.h
  keyboards/clawsome/gamebuddy/gamebuddy.c
  keyboards/clawsome/gamebuddy/gamebuddy.h
  keyboards/clawsome/gamebuddy/info.json
  keyboards/clawsome/gamebuddy/keymaps/default/keymap.c
  keyboards/clawsome/gamebuddy/readme.md
  keyboards/clawsome/gamebuddy/rules.mk
Labels: none

Add Configurator layout support for westfoxtrot/prophet (#9428)
  keyboards/westfoxtrot/prophet/info.json
Labels: none

New Keyboard: E8.5 TKL (#9447)
  keyboards/exclusive/e85/config.h
  keyboards/exclusive/e85/e85.c
  keyboards/exclusive/e85/e85.h
  keyboards/exclusive/e85/info.json
  keyboards/exclusive/e85/keymaps/default/keymap.c
  keyboards/exclusive/e85/keymaps/standard/keymap.c
  keyboards/exclusive/e85/keymaps/tsangan/keymap.c
  keyboards/exclusive/e85/keymaps/via/config.h
  keyboards/exclusive/e85/keymaps/via/keymap.c
  keyboards/exclusive/e85/keymaps/via/rules.mk
  keyboards/exclusive/e85/readme.md
  keyboards/exclusive/e85/rules.mk
  keyboards/exclusive/readme.md
Labels: none

Standardize how unicode is processed (fixes #8768) (#8770)
  docs/feature_unicode.md
  quantum/process_keycode/process_ucis.c
  quantum/process_keycode/process_ucis.h
  quantum/process_keycode/process_unicode_common.c
  quantum/process_keycode/process_unicode_common.h
  quantum/process_keycode/process_unicodemap.c
Labels: core, documentation

[Keyboard] Added ymdk split64 based on walston's work (#9183)
  keyboards/ymdk/sp64/config.h
  keyboards/ymdk/sp64/info.json
  keyboards/ymdk/sp64/keymaps/daed/keymap.c
  keyboards/ymdk/sp64/keymaps/default/keymap.c
  keyboards/ymdk/sp64/keymaps/walston/keymap.c
  keyboards/ymdk/sp64/keymaps/walston/rules.mk
  keyboards/ymdk/sp64/matrix.c
  keyboards/ymdk/sp64/readme.md
  keyboards/ymdk/sp64/rules.mk
  keyboards/ymdk/sp64/sp64.c
  keyboards/ymdk/sp64/sp64.h
Labels: none

[Keyboard] Add Eon87 (#9337)
  keyboards/maartenwut/eon87/config.h
  keyboards/maartenwut/eon87/eon87.c
  keyboards/maartenwut/eon87/eon87.h
  keyboards/maartenwut/eon87/info.json
  keyboards/maartenwut/eon87/keymaps/default/keymap.c
  keyboards/maartenwut/eon87/keymaps/default/readme.md
  keyboards/maartenwut/eon87/keymaps/via/keymap.c
  keyboards/maartenwut/eon87/keymaps/via/rules.mk
  keyboards/maartenwut/eon87/readme.md
  keyboards/maartenwut/eon87/rules.mk
Labels: none

[Docs] Improve Unicode documentation (#8676)
  docs/feature_macros.md
  docs/feature_unicode.md
Labels: documentation

added keyboard 5x12 to boardsource folder (#9438)
  keyboards/boardsource/5x12/5x12.c
  keyboards/boardsource/5x12/5x12.h
  keyboards/boardsource/5x12/config.h
  keyboards/boardsource/5x12/info.json
  keyboards/boardsource/5x12/keymaps/default/keymap.c
  keyboards/boardsource/5x12/readme.md
  keyboards/boardsource/5x12/rules.mk
Labels: none

Added missing RGB controls on layer 1. (#9481)
  keyboards/xd87/keymaps/mac_underglow/keymap.c
Labels: none

Change `led` variable in rgb_matrix_drivers to avoid conflicts (#9412)
  quantum/rgb_matrix_drivers.c
Labels: core

format code according to conventions [skip ci]
  drivers/chibios/ws2812.c
Labels: core

[Keyboard] Jian keyboard (#8914)
  keyboards/jian/config.h
  keyboards/jian/handwired/config.h
  keyboards/jian/handwired/handwired.c
  keyboards/jian/handwired/handwired.h
  keyboards/jian/handwired/rules.mk
  keyboards/jian/info.json
  keyboards/jian/jian.c
  keyboards/jian/jian.h
  keyboards/jian/keymaps/advanced/config.h
  keyboards/jian/keymaps/advanced/keymap.c
  keyboards/jian/keymaps/advanced/rules.mk
  keyboards/jian/keymaps/default/config.h
  keyboards/jian/keymaps/default/keymap.c
  keyboards/jian/keymaps/default/rules.mk
  keyboards/jian/nsrev2/config.h
  keyboards/jian/nsrev2/nsrev2.c
  keyboards/jian/nsrev2/nsrev2.h
  keyboards/jian/nsrev2/rules.mk
  keyboards/jian/readme.md
  keyboards/jian/rev1/config.h
  keyboards/jian/rev1/rev1.c
  keyboards/jian/rev1/rev1.h
  keyboards/jian/rev1/rules.mk
  keyboards/jian/rev2/config.h
  keyboards/jian/rev2/rev2.c
  keyboards/jian/rev2/rev2.h
  keyboards/jian/rev2/rules.mk
  keyboards/jian/rules.mk
Labels: none

Fix Kudox Columner Configurator key ordering (#9427)
  keyboards/kudox/columner/info.json
Labels: none

[Keymap] Dcompact for iris (#9406)
  keyboards/keebio/iris/keymaps/dcompact/config.h
  keyboards/keebio/iris/keymaps/dcompact/keymap.c
  keyboards/keebio/iris/keymaps/dcompact/readme.md
Labels: none

Keymap: Add custom keymap for Planck (#9417)
  keyboards/planck/keymaps/buffet/config.h
  keyboards/planck/keymaps/buffet/keymap.c
  keyboards/planck/keymaps/buffet/readme.md
  keyboards/planck/keymaps/buffet/rgb_matrix_user.inc
  keyboards/planck/keymaps/buffet/rules.mk
Labels: none

Enable Mousekeys for Keebio Quefrency rev1 (#9478)
  keyboards/keebio/quefrency/rev1/rules.mk
Labels: none

[Update] Files with Japanese translations related to #8822 (#9455)
  docs/ja/faq_debug.md
  docs/ja/flashing.md
  docs/ja/getting_started_vagrant.md
Labels: documentation

Fix incorrect delay when setting WS2812 (and similar) leds (#9302)
  docs/ws2812_driver.md
  drivers/avr/ws2812.c
  drivers/chibios/ws2812.c
  drivers/chibios/ws2812.h
  drivers/chibios/ws2812_pwm.c
  drivers/chibios/ws2812_spi.c
  drivers/ws2812.h
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: core, documentation

[Keyboard] added VIA support for HotDox (#9377)
  keyboards/hotdox/config.h
  keyboards/hotdox/keymaps/via/config.h
  keyboards/hotdox/keymaps/via/keymap.c
  keyboards/hotdox/keymaps/via/rules.mk
Labels: none

Fix for One Shot Layer not being cleaned up after some actions (#8832)
  tmk_core/common/action.c
Labels: core

Remove rules.mk for gboards/engine and gboards/g (#9444)
  keyboards/gboards/engine/rules.mk
  keyboards/gboards/g/rules.mk
Labels: none

Support IS31FL3741 and IS31FL3741A. (#9201)
  common_features.mk
  drivers/issi/is31fl3741.c
  drivers/issi/is31fl3741.h
  quantum/rgb_matrix.h
  quantum/rgb_matrix_drivers.c
Labels: core

Remove more useless code (#9475)
  keyboards/absinthe/rules.mk
  keyboards/hhkb/ansi/config.h
  keyboards/hhkb/jp/config.h
  keyboards/kingly_keys/smd_milk/2_milk.c
  keyboards/kingly_keys/smd_milk/2_milk.h
Labels: none

[Keyboard] Add Mixi (#9364)
  keyboards/mixi/config.h
  keyboards/mixi/info.json
  keyboards/mixi/keymaps/default/keymap.c
  keyboards/mixi/keymaps/default/readme.md
  keyboards/mixi/keymaps/via/keymap.c
  keyboards/mixi/keymaps/via/rules.mk
  keyboards/mixi/mixi.c
  keyboards/mixi/mixi.h
  keyboards/mixi/readme.md
  keyboards/mixi/rules.mk
Labels: none

fixed the layer limit of LT() (#9492)
  docs/feature_layers.md
Labels: documentation

Fixing MIDI for ARM without NKRO enabled (#9466)
  tmk_core/protocol/midi/qmk_midi.h
Labels: core

user keymaps for ergodox_ez/dvorak_42_key / atreus/dvorak_42_key (#9429)
  keyboards/atreus/keymaps/dvorak_42_key/keymap.c
  keyboards/ergodox_ez/keymaps/dvorak_42_key/keymap.c
Labels: none

Add VIA support to Noxary 268 (#9449)
  keyboards/noxary/268/268.c
  keyboards/noxary/268/268.h
  keyboards/noxary/268/config.h
  keyboards/noxary/268/keymaps/via/keymap.c
  keyboards/noxary/268/keymaps/via/readme.md
  keyboards/noxary/268/keymaps/via/rules.mk
  keyboards/noxary/268/readme.md
  keyboards/noxary/268/rules.mk
Labels: none

[Keymap] Add pierrec83's gherkin keymap (#9465)
  keyboards/40percentclub/gherkin/keymaps/pierrec83/config.h
  keyboards/40percentclub/gherkin/keymaps/pierrec83/keymap.json
  keyboards/40percentclub/gherkin/keymaps/pierrec83/readme.md
  keyboards/40percentclub/gherkin/keymaps/pierrec83/rules.mk
Labels: none

Add Hebrew keymap aliases (#9383)
  docs/reference_keymap_extras.md
  quantum/keymap_extras/keymap_hebrew.h
Labels: core, documentation

[Keyboard] added 4pplet keyboards (#8935)
  keyboards/4pplet/aekiso60/README.md
  keyboards/4pplet/aekiso60/keymaps/default/keymap.c
  keyboards/4pplet/aekiso60/keymaps/via/keymap.c
  keyboards/4pplet/aekiso60/keymaps/via/rules.mk
  keyboards/4pplet/aekiso60/rev_a/config.h
  keyboards/4pplet/aekiso60/rev_a/rev_a.c
  keyboards/4pplet/aekiso60/rev_a/rev_a.h
  keyboards/4pplet/aekiso60/rev_a/rules.mk
  keyboards/4pplet/steezy60/README.md
  keyboards/4pplet/steezy60/keymaps/4pplet/keymap.c
  keyboards/4pplet/steezy60/keymaps/default/keymap.c
  keyboards/4pplet/steezy60/keymaps/via/keymap.c
  keyboards/4pplet/steezy60/keymaps/via/rules.mk
  keyboards/4pplet/steezy60/rev_a/config.h
  keyboards/4pplet/steezy60/rev_a/rev_a.c
  keyboards/4pplet/steezy60/rev_a/rev_a.h
  keyboards/4pplet/steezy60/rev_a/rules.mk
  keyboards/4pplet/waffling60/README.md
  keyboards/4pplet/waffling60/keymaps/default/keymap.c
  keyboards/4pplet/waffling60/keymaps/via/keymap.c
  keyboards/4pplet/waffling60/keymaps/via/rules.mk
  keyboards/4pplet/waffling60/rev_a/config.h
  keyboards/4pplet/waffling60/rev_a/rev_a.c
  keyboards/4pplet/waffling60/rev_a/rev_a.h
  keyboards/4pplet/waffling60/rev_a/rules.mk
Labels: none

Fix info.json for Suihankey (#9490)
  keyboards/suihankey/alpha/info.json
  keyboards/suihankey/info.json
  keyboards/suihankey/rev1/info.json
Labels: none

Wazowski fixed keymap placement (#9408)
  keyboards/keebzdotnet/wazowski/info.json
Labels: none

`qmk cformat` (#9500)
  drivers/issi/is31fl3741.c
  drivers/ws2812.h
  quantum/process_keycode/process_ucis.c
  quantum/process_keycode/process_unicode_common.c
  quantum/process_keycode/process_unicodemap.c
  quantum/rgb_matrix_drivers.c
Labels: core
