Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

add via support for dztech 60 and 65 pcb (#8334)
  keyboards/dztech/dz60rgb/keymaps/via/keymap.c
  keyboards/dztech/dz60rgb/keymaps/via/rules.mk
  keyboards/dztech/dz60rgb/v1/config.h
  keyboards/dztech/dz60rgb/v2/config.h
  keyboards/dztech/dz60rgb_wkl/keymaps/via/keymap.c
  keyboards/dztech/dz60rgb_wkl/keymaps/via/rules.mk
  keyboards/dztech/dz60rgb_wkl/v1/config.h
  keyboards/dztech/dz60rgb_wkl/v2/config.h
  keyboards/dztech/dz65rgb/keymaps/via/keymap.c
  keyboards/dztech/dz65rgb/keymaps/via/rules.mk
  keyboards/dztech/dz65rgb/v1/config.h
  keyboards/dztech/dz65rgb/v2/config.h
Labels: none

Correct typo in tap_hold.md (#8326)
  docs/tap_hold.md
Labels: documentation

[Keyboard] keebwerk. nano. slider support (#7914)
  keyboards/keebwerk/nano_slider/config.h
  keyboards/keebwerk/nano_slider/info.json
  keyboards/keebwerk/nano_slider/keymaps/default/keymap.c
  keyboards/keebwerk/nano_slider/keymaps/default/readme.md
  keyboards/keebwerk/nano_slider/nano_slider.c
  keyboards/keebwerk/nano_slider/nano_slider.h
  keyboards/keebwerk/nano_slider/readme.md
  keyboards/keebwerk/nano_slider/rules.mk
Labels: none

Update Norwegian keymap and add sendstring LUT (#8300)
  quantum/keymap_extras/keymap_norwegian.h
  quantum/keymap_extras/sendstring_norwegian.h
Labels: core

format code according to conventions [skip ci]
  tmk_core/common/uart.c
Labels: core

[Keyboard] Add VIA support for neuron (#8264)
  keyboards/walletburner/neuron/config.h
  keyboards/walletburner/neuron/keymaps/via/keymap.c
  keyboards/walletburner/neuron/keymaps/via/rules.mk
  keyboards/walletburner/neuron/rules.mk
Labels: none

DZ60 keyboard layout tuning and README update/fix (#8325)
  keyboards/dz60/config.h
  keyboards/dz60/keymaps/chrisae9/build_flash.sh
  keyboards/dz60/keymaps/chrisae9/keymap.c
  keyboards/dz60/keymaps/chrisae9/readme.md
Labels: none

restructure Hand Wire Guide
  docs/hand_wire.md
Labels: documentation

Refactor fortitude60 to use split_common (#8113)
  keyboards/fortitude60/config.h
  keyboards/fortitude60/fortitude60.h
  keyboards/fortitude60/keymaps/default/keymap.c
  keyboards/fortitude60/matrix.c
  keyboards/fortitude60/readme.md
  keyboards/fortitude60/rev1/config.h
  keyboards/fortitude60/rev1/rev1.c
  keyboards/fortitude60/rev1/rev1.h
  keyboards/fortitude60/rev1/rules.mk
  keyboards/fortitude60/rules.mk
  keyboards/fortitude60/serial.c
  keyboards/fortitude60/serial.h
  keyboards/fortitude60/serial_config.h
  keyboards/fortitude60/split_util.c
  keyboards/fortitude60/split_util.h
Labels: none

Refactor more backlight to a common location (#8292)
  quantum/backlight/backlight.c
  quantum/backlight/backlight.h
  quantum/backlight/backlight_arm.c
  quantum/backlight/backlight_avr.c
  quantum/backlight/backlight_soft.c
Labels: core

Fix up Arm builds with nix-shell. (#8312)
  shell.nix
  tmk_core/avr.mk
Labels: core

link the 2020 Feb 29 Breaking Changes changelog from the summary
  docs/_summary.md
Labels: documentation

format code according to conventions [skip ci]
  drivers/oled/oled_driver.c
Labels: core

[Keymap] Dichotomy keymap by beat (#8279)
  keyboards/dichotomy/config.h
  keyboards/dichotomy/dichotomy.c
  keyboards/dichotomy/dichotomy.h
  keyboards/dichotomy/keymaps/beat/config.h
  keyboards/dichotomy/keymaps/beat/keymap.c
  keyboards/dichotomy/matrix.c
Labels: none

Move splittest I2C (#8346)
  keyboards/handwired/splittest/keymaps/default/config.h
  keyboards/handwired/splittest/promicro/config.h
  keyboards/handwired/splittest/teensy_2/config.h
Labels: none

Hand Wire guide tidying, part 2
  docs/hand_wire.md
Labels: documentation

[Keyboard] Add PRKL30 keyboard (#8319)
  keyboards/handwired/prkl30/feather/config.h
  keyboards/handwired/prkl30/feather/rules.mk
  keyboards/handwired/prkl30/info.json
  keyboards/handwired/prkl30/keymaps/default/keymap.c
  keyboards/handwired/prkl30/keymaps/default/readme.md
  keyboards/handwired/prkl30/prkl30.c
  keyboards/handwired/prkl30/prkl30.h
  keyboards/handwired/prkl30/promicro/config.h
  keyboards/handwired/prkl30/promicro/rules.mk
  keyboards/handwired/prkl30/readme.md
Labels: none

make sure all our redirects are in order
  docs/README.md
  docs/_summary.md
  docs/feature_advanced_keycodes.md
  docs/getting_started_getting_help.md
  docs/hand_wire.md
  docs/index.html
  docs/support.md
Labels: documentation

clean up Firmware Setup section in Hand Wire guide
  docs/hand_wire.md
Labels: documentation

Remove unused LED_BREATHING_TABLE
  common_features.mk
  quantum/led_tables.c
  quantum/led_tables.h
  show_options.mk
Labels: core

keycodes.md: don't use section headings as links
  docs/keycodes.md
Labels: documentation

Fix typo in uart.c backport and add 32A "support" (#8219)
  tmk_core/common/uart.c
Labels: core

[Keyboard] Add Kira 80 support (#8342)
  keyboards/kira80/config.h
  keyboards/kira80/info.json
  keyboards/kira80/keymaps/default/keymap.c
  keyboards/kira80/keymaps/default/readme.md
  keyboards/kira80/kira80.c
  keyboards/kira80/kira80.h
  keyboards/kira80/readme.md
  keyboards/kira80/rules.mk
  keyboards/kira80/usbconfig.h
Labels: none

[Keymap] planck layout for kifinnsson (#8324)
  keyboards/planck/keymaps/kifinnsson/config.h
  keyboards/planck/keymaps/kifinnsson/keymap.c
  keyboards/planck/keymaps/kifinnsson/readme.md
  keyboards/planck/keymaps/kifinnsson/rules.mk
Labels: none

refactor How a Matrix Works doc
  docs/how_a_matrix_works.md
Labels: documentation

Add more call to action items
  docs/README.md
Labels: documentation

format code according to conventions [skip ci]
  drivers/boards/BLACKPILL_STM32_F401/board.c
  drivers/boards/BLACKPILL_STM32_F401/board.h
  drivers/boards/BLACKPILL_STM32_F411/board.c
  drivers/boards/BLACKPILL_STM32_F411/board.h
Labels: core

Super 16 Puzzle Game (#8306)
  keyboards/1upkeyboards/super16/keymaps/15game/keymap.c
  keyboards/1upkeyboards/super16/keymaps/15game/readme.md
  keyboards/1upkeyboards/super16/keymaps/15game/rules.mk
Labels: none

remove collapsible section for Compiling; redirect to Building Firmware doc
  docs/hand_wire.md
Labels: documentation

Hand Wire guide tidying
  docs/hand_wire.md
Labels: documentation

Remove stub backlight functions from clueboard/66/rev4 (#8303)
  keyboards/clueboard/66/rev4/rev4.c
  keyboards/clueboard/66/rev4/rules.mk
Labels: none

Add f401 and f411 blackpill examples (#7930)
  drivers/boards/BLACKPILL_STM32_F401/board.c
  drivers/boards/BLACKPILL_STM32_F401/board.h
  drivers/boards/BLACKPILL_STM32_F401/board.mk
  drivers/boards/BLACKPILL_STM32_F401/cfg/board.chcfg
  drivers/boards/BLACKPILL_STM32_F401/cfg/board.fmpp
  drivers/boards/BLACKPILL_STM32_F411/board.c
  drivers/boards/BLACKPILL_STM32_F411/board.h
  drivers/boards/BLACKPILL_STM32_F411/board.mk
  drivers/boards/BLACKPILL_STM32_F411/cfg/board.chcfg
  drivers/boards/BLACKPILL_STM32_F411/cfg/board.fmpp
  keyboards/handwired/onekey/blackpill_f401/chconf.h
  keyboards/handwired/onekey/blackpill_f401/config.h
  keyboards/handwired/onekey/blackpill_f401/halconf.h
  keyboards/handwired/onekey/blackpill_f401/mcuconf.h
  keyboards/handwired/onekey/blackpill_f401/readme.md
  keyboards/handwired/onekey/blackpill_f401/rules.mk
  keyboards/handwired/onekey/blackpill_f411/chconf.h
  keyboards/handwired/onekey/blackpill_f411/config.h
  keyboards/handwired/onekey/blackpill_f411/halconf.h
  keyboards/handwired/onekey/blackpill_f411/mcuconf.h
  keyboards/handwired/onekey/blackpill_f411/readme.md
  keyboards/handwired/onekey/blackpill_f411/rules.mk
Labels: core

Fix bootloader for Maypad (#8411)
  keyboards/keyhive/maypad/rules.mk
Labels: none

[Keyboard] Candybar update (#8335)
  keyboards/candybar/boards/ST_STM32F072B_DISCOVERY/board.c
  keyboards/candybar/boards/ST_STM32F072B_DISCOVERY/board.h
  keyboards/candybar/boards/ST_STM32F072B_DISCOVERY/board.mk
  keyboards/candybar/lefty/config.h
  keyboards/candybar/lefty/info.json
  keyboards/candybar/lefty/keymaps/default/keymap.c
  keyboards/candybar/lefty/lefty.c
  keyboards/candybar/lefty/lefty.h
  keyboards/candybar/lefty/readme.md
  keyboards/candybar/lefty/rules.mk
  keyboards/candybar/readme.md
  keyboards/candybar/righty/config.h
  keyboards/candybar/righty/info.json
  keyboards/candybar/righty/keymaps/default/keymap.c
  keyboards/candybar/righty/readme.md
  keyboards/candybar/righty/righty.c
  keyboards/candybar/righty/righty.h
  keyboards/candybar/righty/rules.mk
Labels: none

Refactor Equinox PCB revisions (#8266)
  keyboards/ai03/equinox/keymaps/proto_via/keymap.c
  keyboards/ai03/equinox/keymaps/proto_via/readme.md
  keyboards/ai03/equinox/keymaps/proto_via/rules.mk
  keyboards/ai03/equinox/rev0/config.h
  keyboards/ai03/equinox/rev0/rules.mk
  keyboards/ai03/equinox/rev1/config.h
  keyboards/ai03/equinox/rev1/rules.mk
Labels: none

Force "blank" issue template to end of list (#8387)
  .github/ISSUE_TEMPLATE/zzz_blank.md
Labels: none

Update link for Learn Plover google site (#8410)
  docs/feature_stenography.md
Labels: documentation

[Keymap] Add Erkhal keymap to PRKL30 (#8355)
  keyboards/handwired/prkl30/keymaps/erkhal/keymap.c
  keyboards/handwired/prkl30/keymaps/erkhal/readme.md
Labels: none

fix kira80 matrix mapping and add more preset layouts (#8361)
  keyboards/kira80/keymaps/ansi/keymap.c
  keyboards/kira80/keymaps/ansi/readme.md
  keyboards/kira80/keymaps/ansi_wkl/keymap.c
  keyboards/kira80/keymaps/ansi_wkl/readme.md
  keyboards/kira80/keymaps/default/readme.md
  keyboards/kira80/keymaps/iso/keymap.c
  keyboards/kira80/keymaps/iso/readme.md
  keyboards/kira80/kira80.h
Labels: none

[Keyboard] Abacus Keyboard ReMerge (#8308)
  keyboards/abacus/abacus.c
  keyboards/abacus/abacus.h
  keyboards/abacus/config.h
  keyboards/abacus/info.json
  keyboards/abacus/keymaps/default/keymap.c
  keyboards/abacus/keymaps/default/readme.md
  keyboards/abacus/readme.md
  keyboards/abacus/rules.mk
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
