Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

[Docs] Modified the description about setting debug_enable in `docs/faq_debug.md`. (#7394)
  docs/faq_debug.md
Labels: documentation

[Keymap] Update to qwerty_code_friendly (#7416)
  layouts/community/ergodox/qwerty_code_friendly/keymap.c
  layouts/community/ergodox/qwerty_code_friendly/readme.md
Labels: keymap

Postage Board MCU (#7424)
  keyboards/handwired/postageboard/config.h
  keyboards/handwired/postageboard/keymaps/default/keymap.c
  keyboards/handwired/postageboard/keymaps/default/readme.md
  keyboards/handwired/postageboard/mini/config.h
  keyboards/handwired/postageboard/mini/mini.c
  keyboards/handwired/postageboard/mini/mini.h
  keyboards/handwired/postageboard/mini/rules.mk
  keyboards/handwired/postageboard/postageboard.c
  keyboards/handwired/postageboard/postageboard.h
  keyboards/handwired/postageboard/r1/config.h
  keyboards/handwired/postageboard/r1/r1.c
  keyboards/handwired/postageboard/r1/r1.h
  keyboards/handwired/postageboard/r1/rules.mk
  keyboards/handwired/postageboard/readme.md
  keyboards/handwired/postageboard/rules.mk
Labels: none

Add flake8 to our test suite and fix all errors (#7379)
  bin/qmk
  docs/cli_development.md
  lib/python/kle2xy.py
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/config.py
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/cli/flash.py
  lib/python/qmk/cli/json/keymap.py
  lib/python/qmk/cli/kle2json.py
  lib/python/qmk/cli/list/keyboards.py
  lib/python/qmk/cli/pytest.py
  lib/python/qmk/keymap.py
  lib/python/qmk/path.py
  requirements.txt
  setup.cfg
Labels: cli, python, documentation

Add Community Layout: 60_abnt2 (#7381)
  keyboards/dz60/rules.mk
  layouts/default/60_abnt2/default_60_abnt2/keymap.c
  layouts/default/60_abnt2/info.json
  layouts/default/60_abnt2/layout.json
  layouts/default/60_abnt2/readme.md
Labels: keymap

[Keyboard] Cutie Club Wraith: Configurator Bugfix for LAYOUT_iso (#7376)
  keyboards/cutie_club/wraith/info.json
Labels: none

Allow 'make all:<user>' to not build EVERYTHING (#7402)
  Makefile
Labels: none

ASH-1800 (#7031)
  keyboards/ash1800/ash1800.c
  keyboards/ash1800/ash1800.h
  keyboards/ash1800/config.h
  keyboards/ash1800/info.json
  keyboards/ash1800/keymaps/default/keymap.c
  keyboards/ash1800/keymaps/default/readme.md
  keyboards/ash1800/readme.md
  keyboards/ash1800/rules.mk
Labels: none

[Docs] Explain Tap Dance interruption (#5520)
  docs/feature_tap_dance.md
Labels: documentation

[Keyboard] Update e65.c to fix Caps Lock indicator (#7405)
  keyboards/exclusive/e65/e65.c
Labels: none

[Keyboard] Add support for the THE30 keyboard (#7390)
  keyboards/lazydesigners/the30/config.h
  keyboards/lazydesigners/the30/info.json
  keyboards/lazydesigners/the30/keymaps/default/keymap.c
  keyboards/lazydesigners/the30/keymaps/default/readme.md
  keyboards/lazydesigners/the30/readme.md
  keyboards/lazydesigners/the30/rules.mk
  keyboards/lazydesigners/the30/the30.c
  keyboards/lazydesigners/the30/the30.h
Labels: none

[Keyboard] Add support for Model M USB C Controller (#7393)
  keyboards/ashpil/modelm_usbc/README.md
  keyboards/ashpil/modelm_usbc/config.h
  keyboards/ashpil/modelm_usbc/info.json
  keyboards/ashpil/modelm_usbc/keymaps/ashpil/config.h
  keyboards/ashpil/modelm_usbc/keymaps/ashpil/keymap.c
  keyboards/ashpil/modelm_usbc/keymaps/ashpil/rules.mk
  keyboards/ashpil/modelm_usbc/keymaps/default/keymap.c
  keyboards/ashpil/modelm_usbc/modelm_usbc.c
  keyboards/ashpil/modelm_usbc/modelm_usbc.h
  keyboards/ashpil/modelm_usbc/rules.mk
Labels: none

Add auto-handling of stale PRs/Issues (#7197)
  .github/stale.yml
Labels: none

[Core] Fix ps2avrgb template (#7412)
  quantum/template/ps2avrgb/config.h
Labels: core

[Keymap] add_mouse_keys (#7372)
  layouts/community/ortho_4x12/jotix/keymap.c
Labels: keymap

[Keyboard] Add pico as a new keyboard (#7419)
  keyboards/pico/config.h
  keyboards/pico/info.json
  keyboards/pico/keymaps/default/config.h
  keyboards/pico/keymaps/default/keymap.c
  keyboards/pico/keymaps/default/readme.md
  keyboards/pico/keymaps/jis/config.h
  keyboards/pico/keymaps/jis/keymap.c
  keyboards/pico/keymaps/jis/readme.md
  keyboards/pico/pico.c
  keyboards/pico/pico.h
  keyboards/pico/readme.md
  keyboards/pico/rev1/config.h
  keyboards/pico/rev1/rev1.c
  keyboards/pico/rev1/rev1.h
  keyboards/pico/rev1/rules.mk
  keyboards/pico/rules.mk
Labels: none

knight Indicator light fix (#7398)
  keyboards/xbows/knight/keymaps/default/keymap.c
  keyboards/xbows/knight/knight.c
Labels: none

[Keymap] Add ALGR and kle image, expand and correct documentation (#7426)
  users/manna-harbour_miryoku/manna-harbour_miryoku.c
  users/manna-harbour_miryoku/miryoku.org
Labels: keymap

[Docs] Fix Japanese country flag (#7407)
  docs/_langs.md
Labels: documentation

[Docs] Start of German translation of documentation (#6909)
  docs/de/README.md
  docs/de/_summary.md
  docs/de/driver_installation_zadig.md
  docs/de/newbs.md
  docs/de/newbs_building_firmware.md
  docs/de/newbs_flashing.md
  docs/de/newbs_getting_started.md
  docs/de/newbs_learn_more_resources.md
  docs/de/newbs_testing_debugging.md
Labels: documentation

Doc fix to conform with #7221 (#7392)
  docs/documentation_templates.md
Labels: documentation

[Keyboard] Add "thedogkeyboard" (#7401)
  keyboards/thedogkeyboard/config.h
  keyboards/thedogkeyboard/info.json
  keyboards/thedogkeyboard/keymaps/default/keymap.c
  keyboards/thedogkeyboard/keymaps/default/readme.md
  keyboards/thedogkeyboard/keymaps/kakunpc/keymap.c
  keyboards/thedogkeyboard/keymaps/kakunpc/readme.md
  keyboards/thedogkeyboard/matrix.c
  keyboards/thedogkeyboard/readme.md
  keyboards/thedogkeyboard/rules.mk
  keyboards/thedogkeyboard/thedogkeyboard.c
  keyboards/thedogkeyboard/thedogkeyboard.h
Labels: none

[Keyboard] knight malposition fix (#7422)
  keyboards/xbows/knight/keymaps/default/keymap.c
  keyboards/xbows/knight/knight.h
Labels: none

Run clang-format manually to fix recently changed files
  drivers/haptic/DRV2605L.c
  drivers/haptic/haptic.c
  drivers/haptic/haptic.h
  quantum/backlight/backlight_avr.c
  quantum/config_common.h
  quantum/dip_switch.c
  quantum/encoder.c
  quantum/keymap_extras/keymap_italian.h
  quantum/keymap_extras/keymap_italian_osx_ansi.h
  quantum/keymap_extras/keymap_italian_osx_iso.h
  quantum/process_keycode/process_tap_dance.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes.h
  quantum/rgblight.c
  quantum/stm32/chconf.h
  tmk_core/common/arm_atsam/suspend.c
  tmk_core/common/eeconfig.c
  tmk_core/common/host.c
  tmk_core/common/led.h
  tmk_core/protocol/arm_atsam/usb/usb_protocol_hid.h
  tmk_core/protocol/chibios/usb_main.c
  tmk_core/protocol/iwrap/iwrap.c
  tmk_core/protocol/lufa/adafruit_ble.cpp
Labels: core

[Keyboard] Add abnt2 layout to gh60 (#7371)
  keyboards/gh60/revc/info.json
  keyboards/gh60/revc/keymaps/default_abnt2/keymap.c
  keyboards/gh60/revc/keymaps/default_abnt2/readme.md
  keyboards/gh60/revc/revc.h
Labels: none

format code according to conventions [skip ci]
  lib/python/qmk/cli/compile.py
  lib/python/qmk/cli/flash.py
  lib/python/qmk/commands.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

[Keyboard] Add Kudox column-staggered layout. (#7400)
  keyboards/kudox/columner/columner.c
  keyboards/kudox/columner/columner.h
  keyboards/kudox/columner/config.h
  keyboards/kudox/columner/info.json
  keyboards/kudox/columner/keymaps/default/config.h
  keyboards/kudox/columner/keymaps/default/keymap.c
  keyboards/kudox/columner/keymaps/default/readme.md
  keyboards/kudox/columner/readme.md
  keyboards/kudox/columner/rules.mk
Labels: none

fix feature_advanced_keycodes.md's link (#7421)
  docs/feature_advanced_keycodes.md
Labels: documentation

[Keyboard] dz60rgb_wkl malposition fix (#7418)
  keyboards/dztech/dz60rgb_wkl/dz60rgb_wkl.h
  keyboards/dztech/dz60rgb_wkl/keymaps/default/keymap.c
Labels: none

[Keymap] All about (ARM) RGB and OLEDs (drashna keymaps) (#7354)
  keyboards/40percentclub/nano/keymaps/drashna/keymap.c
  keyboards/c39/keymaps/drashna/config.h
  keyboards/c39/keymaps/drashna/keymap.c
  keyboards/c39/keymaps/drashna/rules.mk
  keyboards/crkbd/keymaps/drashna/glcdfont.c
  keyboards/crkbd/keymaps/drashna/keymap.c
  keyboards/gergo/keymaps/drashna/keymap.c
  keyboards/keebio/iris/keymaps/drashna/config.h
  keyboards/keebio/iris/keymaps/drashna/keymap.c
  keyboards/keebio/viterbi/keymaps/drashna/config.h
  keyboards/keebio/viterbi/keymaps/drashna/keymap.c
  keyboards/kyria/keymaps/drashna/config.h
  keyboards/kyria/keymaps/drashna/keymap.c
  keyboards/kyria/keymaps/drashna/rules.mk
  keyboards/orthodox/keymaps/drashna/config.h
  keyboards/orthodox/keymaps/drashna/keymap.c
  layouts/community/ergodox/drashna/config.h
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/ergodox/drashna/rules.mk
  layouts/community/numpad_5x6/drashna/config.h
  layouts/community/numpad_5x6/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/config.h
  layouts/community/ortho_4x12/drashna/keymap.c
  layouts/community/ortho_4x12/drashna/rules.mk
  layouts/community/ortho_5x12/drashna/keymap.c
  layouts/community/ortho_5x12/drashna/rules.mk
  users/drashna/config.h
  users/drashna/drashna.c
  users/drashna/drashna.h
  users/drashna/font_gmk_bad.h
  users/drashna/hue_manitee_font.h
  users/drashna/process_records.c
  users/drashna/rgb_stuff.c
  users/drashna/rgb_stuff.h
  users/drashna/rgblight_breathe_table.h
  users/drashna/rules.mk
  users/drashna/template.c
  users/drashna/template.h
Labels: keymap

Remove CR when computing BOOTLOADER_SIZE. (#7453)
  tmk_core/avr.mk
  tmk_core/rules.mk
Labels: core

adding noah keyboard (#7432)
  keyboards/matrix/noah/boards/noah_bd/board.c
  keyboards/matrix/noah/boards/noah_bd/board.h
  keyboards/matrix/noah/boards/noah_bd/board.mk
  keyboards/matrix/noah/bootloader_defs.h
  keyboards/matrix/noah/chconf.h
  keyboards/matrix/noah/config.h
  keyboards/matrix/noah/eeprom_f4.c
  keyboards/matrix/noah/eeprom_f4.h
  keyboards/matrix/noah/halconf.h
  keyboards/matrix/noah/info.json
  keyboards/matrix/noah/keymaps/default/keymap.c
  keyboards/matrix/noah/keymaps/splitspace/keymap.c
  keyboards/matrix/noah/ld/noah_boot.ld
  keyboards/matrix/noah/matrix.c
  keyboards/matrix/noah/mcuconf.h
  keyboards/matrix/noah/noah.c
  keyboards/matrix/noah/noah.h
  keyboards/matrix/noah/readme.md
  keyboards/matrix/noah/rules.mk
  keyboards/matrix/noah/ws2812_f4.c
  keyboards/matrix/noah/ws2812_f4.h
Labels: none

Update led_update_kb example (#7451)
  docs/custom_quantum_functions.md
Labels: documentation

[Core] Remove PROGRAM_CMD in mcu_selection.mk for 32A (#7482)
  quantum/mcu_selection.mk
Labels: core

Fix clang-format logic within CI (#7386)
  util/travis_compiled_push.sh
Labels: core

[Keyboard] add keyboard wm1 (#7466)
  keyboards/heliar/wm1_hotswap/config.h
  keyboards/heliar/wm1_hotswap/info.json
  keyboards/heliar/wm1_hotswap/keymaps/default/keymap.c
  keyboards/heliar/wm1_hotswap/keymaps/default/readme.md
  keyboards/heliar/wm1_hotswap/readme.md
  keyboards/heliar/wm1_hotswap/rules.mk
  keyboards/heliar/wm1_hotswap/wm1_hotswap.c
  keyboards/heliar/wm1_hotswap/wm1_hotswap.h
Labels: none

[Keymap] Adding hbbisenieks keymap for keebio/iris (#7440)
  keyboards/keebio/bdn9/keymaps/hbbisenieks/keymap.c
  keyboards/keebio/iris/keymaps/hbbisenieks/config.h
  keyboards/keebio/iris/keymaps/hbbisenieks/keymap.c
  keyboards/keebio/iris/keymaps/hbbisenieks/readme.md
  keyboards/keebio/iris/keymaps/hbbisenieks/rules.mk
Labels: none

Updated Kyria readme.md with relocated build guide (#7438)
  keyboards/kyria/readme.md
Labels: none

Remove vusb 'reset to bootloader' hid message due to security implications (#7456)
  tmk_core/protocol/vusb/vusb.c
  util/atmega32a_program.py
Labels: core, python

fix link in docs/translating.md (#7474)
  docs/translating.md
Labels: documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
