Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

dz60 iso split - cleaned up the readme and replaced normal key with numpad key on numpad layer (#9339)
  keyboards/dz60/keymaps/iso_split-spacebar/README.md
  keyboards/dz60/keymaps/iso_split-spacebar/keymap.c
Labels: none

[Keymap] Add custom corne keymap (#9283)
  keyboards/crkbd/keymaps/gotham/README.md
  keyboards/crkbd/keymaps/gotham/config.h
  keyboards/crkbd/keymaps/gotham/glcdfont.c
  keyboards/crkbd/keymaps/gotham/keycodes.h
  keyboards/crkbd/keymaps/gotham/keymap.c
  keyboards/crkbd/keymaps/gotham/oled.c
  keyboards/crkbd/keymaps/gotham/rgb.c
  keyboards/crkbd/keymaps/gotham/rules.mk
Labels: none

[Docs] Japanese translation of docs/feature_split_keyboard.md (#9031)
  docs/ja/feature_split_keyboard.md
Labels: documentation

[Keyboard] Add new PCB Infinity87 (#9287)
  keyboards/mechlovin/infinity87/config.h
  keyboards/mechlovin/infinity87/infinity87.c
  keyboards/mechlovin/infinity87/infinity87.h
  keyboards/mechlovin/infinity87/info.json
  keyboards/mechlovin/infinity87/keymaps/default/keymap.c
  keyboards/mechlovin/infinity87/keymaps/default/readme.md
  keyboards/mechlovin/infinity87/keymaps/via/keymap.c
  keyboards/mechlovin/infinity87/keymaps/via/readme.md
  keyboards/mechlovin/infinity87/keymaps/via/rules.mk
  keyboards/mechlovin/infinity87/readme.md
  keyboards/mechlovin/infinity87/rules.mk
Labels: none

Fixing Iron165 VIA Keymap (#9298)
  keyboards/cannonkeys/iron165/keymaps/via/keymap.c
  keyboards/cannonkeys/iron165/keymaps/via/rules.mk
Labels: none

[Keyboard] Add OmronTKL (#9346)
  keyboards/maartenwut/omrontkl/config.h
  keyboards/maartenwut/omrontkl/info.json
  keyboards/maartenwut/omrontkl/keymaps/default/keymap.c
  keyboards/maartenwut/omrontkl/omrontkl.c
  keyboards/maartenwut/omrontkl/omrontkl.h
  keyboards/maartenwut/omrontkl/readme.md
  keyboards/maartenwut/omrontkl/rules.mk
Labels: none

[Keyboard] Hub16 keymap bugfix (#9345)
  keyboards/hub16/config.h
  keyboards/hub16/keymaps/default/keymap.c
  keyboards/hub16/readme.md
Labels: none

[Keymap] csc027/keymap-updates (#9420)
  keyboards/keebio/iris/keymaps/csc027/keymap.c
  keyboards/planck/keymaps/csc027/keymap.c
  keyboards/planck/keymaps/csc027/rules.mk
  users/csc027/csc027.h
  users/csc027/defines.h
  users/csc027/usb_led.c
Labels: keymap

Add VIA support to keebio/nyquist (#9399)
  keyboards/keebio/nyquist/keymaps/via/keymap.c
  keyboards/keebio/nyquist/keymaps/via/rules.mk
Labels: none

Change ?= to = in keyboard rules.mk (#9390)
  keyboards/alu84/rules.mk
  keyboards/amj40/rules.mk
  keyboards/ckeys/nakey/rules.mk
  keyboards/fc660c/rules.mk
  keyboards/gh80_3000/rules.mk
  keyboards/handwired/magicforce61/rules.mk
  keyboards/handwired/not_so_minidox/rules.mk
  keyboards/handwired/onekey/blackpill_f401/rules.mk
  keyboards/handwired/onekey/blackpill_f411/rules.mk
  keyboards/handwired/woodpad/rules.mk
  keyboards/katana60/rules.mk
  keyboards/knops/mini/rules.mk
  keyboards/kona_classic/rules.mk
  keyboards/mt40/rules.mk
  keyboards/noxary/268/rules.mk
  keyboards/omnikey_bh/rules.mk
  keyboards/paladin64/rules.mk
  keyboards/primekb/prime_r/rules.mk
  keyboards/sx60/rules.mk
  keyboards/toad/rules.mk
  keyboards/uk78/rules.mk
  keyboards/wilba_tech/zeal60/rules.mk
  keyboards/xmmx/rules.mk
Labels: none

Delete trailing period in documentation (#9416)
  docs/feature_leader_key.md
Labels: documentation

Fix error_log complaint about clueboard/66_hotswap/gen1 layout macro (#9400)
  keyboards/clueboard/66_hotswap/gen1/rules.mk
  keyboards/clueboard/66_hotswap/info.json
  keyboards/clueboard/66_hotswap/prototype/info.json
Labels: none

format code according to conventions [skip ci]
  keyboards/yncognito/batpad/batpad.c
  keyboards/yncognito/batpad/batpad.h
  keyboards/yncognito/batpad/config.h
  keyboards/yncognito/batpad/info.json
  keyboards/yncognito/batpad/keymaps/default/keymap.c
  keyboards/yncognito/batpad/keymaps/via/keymap.c
Labels: none

[Keymap] new keymap for XD75 (#8675)
  keyboards/xd75/keymaps/hybrid/config.h
  keyboards/xd75/keymaps/hybrid/keymap.c
  keyboards/xd75/keymaps/hybrid/readme.md
  keyboards/xd75/keymaps/hybrid/rules.mk
Labels: none

[Keymap] Personal keymaps for Prime_E, Corne, Space65 and updates (#9234)
  keyboards/crkbd/keymaps/madhatter/config.h
  keyboards/crkbd/keymaps/madhatter/keymap.c
  keyboards/crkbd/keymaps/madhatter/rules.mk
  keyboards/gray_studio/space65/keymaps/madhatter/config.h
  keyboards/gray_studio/space65/keymaps/madhatter/keymap.c
  keyboards/gray_studio/space65/keymaps/madhatter/rules.mk
  keyboards/primekb/prime_e/keymaps/madhatter/config.h
  keyboards/primekb/prime_e/keymaps/madhatter/keymap.c
  keyboards/wilba_tech/wt75_b/keymaps/madhatter/config.h
  keyboards/wilba_tech/wt75_b/keymaps/madhatter/keymap.c
Labels: none

Boardsource 3x4 info json fix (#9266)
  keyboards/boardsource/3x4/info.json
  keyboards/boardsource/3x4/keymaps/default/keymap.c
  keyboards/boardsource/3x4/readme.md
Labels: none

[Keymap] Add "shwilliam" Preonic keymap (#9409)
  keyboards/preonic/keymaps/shwilliam/config.h
  keyboards/preonic/keymaps/shwilliam/keymap.c
  keyboards/preonic/keymaps/shwilliam/readme.md
  keyboards/preonic/keymaps/shwilliam/rules.mk
Labels: none

Clean up Tap Dance docs (#9372)
  docs/feature_tap_dance.md
Labels: documentation

[Keyboard] Add Eon75 (#9333)
  keyboards/maartenwut/eon75/config.h
  keyboards/maartenwut/eon75/eon75.c
  keyboards/maartenwut/eon75/eon75.h
  keyboards/maartenwut/eon75/info.json
  keyboards/maartenwut/eon75/keymaps/default/keymap.c
  keyboards/maartenwut/eon75/keymaps/via/keymap.c
  keyboards/maartenwut/eon75/keymaps/via/rules.mk
  keyboards/maartenwut/eon75/readme.md
  keyboards/maartenwut/eon75/rules.mk
Labels: none

[Keyboard] Add S7 Elephant Rev2 Support (#9398)
  keyboards/s7_elephant/rev1/config.h
  keyboards/s7_elephant/rev1/info.json
  keyboards/s7_elephant/rev1/keymaps/default/config.h
  keyboards/s7_elephant/rev1/keymaps/default/keymap.c
  keyboards/s7_elephant/rev1/keymaps/default/readme.md
  keyboards/s7_elephant/rev1/readme.md
  keyboards/s7_elephant/rev1/rev1.c
  keyboards/s7_elephant/rev1/rev1.h
  keyboards/s7_elephant/rev1/rules.mk
  keyboards/s7_elephant/rev2/config.h
  keyboards/s7_elephant/rev2/info.json
  keyboards/s7_elephant/rev2/keymaps/default/keymap.c
  keyboards/s7_elephant/rev2/keymaps/default/readme.md
  keyboards/s7_elephant/rev2/keymaps/via/keymap.c
  keyboards/s7_elephant/rev2/keymaps/via/readme.md
  keyboards/s7_elephant/rev2/keymaps/via/rules.mk
  keyboards/s7_elephant/rev2/readme.md
  keyboards/s7_elephant/rev2/rev2.c
  keyboards/s7_elephant/rev2/rev2.h
  keyboards/s7_elephant/rev2/rules.mk
  keyboards/s7_elephant/rules.mk
  keyboards/s7_elephant/s7_elephant.c
Labels: none

CLI: Add ATmega328 and ATtiny85 to supported CPUs (#9371)
  lib/python/qmk/constants.py
Labels: cli, python

added 4x12 (#9411)
  keyboards/boardsource/4x12/4x12.c
  keyboards/boardsource/4x12/4x12.h
  keyboards/boardsource/4x12/config.h
  keyboards/boardsource/4x12/info.json
  keyboards/boardsource/4x12/keymaps/default/keymap.c
  keyboards/boardsource/4x12/readme.md
  keyboards/boardsource/4x12/rules.mk
Labels: none

HID Liberation Device Refactor and Configurator layout support (#9394)
  keyboards/hid_liber/hid_liber.c
  keyboards/hid_liber/hid_liber.h
  keyboards/hid_liber/info.json
  keyboards/hid_liber/keymaps/default/config.h
  keyboards/hid_liber/keymaps/default/keymap.c
  keyboards/hid_liber/keymaps/default/readme.md
  keyboards/hid_liber/keymaps/default/rules.mk
  keyboards/hid_liber/readme.md
  keyboards/hid_liber/rules.mk
Labels: none

[Keymap] Drashna's Keymap Update - Display Edition (#9282)
  keyboards/crkbd/keymaps/drashna/keymap.c
  keyboards/kyria/keymaps/drashna/config.h
  keyboards/kyria/keymaps/drashna/keymap.c
  keyboards/kyria/keymaps/drashna/rules.mk
  layouts/community/ergodox/drashna/config.h
  layouts/community/ergodox/drashna/keymap.c
  layouts/community/ergodox/drashna/rules.mk
  layouts/community/ortho_5x12/drashna/rules.mk
  users/drashna/.gitlab-ci.yml
  users/drashna/config.h
  users/drashna/drashna.c
  users/drashna/drashna.h
  users/drashna/oled_stuff.c
  users/drashna/pimoroni_trackball.c
  users/drashna/pimoroni_trackball.h
  users/drashna/process_records.c
  users/drashna/rgb_matrix_stuff.c
  users/drashna/rgb_stuff.c
  users/drashna/rules.mk
Labels: keymap

Nebula65 (#9368)
  keyboards/nebula65/chconf.h
  keyboards/nebula65/config.h
  keyboards/nebula65/halconf.h
  keyboards/nebula65/info.json
  keyboards/nebula65/keymaps/default/keymap.c
  keyboards/nebula65/keymaps/default/readme.md
  keyboards/nebula65/keymaps/via/keymap.c
  keyboards/nebula65/keymaps/via/readme.md
  keyboards/nebula65/keymaps/via/rules.mk
  keyboards/nebula65/mcuconf.h
  keyboards/nebula65/nebula65.c
  keyboards/nebula65/nebula65.h
  keyboards/nebula65/readme.md
  keyboards/nebula65/rules.mk
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: none

[Keyboard] Fix Configurator layout data for acheron/elongate (#9392)
  keyboards/acheron/elongate/info.json
Labels: none

[Keymap] Add froggy keymap with 106/109 (JP) settings for helix keyboard (#8967)
  keyboards/helix/rev2/keymaps/froggy_106/config.h
  keyboards/helix/rev2/keymaps/froggy_106/helixfont.h
  keyboards/helix/rev2/keymaps/froggy_106/keymap.c
  keyboards/helix/rev2/keymaps/froggy_106/readme.md
  keyboards/helix/rev2/keymaps/froggy_106/rules.mk
Labels: none

[Docs] Fix link to mod_tap.md in the one_shot_keys.md file (#9380)
  docs/one_shot_keys.md
Labels: documentation

[Keyboard] Fix Configurator layout data for handwired/1800fl (#9393)
  keyboards/handwired/p1800fl/info.json
Labels: none

Fix error_log complaint about Preonic layouts (#9443)
  keyboards/preonic/info.json
  keyboards/preonic/preonic.h
  keyboards/preonic/rev1/rev1.h
  keyboards/preonic/rev2/rev2.h
  keyboards/preonic/rev3/info.json
  keyboards/preonic/rev3/rev3.h
Labels: none

Add velocikey to alice keymap (#9476)
  keyboards/projectkb/alice/keymaps/stanrc85/keymap.c
  users/stanrc85/rules.mk
Labels: keymap

Update docs/ja/feature_backlight.md: apply #9043's change (#9454)
  docs/ja/feature_backlight.md
Labels: documentation

CI: Run 'qmk info' on keyboard changes (#9212)
  .github/workflows/info.yml
Labels: none

Add VIA support to Noxary 220 and Update Noxary 280 for readability (#9348)
  keyboards/noxary/220/220.c
  keyboards/noxary/220/220.h
  keyboards/noxary/220/config.h
  keyboards/noxary/220/keymaps/default/readme.md
  keyboards/noxary/220/keymaps/via/keymap.c
  keyboards/noxary/220/keymaps/via/readme.md
  keyboards/noxary/220/keymaps/via/rules.mk
  keyboards/noxary/220/readme.md
  keyboards/noxary/220/rules.mk
  keyboards/noxary/280/config.h
  keyboards/noxary/280/keymaps/default/keymap.c
  keyboards/noxary/280/keymaps/default/readme.md
  keyboards/noxary/280/keymaps/via/keymap.c
  keyboards/noxary/280/keymaps/via/readme.md
  keyboards/noxary/280/readme.md
Labels: none

[Keyboard] Nebula12 keyboard (#9397)
  keyboards/nebula12/boards/ST_STM32F072B_DISCOVERY/board.c
  keyboards/nebula12/boards/ST_STM32F072B_DISCOVERY/board.h
  keyboards/nebula12/boards/ST_STM32F072B_DISCOVERY/board.mk
  keyboards/nebula12/boards/ST_STM32F072B_DISCOVERY/cfg/board.chcfg
  keyboards/nebula12/bootloader_defs.h
  keyboards/nebula12/chconf.h
  keyboards/nebula12/config.h
  keyboards/nebula12/halconf.h
  keyboards/nebula12/info.json
  keyboards/nebula12/keymaps/default/keymap.c
  keyboards/nebula12/keymaps/default/readme.md
  keyboards/nebula12/keymaps/via/keymap.c
  keyboards/nebula12/keymaps/via/readme.md
  keyboards/nebula12/keymaps/via/rules.mk
  keyboards/nebula12/mcuconf.h
  keyboards/nebula12/nebula12.c
  keyboards/nebula12/nebula12.h
  keyboards/nebula12/readme.md
  keyboards/nebula12/rules.mk
  keyboards/wilba_tech/wt_rgb_backlight.c
Labels: none

Parse version better in `qmk doctor` GCC version checks (#9324)
  lib/python/qmk/cli/doctor.py
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

spidey3 userspace: GUI F-Key lock was affecting some non-F-keys (#9469)
  users/spidey3/spidey3.c
Labels: keymap

[Keymap] Add pierrec83's Kyria keymap (#9401)
  keyboards/kyria/keymaps/pierrec83/config.h
  keyboards/kyria/keymaps/pierrec83/encoders.c
  keyboards/kyria/keymaps/pierrec83/keymap.c
  keyboards/kyria/keymaps/pierrec83/keymap.json
  keyboards/kyria/keymaps/pierrec83/layers.h
  keyboards/kyria/keymaps/pierrec83/readme.md
  keyboards/kyria/keymaps/pierrec83/rules.mk
Labels: none

STM32 WS2812 Open Drain Configuration (#9414)
  docs/ws2812_driver.md
  drivers/chibios/ws2812.c
  drivers/chibios/ws2812_pwm.c
  drivers/chibios/ws2812_spi.c
Labels: core, documentation

YMD75: move MCU/Bootloader rules to revision level (#9452)
  keyboards/ymd75/rev1/rules.mk
  keyboards/ymd75/rev2/rules.mk
  keyboards/ymd75/rules.mk
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
