Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

Formatting
  keyboards/crkbd/keymaps/curry/keymap.c
  keyboards/crkbd/keymaps/curry/rules.mk
  keyboards/lily58/keymaps/curry/keymap.c
  keyboards/lily58/keymaps/curry/rules.mk
  users/curry/README.md
Labels: keymap

Add Levinson keymap
  keyboards/keebio/levinson/keymaps/rossman360/keymap.c
Labels: none

[Docs] Update macOS related issues in docs (#7744)
  docs/faq_build.md
Labels: documentation

[Docs] Added description of LIB_SRC to docs/config_options.md (#7765)
  docs/config_options.md
Labels: documentation

Use White channel on RGBW LEDs (#7678)
  keyboards/ergodox_ez/led_i2c.c
  quantum/color.c
  quantum/color.h
  quantum/rgb_matrix_drivers.c
  quantum/rgblight.c
Labels: core

Merge upstream/master with userspace
  keyboards/crkbd/keymaps/curry/config.h
  keyboards/crkbd/keymaps/curry/keymap.c
  keyboards/crkbd/keymaps/curry/rules.mk
  keyboards/lily58/keymaps/curry/config.h
  keyboards/lily58/keymaps/curry/keymap.c
  keyboards/lily58/keymaps/curry/rules.mk
  users/curry/.gitignore
  users/curry/config.h
  users/curry/curry.c
  users/curry/curry.h
  users/curry/oled.c
  users/curry/process_records.c
  users/curry/process_records.h
  users/curry/rgb_stuff.c
  users/curry/rgb_stuff.h
  users/curry/rgblight_breathe_table.h
  users/curry/rules.mk
  users/curry/tap_dances.c
  users/curry/tap_dances.h
  users/curry/wrappers.h
Labels: keymap

[Keymap] Adding keymap for KBDFans Kbd67 MKII RGB (#7712)
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/codecoffeecode/keymap.c
  keyboards/kbdfans/kbd67/mkiirgb/keymaps/codecoffeecode/rules.mk
Labels: none

Add LUFA mass storage `BOOTLOADER` "support" (#7729)
  bootloader.mk
  keyboards/gray_studio/cod67/rules.mk
  keyboards/tada68/rules.mk
Labels: none

Fix file encoding for zh-cn/custom_quantum_functions.md (#7665)
  docs/zh-cn/custom_quantum_functions.md
Labels: documentation

small hbcp changes
  keyboards/hineybush/hbcp/config.h
  keyboards/hineybush/hbcp/hbcp.c
  keyboards/hineybush/hbcp/rules.mk
Labels: none

Fixed formatting and added font file
  keyboards/crkbd/keymaps/curry/config.h
  keyboards/crkbd/keymaps/curry/rules.mk
  keyboards/lily58/keymaps/curry/config.h
  keyboards/lily58/keymaps/curry/rules.mk
  users/curry/config.h
  users/curry/glcdfont.c
Labels: keymap

Add h75-singa ver. (#7667)
  keyboards/hineybush/h75_singa/config.h
  keyboards/hineybush/h75_singa/h75_singa.c
  keyboards/hineybush/h75_singa/h75_singa.h
  keyboards/hineybush/h75_singa/info.json
  keyboards/hineybush/h75_singa/keymaps/default/keymap.c
  keyboards/hineybush/h75_singa/keymaps/default/readme.md
  keyboards/hineybush/h75_singa/keymaps/wkl_std/keymap.c
  keyboards/hineybush/h75_singa/keymaps/wkl_std/readme.md
  keyboards/hineybush/h75_singa/readme.md
  keyboards/hineybush/h75_singa/rules.mk
Labels: none

[Keyboard] adjust h87a RGB settings (#7751)
  keyboards/hineybush/h87a/config.h
  keyboards/hineybush/h87a/h87a.c
  keyboards/hineybush/h87a/rules.mk
Labels: none

Japanese translation of docs/newbs_git_*.md (#7689)
  docs/ja/_summary.md
  docs/ja/newbs.md
  docs/ja/newbs_git_best_practices.md
  docs/ja/newbs_git_resolving_merge_conflicts.md
  docs/ja/newbs_git_resynchronize_a_branch.md
  docs/ja/newbs_git_using_your_master_branch.md
  docs/ja/newbs_learn_more_resources.md
Labels: documentation

remove head
  keyboards/keebio/tragicforce68/keymaps/rossman360/keymap.c~HEAD
Labels: none

[Keyboard] add initial ergoslab directory (#7730)
  keyboards/ergoslab/config.h
  keyboards/ergoslab/ergoslab.c
  keyboards/ergoslab/ergoslab.h
  keyboards/ergoslab/info.json
  keyboards/ergoslab/keymaps/default/config.h
  keyboards/ergoslab/keymaps/default/keymap.c
  keyboards/ergoslab/readme.md
  keyboards/ergoslab/rev1/config.h
  keyboards/ergoslab/rev1/rev1.c
  keyboards/ergoslab/rev1/rev1.h
  keyboards/ergoslab/rules.mk
Labels: none

[Docs] add japanese translation (faq part) (#7464)
  docs/ja/driver_installation_zadig.md
  docs/ja/faq.md
  docs/ja/faq_build.md
  docs/ja/faq_debug.md
  docs/ja/faq_general.md
  docs/ja/faq_keymap.md
Labels: documentation

[Docs] Fix minor differences in docs/newbs_git_resynchronize_a_branch.md (#7728)
  docs/newbs_git_resynchronize_a_branch.md
Labels: documentation

remove unneccesary line
  keyboards/keebio/levinson/keymaps/rossman360/keymap.c
  keyboards/keebio/tragicforce68/keymaps/rossman360/keymap.c~HEAD
Labels: none

[Keyboard] Doppelganger (#7682)
  keyboards/doppelganger/config.h
  keyboards/doppelganger/doppelganger.c
  keyboards/doppelganger/doppelganger.h
  keyboards/doppelganger/info.json
  keyboards/doppelganger/keymaps/default/keymap.c
  keyboards/doppelganger/keymaps/default/readme.md
  keyboards/doppelganger/readme.md
  keyboards/doppelganger/rules.mk
Labels: none

Dactyl manuform layout optimized for Swedish (#7724)
  keyboards/handwired/dactyl_manuform/5x6/keymaps/swedish/config.h
  keyboards/handwired/dactyl_manuform/5x6/keymaps/swedish/keymap.c
Labels: none

Add rules.mk defaults for f103,f072,f042 (#7704)
  quantum/mcu_selection.mk
Labels: core

[Keyboard] Add p65rgb PCB (#7753)
  keyboards/handwired/p65rgb/config.h
  keyboards/handwired/p65rgb/info.json
  keyboards/handwired/p65rgb/keymaps/default/keymap.c
  keyboards/handwired/p65rgb/p65rgb.c
  keyboards/handwired/p65rgb/p65rgb.h
  keyboards/handwired/p65rgb/readme.md
  keyboards/handwired/p65rgb/rules.mk
Labels: none

more cleanup
  keyboards/keebio/levinson/keymaps/rossman360/keymap.c
Labels: none

New PCB - Curiosity - Alice Layout PCB (#7725)
  keyboards/cheshire/curiosity/chconf.h
  keyboards/cheshire/curiosity/config.h
  keyboards/cheshire/curiosity/curiosity.c
  keyboards/cheshire/curiosity/curiosity.h
  keyboards/cheshire/curiosity/halconf.h
  keyboards/cheshire/curiosity/info.json
  keyboards/cheshire/curiosity/keymaps/crd/keymap.c
  keyboards/cheshire/curiosity/keymaps/default/keymap.c
  keyboards/cheshire/curiosity/keymaps/default/readme.md
  keyboards/cheshire/curiosity/keymaps/madhatter/keymap.c
  keyboards/cheshire/curiosity/keymaps/madhatter/readme.md
  keyboards/cheshire/curiosity/keymaps/madhatter/rules.mk
  keyboards/cheshire/curiosity/mcuconf.h
  keyboards/cheshire/curiosity/readme.md
  keyboards/cheshire/curiosity/rules.mk
Labels: none

[Keyboard] Update Wasdat config (#7826)
  keyboards/maartenwut/wasdat/config.h
  keyboards/maartenwut/wasdat/readme.md
  keyboards/maartenwut/wasdat/rules.mk
  keyboards/maartenwut/wasdat/wasdat.h
Labels: none

[Docs] fix installation commands for macos (#7785)
  docs/getting_started_build_tools.md
Labels: documentation

[Keyboard] add Allison Numpad (#7823)
  keyboards/allison_numpad/allison_numpad.c
  keyboards/allison_numpad/allison_numpad.h
  keyboards/allison_numpad/config.h
  keyboards/allison_numpad/info.json
  keyboards/allison_numpad/keymaps/default/keymap.c
  keyboards/allison_numpad/keymaps/default/readme.md
  keyboards/allison_numpad/keymaps/via/keymap.c
  keyboards/allison_numpad/keymaps/via/readme.md
  keyboards/allison_numpad/keymaps/via/rules.mk
  keyboards/allison_numpad/readme.md
  keyboards/allison_numpad/rules.mk
Labels: none

[Keymap] Userspace refactor, adding leader key functionality (#7790)
  keyboards/crkbd/keymaps/curry/config.h
  keyboards/crkbd/keymaps/curry/keymap.c
  keyboards/crkbd/keymaps/curry/rules.mk
  keyboards/lily58/keymaps/curry/config.h
  keyboards/lily58/keymaps/curry/keymap.c
  keyboards/lily58/keymaps/curry/rules.mk
  users/curry/LICENSE
  users/curry/config.h
  users/curry/curry.c
  users/curry/curry.h
  users/curry/glcdfont.c
  users/curry/leader.c
  users/curry/leader.h
  users/curry/oled.c
  users/curry/process_records.c
  users/curry/process_records.h
  users/curry/rgb_lighting_user.c
  users/curry/rgb_lighting_user.h
  users/curry/rgb_matrix_user.c
  users/curry/rgb_matrix_user.h
  users/curry/rgb_stuff.h
  users/curry/rules.mk
  users/curry/tap_dances.c
  users/curry/tap_dances.h
  users/curry/wrappers.h
Labels: keymap

Fix docker script and document (#7786)
  docs/getting_started_build_tools.md
  util/docker_build.sh
Labels: core, documentation

[Keyboard] Added NCC-1701-KB 3x3 Keypad with Encoder and Keymap (#7819)
  keyboards/ncc1701kb/config.h
  keyboards/ncc1701kb/info.json
  keyboards/ncc1701kb/keymaps/default/keymap.c
  keyboards/ncc1701kb/ncc1701kb.c
  keyboards/ncc1701kb/ncc1701kb.h
  keyboards/ncc1701kb/readme.md
  keyboards/ncc1701kb/rules.mk
Labels: none

[Keyboard] add VIA support to Kyuu (#7804)
  keyboards/quantrik/kyuu/config.h
  keyboards/quantrik/kyuu/keymaps/via/keymap.c
  keyboards/quantrik/kyuu/keymaps/via/readme.md
  keyboards/quantrik/kyuu/keymaps/via/rules.mk
Labels: none

Fix matrix_scan_user is not called at stm32 env(projectkb/alice etc..) which using cannonkeys/stm32f072 (#7821)
  keyboards/cannonkeys/stm32f072/keyboard.c
Labels: none

[Keyboard] Add support for db63 hotswap rbg (#7771)
  keyboards/db/db63/README.md
  keyboards/db/db63/config.h
  keyboards/db/db63/db63.c
  keyboards/db/db63/db63.h
  keyboards/db/db63/info.json
  keyboards/db/db63/keymaps/default/keymap.c
  keyboards/db/db63/rules.mk
  keyboards/db/db63/usbconfig.h
Labels: none

Fix a couple of USB VIDs for the API (#7848)
  keyboards/handwired/promethium/config.h
  keyboards/uk78/config.h
Labels: none

Add an 65_ansi community layout (#7793)
  keyboards/nk65/config.h
  keyboards/tada68/rules.mk
  keyboards/tada68/tada68.h
  layouts/community/65_ansi/yanfali/keymap.c
Labels: keymap

[Keyboard] add Allison keyboard (#7818)
  keyboards/allison/allison.c
  keyboards/allison/allison.h
  keyboards/allison/config.h
  keyboards/allison/info.json
  keyboards/allison/keymaps/default/keymap.c
  keyboards/allison/keymaps/default/readme.md
  keyboards/allison/keymaps/via/keymap.c
  keyboards/allison/keymaps/via/readme.md
  keyboards/allison/keymaps/via/rules.mk
  keyboards/allison/readme.md
  keyboards/allison/rules.mk
Labels: none

[Keyboard] GH60 rev. C: fix LAYOUT_60_iso key sequence in QMK Configurator (#7792)
  keyboards/gh60/revc/info.json
Labels: none

RGB matrix effect - left-right gradient (#7742)
  docs/feature_rgb_matrix.md
  keyboards/crkbd/keymaps/dsanchezseco/config.h
  quantum/rgb_matrix_animations/gradient_left_right_anim.h
  quantum/rgb_matrix_animations/rgb_matrix_effects.inc
Labels: core, documentation

Tada68 Fixes and Minor Refactoring (#7820)
  keyboards/tada68/config.h
  keyboards/tada68/info.json
  keyboards/tada68/keymaps/default/keymap.c
  keyboards/tada68/readme.md
  keyboards/tada68/rules.mk
  keyboards/tada68/tada68.h
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
