Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

Fix os detection in OSX python 3.8 (#8187)
  lib/python/qmk/cli/doctor.py
Labels: cli, python

Fix regex for parsing rules.mk files
  lib/python/qmk/makefile.py
Labels: cli, python

Add test for list_keymaps
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

format code according to conventions [skip ci]
  drivers/boards/GENERIC_STM32_F072XB/board.c
  drivers/boards/GENERIC_STM32_F072XB/board.h
Labels: core

Align split_common/matrix.c with matrix.c (#8153)
  quantum/split_common/matrix.c
Labels: core

[Keymap] Add personal keymap (#7338)
  keyboards/preonic/keymaps/keelhauler/config.h
  keyboards/preonic/keymaps/keelhauler/keymap.c
  keyboards/preonic/keymaps/keelhauler/readme.md
  keyboards/preonic/keymaps/keelhauler/rules.mk
Labels: none

Fix help message.
  lib/python/qmk/cli/list/keymaps.py
Labels: cli, python

Convert f072 backlight build error to message (#8177)
  docs/feature_backlight.md
  quantum/backlight/backlight_arm.c
Labels: core, documentation

[Keymap] ninjonas keymap updates (#8170)
  keyboards/crkbd/keymaps/ninjonas/README.md
  keyboards/crkbd/keymaps/ninjonas/config.h
  keyboards/crkbd/keymaps/ninjonas/keymap.c
  keyboards/hotdox/keymaps/ninjonas/README.md
  keyboards/hotdox/keymaps/ninjonas/keymap.c
  keyboards/kyria/keymaps/ninjonas/README.md
  keyboards/kyria/keymaps/ninjonas/config.h
  keyboards/kyria/keymaps/ninjonas/oled.c
  keyboards/lily58/keymaps/ninjonas/README.md
  keyboards/lily58/keymaps/ninjonas/keymap.c
  keyboards/pinky/3/keymaps/ninjonas/README.md
  keyboards/pinky/3/keymaps/ninjonas/config.h
  users/ninjonas/README.md
  users/ninjonas/config.h
  users/ninjonas/ninjonas.h
  users/ninjonas/oled.c
  users/ninjonas/process_records.c
  users/ninjonas/tap_dances.c
  users/ninjonas/tap_dances.h
Labels: keymap

[Docs] Update Japanese translation (#8129)
  docs/ja/cli.md
  docs/ja/config_options.md
Labels: documentation

Major rework, no regex/globbing, more walking
  lib/python/qmk/keymap.py
  lib/python/qmk/makefile.py
Labels: cli, python

Add bs4 to requirements.txt
  requirements.txt
Labels: cli

[Keyboard] Add configs for Centromere keyboard (#7467)
  keyboards/centromere/centromere.c
  keyboards/centromere/centromere.h
  keyboards/centromere/config.h
  keyboards/centromere/keymaps/default/keymap.c
  keyboards/centromere/keymaps/default_u2/keymap.c
  keyboards/centromere/keymaps/default_u2/rules.mk
  keyboards/centromere/matrix.c
  keyboards/centromere/readme.md
  keyboards/centromere/rules.mk
Labels: none

Pathlib-ify qmk.keymap.list_keymaps()
  lib/python/qmk/keymap.py
Labels: cli, python

Add community layout support to Mysterium (#8164)
  keyboards/coseyfannitutti/mysterium/rules.mk
Labels: none

CLI: add support for list_keymaps
  lib/python/qmk/cli/list/__init__.py
  lib/python/qmk/cli/list/keymaps.py
Labels: cli, python

[Docs] add japanese translation (detail guide part) (#7722)
  docs/ja/custom_quantum_functions.md
  docs/ja/flashing.md
  docs/ja/getting_started_build_tools.md
  docs/ja/getting_started_make_guide.md
  docs/ja/getting_started_vagrant.md
  docs/ja/keymap.md
Labels: documentation

[keymap] Update audio controls on community (#8163)
  layouts/community/60_ansi_split_bs_rshift/yanfali/keymap.c
  layouts/community/60_hhkb/yanfali/keymap.c
  layouts/community/60_tsangan_hhkb/yanfali/keymap.c
  layouts/community/75_ansi/yanfali/keymap.c
  layouts/community/tkl_ansi/yanfali/keymap.c
  users/yanfali/rules.mk
Labels: keymap

Conform Gherkin defaults to original TMK keymap (#8186)
  keyboards/40percentclub/gherkin/keymaps/default/keymap.c
Labels: none

Align VUSB HID descriptors with LUFA/ChibiOS (#7675)
  tmk_core/protocol/vusb/vusb.c
Labels: core

Drop bs4 dependency, update docs, minor improvements
  docs/cli.md
  lib/python/qmk/cli/list/keymaps.py
  lib/python/qmk/makefile.py
  lib/python/qmk/path.py
  requirements.txt
Labels: cli, python, documentation

VIA support for Graystudio Space65 (#8126)
  keyboards/gray_studio/space65/config.h
  keyboards/gray_studio/space65/keymaps/via/keymap.c
  keyboards/gray_studio/space65/keymaps/via/rules.mk
Labels: none

format code according to conventions [skip ci]
  tmk_core/protocol/vusb/vusb.c
Labels: core

Update main.c (#8198)
  tmk_core/protocol/vusb/main.c
Labels: core

MxSS RGB Handler Touchup (#8105)
  keyboards/mxss/mxss_frontled.c
  keyboards/mxss/rgblight.c
  keyboards/mxss/rgblight.h
Labels: none

`send_unicode_string()`: Add support for code points > 0xFFFF (#8236)
  docs/feature_unicode.md
  quantum/process_keycode/process_unicode_common.c
  quantum/process_keycode/process_unicode_common.h
  quantum/process_keycode/process_unicodemap.c
  quantum/process_keycode/process_unicodemap.h
Labels: core, documentation

Fix QWIIC OLED for AVR (#7769)
  drivers/qwiic/micro_oled.c
  drivers/qwiic/micro_oled.h
Labels: core

[Keyboard] Add Prime_EXL Plus to handwired (#8238)
  keyboards/handwired/prime_exl_plus/config.h
  keyboards/handwired/prime_exl_plus/info.json
  keyboards/handwired/prime_exl_plus/keymaps/default/keymap.c
  keyboards/handwired/prime_exl_plus/keymaps/default/readme.md
  keyboards/handwired/prime_exl_plus/keymaps/via/keymap.c
  keyboards/handwired/prime_exl_plus/keymaps/via/readme.md
  keyboards/handwired/prime_exl_plus/keymaps/via/rules.mk
  keyboards/handwired/prime_exl_plus/prime_exl_plus.c
  keyboards/handwired/prime_exl_plus/prime_exl_plus.h
  keyboards/handwired/prime_exl_plus/readme.md
  keyboards/handwired/prime_exl_plus/rules.mk
Labels: none

[New keyboard]silverbullet44 (#7950)
  keyboards/silverbullet44/config.h
  keyboards/silverbullet44/info.json
  keyboards/silverbullet44/keymaps/FKML/keymap.c
  keyboards/silverbullet44/keymaps/FKML/readme.md
  keyboards/silverbullet44/keymaps/default/keymap.c
  keyboards/silverbullet44/keymaps/default/readme.md
  keyboards/silverbullet44/readme.md
  keyboards/silverbullet44/rules.mk
  keyboards/silverbullet44/silverbullet44.c
  keyboards/silverbullet44/silverbullet44.h
Labels: none

Split - Avoid race condition during matrix_init_quantum (#8235)
  quantum/split_common/matrix.c
  quantum/split_common/split_util.c
  quantum/split_common/split_util.h
Labels: core

Add link to "Useful functions" in macro docs (#7446)
  docs/feature_macros.md
Labels: documentation

Acheron VIA support (#8204)
  keyboards/acheron/austin/config.h
  keyboards/acheron/austin/keymaps/via/config.h
  keyboards/acheron/austin/keymaps/via/keymap.c
  keyboards/acheron/shark/config.h
  keyboards/acheron/shark/keymaps/via/keymap.c
  keyboards/acheron/shark/keymaps/via/rules.mk
Labels: none

Add mouse support to SEND_STRING (#8223)
  quantum/send_string_keycodes.h
Labels: core

[Keyboard] KC60SE cleanup (#8171)
  keyboards/kc60se/config.h
  keyboards/kc60se/info.json
  keyboards/kc60se/kc60se.c
  keyboards/kc60se/kc60se.h
  keyboards/kc60se/keymaps/60_ansi/keymap.c
  keyboards/kc60se/keymaps/default/config.h
  keyboards/kc60se/keymaps/default/keymap.c
  keyboards/kc60se/keymaps/default/readme.md
  keyboards/kc60se/readme.md
  keyboards/kc60se/rules.mk
Labels: none

Merge /prime_l and /prime_l_v2 (#8194)
  keyboards/primekb/prime_l/keymaps/default/config.h
  keyboards/primekb/prime_l/keymaps/default/keymap.c
  keyboards/primekb/prime_l/prime_l.c
  keyboards/primekb/prime_l/prime_l.h
  keyboards/primekb/prime_l/readme.md
  keyboards/primekb/prime_l/rules.mk
  keyboards/primekb/prime_l/v1/config.h
  keyboards/primekb/prime_l/v1/info.json
  keyboards/primekb/prime_l/v1/readme.md
  keyboards/primekb/prime_l/v1/rules.mk
  keyboards/primekb/prime_l/v1/v1.h
  keyboards/primekb/prime_l/v2/config.h
  keyboards/primekb/prime_l/v2/info.json
  keyboards/primekb/prime_l/v2/readme.md
  keyboards/primekb/prime_l/v2/rules.mk
  keyboards/primekb/prime_l/v2/v2.h
  keyboards/primekb/prime_l_v2/keymaps/default/keymap.c
  keyboards/primekb/prime_l_v2/keymaps/default/readme.md
  keyboards/primekb/prime_l_v2/prime_l_v2.c
  keyboards/primekb/prime_l_v2/rules.mk
Labels: none

New feature: PERMISSIVE_HOLD_PER_KEY (#7994)
  docs/config_options.md
  docs/feature_advanced_keycodes.md
  tmk_core/common/action_tapping.c
Labels: core, documentation

[Keymap] Keymap for XD75 with 7U spacebar EN-RU gamers (#8184)
  keyboards/xd75/keymaps/buzzlighter1/config.h
  keyboards/xd75/keymaps/buzzlighter1/keymap.c
  keyboards/xd75/keymaps/buzzlighter1/readme.md
  keyboards/xd75/keymaps/buzzlighter1/rules.mk
Labels: none

Add community layout support to KBD67 MKIIRGB v2 (#8249)
  keyboards/kbdfans/kbd67/mkiirgb/v2/rules.mk
Labels: none

[Docs] Update Japanese translation of cli.md (#8188)
  docs/ja/cli.md
Labels: documentation

format code according to conventions [skip ci]
  tmk_core/common/uart.c
Labels: core
