Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

Update Neo2 keymap (#9063)
  quantum/keymap_extras/keymap_neo2.h
Labels: core

Add more improvements from PR
  keyboards/sofle/keymaps/default/keymap.c
Labels: none

[Keymap] Added the K.O,Y layout for the xd75 and atreus62 boards (#9079)
  keyboards/atreus62/keymaps/scheiklp/config.h
  keyboards/atreus62/keymaps/scheiklp/keymap.c
  keyboards/atreus62/keymaps/scheiklp/readme.md
  keyboards/atreus62/keymaps/scheiklp/rules.mk
  keyboards/xd75/keymaps/scheiklp/config.h
  keyboards/xd75/keymaps/scheiklp/keymap.c
  keyboards/xd75/keymaps/scheiklp/readme.md
  keyboards/xd75/keymaps/scheiklp/rules.mk
  users/scheiklp/koy_keys_on_quertz_de_latin1.h
Labels: keymap

[Phoebe] Keymap improvements (#9092)
  keyboards/maxr1998/phoebe/config.h
  keyboards/maxr1998/phoebe/keymaps/default/keymap.c
  keyboards/maxr1998/phoebe/rules.mk
Labels: none

format code according to conventions [skip ci]
  quantum/rgblight.c
Labels: core

Remove unneeded break.
  keyboards/sofle/keymaps/default/keymap.c
Labels: none

[Pulse4k] Various improvements
  keyboards/maxr1998/pulse4k/config.h
  keyboards/maxr1998/pulse4k/keymaps/default/keymap.c
  keyboards/maxr1998/pulse4k/pulse4k.c
  keyboards/maxr1998/pulse4k/pulse4k.h
Labels: none

Add TAP_CODE_DELAY 10. Fix a typo (compilation error)
  keyboards/sofle/keymaps/default/keymap.c
  keyboards/sofle/rev1/config.h
Labels: none

update dlg's tada68 keymap (#9098)
  keyboards/tada68/keymaps/dlg/keymap.c
  keyboards/tada68/keymaps/dlg/readme.md
Labels: none

Fix a typo in README.md
  keyboards/sofle/keymaps/default/readme.md
Labels: none

[Keyboard] KBDClack kaishi65 (#9089)
  keyboards/kbdclack/kaishi65/config.h
  keyboards/kbdclack/kaishi65/info.json
  keyboards/kbdclack/kaishi65/kaishi65.c
  keyboards/kbdclack/kaishi65/kaishi65.h
  keyboards/kbdclack/kaishi65/keymaps/default/keymap.c
  keyboards/kbdclack/kaishi65/keymaps/default/readme.md
  keyboards/kbdclack/kaishi65/readme.md
  keyboards/kbdclack/kaishi65/rules.mk
Labels: none

Remove unneeded break.
  keyboards/sofle/keymaps/default/keymap.c
Labels: none

CLI: Tune doctor's udev rule checking to match #8750
  lib/python/qmk/cli/doctor.py
  tmk_core/avr.mk
Labels: core, cli, python

[Keymap] VIA Support: Exclusive E7-V1 (#9038)
  keyboards/exclusive/e7v1/config.h
  keyboards/exclusive/e7v1/keymaps/via/keymap.c
  keyboards/exclusive/e7v1/keymaps/via/rules.mk
  keyboards/exclusive/e7v1/readme.md
Labels: none

[Keyboard] Added wilba.tech WT60-C (#9025)
  keyboards/wilba_tech/wt60_c/config.h
  keyboards/wilba_tech/wt60_c/info.json
  keyboards/wilba_tech/wt60_c/keymaps/default/keymap.c
  keyboards/wilba_tech/wt60_c/keymaps/via/keymap.c
  keyboards/wilba_tech/wt60_c/keymaps/via/rules.mk
  keyboards/wilba_tech/wt60_c/readme.md
  keyboards/wilba_tech/wt60_c/rules.mk
  keyboards/wilba_tech/wt60_c/wt60_c.c
  keyboards/wilba_tech/wt60_c/wt60_c.h
Labels: none

[Keymap] added my gergo keymap (#8476)
  keyboards/gergo/keymaps/abstractkb/config.h
  keyboards/gergo/keymaps/abstractkb/keymap.c
  keyboards/gergo/keymaps/abstractkb/readme.md
  keyboards/gergo/keymaps/abstractkb/rules.mk
  keyboards/keebio/bfo9000/keymaps/abstractkb/keymap.c
Labels: none

Add SofleKeyboard support to QMK firmware.
  keyboards/sofle/config.h
  keyboards/sofle/keymaps/default/config.h
  keyboards/sofle/keymaps/default/keymap.c
  keyboards/sofle/keymaps/default/readme.md
  keyboards/sofle/keymaps/default/rules.mk
  keyboards/sofle/readme.md
  keyboards/sofle/rev1/config.h
  keyboards/sofle/rev1/info.json
  keyboards/sofle/rev1/rev1.c
  keyboards/sofle/rev1/rev1.h
  keyboards/sofle/rev1/rules.mk
  keyboards/sofle/rules.mk
  keyboards/sofle/sofle.c
  keyboards/sofle/sofle.h
Labels: none

[Keymap] Add Via support to the Melody96 (#9050)
  keyboards/melody96/config.h
  keyboards/melody96/keymaps/via/keymap.c
  keyboards/melody96/keymaps/via/readme.md
  keyboards/melody96/keymaps/via/rules.mk
  keyboards/melody96/rules.mk
Labels: none

[kle2info] Trim the code in `kle2xy` (#8955)
  lib/python/kle2xy.py
Labels: cli, python

Add query functions for RGB Light and RGB Matrix (#8960)
  docs/feature_rgb_matrix.md
  docs/feature_rgblight.md
  quantum/rgb_matrix.c
  quantum/rgb_matrix.h
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core, documentation

Fix mistake in the latest commit
  keyboards/sofle/keymaps/default/keymap.c
Labels: none

stanrc85 userspace and keymap updates (#9103)
  keyboards/projectkb/alice/keymaps/stanrc85/keymap.c
  users/stanrc85/stanrc85.c
  users/stanrc85/stanrc85.h
Labels: keymap

Sofle: Remove LAYOUT_kc macro for default layout. Remove unnecessary code.
  keyboards/sofle/keymaps/default/keymap.c
  keyboards/sofle/rev1/rev1.h
  keyboards/sofle/sofle.c
Labels: none

Improve according to suggestion in PR
  keyboards/sofle/keymaps/default/keymap.c
Labels: none

[Keyboard] Rebound rev3 (#9101)
  keyboards/montsinger/rebound/readme.md
  keyboards/montsinger/rebound/rebound.h
  keyboards/montsinger/rebound/rev2/keymaps/rossman360/keymap.c
  keyboards/montsinger/rebound/rev3/config.h
  keyboards/montsinger/rebound/rev3/info.json
  keyboards/montsinger/rebound/rev3/keymaps/default/keymap.c
  keyboards/montsinger/rebound/rev3/keymaps/rossman360/keymap.c
  keyboards/montsinger/rebound/rev3/keymaps/rossman360/rules.mk
  keyboards/montsinger/rebound/rev3/rev3.h
  keyboards/montsinger/rebound/rev3/rules.mk
  users/rossman360/rossman360.c
  users/rossman360/rossman360.h
Labels: keymap

Apply suggestions from code review
  keyboards/sofle/keymaps/default/keymap.c
Labels: none

[Keyboard] Added wilba.tech WT80-BC (#9024)
  keyboards/wilba_tech/wt80_bc/config.h
  keyboards/wilba_tech/wt80_bc/info.json
  keyboards/wilba_tech/wt80_bc/keymaps/default/keymap.c
  keyboards/wilba_tech/wt80_bc/keymaps/via/keymap.c
  keyboards/wilba_tech/wt80_bc/keymaps/via/rules.mk
  keyboards/wilba_tech/wt80_bc/readme.md
  keyboards/wilba_tech/wt80_bc/rules.mk
  keyboards/wilba_tech/wt80_bc/wt80_bc.c
  keyboards/wilba_tech/wt80_bc/wt80_bc.h
Labels: none

[Keymap] Update personal userspace and keymaps (#9082)
  keyboards/doro67/multi/keymaps/konstantin/config.h
  keyboards/doro67/multi/keymaps/konstantin/rules.mk
  keyboards/kbdfans/kbd6x/keymaps/konstantin/config.h
  keyboards/kbdfans/kbd6x/keymaps/konstantin/keymap.c
  keyboards/kbdfans/kbd6x/keymaps/konstantin/rules.mk
  keyboards/maartenwut/wasdat/keymaps/konstantin/config.h
  keyboards/maartenwut/wasdat/keymaps/konstantin/rules.mk
  keyboards/melody96/keymaps/konstantin/rules.mk
  keyboards/whitefox/keymaps/konstantin/rules.mk
  users/konstantin/config.h
  users/konstantin/konstantin.h
  users/konstantin/rules.mk
Labels: keymap

Fix typo in led_config for dztech/dz65rgb (#9122)
  keyboards/dztech/dz65rgb/dz65rgb.c
Labels: none

Adding unit tests for list-keymaps command (#7711)
  lib/python/qmk/tests/test_cli_commands.py
Labels: cli, python

[Keyboard] Arabica37 (#8471)
  keyboards/arabica37/arabica37.c
  keyboards/arabica37/arabica37.h
  keyboards/arabica37/config.h
  keyboards/arabica37/info.json
  keyboards/arabica37/keymaps/default/config.h
  keyboards/arabica37/keymaps/default/keymap.c
  keyboards/arabica37/keymaps/default/rules.mk
  keyboards/arabica37/lib/glcdfont.c
  keyboards/arabica37/readme.md
  keyboards/arabica37/rev1/config.h
  keyboards/arabica37/rev1/rev1.c
  keyboards/arabica37/rev1/rev1.h
  keyboards/arabica37/rev1/rules.mk
Labels: none

Update j3rn keymap (#9100)
  layouts/community/ergodox/j3rn/keymap.c
  layouts/community/ergodox/j3rn/readme.md
Labels: keymap

Apply suggestions from code review
  keyboards/sofle/keymaps/default/config.h
  keyboards/sofle/keymaps/default/keymap.c
Labels: none

Remove TAPPING_FORCE_HOLD from default keymap.
  keyboards/sofle/keymaps/default/config.h
Labels: none

[Keymap] adds pvillano's preonic keymap (#9106)
  keyboards/preonic/keymaps/pvillano/config.h
  keyboards/preonic/keymaps/pvillano/keymap.c
  keyboards/preonic/keymaps/pvillano/readme.md
  keyboards/preonic/keymaps/pvillano/rules.mk
Labels: none

DZ60: update to current template & code style (#9113)
  keyboards/dz60/config.h
  keyboards/dz60/dz60.c
  keyboards/dz60/dz60.h
  keyboards/dz60/info.json
  keyboards/dz60/keymaps/default/keymap.c
  keyboards/dz60/readme.md
  keyboards/dz60/rules.mk
Labels: none

[Pulse4k] Add personal keymap
  keyboards/maxr1998/pulse4k/keymaps/maxr1998/keymap.c
Labels: none

[Docs] Clarify layer transparency keymap.md (#9081)
  docs/keymap.md
Labels: documentation

[Keyboard] handwired/twadlee/tp69 (#9013)
  keyboards/handwired/twadlee/tp69/chconf.h
  keyboards/handwired/twadlee/tp69/config.h
  keyboards/handwired/twadlee/tp69/halconf.h
  keyboards/handwired/twadlee/tp69/info.json
  keyboards/handwired/twadlee/tp69/keymaps/default/keymap.c
  keyboards/handwired/twadlee/tp69/keymaps/default/readme.md
  keyboards/handwired/twadlee/tp69/mcuconf.h
  keyboards/handwired/twadlee/tp69/readme.md
  keyboards/handwired/twadlee/tp69/rules.mk
  keyboards/handwired/twadlee/tp69/tp69.c
  keyboards/handwired/twadlee/tp69/tp69.h
  keyboards/handwired/twadlee/tp69/twadlee-tp69-kle.json
Labels: none

Remove duplicated layers for MAC/WIN support
  keyboards/sofle/keymaps/default/keymap.c
Labels: none

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
