Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

Refactor ps2avrgb i2c ws2812 to core (#7183)
  common_features.mk
  docs/_summary.md
  docs/ws2812_driver.md
  drivers/arm/ws2812.c
  drivers/arm/ws2812_pwm.c
  drivers/arm/ws2812_spi.c
  drivers/avr/ws2812_i2c.c
  keyboards/jj40/jj40.c
  keyboards/jj40/rules.mk
  quantum/template/ps2avrgb/keyboard.c
  quantum/template/ps2avrgb/rules.mk
  tmk_core/protocol/vusb/main.c
Labels: core, documentation

Couple more minor Lily58 keymap tweaks (#7175)
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/readme.md
  users/bcat/rules.mk
Labels: keymap

[Docs] started Russian translation of Newbs Guide (partial) (#6967)
  docs/_langs.md
  docs/ru-ru/README.md
  docs/ru-ru/getting_started_build_tools.md
  docs/ru-ru/newbs.md
  docs/ru-ru/newbs_getting_started.md
Labels: documentation

Update feature_bluetooth.md (#7193)
  docs/feature_bluetooth.md
Labels: documentation

[Docs] Fixed internal links on Handwire page (#7154)
  docs/hand_wire.md
Labels: documentation

Un-clang-format usb_descriptor.h (#7216)
  tmk_core/protocol/usb_descriptor.c
Labels: core

Update keymap.c
  keyboards/kyria/keymaps/default/keymap.c
Labels: none

[Keymap] Add Planck-style RoPro keymap (#7230)
  keyboards/kingly_keys/ropro/keymaps/jdayton3/README.md
  keyboards/kingly_keys/ropro/keymaps/jdayton3/keymap.c
Labels: none

New and improved lock LED callbacks (#7215)
  docs/custom_quantum_functions.md
  keyboards/maartenwut/wasdat/wasdat.c
  quantum/quantum.c
  quantum/quantum.h
  quantum/template/base/keyboard.c
  quantum/template/base/keymaps/default/keymap.c
  tmk_core/common/host.c
  tmk_core/common/host.h
  tmk_core/common/led.h
Labels: core, documentation

Remove duplicate pro_micro.h (#7246)
  keyboards/ai03/orbit/serial.c
  keyboards/claw44/serial.c
  keyboards/crkbd/serial.c
  keyboards/ergoinu/matrix.c
  keyboards/fortitude60/serial.c
  keyboards/handwired/xealous/matrix.c
  keyboards/helix/local_drivers/serial.c
  keyboards/helix/pico/matrix.c
  keyboards/lily58/serial.c
  keyboards/meira/matrix.c
  keyboards/meira/promicro/promicro.h
  keyboards/minidox/pro_micro.h
  keyboards/mint60/matrix.c
  keyboards/treadstone48/pro_micro.h
  keyboards/treadstone48/serial.c
  keyboards/yosino58/pro_micro.h
  keyboards/yosino58/serial.c
  keyboards/zinc/serial.c
  quantum/split_common/serial.c
Labels: core

[Keyboard] update hbcp keymaps (#7275)
  keyboards/hineybush/hbcp/hbcp.h
  keyboards/hineybush/hbcp/info.json
  keyboards/hineybush/hbcp/keymaps/default/keymap.c
  keyboards/hineybush/hbcp/keymaps/default/readme.md
  keyboards/hineybush/hbcp/keymaps/hiney/config.h
  keyboards/hineybush/hbcp/keymaps/wkl/config.h
  keyboards/hineybush/hbcp/keymaps/wkl/keymap.c
  keyboards/hineybush/hbcp/keymaps/wkl/readme.md
Labels: none

[Core] Convert Dynamic Macro to a Core Feature (#5948)
  common_features.mk
  docs/feature_dynamic_macros.md
  docs/keycodes.md
  quantum/process_keycode/process_dynamic_macro.c
  quantum/process_keycode/process_dynamic_macro.h
  quantum/quantum.c
  quantum/quantum.h
  quantum/quantum_keycodes.h
Labels: core, documentation

[Keymap] Moar personal keymap and userspace tweaks (#7238)
  keyboards/9key/keymaps/bcat/keymap.c
  keyboards/9key/keymaps/bcat/rules.mk
  keyboards/kbdfans/kbd67/hotswap/keymaps/bcat/keymap.c
  keyboards/kbdfans/kbd67/hotswap/keymaps/bcat/readme.md
  keyboards/keebio/bdn9/keymaps/bcat/keymap.c
  keyboards/keebio/quefrency/keymaps/bcat/keymap.c
  keyboards/keebio/quefrency/keymaps/bcat/readme.md
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/readme.md
  layouts/community/60_ansi_split_bs_rshift/bcat/keymap.c
  layouts/community/60_ansi_split_bs_rshift/bcat/readme.md
  layouts/community/60_tsangan_hhkb/bcat/keymap.c
  layouts/community/60_tsangan_hhkb/bcat/readme.md
  users/bcat/bcat.c
  users/bcat/config.h
  users/bcat/rules.mk
Labels: keymap

[Keymap] Add personal JC65 v32a layout (#7244)
  keyboards/jc65/v32a/keymaps/rys/keymap.c
  keyboards/jc65/v32a/keymaps/rys/rules.mk
Labels: none

[Docs] Add he-IL (Hebrew) Translation (#7001)
  docs/_langs.md
  docs/he-il/README.md
  docs/he-il/_summary.md
  docs/he-il/becoming_a_qmk_collaborator.md
  docs/he-il/documentation_best_practices.md
  docs/he-il/faq.md
  docs/he-il/faq_general.md
  docs/he-il/getting_started_getting_help.md
  docs/he-il/getting_started_github.md
  docs/he-il/getting_started_introduction.md
  docs/he-il/hardware.md
  docs/he-il/newbs_learn_more_resources.md
  docs/he-il/proton_c_conversion.md
  docs/he-il/quantum_keycodes.md
Labels: documentation

[Keymap] Updates to noroadsleft keymap for KC60 (2019-11-05) (#7265)
  keyboards/kc60/keymaps/noroadsleft/config.h
  keyboards/kc60/keymaps/noroadsleft/keymap.c
  keyboards/kc60/keymaps/noroadsleft/readme.md
  keyboards/kc60/keymaps/noroadsleft/readme_ch1.md
  keyboards/kc60/keymaps/noroadsleft/readme_ch2.md
  keyboards/kc60/keymaps/noroadsleft/readme_ch3.md
  keyboards/kc60/keymaps/noroadsleft/readme_ch4.md
  keyboards/kc60/keymaps/noroadsleft/readme_ch5.md
  keyboards/kc60/keymaps/noroadsleft/readme_git.md
  keyboards/kc60/keymaps/noroadsleft/rules.mk
Labels: none

[Keyboard] Add the Kyria keyboard (#7222)
  keyboards/kyria/config.h
  keyboards/kyria/info.json
  keyboards/kyria/keymaps/default/config.h
  keyboards/kyria/keymaps/default/keymap.c
  keyboards/kyria/keymaps/default/rules.mk
  keyboards/kyria/keymaps/thomasbaart/config.h
  keyboards/kyria/keymaps/thomasbaart/keymap.c
  keyboards/kyria/keymaps/thomasbaart/rules.mk
  keyboards/kyria/kyria.c
  keyboards/kyria/kyria.h
  keyboards/kyria/readme.md
  keyboards/kyria/rev1/config.h
  keyboards/kyria/rev1/rev1.c
  keyboards/kyria/rev1/rev1.h
  keyboards/kyria/rev1/rules.mk
  keyboards/kyria/rules.mk
Labels: none

Fixes #7256: USB descriptor to identify correctly as MIDI device. (#7258)
  tmk_core/protocol/usb_descriptor.c
Labels: core

[Keyboard] Add h88 PCB (#7201)
  keyboards/hineybush/h88/config.h
  keyboards/hineybush/h88/h88.c
  keyboards/hineybush/h88/h88.h
  keyboards/hineybush/h88/info.json
  keyboards/hineybush/h88/keymaps/default/config.h
  keyboards/hineybush/h88/keymaps/default/keymap.c
  keyboards/hineybush/h88/keymaps/default/readme.md
  keyboards/hineybush/h88/keymaps/wkl/config.h
  keyboards/hineybush/h88/keymaps/wkl/keymap.c
  keyboards/hineybush/h88/keymaps/wkl/readme.md
  keyboards/hineybush/h88/readme.md
  keyboards/hineybush/h88/rules.mk
Labels: none

Set `git submodule update` depth to 50 (#7269)
  Makefile
Labels: none

[Keyboard] Add Kudox Rev2 (#7253)
  keyboards/kudox/readme.md
  keyboards/kudox/rev1/info.json
  keyboards/kudox/rev1/keymaps/default/config.h
  keyboards/kudox/rev1/keymaps/default/keymap.c
  keyboards/kudox/rev1/keymaps/default/readme.md
  keyboards/kudox/rev1/keymaps/jis/config.h
  keyboards/kudox/rev1/keymaps/jis/keymap.c
  keyboards/kudox/rev1/keymaps/jis/readme.md
  keyboards/kudox/rev1/keymaps/jis/rules.mk
  keyboards/kudox/rev1/keymaps/x1/config.h
  keyboards/kudox/rev1/keymaps/x1/keymap.c
  keyboards/kudox/rev1/keymaps/x1/readme.md
  keyboards/kudox/rev1/keymaps/x1/rules.mk
  keyboards/kudox/rev2/config.h
  keyboards/kudox/rev2/info.json
  keyboards/kudox/rev2/keymaps/default/config.h
  keyboards/kudox/rev2/keymaps/default/keymap.c
  keyboards/kudox/rev2/keymaps/default/readme.md
  keyboards/kudox/rev2/keymaps/jis/config.h
  keyboards/kudox/rev2/keymaps/jis/keymap.c
  keyboards/kudox/rev2/keymaps/jis/readme.md
  keyboards/kudox/rev2/keymaps/jis/rules.mk
  keyboards/kudox/rev2/rev2.c
  keyboards/kudox/rev2/rev2.h
  keyboards/kudox/rev2/rules.mk
  keyboards/kudox/rules.mk
Labels: none

Fix KBDPad MKI backlight, Num Lock LEDs; clean up firmware a bit (#6883)
  keyboards/kbdfans/kbdpad/mk1/config.h
  keyboards/kbdfans/kbdpad/mk1/info.json
  keyboards/kbdfans/kbdpad/mk1/mk1.c
  keyboards/kbdfans/kbdpad/mk1/readme.md
  keyboards/kbdfans/kbdpad/mk1/rules.mk
Labels: none

correct description (#7240)
  docs/feature_haptic_feedback.md
Labels: documentation

[Keyboard] Fix v60_type_r compile failures (#7250)
  keyboards/v60_type_r/config.h
  keyboards/v60_type_r/rules.mk
  keyboards/v60_type_r/v60_type_r.c
  keyboards/v60_type_r/v60_type_r.h
Labels: none

[Keyboard] add keymap beautifier for Ergodox EZ (#4393)
  keyboards/ergodox_ez/util/compile_keymap.py
  keyboards/ergodox_ez/util/keymap_beautifier/Dockerfile
  keyboards/ergodox_ez/util/keymap_beautifier/KeymapBeautifier.py
  keyboards/ergodox_ez/util/keymap_beautifier/README.md
  keyboards/ergodox_ez/util/keymap_beautifier/docker_run.sh
  keyboards/ergodox_ez/util/keymap_beautifier/requirements.txt
  keyboards/ergodox_ez/util/readme.md
Labels: python

French translation - FAQ section (#6995)
  docs/fr-fr/ChangeLog/20190830.md
  docs/fr-fr/README.md
  docs/fr-fr/_summary.md
  docs/fr-fr/breaking_changes.md
  docs/fr-fr/cli.md
  docs/fr-fr/cli_configuration.md
  docs/fr-fr/contributing.md
  docs/fr-fr/driver_installation_zadig.md
  docs/fr-fr/faq.md
  docs/fr-fr/faq_build.md
  docs/fr-fr/faq_debug.md
  docs/fr-fr/faq_general.md
  docs/fr-fr/faq_keymap.md
  docs/fr-fr/flashing.md
  docs/fr-fr/getting_started_getting_help.md
  docs/fr-fr/getting_started_github.md
  docs/fr-fr/getting_started_introduction.md
  docs/fr-fr/newbs.md
  docs/fr-fr/newbs_best_practices.md
  docs/fr-fr/newbs_building_firmware.md
  docs/fr-fr/newbs_building_firmware_configurator.md
  docs/fr-fr/newbs_flashing.md
  docs/fr-fr/newbs_getting_started.md
  docs/fr-fr/newbs_learn_more_resources.md
  docs/fr-fr/newbs_testing_debugging.md
Labels: documentation

[Keyboard] Fix `led_init_ports()` for Wasdat (#7288)
  keyboards/maartenwut/wasdat/wasdat.c
Labels: none

Adds raw write functions to the OLED driver (#7237)
  docs/feature_oled_driver.md
  drivers/oled/oled_driver.c
  drivers/oled/oled_driver.h
Labels: core, documentation

[Docs] Create RU ver getting_started_getting_help (#7227)
  docs/ru-ru/getting_started_getting_help.md
Labels: documentation

[Keyboard] Add Hannah910 (#7234)
  keyboards/mechlovin/hannah910/config.h
  keyboards/mechlovin/hannah910/hannah910.c
  keyboards/mechlovin/hannah910/hannah910.h
  keyboards/mechlovin/hannah910/info.json
  keyboards/mechlovin/hannah910/keymaps/ansi/config.h
  keyboards/mechlovin/hannah910/keymaps/ansi/keymap.c
  keyboards/mechlovin/hannah910/keymaps/ansi/readme.md
  keyboards/mechlovin/hannah910/keymaps/default/config.h
  keyboards/mechlovin/hannah910/keymaps/default/keymap.c
  keyboards/mechlovin/hannah910/keymaps/default/readme.md
  keyboards/mechlovin/hannah910/readme.md
  keyboards/mechlovin/hannah910/rules.mk
Labels: none

[Keyboard] Add hbcp (#7101)
  keyboards/hineybush/hbcp/config.h
  keyboards/hineybush/hbcp/hbcp.c
  keyboards/hineybush/hbcp/hbcp.h
  keyboards/hineybush/hbcp/info.json
  keyboards/hineybush/hbcp/keymaps/default/config.h
  keyboards/hineybush/hbcp/keymaps/default/keymap.c
  keyboards/hineybush/hbcp/keymaps/default/readme.md
  keyboards/hineybush/hbcp/keymaps/hiney/config.h
  keyboards/hineybush/hbcp/keymaps/hiney/keymap.c
  keyboards/hineybush/hbcp/keymaps/hiney/readme.md
  keyboards/hineybush/hbcp/readme.md
  keyboards/hineybush/hbcp/rules.mk
Labels: none

Switch Quefrency to serial for independent halves (#7262)
  keyboards/keebio/quefrency/keymaps/bcat/config.h
Labels: none

Fix typo in ARM I2C copyright header (#7264)
  drivers/arm/i2c_master.h
Labels: core

Miscellaneous rules.mk cleanups (#7212)
  keyboards/converter/usb_usb/ble/rules.mk
  keyboards/converter/usb_usb/hasu/rules.mk
  keyboards/converter/usb_usb/pro_micro/rules.mk
  keyboards/handwired/42/rules.mk
  keyboards/handwired/chiron/rules.mk
  keyboards/handwired/fruity60/rules.mk
  keyboards/kbdfans/kbd67/mkii_soldered/rules.mk
Labels: none

Correct ARM STM32 I2C frequency. (#7080)
  drivers/arm/i2c_master.h
Labels: core

[Keyboard] add xbows woody and knight keyboards (#7112)
  keyboards/xbows/knight/config.h
  keyboards/xbows/knight/info.json
  keyboards/xbows/knight/keymaps/default/keymap.c
  keyboards/xbows/knight/knight.c
  keyboards/xbows/knight/knight.h
  keyboards/xbows/knight/readme.md
  keyboards/xbows/knight/rules.mk
  keyboards/xbows/woody/config.h
  keyboards/xbows/woody/info.json
  keyboards/xbows/woody/keymaps/default/keymap.c
  keyboards/xbows/woody/readme.md
  keyboards/xbows/woody/rules.mk
  keyboards/xbows/woody/woody.c
  keyboards/xbows/woody/woody.h
Labels: none

[Keyboard] Add LAYOUT_60_iso to XD60 (#7263)
  keyboards/xd60/info.json
  keyboards/xd60/keymaps/default/readme.md
  keyboards/xd60/keymaps/iso/keymap.c
  keyboards/xd60/keymaps/iso/readme.md
  keyboards/xd60/readme.md
  keyboards/xd60/rev2/config.h
  keyboards/xd60/rev2/rules.mk
  keyboards/xd60/rev3/rules.mk
  keyboards/xd60/xd60.h
Labels: none

Smallish overhaul of Auto-Shift feature (#6067)
  docs/feature_auto_shift.md
  quantum/process_keycode/process_auto_shift.c
  quantum/process_keycode/process_auto_shift.h
Labels: core, documentation

[Keyboard] Remove RGB_MATRIX_SPLIT_RIGHT from crkbd (#7267)
  keyboards/crkbd/rev1/rules.mk
Labels: none

[Keymap] Add new LED/RGB key codes (#7254)
  keyboards/model01/keymaps/dshields/keymap.c
  keyboards/planck/keymaps/dshields/keymap.c
  users/dshields/dshields.h
Labels: keymap

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*
