Repository wmccall-amplify/keyboard_firmware, changes with the labels that .github/labeler.yml gives for each.
All labels: core, keymap, cli, python, documentation

.github/labeler.yml:

core:
  - quantum/**/*
  - tmk_core/**/*
  - drivers/**/*
  - tests/**/*
  - util/**/*
keymap:
  - users/**/*
  - layouts/**/*
  - keyboards/**/keymap/**/*
cli:
  - bin/qmk
  - requirements.txt
  - lib/python/**/*
python:
  - '**/*.py'
documentation:
  - docs/**/*

Add encoder to ta-65
  keyboards/maartenwut/ta65/config.h
  keyboards/maartenwut/ta65/rules.mk
Labels: none

uni660rev2 added
  keyboards/sirius/uni660/info.json
  keyboards/sirius/uni660/readme.md
  keyboards/sirius/uni660/rev1/config.h
  keyboards/sirius/uni660/rev1/info.json
  keyboards/sirius/uni660/rev1/keymaps/default/keymap.c
  keyboards/sirius/uni660/rev1/keymaps/via/keymap.c
  keyboards/sirius/uni660/rev1/keymaps/via/rules.mk
  keyboards/sirius/uni660/rev1/rev1.h
  keyboards/sirius/uni660/rev1/rules.mk
  keyboards/sirius/uni660/rev2/ansi/info.json
  keyboards/sirius/uni660/rev2/ansi/keymaps/default/keymap.c
  keyboards/sirius/uni660/rev2/ansi/keymaps/via/keymap.c
  keyboards/sirius/uni660/rev2/ansi/keymaps/via/rules.mk
  keyboards/sirius/uni660/rev2/ansi/rules.mk
  keyboards/sirius/uni660/rev2/config.h
  keyboards/sirius/uni660/rev2/iso/info.json
  keyboards/sirius/uni660/rev2/iso/keymaps/default/keymap.c
  keyboards/sirius/uni660/rev2/iso/keymaps/via/keymap.c
  keyboards/sirius/uni660/rev2/iso/keymaps/via/rules.mk
  keyboards/sirius/uni660/rev2/iso/rules.mk
  keyboards/sirius/uni660/rev2/rev2.h
  keyboards/sirius/uni660/rules.mk
  keyboards/sirius/uni660/uni660.h
Labels: none

Add new obliterated75 files
  keyboards/cannonkeys/obliterated75/chconf.h
  keyboards/cannonkeys/obliterated75/config.h
  keyboards/cannonkeys/obliterated75/halconf.h
  keyboards/cannonkeys/obliterated75/info.json
  keyboards/cannonkeys/obliterated75/keymaps/default/keymap.c
  keyboards/cannonkeys/obliterated75/keymaps/via/keymap.c
  keyboards/cannonkeys/obliterated75/keymaps/via/rules.mk
  keyboards/cannonkeys/obliterated75/mcuconf.h
  keyboards/cannonkeys/obliterated75/obliterated75.c
  keyboards/cannonkeys/obliterated75/obliterated75.h
  keyboards/cannonkeys/obliterated75/readme.md
  keyboards/cannonkeys/obliterated75/rules.mk
Labels: none

[Keyboard] Add royal directory and add 2 keyboard releases (#8877)
  keyboards/the_royal/liminal/config.h
  keyboards/the_royal/liminal/info.json
  keyboards/the_royal/liminal/keymaps/default/config.h
  keyboards/the_royal/liminal/keymaps/default/keymap.c
  keyboards/the_royal/liminal/keymaps/default/rules.mk
  keyboards/the_royal/liminal/keymaps/default_iso/config.h
  keyboards/the_royal/liminal/keymaps/default_iso/keymap.c
  keyboards/the_royal/liminal/keymaps/default_iso/rules.mk
  keyboards/the_royal/liminal/liminal.c
  keyboards/the_royal/liminal/liminal.h
  keyboards/the_royal/liminal/readme.md
  keyboards/the_royal/liminal/rules.mk
  keyboards/the_royal/schwann/config.h
  keyboards/the_royal/schwann/info.json
  keyboards/the_royal/schwann/keymaps/default/keymap.c
  keyboards/the_royal/schwann/keymaps/default/rules.mk
  keyboards/the_royal/schwann/readme.md
  keyboards/the_royal/schwann/rules.mk
  keyboards/the_royal/schwann/schwann.c
  keyboards/the_royal/schwann/schwann.h
Labels: none

kle2info: trim down x and y output
  lib/python/kle2xy.py
Labels: cli, python

Update and try to clarify the CLI installation on Linux (#8783)
  docs/newbs_getting_started.md
Labels: documentation

Correction of the number of LEDs and DEVICE_VER.
  keyboards/7skb/keymaps/salicylic/keymap.c
  keyboards/7skb/rev1/config.h
Labels: none

[Keyboard] Add pimentoso/paddino02 (#8756)
  keyboards/pimentoso/paddino02/config.h
  keyboards/pimentoso/paddino02/readme.md
  keyboards/pimentoso/paddino02/rev1/config.h
  keyboards/pimentoso/paddino02/rev1/keymaps/default/keymap.c
  keyboards/pimentoso/paddino02/rev1/rev1.c
  keyboards/pimentoso/paddino02/rev1/rev1.h
  keyboards/pimentoso/paddino02/rev1/rules.mk
  keyboards/pimentoso/paddino02/rev2/left/config.h
  keyboards/pimentoso/paddino02/rev2/left/keymaps/default/keymap.c
  keyboards/pimentoso/paddino02/rev2/left/left.c
  keyboards/pimentoso/paddino02/rev2/left/left.h
  keyboards/pimentoso/paddino02/rev2/left/rules.mk
  keyboards/pimentoso/paddino02/rev2/right/config.h
  keyboards/pimentoso/paddino02/rev2/right/keymaps/default/keymap.c
  keyboards/pimentoso/paddino02/rev2/right/right.c
  keyboards/pimentoso/paddino02/rev2/right/right.h
  keyboards/pimentoso/paddino02/rev2/right/rules.mk
  keyboards/pimentoso/paddino02/rules.mk
Labels: none

A few final edits to the keymap and readme.
  keyboards/xd75/keymaps/buzzlighter1/keymap.c
  keyboards/xd75/keymaps/buzzlighter1/readme.md
Labels: none

[Keymap] Added Xd75 and viterbi keymaps,refactored my userspace. (#8776)
  keyboards/ergodox_ez/keymaps/ericgebhart/keymap.c
  keyboards/keebio/viterbi/keymaps/ericgebhart/config.h
  keyboards/keebio/viterbi/keymaps/ericgebhart/keymap.c
  keyboards/xd75/keymaps/ericgebhart/config.h
  keyboards/xd75/keymaps/ericgebhart/keymap.c
  keyboards/xd75/keymaps/ericgebhart/readme.md
  keyboards/xd75/keymaps/ericgebhart/rules.mk
  users/ericgebhart/base_layers.h
  users/ericgebhart/core_keys.h
  users/ericgebhart/core_keysets.h
  users/ericgebhart/ericgebhart.c
  users/ericgebhart/ericgebhart.h
  users/ericgebhart/rules.mk
Labels: keymap

Update keyboards/xd75/keymaps/buzzlighter1/readme.md
  keyboards/xd75/keymaps/buzzlighter1/readme.md
Labels: none

BACKLIGHT_ON_STATE config.h fixes (#8862)
  keyboards/amjkeyboard/amj66/config.h
  keyboards/duck/orion/v3/config.h
  keyboards/gray_studio/cod67/config.h
  keyboards/gray_studio/cod67/readme.md
  keyboards/handwired/aek64/config.h
  keyboards/handwired/bdn9_ble/config.h
  keyboards/staryu/config.h
  keyboards/tokyo60/config.h
  keyboards/xd68/config.h
  keyboards/xd75/config.h
Labels: none

add 'togglePin' convenience function (#8734)
  docs/internals_gpio_control.md
  quantum/quantum.h
Labels: core, documentation

[Keymap] Vitamins_included keymap vitavim (#8864)
  keyboards/vitamins_included/keymaps/vitavim/config.h
  keyboards/vitamins_included/keymaps/vitavim/keymap.c
Labels: none

Update keyboards/xd75/keymaps/buzzlighter1/readme.md
  keyboards/xd75/keymaps/buzzlighter1/readme.md
Labels: none

[Keyboard] Aplx2 osu! keyboard (#8847)
  keyboards/handwired/aplx2/README.md
  keyboards/handwired/aplx2/aplx2.c
  keyboards/handwired/aplx2/aplx2.h
  keyboards/handwired/aplx2/config.h
  keyboards/handwired/aplx2/keymaps/default/keymap.c
  keyboards/handwired/aplx2/rules.mk
Labels: none

Update keyboards/xd75/keymaps/buzzlighter1/readme.md
  keyboards/xd75/keymaps/buzzlighter1/readme.md
Labels: none

fix sick68 space key handwiring location (#8962)
  keyboards/handwired/sick68/sick68.h
Labels: none

[Keyboard] Add via support for cypher rev5 PCB (#8898)
  keyboards/westfoxtrot/cypher/rev5/config.h
  keyboards/westfoxtrot/cypher/rev5/keymaps/via/keymap.c
  keyboards/westfoxtrot/cypher/rev5/keymaps/via/rules.mk
Labels: none

Convert clipping variables in rgblight.c to a structure (#7720)
  keyboards/ergodox_ez/led_i2c.c
  keyboards/ergodox_ez/rules.mk
  quantum/rgblight.c
  quantum/rgblight.h
Labels: core

[Docs] Japanese translation of docs/feature_dynamic_macros.md (#8842)
  docs/ja/feature_dynamic_macros.md
Labels: documentation

[Keyboard] TGR 910 CE (#8940)
  keyboards/tgr/910ce/910ce.c
  keyboards/tgr/910ce/910ce.h
  keyboards/tgr/910ce/config.h
  keyboards/tgr/910ce/info.json
  keyboards/tgr/910ce/keymaps/default/keymap.c
  keyboards/tgr/910ce/keymaps/via/keymap.c
  keyboards/tgr/910ce/keymaps/via/rules.mk
  keyboards/tgr/910ce/readme.md
  keyboards/tgr/910ce/rules.mk
Labels: none

[Keymap] Make personal keymaps a bit more consistent (#8915)
  keyboards/crkbd/keymaps/bcat/keymap.c
  keyboards/crkbd/keymaps/bcat/readme.md
  keyboards/kbdfans/kbd67/hotswap/keymaps/bcat/keymap.c
  keyboards/kbdfans/kbd67/hotswap/keymaps/bcat/readme.md
  keyboards/keebio/quefrency/keymaps/bcat/keymap.c
  keyboards/keebio/quefrency/keymaps/bcat/readme.md
  keyboards/lily58/keymaps/bcat/keymap.c
  keyboards/lily58/keymaps/bcat/readme.md
  layouts/community/60_ansi_split_bs_rshift/bcat/keymap.c
  layouts/community/60_ansi_split_bs_rshift/bcat/readme.md
  layouts/community/60_tsangan_hhkb/bcat/keymap.c
  layouts/community/60_tsangan_hhkb/bcat/readme.md
Labels: keymap

[Keyboard] Add Funky40 support (#8942)
  keyboards/funky40/config.h
  keyboards/funky40/funky40.c
  keyboards/funky40/funky40.h
  keyboards/funky40/keymaps/default/keymap.c
  keyboards/funky40/keymaps/default/readme.md
  keyboards/funky40/readme.md
  keyboards/funky40/rules.mk
Labels: none

[Keyboard] id80: Transpose matrix to use faster COL2ROW routines (#8930)
  keyboards/id80/config.h
  keyboards/id80/id80.h
Labels: none

Allow some usbconfig.h overrides at the keyboard level (#8647)
  tmk_core/protocol/vusb/usbconfig.h
Labels: core

Add Romanian keymap and sendstring LUT (#8852)
  quantum/keymap_extras/keymap_romanian.h
  quantum/keymap_extras/keymap_spanish_dvorak.h
  quantum/keymap_extras/sendstring_romanian.h
Labels: core

adding info.json for funky40 (#8956)
  keyboards/funky40/info.json
Labels: none

[Keyboard] Vitamins included VIA support (#8876)
  keyboards/vitamins_included/keymaps/via/keymap.c
  keyboards/vitamins_included/keymaps/via/rules.mk
Labels: none

[Keymap] Add VIA Keymap to RoMac+ Directory (#8966)
  keyboards/kingly_keys/romac_plus/keymaps/via/keymap.c
  keyboards/kingly_keys/romac_plus/keymaps/via/rules.mk
Labels: none

[Keymap] Gherkin SuperMicro 28 (#8886)
  keyboards/40percentclub/gherkin/keymaps/stevexyz/config.h
  keyboards/40percentclub/gherkin/keymaps/stevexyz/keymap.c
  keyboards/40percentclub/gherkin/keymaps/stevexyz/readme.md
  keyboards/40percentclub/gherkin/keymaps/stevexyz/rules.mk
Labels: none

Update keyboards/xd75/keymaps/buzzlighter1/readme.md
  keyboards/xd75/keymaps/buzzlighter1/readme.md
Labels: none

Edit Unit Testing Documentation (#8961)
  docs/unit_testing.md
Labels: documentation

[Keyboard] latinpad(Original:hasupad,RENAMED latinpad) (#8766)
  keyboards/latinpad/config.h
  keyboards/latinpad/info.json
  keyboards/latinpad/keymaps/default/keymap.c
  keyboards/latinpad/keymaps/via/keymap.c
  keyboards/latinpad/keymaps/via/rules.mk
  keyboards/latinpad/latinpad.c
  keyboards/latinpad/latinpad.h
  keyboards/latinpad/lib/glcdfont.c
  keyboards/latinpad/readme.md
  keyboards/latinpad/rules.mk
Labels: none

Update keyboards/7skb/rev1/config.h
  keyboards/7skb/rev1/config.h
Labels: none

format code according to conventions [skip ci]
  quantum/keymap_extras/keymap_spanish_dvorak.h
Labels: core

kle2json: fix invocation error
  lib/python/qmk/cli/kle2json.py
Labels: cli, python

format code according to conventions [skip ci]
  quantum/quantum.h
Labels: core

[Docs] Japanese translation of docs/feature_hd44780.md (#8875)
  docs/ja/feature_hd44780.md
Labels: documentation

[Keymap] add chriskopher keymap for usb-usb converter (#8856)
  keyboards/converter/usb_usb/keymaps/chriskopher/combo.c
  keyboards/converter/usb_usb/keymaps/chriskopher/config.h
  keyboards/converter/usb_usb/keymaps/chriskopher/keymap.c
  keyboards/converter/usb_usb/keymaps/chriskopher/readme.md
  keyboards/converter/usb_usb/keymaps/chriskopher/rules.mk
  keyboards/converter/usb_usb/keymaps/chriskopher/shared_enum.h
  keyboards/converter/usb_usb/keymaps/chriskopher/tap_dance.c
Labels: none
